@import "../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.ACF-page {
    padding-bottom: 40px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        margin-bottom: 72px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 62px;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 102px;
    }
}
