.carousel {
    .icon-prev,
    .icon-next {
        background-color: var(--background-primary);
        font-size: 1.875em;
        // width and height here need to use rem units because the font size used here is 30px
        height: 3rem;
        padding-top: 0.24em;
        width: 3rem;

        &::before {
            color: black;
        }
    }

    .icon-prev {
        &::before {
            font-family: var(--font-icons);
            content: "\e806";
        }
    }

    .icon-next {
        &::before {
            font-family: var(--font-icons);
            content: "\e807";
        }
    }
    .carousel-control-prev {
        justify-content: flex-start;
    }

    .carousel-control-next {
        justify-content: flex-end;
    }

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-indicators {
        z-index: 1051;

        li {
            background-color: var(--background-primary);
        }

        span::before {
            color: var(--text-primary);
        }
    }
}

.container {
    max-width: 100%;
}

.nav-tabs {
    border-bottom: $border-width solid var(--border-primary);

    .nav-link {
        font-size: 1.1rem;
        color: var(--text-primary);

        &.active {
            color: var(--text-special);
            border-bottom: 0.188em solid var(--border-primary);
        }
    }
}

hr {
    border-top: 1px solid var(--border-primary);
}

.border {
    border: $border-width solid var(--border-primary) !important;
}

.border-top {
    border-top: $border-width solid var(--border-primary) !important;
}

.border-right {
    border-right: $border-width solid var(--border-primary) !important;
}

.border-bottom {
    border-bottom: $border-width solid var(--border-primary) !important;
}

.border-left {
    border-left: $border-width solid var(--border-primary) !important;
}

#password-reset {
    color: var(--text-special-2);
}

.card {
    margin-bottom: 1em;
    background-color: var(--background-primary);
    color: var(--text-primary);
    border: 1px solid var(--border-primary);
}

.card-header {
    background-color: var(--background-secondary);
    color: var(--text-secondary);

    h2,
    h3,
    h4,
    h5,
    a {
        margin-bottom: 0;
        color: var(--text-secondary);

        a {
            color: var(--text-secondary);
        }
    }
}

.modal .modal-body {
    flex: 0 0 auto;
}

dt {
    color: $gray-700;
    font-weight: normal;
}

.custom-select {
    -webkit-appearance: none;
}

.custom-checkbox .custom-control-label::before {
    border: 1px solid var(--border-primary);
    background: var(--background-primary);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: $svg-check;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--border-primary);
    background-color: var(--background-primary);
}

.custom-radio .custom-control-label::before {
    border: 1px solid var(--border-primary);
    background: var(--background-primary);
}

.form-control.is-invalid {
    background-image: none;
}

.form-control,
.custom-select {
    border: 1px solid var(--border-primary);
}

a {
    color: var(--text-special);
}

a:hover,
a:focus {
    color: var(--text-primary);
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
}

.modal-content {
    background-color: var(--background-primary);
    color: var(--text-primary);

    .modal-title {
        color: var(--text-primary);
    }
}

.fa {
    color: var(--text-special);
}

.btn {
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: 14px;
    line-height: 56px;
    padding: 0 20px;
    background-color: var(--background-primary);
    border-radius: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: inset 2px 2px 0 var(--border-primary), inset -2px -2px 0 var(--border-primary);
    transition: transform 0.4s;

    &:hover {
        background-color: var(--background-primary);
        transform: scale(1.03);
    }

    &:focus {
        color: var(--text-primary);
        text-decoration: none;
    }

    @include media-breakpoint-up(md) {
        font-size: 23px;
    }

    @include media-breakpoint-up(lg) {
        line-height: 46px;
        font-size: 14px;
    }

    @include media-breakpoint-up(xl) {
        line-height: 56px;
    }
}

.btn-primary {
    color: var(--text-primary);

    &:hover,
    &:focus {
        color: var(--text-secondary);
        background-color: var(--background-secondary);
    }

    &:disabled {
        color: var(--text-primary);
        background-color: var(--border-primary);
        border-color: var(--border-primary);
    }
}

.btn-light {
    background-color: var(--background-special-2);
    transition: all 150ms ease-in-out;

    &:focus,
    &:hover {
        background-color: var(--background-secondary);
    }
}

.btn-outline-primary {
    color: var(--text-primary);
    border-color: var(--border-primary);

    &:hover {
        color: var(--text-secondary);
        background-color: var(--background-secondary);
        border-color: var(--border-secondary);

        .fa {
            color: var(--text-secondary);
        }
    }

    &.disabled,
    &:disabled {
        color: var(--text-primary);
        border-color: var(--border-primary);
    }

    .fa {
        color: var(--text-primary);
    }

    &:not(:disabled):not(.disabled) {
        &:active,
        &.active {
            color: var(--text-primary);
            background-color: var(--background-primary);
        }
    }
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    border-color: var(--border-primary);
}

.form-control,
.custom-checkbox .custom-control-label::before,
.custom-select {
    border-radius: 0;
}

.btn-secondary {
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    box-shadow: none;

    &:hover {
        background-color: var(--background-secondary);
    }

    [class^="acf-icon-"],
    [class*=" acf-icon-"] {
        &::before {
            color: var(--text-secondary);
        }
    }
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    border-color: var(--border-primary);
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: var(--text-primary);
    background-color: var(--background-primary);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: var(--text-primary);
}

.form-control,
.custom-select,
.btn,
.btn-outline-primary {
    &:focus {
        border-color: var(--border-special);
        box-shadow: inset 0 0 0 1px var(--border-special);
    }
}

.invalid-feedback {
    font: 14px var(--font-primary);
    color: var(--error-primary);
}

.custom-control-input {
    &:focus {
        ~ .custom-control-label::before {
            box-shadow: 0 0 0 0.2rem var(--border-special);
        }
    }
}

.btn,
.btn-outline-primary {
    &:not(:disabled):not(.disabled) {
        &:active,
        &.active {
            border-color: var(--border-special);

            &:focus {
                box-shadow: 0 0 0 0.2rem var(--border-special);
            }
        }
    }
}

.layout-minor-margins {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;

    @include media-breakpoint-up(sm) {
        padding: 0 20px;
    }

    @include media-breakpoint-up(md) {
        padding: 0 33px;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 2%;
    }
}

.layout-middle-aligned {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include media-breakpoint-up(sm) {
        max-width: 100%;
        padding: 0 20px;
    }

    @include media-breakpoint-up(md) {
        max-width: 100%;
        padding: 0 35px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 100%;
        padding: 0 2%;
    }

    @include media-breakpoint-up(xl) {
        max-width: 1170px;
        padding: 0;
    }
}

.layout-full-width {
    width: 100%;
}

.glide__arrow {
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
    }

    &:active {
        border-bottom: 0.188em solid var(--border-primary);
    }
}

.glide__arrow--left {
    background: url("../images/theme/back-arrow.svg") no-repeat;
    width: 30px;
    height: 32px;
    background-size: cover;

    @include media-breakpoint-up(xl) {
        width: 60px;
        height: 64px;
    }
}

.glide__arrow--right {
    background: url("../images/theme/back-arrow.svg") no-repeat;
    width: 30px;
    height: 32px;
    transform: rotate(180deg);
    background-size: cover;
    outline: none;

    @include media-breakpoint-up(xl) {
        width: 60px;
        height: 64px;
    }
}

.acf-divider {
    position: relative;
    display: flex;
    justify-content: center;
    height: 1px;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        width: 200%;
        left: -50%;
        display: block;
        border-top: 1px dotted var(--text-primary);
    }

    @include media-breakpoint-up(lg) {
        &::before {
            content: "";
            position: absolute;
            width: 50%;
            left: 25%;
            display: block;
            border-top: 1px dotted var(--text-primary);
        }
    }
}

.acf-divider__core {
    position: relative;
    top: -17px;
    width: 49px;
    height: 30px;
    fill: var(--background-secondary);

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 120%;
        left: -10%;
        z-index: 20;
        height: 30px;
        background-color: var(--background-primary);
    }

    svg {
        position: relative;
        z-index: 20;
    }

    @include media-breakpoint-up(lg) {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 120%;
            left: -10%;
            z-index: 20;
            height: 30px;
            background-color: var(--background-primary);
        }
    }
}

.overlay-active {
    &::before {
        content: "";
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--background-special);
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 10000;
    }
}
