@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/deleteCardButton";
@import "components/quickView";

$spacer: 0.625em;
$negative-spacer: -0.625rem;

.cart-page,
.cart-header {
    font-size: 14px;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
}

.cart-header {
    margin-bottom: 12px;

    @include media-breakpoint-up(md) {
        margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 14px;
    }
}

.single-approaching-discount {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: var(--background-primary);
    color: var(--success-primary);
    margin-bottom: 0.3125rem;
}

.checkout-continue {
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(xs) {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

        div {
            padding: $spacer;
        }
    }

    @include media-breakpoint-up(sm) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }

    .checkout-btn {
        font-size: 14px;
    }
}

.continue-shopping-link,
.help-phone-number {
    color: var(--text-special-2);

    &::before {
        color: var(--text-special-2);
    }

    &:hover {
        &::before {
            text-decoration: none;
        }
    }
}

.move {
    margin-right: 0.625em;
}

.product-edit {
    margin-top: auto;

    a {
        font-size: 14px;
        color: var(--text-primary);
    }
}

.line-item-attributes {
    font-size: 14px;
    margin: 0;
}

.line-item-availability {
    font-size: 14px;
    display: flex;

    span {
        display: block;
    }

    .line-item-attributes {
        color: var(--success-primary);
        margin-left: 3px;
    }
}

.item-attributes {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @include media-breakpoint-down(xs) {
        width: 70%;
    }

    @include media-breakpoint-up(lg) {
        width: 75%;
    }

    @include media-breakpoint-up(xl) {
        width: 100%;
    }
}

.line-item-divider {
    margin: $spacer $negative-spacer $spacer $negative-spacer;
}

.line-item-name {
    white-space: normal;
    overflow: hidden;
    font-size: 16px;
    color: var(--text-special-2);
    font-weight: bold;
    width: 95%;
    margin: 0;

    @include media-breakpoint-up(lg) {
        width: 90%;
        font-size: 18px;
    }
}

.line-item-price {
    font-size: 1em;
    color: var(--text-secondary);
    font-weight: bold;
}

.line-item-total-price {
    @include media-breakpoint-up(lg) {
        padding-left: 25px;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 50px;
    }
}

.line-item-price-info {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.price {
    color: var(--text-special);
    font-size: 14px;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
    }
}

.totals {
    color: var(--text-special);
}

.no-margin-top {
    margin-top: 0;
}

.number-of-items {
    font-size: 1.25rem;
    margin-top: 1rem;

    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }
}

.optional-promo {
    color: var(--text-secondary);
}

.product-info {
    margin-bottom: 32px;
    padding: $spacer;
    padding-bottom: 0;

    @include media-breakpoint-up(md) {
        height: auto;
        padding-bottom: 10px;
    }

    .remove-btn {
        color: var(--text-primary);
        font-size: 1.625em;
        padding: 0;
        position: absolute;
        top: $negative-spacer;
        right: 0.25rem;
        border: none;
        background-color: var(--background-primary);

        @include media-breakpoint-up(lg) {
            top: 0;
            bottom: 0;
            right: $negative-spacer;
            margin-top: $negative-spacer;
            margin-bottom: $negative-spacer;
        }
    }

    .delete-button-wrapper {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        .remove-btn-lg {
            position: relative;
            box-shadow: none;
            border-radius: 0;
            font-size: 1.625em;
            min-width: 100%;
            height: 56px;
            display: flex;
            justify-content: center;
            border: 1px solid var(--border-primary);

            @include media-breakpoint-up(md) {
                @include delete-card-button();

                min-width: 38px;
                padding-left: 0.3125rem;
                padding-right: 0.3125rem;
                z-index: 1;
                height: auto;

                &:not(:disabled):not(.disabled) {
                    &:active {
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

.product-to-remove {
    font-weight: bold;
}

.item-image {
    height: 5.625em;
    width: 5.625em;
    margin-right: 0.938em;
    flex-grow: 0;
    flex-shrink: 0;

    img.product-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        max-height: 5.625em;
    }
}

.promo-code-form {
    &--no-display {
        display: none;
    }

    .coupon-code-field {
        height: 56px;
        font-size: 14px;

        @include media-breakpoint-up(lg) {
            height: 46px;
        }

        @include media-breakpoint-up(xl) {
            height: 56px;
        }
    }
}

.promo-code-submit {
    padding-left: 0;

    .promo-code-btn {
        min-width: auto;
        font-size: 14px;
    }
}

.shippingMethods {
    font-size: 14px;
    color: var(--text-special);

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
}

.help-phone-number {
    display: inline-block;
}

.quantity-form {
    margin-bottom: 0;
    margin-top: -0.313em;
}

.bonus-product {
    display: block;
    text-align: center;
}

.remove-line-item {
    position: relative;
}

.remove-coupon {
    border: none;
    background: transparent;
}

.sub-total {
    font-weight: bold;
}

.grand-total {
    font-size: 1em;
    font-weight: 600;
}

.coupon-price-adjustment + .coupon-price-adjustment {
    margin-top: 0.625rem;
}

.coupon-price-adjustment {
    padding: 0.625em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.1875rem;
}

.coupon-promotion-relationship {
    font-size: 0.813em;
    padding-left: 1rem;
    margin-bottom: 0;
}

.coupons-and-promos {
    margin-bottom: 0.625rem;
    padding-right: 0;
    padding-left: 0;
}

.coupon-code {
    font-size: 1.125em;
}

.coupon-applied {
    color: var(--success-primary);
    font-size: 0.813em;
}

.coupon-not-applied {
    color: var(--error-primary);
    font-size: 0.813em;
}

.coupon-error {
    color: var(--error-primary);
    margin-top: 0.25rem;
}

.coupon-missing-error {
    display: none;
}

.applied-promotion-discount {
    color: var(--success-primary);
    float: right;
}

.promotion-information {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

.line-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bundle-includes {
    font-size: 0.813em;
    margin-bottom: 0.625em;
}

.cart-page .bundled-line-item + .bundled-line-item::before,
.cart-page .bonus-line-item-row + .bonus-line-item-msg::before {
    content: "";
    display: block;
    border-bottom: 0.063em dashed var(--border-primary);
    margin: 0.625em -0.625em;
}

.quantity-label {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.quantity {
    width: 100%;
    min-width: 5em;
    border: 1px solid var(--border-primary);
}

.bundle-misc {
    font-size: 0.813rem;

    @include media-breakpoint-down(md) {
        margin-bottom: 0.625em;
    }
}

.cart-error-messaging.cart-error {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.valid-cart-error {
    min-height: 6.5rem;
}

.bundled-line-item {
    .item-attributes {
        margin-left: 0;
    }
}

.bonus-product-button {
    margin: 0 auto;
    padding: 0;

    .btn {
        font-size: 14px;
    }
}

.container.cart-empty {
    min-height: 16em;
}
