@import "variables";
@import "bootstrap/scss/mixins/breakpoints";

.categorized-content-sidebar {
    padding-top: 30px;

    .categorized-sidebar-title.active,
    .categorized-sidebar-item.active {
        font-weight: bold;
    }

    #collapseSidebar {
        margin-top: 30px;
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 30px;
    }

    h3.categorized-sidebar-title {
        font-size: 1rem;
        line-height: 1em;
    }

    .categorized-sidebar-folder-group {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }

        .categorized-sidebar-folder-group {
            margin-left: 15px;
        }
    }

    @include media-breakpoint-up(md) {
        .dont-collapse-sm {
            display: block;
            height: auto !important;
            visibility: visible;
        }
    }
}

.categorized-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
