.nav-menu-item {
    list-style: none;
}

.side-navigation-bar > .nav-menu-item {
    display: block;
    width: 100%;
    padding: 0 15px;
    text-transform: uppercase;
    line-height: 2em;
}

.side-navigation-bar > .nav-menu-item::before {
    content: none;
}

.nav-standard {
    padding-left: 0;
}

ul.nav-menu.categorised {
    margin-top: 30px;
}

ul.nav-menu.categorised ul,
ul.nav-menu.categorised {
    padding-left: 0;
}

.nav-menu-item.active {
    font-weight: bold;
}
