@import "components/categoryTiles";

.clp-content {
    .category-item {
        margin-bottom: 15px;
    }

    .category-tile {
        h1 {
            color: var(--text-secondary);
        }
    }
}
