@charset "UTF-8";

$containerWidth: 580px;

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100% !important;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

.ExternalClass {
    width: 100%;
    line-height: 100%;

    p,
    span,
    font,
    td,
    div {
        line-height: 100%;
    }
}

#backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
}

img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%;
    clear: both;
    display: block;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    border-collapse: collapse !important;
}

table,
tr,
td {
    vertical-align: top;
}

#outlook a {
    padding: 0;
}

body.outlook p {
    display: inline !important;
}

@media only screen and (max-width: $containerWidth) {
    .container {
        width: 95% !important;
    }

    .header-navigation {
        th {
            display: inline-block;
            width: 100%;
        }
    }
}
