.email-mock-header {
    text-align: center;
}

#email-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

label {
    min-width: 200px;
}

.status {
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

input,
select {
    flex-grow: 1;
}

.note {
    width: 100%;
    text-align: center;
}

.warning {
    color: var(--error-primary);
}
