@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "components/formFields";

.login-page {
    margin-top: 1em;

    .login-form-nav {
        margin-bottom: 1.25em;

        .tab-pane {
            margin-top: 1em;
        }

        .nav-item {
            &:focus {
                outline: 0;
            }

            .nav-link {
                &:focus {
                    outline: 0;
                }

                &.active {
                    border-color: var(--border-special-3);
                }
            }
        }
    }

    .login {
        margin-bottom: 0.938em;

        .error-message-form {
            padding: 0.625em;
            background-color: var(--error-primary);
            color: var(--error-primary);
            border-radius: 0.188em;
        }
    }
}

.registration-page {
    .privacy-policy {
        margin-top: 1rem;
    }
}

.login-banner {
    background-image: url("../images/account.jpg");
    background-position-y: 40%;
}

.equal-height .card {
    width: 100%;
}
