@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/swatch";
@import "components/categoryTiles";

.refinement-bar {
    overflow: auto;
    background-color: var(--background-primary);
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1020;
    padding: 0;

    ul {
        padding-left: 0;
    }

    button {
        &:focus {
            outline: none;
        }
    }

    .acf-icon-close {
        outline: none;
        width: 29px;
        height: 29px;

        &::before {
            outline: none;
            font-size: 29px;
            width: 29px;
            height: 29px;
            line-height: 29px;

            &:focus {
                outline: none;
            }
        }
    }

    .acf-icon-down-open-big {
        transform: rotate(-90deg);
    }

    .acf-icon-up-open-big {
        transform: rotate(180deg);
    }

    @include media-breakpoint-up(sm) {
        width: 85%;
        max-width: 651px;
    }

    @include media-breakpoint-up(lg) {
        display: block !important;
        position: static;
    }

    .secondary-bar {
        padding: 0;

        @include media-breakpoint-up(lg) {
            margin-top: 28px;
        }

        button {
            width: 80%;
            margin: 50px auto 0;

            @include media-breakpoint-up(md) {
                line-height: 80px;
            }

            @include media-breakpoint-up(lg) {
                width: 100%;
                line-height: 56px;
                margin: 0;
            }

            &:hover {
                transform: none;
            }

            &:focus {
                background-color: var(--background-secondary);
            }
        }
    }
}

.refinement-bar__title {
    font: 26px var(--font-primary);
    color: var(--text-special);

    @include media-breakpoint-up(md) {
        font-size: 30px;
    }
}

.filter-header {
    padding: 21px 14px 28px 20px;
    border-bottom: 1px solid var(--border-primary);

    @include media-breakpoint-up(md) {
        padding: 21px 23px 23px 40px;
    }
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-primary);
    border-bottom: 0.063em solid var(--background-primary);

    button.close {
        font-size: 1rem;
        font-weight: normal;
        opacity: 1;
    }

    .fa.fa-close::before {
        font-size: 1.25em;
    }
}

.refinements {
    .card-body {
        > .values {
            margin-top: -30px;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }

    .acf-icon-down-open-big,
    .acf-icon-up-open-big {
        &::before {
            font-size: 14px;
        }
    }

    .header,
    .values {
        @include media-breakpoint-only(sm) {
            li {
                display: inline-block;
            }
        }
    }

    .values {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin-bottom: 0;

        li {
            &:first-of-type {
                margin-top: 30px;

                @include media-breakpoint-up(lg) {
                    margin-top: 0;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 30px;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .header {
        font-size: 1.125em;
        color: var(--text-secondary);
    }

    ul {
        li {
            padding-left: 1px;
        }

        button {
            display: flex;
            align-items: center;
            border: none;
            color: var(--text-special);
            background-color: transparent;
            padding: 1px;
        }

        ul {
            margin-left: 1rem;
        }
    }

    li {
        list-style-type: none;
        padding-left: 0;
        flex: 0 0 100%;

        &.color-attribute {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }

        &.disabled {
            opacity: 0.5;
        }
    }

    .card {
        margin-bottom: 0;
        border: 0;

        .btn {
            box-shadow: inset 0 -1px 0 var(--border-primary);
            line-height: 90px;
            font-size: 30px;

            &:active {
                outline: none;
            }

            &[aria-expanded="true"] {
                box-shadow: none;
            }
        }

        &:last-of-type {
            .btn {
                box-shadow: none;
            }
        }

        &:focus {
            outline: none;
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: 20px;
        background-color: var(--background-special-2);
        padding-top: 30px;
    }
}

.refinement-button__text {
    font: 20px var(--font-primary);
    line-height: 23px;
    margin-left: 19px;

    .checked & {
        font-weight: bold;
    }

    @include media-breakpoint-up(lg) {
        font-size: 12px;
    }
}

.search-sort-by-wrapper {
    padding: 0;
}

.product-search-results__inner-wrapper {
    padding: 0;

    @include media-breakpoint-up(lg) {
        padding-left: 20px;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 31px;
    }
}

.search-results {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;

    .content-asset {
        width: 100%;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .refinements {
        .refinement {
            .title {
                color: var(--text-special);

                &:focus {
                    outline: none;
                }
            }

            i {
                &::before {
                    color: var(--text-special);
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }

    .no-results-container {
        box-shadow: inset 2px 2px 0 var(--border-primary), inset -2px -2px 0 var(--border-primary);
        width: 550px;
        max-width: 90%;
        margin: 30px auto;
        padding: 20px;
        text-align: center;
    }
}

.secondary-bar {
    padding: 25px 14px 32px 20px;
    overflow: auto;

    a.reset {
        @include media-breakpoint-down(sm) {
            float: right;
        }
    }
}

.refinement-header {
    overflow: auto;
}

.disabled {
    pointer-events: none;
}

.grid-header,
.content-grid-header {
    margin-top: 1em;
    margin-bottom: 1em;

    @include media-breakpoint-only(xs) {
        .result-count {
            padding-bottom: 0.938em;
        }

        .filter-results {
            display: block;
            width: 100%;
        }
    }

    select {
        width: 100%;
    }
}

.result-count {
    font: 14px var(--font-primary);
    color: var(--text-primary);
}

.refinement {
    .card-header {
        background-color: var(--background-primary);
        border-bottom: 0;
        padding: 0;

        h2 {
            color: var(--text-primary);
            font-size: 1.125rem;

            &:focus {
                outline: none;
            }

            @include media-breakpoint-up(lg) {
                font: 18 var(--font-primary);
                color: var(--text-special-2);
                font-weight: bold;
                margin: 0 20px;
                padding-bottom: 12px;
                border-bottom: 1px solid var(--border-primary);
            }
        }

        &:focus {
            outline: none;
        }

        @include media-breakpoint-up(lg) {
            background-color: var(--background-special-2);
        }
    }

    .card-body {
        padding: 0 20px 50px 20px;
        border-bottom: 1px solid var(--border-primary);

        @include media-breakpoint-up(lg) {
            background-color: var(--background-special-2);
            border-bottom: 0;
            padding-top: 18px;
        }
    }

    a {
        text-decoration: none;
    }

    &.refinement-category {
        li {
            display: block;
        }
    }

    &.refinement-color {
        @include media-breakpoint-up(md) {
            .card-body {
                padding-top: 0;
                padding-bottom: 50px;
            }
        }
    }

    .color-value {
        margin-right: 20px;

        @include media-breakpoint-up(lg) {
            margin-right: 13px;
        }
    }

    .card-icon {
        float: right;
    }
}

.search-banner {
    background-image: url("../images/search.jpg");
    background-position-y: 40%;
}

.search-keywords {
    font-weight: bold;
}

.filter-bar {
    width: 100%;
    margin: 13px 0;

    ul {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    button {
        width: 100%;
    }

    .refinement-to-remove {
        width: calc(50% - 5px);
        border: 0;
        height: auto;
        margin-bottom: 15px;

        .acf-icon-close {
            position: absolute;
            left: 15px;
            top: 0;
            color: var(--text-special-2);
        }

        button {
            position: relative;
            box-shadow: inset 1px 1px 0 var(--border-special-3), inset -1px -1px 0 var(--border-special-3);
            color: var(--text-special-2);
            text-align: center;
            padding-left: 40px;
        }

        .refinement-to-remove__title {
            display: block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include media-breakpoint-up(md) {
            width: calc(50% - 11px);
        }
    }
}

.refinement-checkbox {
    display: inline-block;
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid var(--border-special);

    .checked & {
        background-color: var(--background-secondary);
    }

    @include media-breakpoint-up(lg) {
        width: 15px;
        height: 15px;
    }
}

.refinement-checkbox__inner {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary);

    .acf-icon-checked {
        &::before {
            color: var(--text-secondary);
        }
    }
}

.tab-content {
    padding-left: 0;
    padding-right: 0;
}

.product-grid {
    padding: 0 11px;

    .tile-item {
        padding: 0 9px;
        margin-bottom: 39px;

        @include media-breakpoint-up(md) {
            margin-bottom: 79px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 67px;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 0 29px;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;

        &.row {
            margin-left: -11px;
            margin-right: -11px;
        }
    }
}

.search-tips {
    text-align: left;
    margin-top: 1.875rem;
}

.category-item {
    margin-bottom: 0.938rem;
}

.show-more,
.show-more-content {
    padding: 0.938em;
    clear: both;
}

.swatch-mark {
    @include swatch-check-mark();
}

.search-nav {
    margin-bottom: 0;
    border: 0;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-item {
        margin-bottom: 5px;

        &:focus {
            outline: 0;
        }

        .nav-link {
            &:focus {
                outline: 0;
                background-color: var(--background-primary);
            }

            &.active {
                border-color: var(--border-special-3);
            }
        }
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sort-by-select {
    display: none;
    font: 14px var(--font-primary);
    text-align: center;
    color: var(--text-secondary);
    line-height: 52px;
    height: 52px;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background-secondary);
    background-image: url("data:image/svg+xml,%3Csvg width='97' height='63' viewBox='0 0 97 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.56089 4.107L46.5119 61.712C47.2719 62.663 48.8789 62.663 49.6389 61.712L95.5949 4.103C96.1419 3.414 96.3039 2.387 96.0089 1.493C95.9479 1.306 95.8799 1.163 95.8229 1.056C95.4719 0.406 94.7979 0 94.0579 0H2.09289C1.35689 0 0.67889 0.405 0.33089 1.056C0.27189 1.165 0.20389 1.309 0.14689 1.482C-0.15011 2.387 0.0108896 3.416 0.56089 4.107Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    &:focus {
        outline: none;

        // fix focus state styling issues on Edge
        &::-ms-value {
            background-color: transparent;
            border-color: transparent;
            color: var(--text-secondary) !important;
            outline: 0 !important;
            box-shadow: none;
        }
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }
}
.sort-by-select::-ms-expand {
    display: none;
}

.sort-by-select-mobile {
    overflow: auto;
    background-color: var(--background-primary);
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1060;
    padding: 0;

    ul {
        list-style-type: none;
    }

    .acf-icon-close {
        outline: none;
        width: 29px;
        height: 29px;

        &::before {
            outline: none;
            font-size: 29px;
            width: 29px;
            height: 29px;
            line-height: 29px;

            &:focus {
                outline: none;
            }
        }
    }
}

.sort-by-select-mobile__items {
    padding: 50px 20px;
    margin-bottom: 0;
}

.sort-by-select-mobile__item {
    display: flex;
    align-items: center;
    color: var(--text-special);
    margin-bottom: 30px;
}

.sort-by-select-mobile--show {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    top: 0;
    left: 0;
    z-index: 11000;

    @include media-breakpoint-up(sm) {
        width: 85%;
        max-width: 651px;
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.sort-by-select-mobile__item-text {
    font: 20px var(--font-primary);
    line-height: 23px;
    margin-left: 19px;

    .checked & {
        font-weight: bold;
    }
}

.product-grid__bottom {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.search-filters-wrapper {
    padding-left: 20px;
    padding-right: 20px;

    .filter-results,
    .mobile-sort-by {
        width: 100%;
        margin-top: 12px;

        @include media-breakpoint-up(md) {
            width: calc(50% - 11px);
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.mobile-sort-by {
    margin-top: 12px;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.plp-content-top-margin {
    margin-top: 64px;

    @include media-breakpoint-up(md) {
        margin-top: 98px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 77px;
    }
}

.plp-content-bottom-margin {
    margin-bottom: 52px;

    @include media-breakpoint-up(md) {
        margin-bottom: 76px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 47px;
    }
}
