@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "storeLocator/storeLocator";

.gm-style-iw {
    .store-details {
        margin-left: 0;
        font-family: var(--font-primary);
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
    }

    a {
        color: var(--text-primary);
    }
}

.store-localor-page {
    padding-bottom: 130px;

    .input-outer_wrapper {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
            margin-top: 24px;
        }
    }

    .store-locator-title {
        font: 28px var(--font-primary);
        color: var(--text-special-2);
        font-weight: bold;

        @include media-breakpoint-up(sm) {
            font-size: 32px;
        }

        @include media-breakpoint-up(md) {
            font-size: 40px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 34px;
        }
    }

    .store-locator-description {
        font: 14px var(--font-primary);
        margin: 25px 0 0 0;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .input-wrapper {
        position: relative;
        width: 100%;
        margin-top: 43px;

        .awesomplete {
            display: block;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    .store-locator-search-input {
        font: 14px var(--font-primary);
        height: 50px;
        width: 100%;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            height: 68px;
        }

        @include media-breakpoint-up(lg) {
            height: 50px;
        }
    }

    .btn-storelocator-search {
        font: 18px var(--font-primary);
        width: 100%;
        margin-top: 14px;
        font-weight: bold;
        line-height: 50px;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            line-height: 68px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 50px;
            margin-top: 0;
            width: 180px;
        }
    }

    .search-form {
        border: 0;
        width: 100%;
    }

    .select-store-input {
        display: none;
    }

    .form-check {
        padding-left: 0;
    }

    .card-icon {
        &::before {
            font-size: 10px;
        }

        @include media-breakpoint-up(md) {
            &::before {
                font-size: 16px;
            }
        }
    }

    .acf-icon-up-open-big {
        display: none;
    }

    .accordion-opened {
        .acf-icon-down-open-big {
            display: none;
        }

        .acf-icon-up-open-big {
            display: inline-block;
        }
    }

    .store-hours {
        display: none;

        @include media-breakpoint-up(md) {
            padding-bottom: 10px;
        }
    }

    .store-hours-container {
        cursor: pointer;

        &.accordion-opened {
            .store-hours {
                display: block;
            }
        }
    }

    .acf-icon-phone-squared {
        &::before {
            color: var(--text-special-2);
        }

        @include media-breakpoint-up(md) {
            &::before {
                font-size: 23px;
            }
        }
    }

    p {
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 0;
    }

    .map-canvas {
        height: 320px;

        @include media-breakpoint-up(sm) {
            height: 381px;
        }

        @include media-breakpoint-up(md) {
            height: 800px;
        }

        @include media-breakpoint-up(lg) {
            height: 500px;
        }

        @include media-breakpoint-up(xl) {
            height: 735px;
        }
    }

    .results-card {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 35px;
        }

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
            width: 100%;
            justify-content: space-between;
            margin-top: 30px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 68px;
        }
    }

    .store-locator-results-left {
        order: 2;
        width: 100%;

        .card-body {
            padding: 34px 0 34px 0;

            &:first-of-type {
                padding-top: 0;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border-primary);
            }

            @include media-breakpoint-up(lg) {
                margin-right: 20px;
            }
        }

        .results {
            padding-top: 20px;

            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            width: calc(50% - 61px);
            order: 1;
        }
    }

    .store-locator-results-right {
        order: 1;
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 50%;
            order: 2;
        }
    }

    .store-details {
        width: 100%;
    }

    .form-control {
        padding-right: 40px;
    }

    .acf-icon-arrow {
        position: absolute;
        right: 10px;
        top: 13px;

        @include media-breakpoint-up(md) {
            top: 23px;
            right: 23px;

            &::before {
                font-size: 23px;
            }
        }

        @include media-breakpoint-up(lg) {
            right: 10px;
            top: 13px;

            &::before {
                font-size: 16px;
            }
        }
    }

    .store-name {
        display: flex;
        align-items: center;
        font: 18px var(--font-primary);
        color: var(--text-special-2);

        @include media-breakpoint-up(md) {
            font-size: 35px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        .store-details-title__svg {
            margin-right: 8px;

            @include media-breakpoint-up(md) {
                margin-right: 20px;
            }

            @include media-breakpoint-up(lg) {
                margin-right: 14px;
                width: 14px;
                height: 21px;
            }
        }
    }

    .store-address {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        font-weight: bold;
        margin-top: 10px;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .store__description {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        margin-bottom: 0;
        line-height: 25px;

        .store-map {
            text-transform: capitalize;
            text-decoration: underline;
            color: var(--text-special-2);

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .store-hours-label {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        font-weight: bold;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .store-details-link-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .store-locator-details-wrapper {
        width: 100%;
    }

    .store-details-link,
    .store-directions-link {
        font: 14px var(--font-primary);
        color: var(--text-special-2);
        text-decoration: underline;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            margin-top: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }
}

.store-locator__search-container {
    padding: 69px 0 20px 0;
    border-bottom: 1px solid var(--border-primary);

    @include media-breakpoint-up(md) {
        padding: 59px 0 33px 0;
    }
}

#search-input-autocomlete-list {
    display: none;
}

.store-localor-page__stores-container {
    width: 100%;
}

.store-details-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 69px;
}

.store-details-title__text {
    font: 28px var(--font-primary);
    line-height: 28px;
    color: var(--text-special-2);
    font-weight: bold;
    margin-left: 14px;

    @include media-breakpoint-up(sm) {
        font-size: 32px;
        line-height: 32px;
    }

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 34px;
    }
}

.store-details-title__svg {
    fill: var(--background-secondary);
    width: 16px;
    height: 24px;

    @include media-breakpoint-up(md) {
        width: 22px;
        height: 33px;
    }

    @include media-breakpoint-up(lg) {
        width: 20px;
        height: 30px;
    }
}

.store-details-page {
    .store-container {
        @include media-breakpoint-up(lg) {
            display: flex;
            margin-top: 69px;
        }
    }

    .store-details-page__left-content {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }

    .store-details-page__right-content {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 50%;
            padding-left: 46px;
        }
    }

    .map-canvas {
        height: 380px;
        margin-top: 30px;
        display: block;

        &.map-canvas__slider {
            height: 167px;

            @include media-breakpoint-up(md) {
                height: 256px;
            }
        }

        @include media-breakpoint-up(md) {
            margin-top: 41px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    .store-details {
        display: block;
    }

    .store-locator-no-apiKey {
        display: none;
    }

    .store-locator-no-results {
        display: none;
    }

    .store-locator-hero {
        background-image: url("../images/storelocator.jpg");
        margin-bottom: 0.625em;

        @include media-breakpoint-up(sm) {
            display: none;
        }
    }

    .store__label {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        font-weight: bold;
        margin-top: 35px;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .store__description {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        margin-bottom: 0;
        line-height: 25px;

        .store-map {
            text-transform: capitalize;
            text-decoration: underline;
            color: var(--text-special-2);

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .nearby-stores-body {
        overflow: hidden;
        margin-bottom: 87px;
    }

    .store-details__more-stores-title {
        font: 35px var(--font-primary);
        width: 100%;
        text-align: center;
        color: var(--text-special-2);
        margin: 90px 0 30px 0;
        text-transform: capitalize;
        font-weight: bold;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 35px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 34px;
        }
    }

    .store-contact {
        .acf-icon-phone-squared {
            &::before {
                color: var(--background-secondary);
            }

            @include media-breakpoint-up(md) {
                &::before {
                    font-size: 23px;
                }
            }

            @include media-breakpoint-up(lg) {
                &::before {
                    font-size: 18px;
                    margin: 0;
                }
            }
        }
    }

    .nearby-stores-mobile {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.nearby-stores-desktop {
    display: none;

    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;

        .nearby-stores-desktop__item {
            &:not(:last-child) {
                margin-right: 45px;
            }
        }
    }
}

.nearby-stores {
    .glide__bullets {
        display: flex;
        justify-content: center;
        margin-top: 38px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .store-directions-link {
        display: none;
    }

    .glide__bullet {
        width: 22px;
        height: 22px;
        background-color: var(--background-secondary);
        opacity: 0.5;
        border-radius: 100%;
        outline: none;
        padding: 0;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }

    .glide__bullet--active {
        opacity: 0.9;
    }

    .store-details-title__svg {
        width: 10px;
        height: 14px;

        @include media-breakpoint-up(md) {
            width: 14px;
            height: 21px;
        }
    }

    .store-name {
        margin-top: 10px;
        display: flex;
        align-items: center;

        span {
            font: 14px var(--font-primary);
            color: var(--text-special-2);
            margin-left: 7px;

            @include media-breakpoint-up(md) {
                font-size: 26px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }
    }

    .store-address {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        font-weight: bold;
        margin-top: 10px;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .map-canvas {
        margin-top: 50px;

        @include media-breakpoint-up(md) {
            font-size: 86px;
        }
    }

    .store-hours-label {
        font: 14px var(--font-primary);
        color: var(--text-primary);
        font-weight: bold;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .store-hours {
        display: none;

        @include media-breakpoint-up(md) {
            padding-bottom: 10px;
        }
    }

    .store-hours-container {
        cursor: pointer;

        &.accordion-opened {
            .store-hours {
                display: block;
            }
        }
    }

    .store-details-link {
        font: 14px var(--font-primary);
        color: var(--text-special-2);
        text-decoration: underline;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            margin-top: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    .acf-icon-up-open-big {
        display: none;
    }

    .card-icon {
        &::before {
            font-size: 10px;
        }

        @include media-breakpoint-up(md) {
            &::before {
                font-size: 16px;
            }
        }
    }

    .accordion-opened {
        .acf-icon-down-open-big {
            display: none;
        }

        .acf-icon-up-open-big {
            display: inline-block;
        }
    }

    .nearby-stores-desktop__item {
        width: calc(33% - 15px);

        @include media-breakpoint-up(xl) {
            &::before {
                width: calc(33% - 30px);
            }
        }
    }
}

.map-canvas {
    .store-details-link-wrapper {
        display: none;
    }

    .store-name {
        font-size: 14px;

        @include media-breakpoint-up(md) {
            font-size: 26px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }
    }
}
