@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account/account";
@import "utilities/deleteCardButton";

.card-header {
    padding-left: 10px;
    padding-right: 10px;

    .custom-control-label {
        color: var(--text-primary);
    }

    .single-product & {
        border-bottom: 0;
        padding-bottom: 0;
    }
}

.card-body {
    padding: 10px 28px 10px 10px;

    .wishlist-line-item-divider {
        margin-left: -10px;
    }
}

.remove-from-wishlist {
    position: static;
    min-width: 3rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    line-height: normal;
}

.price {
    color: var(--text-primary);
}

.wishlist-items,
.wishlist-account-card {
    .line-item-name {
        color: var(--text-secondary);
    }
}

.wishlist-account-card {
    .line-item-name {
        margin: 0;
        padding: 10px;
    }
}

.wishlist {
    &__publicity {
        margin-bottom: 10px;
    }

    &__item + .wishlist__item {
        margin-top: 30px;
    }

    &__login-message {
        margin-top: 20px;
    }
}

.wishlist-item {
    display: grid;
    grid-template:
        "item-image item-name item-cta-2" auto
        "item-image item-price item-cta-2" auto
        "item-image item-availability item-cta-2" auto
        "item-image item-variations item-cta-2" auto
        "item-image item-qty item-cta-2" auto
        "item-image item-publicity item-cta-2" auto
        "item-cta-1 item-cta-1 item-cta-2" auto
        / 100px 1fr 30px;
    grid-column-gap: 10px;
    border: 2px solid var(--border-special-2);
    border-right: none;

    @include media-breakpoint-up(md) {
        grid-template:
            "item-image item-name item-cta-1 item-cta-2" auto
            "item-image item-price item-cta-1 item-cta-2" auto
            "item-image item-availability item-cta-1 item-cta-2" auto
            "item-image item-variations item-cta-1 item-cta-2" auto
            "item-image item-qty item-cta-1 item-cta-2" auto
            "item-image item-publicity item-cta-1 item-cta-2" auto
            "item-image nothing nothing item-cta-2" auto
            / 185px 1fr 184px 40px;
        grid-column-gap: 0;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 140px 1fr 230px 40px;
    }

    p {
        margin: 0;
    }

    &__image-wrapper {
        grid-area: item-image;
        padding: 10px 0 0 10px;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            padding: 20px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    &__name {
        grid-area: item-name;
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        color: var(--text-special-2);

        @include media-breakpoint-up(md) {
            padding: 20px 0 10px;
        }
    }

    &__price {
        grid-area: item-price;
        padding-bottom: 15px;
        font: bold 14px var(--font-primary);
    }

    &__availability {
        grid-area: item-availability;
        padding-bottom: 20px;
        font: normal 14px var(--font-primary);
    }

    &__availability-value {
        color: var(--error-primary);

        &.wishlist-item__available {
            color: var(--success-primary);
        }
    }

    &__variations-data {
        grid-area: item-variations;
    }

    &__qty {
        grid-area: item-qty;
        padding-bottom: 10px;
    }

    &__qty-label {
        font: bold 14px var(--font-primary);
    }

    &__qty-field-wrapper {
        display: inline-flex;
        align-items: stretch;
        border: 1px solid var(--border-primary);
    }

    &__qty-field {
        width: 4em;
        border: none;
        text-align: center;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type="number"] {
            -moz-appearance: textfield;
        }
    }

    &__qty-change-cta {
        background-color: transparent;
        border: none;
    }

    &__qty-decrease-cta {
        border-right: 1px solid var(--border-primary);
    }

    &__qty-increase-cta {
        border-left: 1px solid var(--border-primary);
    }

    &__publicity {
        grid-area: item-publicity;
        padding-bottom: 40px;

        @include media-breakpoint-up(md) {
            padding-bottom: 20px;
        }
    }

    &__cta-1 {
        grid-area: item-cta-1;
        padding: 0 0 10px 10px;
        display: flex;
        justify-content: stretch;

        @include media-breakpoint-up(md) {
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding: 0 15px;
        }

        @include media-breakpoint-up(lg) {
            padding: 0 40px;
        }
    }

    &__cta-2 {
        grid-area: item-cta-2;
        display: flex;
        align-items: stretch;
    }

    &__edit-cta,
    &__add-to-cart-cta {
        flex-grow: 1;

        @include media-breakpoint-up(md) {
            flex-grow: 0;
        }

        a,
        button {
            min-height: 40px;
            min-width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px 0;
            font: bold 14px / normal var(--font-primary);

            @include media-breakpoint-up(md) {
                min-height: 50px;
            }
        }
    }

    &__edit-cta + .wishlist-item__add-to-cart-cta {
        margin-left: 10px;

        @include media-breakpoint-up(md) {
            margin: 0 0 15px 0;
        }
    }

    &__add-to-cart-cta {
        @include media-breakpoint-up(md) {
            order: 1;
        }
    }

    &__edit-cta {
        @include media-breakpoint-up(md) {
            order: 2;
        }
    }

    .remove-from-wishlist {
        min-width: 0;
        width: 100%;
    }

    .acf-icon-plus {
        &::before {
            color: var(--text-secondary);
        }
    }
}

.wl-social-sharing {
    .share-icons {
        &,
        &:hover {
            color: transparent;
        }
    }
}

.results-content {
    border: none;

    .find-another-results {
        a {
            color: var(--text-secondary);
        }
    }
}
