@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../../../app_cya_storefront/cartridge/client/default/scss/skin/variables";

.error-message {
    display: none;
}

.strike-through {
    text-decoration: line-through;
    // margin-right: 0.938rem;
    margin-right: 0;
    text-align: center;
}

.price-prorated {
    color: #FF0000;
    text-align: center;
}

.returns-request{
    max-width: 1366px;
    margin: 0 auto;
    display: none;
    &__content{
        max-width: 740px;
        margin-left: 12.6%;
        margin-top: 30px;
    }
    &__title{
        color: $returns-request-title-color;
        margin-bottom: 25px;
        h1{
            font-size: 42px;
            line-height: 54px;
            margin: 0;
        }
    }
    &__min-ammount, &__shipping-number{
        font-size: 16px;
        line-height: 21px;
        color: $returns-request-info-color;
    }
    &__shipping-number{
        float: right;
    }
    &__card {
        margin: 20px 0 0;
    }

    .card-header {
        padding: 11px 16px;

        h2 {
            font-size: 18px;
            line-height: 24px;
            color: $account-title-card-color;
        }
    }

    .card-body {
        background: $account-card-body-background;
        margin-bottom: 25px;
        padding: 0;
    }

    display: flex;

    &__card {
        .card {
            border: none;
        }
    }

    &__options {
        display: flex;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
        color: $account-order-details-color;

        span,
        a {
            display: block;

            &.value {
                font-family: $futura-demi;
            }
        }

        a {
            font-size: 20px;
            line-height: 26px;
            background: $account-add-button-background;
            border: 1px solid $account-add-button-border;
            color: $account-add-button-color;
            border-radius: 25px;
            padding: 7px 0;
            margin: 30px 0;

            &:hover {
                text-decoration: none;
            }

            &.invalid {
                pointer-events: none;
                color: $account-add-button-invalid-color;
                border-color: $account-add-button-invalid-color;
            }
        }
    }

    &__return,
    &__track,
    &__ship {
        max-width: 30%;
        padding: 0;
    }

    &__ship {
        margin: 0 5%;
    }

    &__shipping-info {
        .shipping {
            display: flex;

            .col-7,
            .col-5 {
                padding: 0;
            }
        }

        .card-body {
            display: flex;

            .col-8,
            .col-4 {
                padding: 0;
            }
        }
    }

    &__products-info {
        .card-body {
            padding: 0;
            background: none;

            table {
                width: 100%;
                text-align: center;
                margin: 0;

                th,
                td {
                    padding: 10px 18px;

                    &:nth-of-type(1) {
                        text-align: left;
                    }
                }
                th{
                    &:nth-last-of-type(1){
                        text-align: left;
                        .subtotal{
                            float: right;
                        }
                    }
                }

                thead {
                    tr, td, th {
                        border: none;
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid $returns-request-product-border;
                    }
                }

                td {
                    padding: 20px 17px;
                    font-size: 14px;
                    line-height: 18px;
                    vertical-align: top;
                    background: $returns-request-product-background;
                    &:nth-of-type(1){
                        padding-left: 0;
                    }
                    .form-group{
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }
                    .quantity{
                        display: inline-block;
                        width: 53px;
                        font-size: 14px;
                        line-height: 28px;
                        padding: 0 10px;
                        border-radius: 14px;
                        height: 27px;
                        font-family: $futura-demi;
                        // -moz-appearance:none; /* Firefox */
                        // -webkit-appearance:none; /* Safari and Chrome */
                        // appearance:none;

                    }
                    .arrow-select {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        display: block;
                        border-left: 2px solid $black;
                        border-bottom: 2px solid $black;
                        transform: rotate(-45deg);
                        transition: all 0.25s ease;
                    }
                    .quantity-arrow {
                        left: 35px;
                        bottom: 10px;
                    }
                    .subtotal{
                        float: right;
                    }
                    .reason{
                        margin: 15px 0 0;
                        border-radius: 20px;
                        font-size: 16px;
                        line-height: 21px;
                        padding: 0 0 0 24px;
                        // color: $returns-request-reason-default-background;
                        // -moz-appearance:none; /* Firefox */
                        // -webkit-appearance:none; /* Safari and Chrome */
                        // appearance:none;
                        option{
                            color: $returns-request-reason-option-background;
                          }
                    }
                    .reason-arrow {
                        bottom: 16px;
                        right: 20px;
                    }
                    .is-disabled {
                        pointer-events:none;
                        color: #BFBFBF;
                    }
                    .disabled-arrow {
                        border-left: 2px solid #BFBFBF;
                        border-bottom: 2px solid #BFBFBF;
                    }
                }

            }

            .product {
                .return-button{
                    display: block;
                    margin-top: 25px;
                }
                display: flex;
                max-width: 300px;

                &--image,
                &--text {
                    display: flex;
                    flex-wrap: wrap;
                }

                &--image {
                    margin: 0 10px;
                    img {
                        width: 76px;
                    }
                }

                &--title,
                &--variants {
                    display: flex;
                    width: 100%;
                }

                &--variants {
                    justify-content: space-between;

                    span {
                        align-self: end;

                        label {
                            color: $account-variant-value-color;
                        }
                    }
                }
            }
        }
    }

    &__total-purchase {
        border: none;
        .card-body {
            padding: 20px 16px 0;
            margin-bottom: 43px;

            .col-6 {
                padding: 0;

                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .order-discount {
                color: $account-card-body-title-color;

                .end-lines {
                    color: $account-card-body-title-discunt-color;
                }
            }
        }
    }

    &__grand-total {
        margin-top: 20px;
        background: $account-card-header-background;
        font-size: 18px;
        line-height: 24px;
        color: $account-title-card-color;
        padding: 10px 16px;
        margin-left: -16px !important;
        width: calc(100% + 32px);
        display: flex;
        span{
            font-family: $futura-demi;
        }
    }

    &__footer{
        text-align: right;
        margin-bottom: 124px;
        &--agree{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 49px;
            a{
                color: $returns-request-agree-link;
            }
        }
        &--buttons{
            display: block;
            button, .btn-cancel-return{
                font-size: 20px;
                line-height: 26px;
                padding: 7px 15px;
                border-radius: 25px;
                width: 100%;
                margin-bottom: 30px;
            }
            .btn-cancel-return{
                font-family: $futura-book;
                text-transform: capitalize;
                background: $returns-request-cancel-btn-background;
                border: 1px solid $returns-request-cancel-btn-border;
                color: $returns-request-cancel-btn-color;
            }
        }
        &--cancel, &--return{
            width: 276px;
            display: inline-block;
            text-align: center;
        }
        &--cancel{
            margin-right: 48px;
        }
        &--links{
            a{
                width: 276px;
                display: inline-block;
                text-align: center;
                &:nth-of-type(1){
                    margin-right: 48px;
                }
            }
        }
        &--policy, &--help{
            font-size: 14px;
            line-height: 20px;
            width: auto;
            margin: 0 auto;
            text-decoration: underline;
            color: $returns-request-link-color;
        }
    }
    @media(max-width: 992px){
        &.container{
            padding: 0;
        }
        &__content{
            margin: 0;
        }
        &__title{
            text-align: center;
            padding: 0 50px;
            margin-bottom: 14px;
            h1{
                font-size: 28px;
                line-height: 32px;

            }
        }
        &__min-ammount, &__shipping-number{
            display: block;
            text-align: center;
            float: none;
        }
        &__min-ammount{
            margin-bottom: 14px;
        }
        &__card{
            margin-top: 24px;
        }
        &__products-info{
            .card-body{
                table{
                    table-layout: fixed;
                    thead{
                        th{
                            clear: both;
                            &.col-lg-2, &.col-lg-4{
                                display: none;
                            }
                        }
                    }
                    tbody{
                        tr{
                            background: $returns-request-tbody-background;
                            margin: 0 25px;
                            display: block;
                        }
                    }
                    td{
                        display: block;
                        border: none;
                        &:nth-of-type(1){
                            padding: 12px 0 0;
                        }
                        &:nth-of-type(2){
                            margin-left: 109px;
                            padding: 0;
                            width: calc(100% - 109px);
                            text-align: right;
                        }
                        &:nth-of-type(2){
                            margin: 15px 0 15px 109px;
                            &::before{
                                content: 'Precio';
                                float: left;
                            }
                        }
                        &:nth-of-type(3){
                            padding:0 0 20px;
                            text-align: right;
                            .form-group:nth-of-type(1){
                                text-align: right;
                                margin-left: 109px;
                                width: calc(100% - 109px);
                                &:before{
                                    content: 'Cantidad';
                                    float: left;
                                }
                                select, span{
                                    display: block;
                                }
                                select{
                                    display: inline-block;
                                }
                                span{
                                    width: 100%;
                                    margin: 15px 0;
                                    &:before{
                                        content: 'Subtotal';
                                        float: left;
                                    }
                                }
                            }
                        }
                        .reason{
                            margin:0 15px;
                            width: calc(100% - 30px);
                        }
                    }
                }
                .product{
                    max-width: none;
                    &--variants{
                        span label{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &__total-purchase{
            margin: 0 25px;
            .card-body{
                margin: 0;
            }
        }
        &__footer{
            margin-bottom: 84px;
            &--agree{
                padding: 0;
                text-align: center;
                margin: 46px 0;
            }
            &--cancel, &--return{
                width: auto;
                display: block;
                margin: 0 25px;
            }
            &--links{
                margin: 0 25px;
                display: block;
                a{
                    width: 49%;
                    display: inline-block;
                    text-align: center;
                    &:nth-of-type(1){
                        margin: 0;
                    }
                }
            }
        }
    }
}
.return-instructions{
    margin-top: 132px;
    display: flex;
    background: $return-confirmation-background;
    &__content{
        margin-left: 12.6%;
        flex: 2 0 0;
        margin-top: 30px;
    }
    &__title{
        margin-bottom: 25px;
        h2{
            font-size: 42px;
            line-height: 54px;
            font-family: $futura-demi;
            margin: 0;
            color: $return-confirmation-title-color;
        }
    }
    &__request-number{
        font-size: 16px;
        line-height: 21px;
        display: block;
        text-align: right;
        color: $return-confirmation-request-text-color;
        margin-bottom: 20px;
    }
    &__total-purchase{
        font-size: 16px;
        line-height: 20px;
        padding: 20px 16px 0 16px;
        color: $return-confirmation-request-total-color;
        border: none;
        &.card{
            background-color: $return-confirmation-request-total-background;
            margin-bottom: 56px;
        }
        .col-6{
            padding: 0;
        }
        span{
            display: block;
        }
    }
    &__grand-total{
        display: flex;
        margin-top: 20px;
        padding: 11px 16px 10px;
        width: calc(100% + 32px);
        margin-left: -16px;
        background: $return-confirmation-request-grandTotal-background;
        font-size: 20px !important;
        line-height: 24px;
        color: $return-confirmation-request-grandTotal-color;
    }
    &__steps{
        &.card{
            margin-bottom: 30px;
        }
        .card-header{
            padding: 11px 16px;
            h2{
                font-size: 18px;
                line-height: 24px;
                color: $return-confirmation-steps-title-color;
            }
        }
        .card-body{
            background: $return-confirmation-steps-body-color;
            padding: 21px 16px 40px;
        }
        &--subtitle{
            font-size: 18px;
            line-height: 24px;
            margin: 51px 0 22px;
            display: block;
            color: $return-confirmation-steps-subtitle-color;
            font-family: $futura-demi;
            &:nth-of-type(1){
                margin-top: 0;
            }
        }
        &--text{
            font-size: 18px;
            line-height: 24px;
            color: $return-confirmation-steps-text-color;
        }
        &--print{
            display: block;
            margin-top: 26px;
            a{
                font-size: 12px;
                text-decoration: underline;
                color: $return-confirmation-steps-link-color;
            }
        }
    }
    &__footer{
        display: flex;
        margin-bottom: 114px;
        &--help{
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            text-decoration: underline;
            color: $return-confirmation-steps-link-color;
        }
    }
    &__button{
        max-width: 276px;
        display: inline-block;
        font-size: 20px;
        line-height: 26px;
        padding: 7px;
        font-family: $futura-demi;
    }
    @media(max-width: 992px){
        &__content{
            margin-left: 0;
        }
        &__title{
            margin-bottom: 12px;
            h2{
                font-size: 28px;
                line-height: 32px;
                text-align: center;
            }
        }
        &__request-number{
            text-align: left;
        }
        &__total-purchase{
            &.card{
                margin-bottom: 52px;
            }
            &--subtotal, &--cost{
                .col-6:nth-of-type(2){
                    font-size: 14px;
                }
            }
        }
        &__steps{
            &.card{
                margin-bottom: 41px;
            }
            .card-body{
                padding: 21px 16px 27px 21px;
            }
            &--subtitle{
                margin: 31px 0 21px;
            }
            &--print{
                margin: 42px 0;
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__footer{
            display: flex;
            flex: 0 0 100%;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            margin-bottom: 46px;
            .col-6{
                flex: 0 0 100%;
                padding: 0;
                max-width: none;
                &:nth-of-type(1){
                    text-align: center;
                }
            }
        }
        &__button{
            max-width: none;
            margin-bottom: 31px;
        }
    }
}
