.uppercase {
    text-transform: uppercase;
}

.hide {
    display: none !important;
}

.js-bm-diff-open {
    display: none;
}

button[disabled="disabled"] {
    opacity: 0.5;
}

.requester-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 1280px;
}

.requester-wrapper_content {
    flex: 3;
}

/* Requester Form Row */
.requester-form {
    width: 100%;
    display: flex;
}

.requester-url_input {
    width: 100%;
    margin-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #a5aeb5;
    padding-left: 5px;
}

.requester-button_submit {
    width: 100px;
    background-color: #097BED;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin-right: 5px;
}

.requester-button_update,
.requester-button_new {
    border: none;
    border-radius: 3px;
    background: #d8d5d5;
    color: #333;
    cursor: pointer;
    font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.requester-button_update {
    margin-right: 5px;
}

.requester-form .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.requester-url-pane {
    border-bottom: 1px solid #EAEAEA;
    flex: 1;
    border-radius: 3px;
    background-color: #ECECEC;
    border: 1px solid #D4D4D4;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
}

/* Requester Params Table Row */
.requester-params-pane {
    margin-bottom: 10px;
}
/* Requester Response Row  */

.requester-table {
    font-size: 12px;
}

.requester-table .request-input {
    padding-left: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    height: 30px;
    width: 150px;
    outline: 0;
    font-size: 12px;
    color: #444;
}

.requester-table .request-save-name {
    margin-left: 5px;
    border: 1px solid #aaa;
}

.requester-table-saveas-content .request-save-select-collection,
.requester-table-saveas-content .select2-selection {
    height: 30px;
    width: 100%;
}

.requester-table .request-save-button {
    background: #097BED;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 90px;
    width: 150px;
}

.table-row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 32px;
    border-bottom: 2px solid #e0e0e0;
    border-collapse: collapse;
}

.table-row.table-header {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-cell {
    flex: 1;
    border: 1px solid #EAEAEA;
    align-items: center;
    display: flex;
    position: relative;
    border-width: 0 1px;
    padding: 0 3px;
    word-break: break-word;
}

.requester-cookies_table .table-row {
    height: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 5px;
}

.requester-cookies_table .table-cell {
    border: none;
}

.table-cell .request-input {
    width: 100%;
    border: 1px solid transparent;
    font-size: 12px;
}

.table-cell .request-input:focus {
    outline: none;
}

.table-row:not(.table-header) .table-row_delete {
    background: #fff;
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 10px;
    cursor: pointer;
    right: 3px;
}

.select-content {
    display: none;
}

.select-content.active {
    display: block;
}

.select-content .input-auth {
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
    height: 25px;
    margin-right: 6px;
}

.select-content .input-auth:focus {
    padding-left: 5px;  
}

.select-authorization {
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    line-height: 30px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 4px;
    text-transform: capitalize;
}

.select-authorization:focus {
    outline: none;
}

.request-editor-tab-view.editor-tab-view .editor-pane-request-meta,
.request-editor-tab-view.editor-tab-view .editor-pane-url-editor,
.request-editor-tab-view.editor-tab-view .editor-pane-request-editor,
.request-editor-tab-view.editor-tab-view .editor-pane-response-viewer {
    grid-column: 1 / 3;
    margin-bottom: 20px;
}

.response-viewer-empty_header {
    flex: 0 0 40px;
    background-color: #FAFAFA;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #EAEAEA;
    color: #A9A9A9;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.requester-content-type {
    margin-bottom: 10px;
}

.requester-content-type .select2 {
    width: 728px;
}

.select-content_selector {
    margin-right: 5px;
    display: inline-block;
}

.select-content_container {
    display: inline-block;
}

.requester-content,
.response-content {
    padding: 15px;
}

.response-details {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.response-header_key {
    font-weight: bold;
}

.response-time,
.response-status {
    font-size: 12px;
    margin: 9px 6px 0 0;
} 

.response-details_result {
    color: #097BED;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    padding: 9px 15px 5px 15px;
    border-bottom: 3px solid transparent;
    color: #333;
    cursor: pointer;
}

.tab .tablinks:hover {
    background-color: #ddd;
}

.tab .tablinks.active {
    color: #505050;
    font-weight: 400;
    border-bottom-color: #097BED;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    word-wrap: break-word;
    max-width: 955px;
}

.tabcontent.active {
    display: block;
}

.tabcontent .textarea-tab {
    resize: none;
    border-radius: 4px;
    padding: 5px;
    color: #444;
    outline: 0;
}

.text-error {
    color: red;
}

/* Styles for the side tabs / collections interface */
.hidden {
    display: none;
}

.collection-requests-count {
    padding: 5px 7px;
    background-color: gray;
    color: white;
    border-radius: 100px;
    margin-left: 10px;
}

.side-tabs {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.side-tabs .side-tab {
    flex: 1;
}

.side-tabs .side-tab .tab-name {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 135%;
}

.side-tabs .button-add-collection {
    border: none;
    border-radius: 3px;
    background: url('../img/icons/icon-add.png') no-repeat center 3px;
    background-size: 100%;
    cursor: pointer;
    float: right;
    overflow: hidden;
    text-indent: -50px;
}

.collection-item .collection-item-info {
    font-size: 12px;
    background: url('../img/icons/folder-icon-v3.png') no-repeat 0 0;
    background-size: 29px;
    background-position: 11px -59px;
}
 
.collection-item.open .collection-item-info {
    background-position: 11px 11px;
}
 
.collection-item .collection-item-info, 
.collection-item .collection-item-request {
    padding: 10px 10px 10px 45px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.collection-empty {
    padding: 10px;
    margin-bottom: 0;
}

.collection-item .collection-item-request {
    padding: 8px 5px 8px 20px;
    line-height: 100%;
}

.collection-item .collection-item-options {
    float: right;
}

.collection-item-request .collection-item-options {
    margin-right: 5px;
}

.collection-item .collection-item-info:hover,
.collection-item .collection-item-request:hover {
    background-color: whitesmoke;
}

.side-tabs .collection-item-active {
    background-color: lightgray;
}

.delete-button {
    display: inline-block;
    cursor: pointer;
    background: url('../img/icons/garbage-icon.png') no-repeat center 1px;
    background-size: 11px;
    text-indent: -50px;
    overflow: hidden;
    width: 13px;
    height: 15px;
}

.delete-button:hover {
    background-position: center -14px;
}

.requester-table-saveas-content {
    margin-top: 10px;
}

.requester-table-saveas-content .content-select {
    display: inline-block;
    margin-left: 30px;
    width: 150px;
}

.requester-table-saveas-content .select2-container {
    width: 100% !important;
}

.requester-table-saveas-content .title {
    font-weight: bold;
    font-size: 14px;
}

.request-method {
    color: green;
    margin: 3px;
    font-size: 12px;
}

.dialog {
    display: none;
}

.dialog .dialog-text {
    margin: 10px 0 0;
}

.dialog .input-collection {
    border-radius: 4px;
    border: 1px solid #aaa;
    height: 25px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    color: #444;
}

.request-error-create-collection {
    margin-top: 15px;
}

#request-collection-default-name {
    display: none;
}

select.js_authorization {
    display: block !important;
    position: initial !important;
    width: auto !important;
    height: auto !important;
    clip: initial !important;
    border: 1px solid lightgray !important;
}

select.js_authorization ~ span.select2 {
    display: none;
}