.section-title {
    font-size: 24px;
    color: #84BD00;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

section+hr {
    margin-bottom: 20px;
}

.new-license {
    display: none;
}

.license,
.add-license {
    padding: 10px;
}

.add-license {
    padding-left: 0;
}

.odd-row {
    background-color: rgba(0, 0, 0, .07);
}

.license .button,
.add-license .button {
    color: #fff;
}

.license .button-clear {
    color: #004B78;
    background: transparent;
    border-color: #004B78;
    ;
}

.add-license .button {
    padding: 6px 10px;
    font-size: 12px;
}

.license .button-success,
.add-license .button-success {
    background-color: #069214;
    border-color: #037C0F;
}

.license .button-clear:hover {
    background-color: transparent;
    border-color: #004B78
}

.license .button-primary {
    background-color: #00629b;
    border-color: #004B78;
}

.license .button-primary:hover {
    background-color: #004B78;
    border-color: #004169;
}

.license .button-success:hover,
.add-license .button-success:hover {
    background-color: #037C0F;
    border-color: #037C0F;
}

.license .button-danger {
    background-color: #B62518;
    border-color: #951E13;
}

.license .button-danger:hover {
    background-color: #951C10;
    border-color: #951D12;
}

.input-block {
    display: inline-flex;
    width: 33%;
    align-items: center;
    padding: 5px;
}

.input-row {
    padding: 5px;
    display: flex;
    align-items: center;
}

.input-block .inputfield,
.input-row .inputfield {
    border: 1px solid #777;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    flex: 1;
}

.input-block label {
    margin-right: 5px;
    margin-bottom: 0;
}

.input-row label {
    width: 130px;
}

.buttons-row {
    margin-top: 10px;
    text-align: right;
}

.buttons-row .button {
    margin-right: 10px;
}

.message {
    margin-bottom: 5px;
}

.message.error-message {
    color: #951D12
}

.ui-widget-overlay {
    background-color: rgba(0, 0, 0, .3)
}

.ui-dialog {
    background: #fff;
}

.ui-dialog-title {
    display: none;
}

.ui-dialog-titlebar-close {
    top: 12px;
    border: none;
    background: none;
    z-index: 100;
}

.ui-dialog-titlebar-close .ui-icon {
    text-indent: 0;
}

.ui-dialog-titlebar-close .ui-icon::before {
    content: '×';
    font-size: 24px;
}

.license.ui-dialog-content {
    padding: 15px;
}

.license.ui-dialog-content .button {
    padding: 6px 10px;
    font-size: 14px;
}

.license.ui-dialog-content h4 {
    font-size: 18px;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(255, 255, 255, .6);
    display: none;
    opacity: 0;
    transition: opacity .2s ease;
}

.loader-wrapper.show {
    display: flex;
    opacity: 1;
}

.loader {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: auto;
}

.loader span {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #3498db;
}

.loader span:nth-child(1) {
    animation: grow 1s ease-in-out infinite;
}

.loader span:nth-child(2) {
    animation: grow 1s ease-in-out 0.15s infinite;
}

.loader span:nth-child(3) {
    animation: grow 1s ease-in-out 0.30s infinite;
}

.loader span:nth-child(4) {
    animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow {
    0%,
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform: scaleY(1.8);
        -ms-transform: scaleY(1.8);
        -o-transform: scaleY(1.8);
        transform: scaleY(1.8);
    }
}