@import "~base/experience/components/commerceLayouts/carousel";
@import "../../carousel/extraSmallCarousel";
@import "../../carousel/mediumCarousel";
@import "../../carousel/smallCarousel";


#homepage{
    .experience-einstein-einsteinCarousel .carousel-control-prev,
    .experience-einstein-einsteinCarousel .carousel-control-next,
    .experience-einstein-einsteinCarouselCategory .carousel-control-next,
    .experience-einstein-einsteinCarouselCategory .carousel-control-prev,
    .experience-einstein-einsteinCarouselProduct .carousel-control-prev,
    .experience-einstein-einsteinCarouselProduct .carousel-control-next,
    .experience-commerce_layouts-carousel .carousel-control-prev,
    .experience-commerce_layouts-carousel .carousel-control-next {
        position: absolute;
        background-color: $gray-transparent-1;
        height: 4.6875rem;
        width: 3.125rem;
        top: 30%;
    }
    
    .experience-einstein-einsteinCarousel,
    .experience-einstein-einsteinCarouselCategory,
    .experience-einstein-einsteinCarouselProduct,
    .experience-commerce_layouts-carousel {
        .carousel-control-prev{
            left: 27px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 20px;
            background: rgba(#ffffff, .7);
            color: #000000;
            top: 45%;
            transform: translateY(-50%);
            .carousel-control-prev-icon {
                position: absolute;
                left: 25%;
                filter: invert(100%);
            }
            img{
                width: 15px;
                position: absolute;
                left: 10px;
            }
        }
    }
    
    .experience-einstein-einsteinCarousel,
    .experience-einstein-einsteinCarouselCategory,
    .experience-einstein-einsteinCarouselProduct,
    .experience-commerce_layouts-carousel {
        .carousel-control-next{
            right: 27px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 20px;
            background: rgba(#ffffff, .7);
            color: #000000;
            top: 45%;
            transform: translateY(-50%);
            .carousel-control-next-icon {
                position: absolute;
                right: 25%;
                filter: invert(100%);
            }
            img{
                width: 15px;
                position: absolute;
                right: 10px;
                transform: rotate(180deg);
            }
        }
    }
    .carousel.slide{
        padding-top: 7px;
        padding-bottom: 0px;
        .pd-carousel-indicators{
            bottom: -15px;
        }
        @media (max-width: 992px){
            padding-top: 0;
        }
    }
    .pd-carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        // display: none;
        justify-content: center;
        padding-left: 0; // override <ol> default
        // Use the .carousel-control's width as margin so we don't overlay those
        margin: 0 15%;
        list-style: none;
    
        li {
            position: relative;
            flex: 0 1 auto;
            width: 30px;
            height: 0.187rem;
            margin-right: 0.187rem;
            margin-left: 0.187rem;
            text-indent: -62.437rem;
            cursor: default;
            background-color: $gray-4;
            width: 24px;
            height: 8px;
            margin: 0 12px;
    
            // Use pseudo classes to increase the hit area by 10px on top and bottom.
            &::before {
                position: absolute;
                top: -0.625rem;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 0.625rem;
                content: "";
            }
    
            &::after {
                position: absolute;
                bottom: -0.625rem;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 0.625rem;
                content: "";
            }
        }
    
        .active {
            background-color: $black;
        }
    }
    .carousel-title{
        font-size: 42px;
        margin-bottom: 30px;
        font-family: 'Futura-medium';
        font-weight: lighter;
    }
    .container{
        .experience-component{
            .carousel-inner{
                .col-12{
                    padding: 0;
                }
            }
        }
    }
}
@media (max-width: 992px){
    #homepage{
        .carousel.slide{
            // padding-bottom: 48px;
        }
        .experience-einstein-einsteinCarousel,
        .experience-einstein-einsteinCarouselCategory,
        .experience-einstein-einsteinCarouselProduct,
        .experience-commerce_layouts-carousel {
            .carousel-control-prev{
                left: 2px;
            }
        }
        .experience-einstein-einsteinCarousel,
        .experience-einstein-einsteinCarouselCategory,
        .experience-einstein-einsteinCarouselProduct,
        .experience-commerce_layouts-carousel {
            .carousel-control-next{
                right: 2px;
            }
        }
        .carousel-title{
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .carousel.slide .pd-carousel-indicators {
        bottom: -15px !important;
    }
}