@mixin slide-down($isExpanded) {
    @if $isExpanded {
        max-height: 9999px;
        transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
        transition-delay: 0s;
    } @else {
        max-height: 0;
        box-sizing: border-box;
        overflow: hidden;
        will-change: max-height;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
    }
}
