@mixin circle($diameter, $color) {
    // Source:  https://gist.github.com/kogakure/4769904
    border: 0.063em solid var(--border-primary);
    width: $diameter;
    height: $diameter;
    background: $color;
}
