@import "../variables";
@import "shapes";

@mixin swatch($diameter, $color) {
    @include circle($diameter, $color);
    @include swatch-check-mark();

    border: 0.063em solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-right: 0.313em;
    position: relative;

    // swatch-filter x mark to undo a filter
    i.fa-times-circle {
        background: var(--background-primary);
        border-radius: 50%;
        height: 0.75em;
        line-height: 0.8em;
        width: 0.8em;
    }
}

@mixin swatch-check-mark() {
    &.color-value[data-selected="true"]::after {
        content: "\e80b";
        display: table-caption;
        font-size: 1.625em;
        left: 0.295em;
        position: absolute;
        font-family: var(--font-icons);
    }

    &.color-value.selected::after {
        color: var(--text-secondary);
        content: "\E80B";
        font-family: var(--font-icons);
        display: table-caption;
        font-size: 13px;
        left: 3px;
        line-height: 13px;
        position: absolute;
        top: 4px;
        width: 75%;

        @include media-breakpoint-up(lg) {
            font-size: 11px;
            left: 3px;
            line-height: 12px;
        }
    }
}

$swatch-colors: (
    "beige": #f5f5dc,
    "black": #000,
    "blue": #0070d2,
    "brown": #a52a2a,
    "green": #008827,
    "grey": #8f979d,
    "navy": #000080,
    "orange": #ffa500,
    "pink": #fe249a,
    "purple": #800080,
    "red": #f00,
    "white": #fff,
    "yellow": #ff0,
);

@each $color in map-keys($swatch-colors) {
    $colorValue: #{map-get($swatch-colors, $color)};

    .swatch-circle-#{$color} {
        @include circle(23px, $colorValue);

        display: block;
        position: relative;

        &.disabled {
            opacity: 0.2;
        }

        @include media-breakpoint-up(lg) {
            @include circle(15px, $colorValue);
        }
    }

    .swatch-filter-#{$color} {
        @include circle(1.38em, $colorValue);

        background-color: $colorValue;
        display: block;
        position: relative;

        &.disabled {
            opacity: 0.2;
        }
    }
}

// Credit: Christian Muecke (cmuecke@demandware.com)
.swatch-circle-miscellaneous {
    background: linear-gradient(0deg, rgba(130, 30, 145, 1) 0, rgba(130, 30, 145, 1) 25%, rgba(237, 209, 52, 1) 25%, rgba(255, 255, 0, 1) 50%, rgba(237, 209, 52, 1) 50%, #59ba00 50%, #59ba00 76%, #111 76%, #111 100%),
        linear-gradient(0deg, rgba(14, 92, 209, 1) 0, rgba(14, 92, 209, 1) 50%, rgba(226, 11, 11, 1) 50%, rgba(226, 11, 11, 1) 100%);
    background-repeat: repeat-y, repeat;
    background-size: 50% 100%, 100% 100%;
    border: 0.063em solid rgba(0, 0, 0, 0.3);
    border-radius: 1.25em;
    display: block;
    height: 35px;
    position: relative;
    transform: rotate(35deg);
    width: 35px;

    &.disabled {
        opacity: 0.2;
    }

    &.selected::after {
        transform: rotate(-35deg);
    }
}
