@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "~base/account/addressbook";
@import "../skin/variables";


.container-addresbook-book .row .justify-content-center{
    
}
.row{
}

.headerblue{
    color: #0043BA;
    width: 100%;
    text-align: center;
}
