@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "~base/account/dashboard";
@import "../skin/variables";

.card-header h2, .card-header h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.profile-header a{
    color: white;
}

    .accountbtn{
        color:black !important;
        border:1px solid black;
         border-radius: 15px;
         -moz-border-radius: 15px;
         -webkit-border-radius: 15px;
    }

.tab-content > .active .row .col-sm-4 .card  {
    background-color: red;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.1875rem;
}

.tab-content > .active .tab-content > .active .row justify-content-center{
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
        .card-header .profile-header a{
            color: white;
        }
        .card-header{
            color: white;
        }
    }


    
}
.headerblue{
    top: 156px;
    left: 283px;
    width: 100%;
    height: 54px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 42px/26px var(--unnamed-font-family-futura-pt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0043ba);
    text-align: center;
    font: normal normal normal 42px/26px Futura PT;
    letter-spacing: 0px;
    color: #0043BA;
    opacity: 1;
    }
    .page{
    }
    
    .aside-menu{
                .nav {
                    font-size: 16px;

                }

                
    }


    .card-header > a {
        color: white;
        float: right;
        text-decoration: underline;
    }

    .aside-menu-link > a .selected {
        color: blue;
    }
    
    a:active{
        color:blue;
    }


    .list-group-item.active {
        /* z-index: 2; */
        color: #0043BA;
        background-color: none;
        /* border-color: #00a1e0; */
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.2rem 2.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 0px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item-action {
        color:black;
        text-align: inherit;
    }