@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "~base/account/dashboard";
@import "../skin/variables";
@import "../components/creditCardField";

.home-my-account {
    display: flex;
    &.container {
        margin-top: 29px;
        padding-top: 40px;
        .menu-left-mobile{
            display: none;
        }
    }
}

.strike-through {
    text-decoration: line-through;
    margin-right: 0.938rem;
}

.price-prorated {
    color: #FF0000;
}

/*--- left menu Mobile---*/
.menu-left-mobile{
    position: absolute;
    margin-top: 15px;
    z-index: 1;
   i{
       font-size: 24px ;
   }
}

/*--- left menu ---*/
.list-group {
    * {
        font-family: $futura-medium;
    }
}

.list-group-item.active {
    color: $menu-left-active-color;
    background: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.2rem 2.25rem;
    border: none;
}

.list-group-item-action {
    color: $menu-left-color;

    &:hover,
    &:active {
        color: $menu-left-hover-color;
        background: none;
    }
}

.aside-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 13.7%;

    /*------- my account cards --------*/
    .account-title,
    .tab-content {
        display: flex;
        flex: 0 0 100%;
    }

    .account-title {
        h1 {
            font-size: 42px;
            line-height: 54px;
            color: $account-title-color;
            margin-bottom: 32px;
        }
    }

    .tab-pane {
        padding: 0;
        max-width: 820px;
    }

    .left-content,
    .right-content {
        padding: 0;
    }

    .left-content {
        padding-right: 24px;
    }

    .right-content {
        padding-left: 24px;
    }

    .card {
        border: none;
        margin-bottom: 50px;

        .card-header {
            * {
                color: $account-title-card-color;
            }
        }

        h2 {
            font-size: 18px;
            line-height: 24px;
        }

        a {
            font-size: 16px;
            line-height: 21px;
        }

        .card-body {
            background: $account-card-body-background;
            position: relative;
            padding: 20px;

            &__border {
                border-bottom: 1px solid $account-card-body-border-color;
            }

            &__title {
                font-family: $futura-medium;
                color: $account-card-body-title-color;
            }

            &__image {
                width: 50px;
                margin-top: 14px;
            }

            &__title,
            &__value {
                font-size: 16px;
                line-height: 22px;
            }

            &__alert {
                font-size: 14px;
                line-height: 15px;
                color: $account-card-body-alert-color;

                span {
                    font-family: $futura-demi;
                }
            }

            &__email {
                font-size: 14px;
                line-height: 15px;
                color: $account-card-body-email-color;
            }

            &__wishlist {
                .account-wishlist-item {

                    &__image,
                    &__description,
                    &__stock,
                    &__price,
                    &__send {
                        padding: 0;
                    }

                    &__image {
                        margin-bottom: 0;

                        img {
                            margin-bottom: 8px;
                            max-width: 56px;
                        }
                    }

                    &__description {
                        margin-bottom: 20px;
                    }

                    &__name {
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: normal;
                        white-space: inherit;
                    }

                    &__stock {
                        max-width: 56px;
                        text-align: center;
                    }

                    &__price {
                        margin: 0;
                        font-size: 14px;
                        line-height: 18px;
                        display: flex;
                        flex-wrap: wrap;
                        font-family: $futura-demi;
                        font-weight: normal;
                    }

                    &__list {
                        text-decoration: line-through;

                        +span {
                            color: $account-wishlist-sale-color;
                        }
                    }

                    &__send {
                        button {
                            font-size: 14px;
                            line-height: 18px;
                            text-decoration: underline;
                            border: none;
                            padding: 0;
                            background: none;
                            color: $account-wishlist-sendcart-color
                        }
                    }

                    &__stock {
                        font-size: 8px;
                        line-height: 10px;
                        background: $account-wishlist-stock-background;
                    }
                }

                &.account-wishlist-item {
                    padding: 25px 0 19px;
                    margin: 0;
                    border-bottom: 1px solid $account-card-body-border-color;
                }

                &--info {
                    font-size: 16px;
                    line-height: 22px;
                    font-family: $futura-medium;
                }
            }

            .orders-content {
                display: flex;
                flex-wrap: wrap;

                .col-sm-6 {
                    margin: 10px 0 0;
                    padding: 0;
                }
            }
        }

        .card-footer {
            background: $account-card-footer-background;
            padding: 0;

            a {
                color: $account-card-footer-button-color;
                background: $account-card-footer-button-background;
                border: 1px solid $account-card-footer-button-border;
                margin: 20px 57px;
                padding: 7px 0;
                font-size: 20px;
                line-height: 26px;
                border-radius: 25px;
                display: block;
                width: auto;
                text-decoration: none;
            }

            &__border {
                border-top: 1px solid $account-card-footer-border-color;
            }
        }

        &__address,
        &__payment {
            .card-body {
                padding: 0;

                &__address,
                &__payment {
                    padding: 20px 80px 20px 20px;

                    span {
                        font-size: 16px;
                        line-height: 22px;
                        display: block;
                    }
                }

                &:nth-of-type(1) {
                    padding-top: 20px;
                }

                button {
                    border: none;
                    font-size: 14px;
                    line-height: 23px;
                    text-decoration: underline;
                    background: none;
                    position: absolute;
                    bottom: 20px;
                    right: 16px;
                }
            }

            .card-footer {
                border: none;
            }
        }
    }

    .form-group {
        &.custom-checkbox {
            .custom-control-label {
                font-size: 14px;
                line-height: 24px;

                &:before {
                    background: $account-checkbox-background;
                    border: 1px solid $account-checkbox-border;
                }
            }
        }

        .custom-control-input:checked {
            ~.custom-control-label {
                position: relative;

                &::before {
                    background: $account-checkbox-checked-background;
                    border: none;
                }

                &::after {
                    content: '\f00c';
                    font-family: $awesome-font;
                    background: none;
                    font-size: 8px;
                    color: $account-checkbox-checked-color;
                    top: 0;
                    left: -21px;
                }
            }
        }
    }

    /*------ end my account cards -------*/
}

/*------- profile --------*/
.profile-page {
    display: flex;
    flex-wrap: wrap;
    padding-top:40px !important;

    .form-group {
        margin-bottom: 0;

        &.required {
            .form-control-label {
                &::before {
                    content: "";
                }

                &::after {
                    content: '*';
                }
            }
        }
    }

    .aside-menu {
        max-width: 376px;

        .card-body {
            padding: 0;
            background: none;

            form {
                padding: 0;
            }
        }
    }

    .col-sm-6 {
        padding: 0;
    }

    .profile-card {
        &__title {
            margin-bottom: 33px;

            h1 {
                font-size: 42px;
                margin-bottom: 0;
                line-height: 54px;
            }
        }

        &__name,
        &__father-name,
        &__birth {
            margin-bottom: 25px;
        }

        &__name,
        &__father-name,
        &__mother-name,
        &__birth {
            margin-bottom: 25px;
        }

        &__father-name,
        &__birth,
        &__preferences:nth-of-type(1) {
            padding-right: 24px;
        }

        &__mother-name,
        &__preferences:nth-of-type(2) {
            padding-left: 24px;
        }

        &__preferences {
            margin-bottom: 9px;

            .form-group {
                label {
                    display: block;
                    margin-bottom: 16px;
                }
            }
        }

        &__email {
            margin-bottom: 30px;

            label {
                display: block;
                margin-bottom: 10px;
            }
        }

        .edit-profile-form {
            .form-group {
                input.form-control {
                    border-radius: 25px;
                }
            }
        }

        .save-changes {
            max-width: 270px;
            border-radius: 25px;
            margin: 0 auto;
            padding: 7px 0;
        }
    }
}

/*-------- end proflie ---------*/
/*------- orders page --------*/
.orders-page, .ordersList-page {
    display: flex;
    flex: 0 0 100%;
    padding-top:40px !important;

    &__content {
        margin-left: 12.42%;
        flex-wrap: wrap;
        flex: 2 0 0;
        margin-right: 40px;
    }

    &__header {
        flex: 0 0 100%;
        padding: 0;

        &--title {
            padding-left: 0;
            color: $orders-title-color;
            margin-bottom: 32px;

            h1 {
                font-size: 42px;
                line-height: 54px;
                margin: 0;
            }
        }

        &--select {
            border-radius: 25px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        .form-group {
            position: relative;
            margin: 12px 0;

            &:after {
                position: absolute;
                content: '\f106';
                font-family: $awesome-font;
                font-size: 22px;
                right: 10px;
                top: 3px;
                color: $orders-select--arrow-color;
            }
        }

        .down {
            &:after {
                pointer-events: none;
                content: '\f107';
            }
        }
    }

    &__table {
        margin-bottom: 115px;

        &--head {
            background: $orders-table-header-background;
            color: $orders-table-header-color;
            font-size: 18px;
            line-height: 20px;
            font-family: $futura-medium;
            border: none;
        }

        tbody {
            tr {
                &:nth-of-type(odd) {
                    background: $orders-table-odd-background;
                }

                &:nth-of-type(even) {
                    background: $orders-table-even-background;
                }
            }
        }

        .quantity {
            text-align: center;

            p {
                margin-bottom: 0;
                margin-right: 20px;
                display: inline-block;
            }
        }

        td {
            padding: 19px 12px;
            border-top: none;
            border-bottom: 1px solid $orders-table-body-border;
        }

        .bg-tracking-step {
            background-color: #0043BA;
        }

        .border-right-tracking {
            border-right: 2px solid #0043ba;
        }

        .tracking-table {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .product-image {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        .details {
            color: $orders-table-details-color;
            text-decoration: underline;
        }
    }
    @media (max-width: 992px){
        &.container{
            padding: 0;
            .menu-left-mobile{
                margin-top: 5px;
                margin-left: 25px;
            }
        }
        &__content{
            margin: 0;
        }
        &__table{
                th, td{
                    &:nth-of-type(2), &:nth-of-type(3), &:nth-last-of-type(1){
                        display: none;
                    }
                }
        }
        &__header{
            &--title{
                padding: 0;
                h1{
                    text-align: center;
                    font-size: 28px;
                    line-height: 35px;
                }
            }
            .form-group{
                margin-bottom: 25px;
            }
        }
    }
}
.ordersList-page{
    &__table{
        &--head{
            tr{
                th{
                    border: none;
                }
            }
        }
    }
}

.orders-page-m {
    .header-title {
        .left-menu-m {
            position: absolute;
            .menu-left-mobile {
                margin-top: 7px;
                margin-left: 27px;
            }
        }
        .title-wraper {
            padding: 0 25px;
            .title-container {
                h1 {
                    font-size: 2em;
                    color: #0043BA;
                    margin: 0;
                }
            }
        }
        .select-orders {
            margin: 20px 0;
            padding: 0 25px;
            &:after {
                position: absolute;
                content: '\f107';
                font-family: $awesome-font;
                font-size: 22px;
                right: 40px;
                top: 3px;
                color: $orders-select--arrow-color;
            }
        }

        .table-container {
            padding: 0 25px;
        }
    }
}

/*------- end orders--------*/
.tracking-order, .tracking-return{
    display: flex;
    margin-top: 132px;
    &__content {
        margin-left: 12.42%;
        flex-wrap: wrap;
        flex: 2 0 0;
        margin-right: 40px;
        margin-top: 30px;
    }
    &__header--steps{
        display: flex;
        margin-bottom: 38px;
    }
    .tracking-progress-indicator{
        display: block;
        position: relative;
        width: 100%;
        max-width: 629px;
        .step-item{
            display: inline-block;
            font-size: 13px;
            line-height: 16px;
            box-shadow: 0 1px 4px $checkout-step-shadow;
            border-radius: 30px;
            padding: 7px 9px;
            background: $checkout-step-inactive-background;
            &:nth-of-type(1){
                padding-right: 98px;
            }
            &:nth-of-type(2){
                padding-right: 88px;
                z-index: 1;
            }
            &:nth-of-type(3){
                padding-right: 63px;
                z-index: 2;
            }
            &:nth-of-type(n+2){
                margin-left: -35px;
            }
            .step-item-label{
                display: flex;
                align-items: center;
                color: $checkout-step-inactive-text-color;
                font-family: $futura-demi;
            }
            .visually-hidden{
                font-size: 21px;
                line-height: 27px;
                background: $checkout-step-active-number-background;
                color: $checkout-step-inactive-number-color;
                box-shadow: 0 2px 8px $checkout-step-shadow;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 14px;
                font-family: $futura-demi;
                img{
                    width: 24px;
                }
            }
            &.active{
                background-color: $checkout-step-active-background;
                box-shadow: 0 2px 8px $checkout-step-shadow;
                .visually-hidden{
                    background: $checkout-step-active-number-background;
                    color: $checkout-step-active-number-color;
                    box-shadow: 0 2px 8px $checkout-step-shadow;
                }
                .step-item-label{
                    font-size: 13px;
                    line-height: 16px;
                    color: $checkout-step-active-text-color;
                    margin: 0;
                    font-family: $futura-demi;
                }
            }
        }
    }
    &__number-company{
        text-align: right;
        margin-left: auto;
        span{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .bold{
        font-family: $futura-demi;
    }
    &__header{
        background: $orders-table-header-background;
        font-size: 18px;
        line-height: 24px;
        font-family: $futura-demi;
        padding: 11px 16px;
        color: $tracking-order-table--header-color;
        span{
            font-family: $futura-book;
        }
    }
    &__title {
        padding-left: 0;
        color: $orders-title-color;
        margin-bottom: 32px;
        padding: 0;

        h1 {
            font-size: 42px;
            line-height: 54px;
            margin: 0;
        }
    }
    &__order-number{
        font-size: 18px;
        line-height: 20px;
        display: none;
    }

    &__table {
        margin-bottom: 44px;

        &--head {
            font-size: 18px;
            line-height: 20px;
            font-family: $futura-medium;
            color: $tracking-order-table-color;
            background: $tracking-order-table-background;
            border-bottom: 1px solid $orders-table-body-border;
        }
        &.table{
            thead{
                th{
                    border: none;
                    padding: 20px 0 14px;
                    width: 20px;
                }
            }
        }

        tbody {
            tr {
                &:nth-of-type(odd) {
                    background: $tracking-order-table-background;
                }

                &:nth-of-type(even) {
                    background: $tracking-order-table-background;
                }
                &:nth-last-of-type(1){
                    .tracking-table{
                        h5{
                            border: 1px solid $tracking-order-table--step-border-ext;
                            border-radius: 20px;
                            width: 18px;
                        }
                    }
                    .bg-tracking-step{
                        border: 1px solid $tracking-order-table--step-border-int;
                    }
                }
            }
        }

        .quantity {
            text-align: center;

            p {
                margin-bottom: 0;
                margin-right: 20px;
                display: inline-block;
            }
        }

        td {
            padding: 19px 12px;
            border-top: none;
            vertical-align: middle;
        }

        .bg-tracking-step {
            background-color: #0043BA;
            padding: 0;
            width: 16px;
            height: 16px;
            img{
                width: 11px;
                margin: 2px auto;
            }
        }

        .border-right-tracking {
            border-right: 2px solid #0043ba;
            padding: 0;
        }

        .tracking-table {
            padding: 0;
            .col-auto{
                padding: 0 !important;
            }
            h5{
                margin: 0 auto;
                font-size: 0.5px;
                width: 16px;
            }
            .row{
                width: 16px;
                padding: 0;
                margin: 0 auto !important;
                .col{
                    padding: 0;
                }
            }
        }
    }
    &__footer{
        display: flex;
        flex: 0 0 100%;
        margin-bottom: 57px;
    }
    &__link{
        span{
            vertical-align: sub;
        }
        a{
            font-size: 14px;
            text-decoration: underline;
        }
    }
    &__button{
        margin-left: auto;
        a{
            text-transform: none;
            font-size: 20px;
            line-height: 26px;
            padding: 6px 17px;
        }
    }
    @media(max-width:992px){
        &.container{
            padding: 0;
        }
        &__content{
            margin: 0;
        }
        &__title{
            margin-bottom: 0;
            h1{
                font-size: 28px;
                line-height: 35px;
                text-align: center;
            }
        }
        &__order-number{
            display: block;
            text-align: center;
            color: $tracking-order-title--guide-color;
        }
        &__header--steps{
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
        .tracking-progress-indicator{
            margin: 30px 0 30px 25px;
            .step-item{
                padding: 5px;
                font-size: 11px;
                &:nth-of-type(2){
                    vertical-align: bottom;
                    margin-left: -39px;
                }
                .visually-hidden{
                    width: 24px;
                    height: 24px;
                }
                &.active{
                    .step-item-label{
                        font-size: 11px;
                    }
                    .visually-hidden{
                        width: 24px;
                        height: 24px;
                        img{
                            width: 18px;
                        }
                    }
                }
            }
        }
        &__number-company{
            text-align: center;
            margin-left: inherit;
            width: 100%;
        }
        &__header{
            padding: 11px 25px;
        }
        &__table{
            margin-bottom: 14px;
            &.table{
                thead{
                    th{
                        padding: 20px 10px 14px;
                    }
                }
            }
            td{
                &.tracking-table{
                    padding: 0 10px;
                }
            }
        }
        &__footer{
            flex-wrap: wrap;
            margin-bottom: 59px;
        }
        &__link, &__button{
            flex: 0 0 100%;
            text-align: center;
        }
        &__link{
            margin-bottom: 29px;
        }
        &__button{
            a{
                max-width: 206px;
                margin: 0 auto;
                padding: 6px 12px;
            }
        }
    }
}
.tracking-order{
    @media(max-width:992px){
        &__table{
            margin-bottom: 14px;
            &.table{
                thead{
                    th{
                        &:nth-of-type(3), &:nth-of-type(4){
                            display: none;
                        }
                    }
                }
            }
            td{
                &.tracking-table{
                }
                &:nth-of-type(3), &:nth-of-type(4){
                    display: none;
                }
            }
        }
    }
}
.tracking-return{
    .hidden-d{
        display: none;
    }
    .hidden-m{
        display: block;
    }
    .tracking-progress-indicator{
        .step-item{
            .visually-hidden{
                color: $return-tracking-step-color;
            }
        }
    }
}

/*------- order details page --------*/
.order-details-page, .confirmation-details-page, .order-returns-page {
    padding-top:40px !important;
    .card {
        margin-bottom: 0;
    }

    .card-header {
        padding: 11px 16px;

        h2 {
            font-size: 18px;
            line-height: 24px;
            color: $account-title-card-color;
        }
    }

    .card-body {
        padding: 20px 16px;
        background: $account-card-body-background;
        margin-bottom: 25px;
    }

    display: flex;

    &__content {
        margin-left: 12.42%;
        flex-wrap: wrap;
        flex: 2 0 0;
        margin-right: 119px;
        margin-bottom: 128px;
    }

    &__title {
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 32px;
        color: $account-title-color;
    }

    &__card {
        .card {
            border: none;
        }
    }

    &__options {
        display: flex;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
        color: $account-order-details-color;
        flex-wrap: wrap;
        span,
        a {
            display: block;

            &.value {
                font-family: $futura-demi;
            }
        }

        a {
            font-size: 20px;
            line-height: 26px;
            background: $account-add-button-background;
            border: 1px solid $account-add-button-border;
            color: $account-add-button-color;
            border-radius: 25px;
            padding: 6px 25px;
            margin: 30px 0;

            &:hover {
                text-decoration: none;
            }

            &.invalid {
                pointer-events: none;
                color: $account-add-button-invalid-color;
                border-color: $account-add-button-invalid-color;
            }
        }
    }

    &__return,
    &__track,
    &__ship {
        max-width: 30%;
        padding: 0;
    }

    &__ship {
        margin: 0 5%;
    }

    &__shipping-info {
        .shipping {
            display: flex;

            .col-7,
            .col-5 {
                padding: 0;
            }
        }

        .card-body {
            display: flex;

            .col-8,
            .col-4 {
                padding: 0;
            }
        }
    }

    &__products-info {
        .card-body {
            padding: 0;
            background: none;

            table {
                width: 100%;
                text-align: center;

                th,
                td {
                    padding: 10px 18px;

                    &:nth-of-type(1) {
                        text-align: left;
                    }
                }

                tbody {
                    tr {
                        border-top: 1px solid $orders-table-body-border;
                    }
                }

                td {
                    padding: 23px 18px 30px;
                    font-size: 14px;
                    line-height: 18px;
                    vertical-align: top;
                }

            }

            .product {
                display: flex;
                max-width: 300px;

                &--image,
                &--text {
                    display: flex;
                    flex-wrap: wrap;
                }

                &--image {
                    background: #f3f3f3;
                    img {
                        width: 76px;
                        mix-blend-mode: multiply;
                    }
                }

                &--title,
                &--variants {
                    display: flex;
                    width: 100%;
                }

                &--variants {
                    justify-content: space-between;

                    span {
                        align-self: end;

                        label {
                            color: $account-variant-value-color;
                        }
                    }
                }
            }
        }
    }

    &__total-purchase {
        .card-body {
            padding: 17px 16px 0;

            .col-6 {
                padding: 0;

                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .order-discount {
                color: $account-card-body-title-color;

                .end-lines {
                    color: $account-card-body-title-discunt-color;
                }
            }
        }
    }

    &__grand-total {
        margin-top: 22px;
        background: $account-card-header-background;
        font-size: 18px;
        line-height: 24px;
        color: $account-title-card-color;
        padding: 10px 10px;
        margin-left: -16px !important;
        width: calc(100% + 32px);
        display: flex;
        span {
            font-weight: 700;
        }
    }
}

.orders-page-m {
    .order-details-page__card {
        // background-color: rgb(185, 255, 251);
        .confirm-details-m {
            // background-color: rgb(185, 255, 185);
            text-align: center;
            font-size: 18px;
            line-height: 23px;
            color: #212121;
            margin-top: 10px !important;

            .order-details {
                // background-color: rgb(255, 185, 200);
                margin: 5px 0;
                .summary-section-label {
                    font-family: "Futura-book";
                }
                .summary-details {
                    font-family: "Futura-demi";
                }
            }
            .buttons-container {
                // background-color: rgb(228, 255, 185);
                // margin: 0 25px;
                width: 100%;
                a {
                    font-size: 20px;
                    line-height: 26px;
                    background: #ffffff;
                    border: 1px solid #212121;
                    color: #212121;
                    border-radius: 25px;
                    padding: 6px 25px;
                    margin: 8px;
                    width: 100%;
                    max-width: 300px;
                    text-align: center;
                    &.invalid {
                        pointer-events: none;
                        color: #BFBFBF;
                        border-color: #BFBFBF;
                    }
                }
            }
        }
    }

    .single-shipping {
        margin-top: 20px;
        width: 100%;
        padding: 0 15px;
        .card-header {
            h2 {
                font-size: 18px;
                color: #fff;
                text-align: left;
            }
        }
        .summary-details {
            background-color: #F5F5F5;
            text-align: left;
        }
    }

    .order-details-page__shipping-info {
        margin-top: 20px;
        width: 100%;
        padding: 0 15px;
        .card-header {
            h2 {
                font-size: 18px;
                color: #fff;
                text-align: left;
            }
        }
        .card-body {
            background-color: #F5F5F5;
            text-align: left;
        }
    }

    .summary-details {
        margin-top: 20px;
        width: 100%;
        padding: 0 15px;
        .card-header {
            h2 {
                font-size: 18px;
                color: #fff;
                text-align: left;
            }
        }
        .card-body {
            background-color: #F5F5F5;
            text-align: left;
        }
    }

    .order-product-summary {
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
        padding: 0 15px;
        .card-header {
            margin-bottom: 10px;
            h2 {
                font-size: 18px;
                color: #fff;
                text-align: left;
            }
        }
        .card-body-m {
            .product-container {
                .img-container {
                    display: flex;
                    justify-content: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    img {
                        margin: 8px 0;
                        width: 76px;
                        height: 76px;
                    }
                }
                .product-details {
                    text-align: left;
                    h5 {
                        font-weight: 700;
                        margin: 8px 0;
                    }
                    .product-details__color-size {
                        margin: 8px 0;
                        .product--variants {
                            div {
                                padding: 0;
                                font-weight: 600;
                                .value {
                                    color: #959393;
                                }
                            }
                            :nth-child(2) {
                                text-align: center;
                            }
                            .quantity {
                                text-align: end;
                            }
                        }
                    }
                    .product-details__price {
                        div {
                            padding: 0;
                        }
                        .total {
                            text-align: end;
                        }
                    }
                }
            }
            hr {
                margin: 10px 0;
            }
        }
    }

    .checkout-order-total-summary {
        margin-top: 20px;
        width: 100%;
        padding: 0 15px;
        .card-body  {
            .leading-lines {
                .start-lines {
                    text-align: left;
                    font-weight: 600;
                }
                .end-lines {
                    font-weight: 600;
                }
            }
            background-color: #F5F5F5;
            .order-details-page__grand-total {
                padding: 16px;
                div {
                    p {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.confirmation-details-page{
    &__options{
        a{
            max-width: 206px;
            margin: 30px auto;
        }
    }
    &__products-info{
        .card-body{
            .product{
                &--title{
                    margin-left: 15px;
                }
                &--text{
                    flex: 0 0 100%;
                }
            }
        }
    }
    .hidden-d{
        display: none;
    }
    .order-number-label {
        color: #6B6B6B;
    }
    .order-date-label {
        color: #6B6B6B;
    }
}

.order-returns-page{
    &__products-info{
        .card-body{
            .product{
                &--text{
                    flex: 0 0 100%;
                    .col-md-6{
                        text-align: left;
                        padding: 0;
                        &:nth-last-of-type(1){
                            text-align: right;
                        }
                        span{
                            color: $return-details-attribute-color;
                        }
                    }
                }
                &--image{
                    margin-right: 19px;
                }
            }
        }
    }
}

/*------- end order details --------*/
/*------ payments page -----------*/
.payments-page {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    padding-top:40px !important;

    &__title {
        display: flex;
        flex: 0 0 100%;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 32px;
        color: $account-title-color;
    }
    .title h1{
        font-size: 42px;
        text-align: left;
        color: $account-title-color;
        margin-bottom: 32px;
    }

    &__content {
        display: flex;
        margin-left: 12.42%;
        flex-wrap: wrap;
        flex: 2 0 0;
        margin-right: 94px;
        margin-bottom: 90px;
    }

    &__card {
        flex: 0 0 100%;
    }

    &__cards {
        padding: 0;

        .card-container {
            max-width: 416px;
        }

        .col-sm-12,
        .col-md-12 {
            padding: 0;
        }

        .card-header {
            color: $account-card-header-color;
            padding: 10px 16px;

            h2 {
                font-size: 18px;
                line-height: 24px;
            }
        }

        .card-body {
            padding: 25px 16px;
            display: flex;
            border: none;
            background: $account-card-body-background;

            .left-content,
            .right-content {
                padding: 0;
            }

            .right-content {
                display: flex;
                flex-direction: column;
                max-width: 110px;
                .card-type {
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
                .card-type,
                .remove-btn {
                    flex: 0 0 50%;
                }

                .remove-btn {
                    background: none;
                    border: none;
                    font-family: $futura-book;
                    text-decoration: underline;
                    text-align: right;
                    display: flex;
                    align-items: flex-end;

                    span {
                        flex: 0 0 100%;
                        display: block;
                    }
                }

                .card-type {
                    &::after {
                        top: 0;
                        // right: auto;
                        right: 50%;
                    }
                }
            }
        }
    }

    &__add {
        padding: 0;

        .col {
            padding: 0 54px;

            a {
                border-radius: 25px;
                background: $account-add-button-background;
                border: 1px solid $account-add-button-border;
                color: $account-add-button-color;
                text-transform: none;

                &:hover {
                    &:before {
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}

/*------- end payments--------*/

// Orders history
.orders-page{
    min-height: 600px;
    //empty
    .message{
        width: 35%;
        margin-top: 22px;
    }
    .buttons-empty{
        margin-top: 75px;
        width: 100%;
        .links-categories{
            display: flex;
            justify-content: center;
            width: 100%;
            button.add-to-fav.btn.btn-primary{
                padding: 7px 57px;
                margin: 0 5px;
            }
        }
    }
}
/*----- address page ------*/
.payments-empty,
.address-empty {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    min-height: 600px;

    .title h1 {
        color: $blue00;
        font-size: 42px;
        margin-bottom: 37px;
    }

    .message-empty p {
        font-size: 20px;
        margin: 0;
    }

    .empty-add-new {
        margin-top: 37px;
        width: 270px;
        padding: 0;
        .btn-save {
            width: 100%;
        }
    }
    .buttons-empty-payments {
        width: 270px;
        .btn-payments-empty{
            margin-top: 30px;
            width: 100%;
        }
    }
}

.address-page {
    min-height: 600px;
    display: flex;
    padding-top:40px !important;

    &__title {
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 32px;
        color: $account-title-color;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        // margin-left: 11.28vw;
        // margin-right: 58px;
        flex: 2 0 0;
        margin-bottom: 80px;

        .add-new {
            padding: 0 54px;

            a {
                border-radius: 25px;
                font-size: 20px;
                line-height: 26px;
                padding-right: 0 7px;
                color: $account-add-button-color;
                background: $account-add-button-background;
                border: 1px solid $account-add-button-border;
                text-transform: none;
            }
        }
    }

    &__title,
    &__cards {
        flex: 0 0 100%;
    }

    &__card {
        .address-book-card {
            flex-wrap: 0 0 100%;
        }
    }

    .col-6 {
        padding: 0;
    }

    &__cards {
        .card-header {
            color: #6B6B6B;
            padding: 11px 16px;
            background-color: #E8E8EA;

            h2 {
                font-size: 18px;
                line-height: 24px;
            }

            a {
                color: #6B6B6B;
                text-decoration: none;
                font-size: 16px;
                line-height: 21px;
                position: relative;
                padding-right: 35px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    top: 0;
                    right: 0;
                    border: 1px solid #6B6B6B;
                    border-radius: 19px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    top: 1px;
                    right: 1px;
                    background: #ffffff;
                    border-radius: 11px;
                }
            }

            &.normal {
                background-color: $account-card-header2-background;
                color: $account-card-header2-color;

                a {
                    color: $account-card-header2-color;
                    pointer-events: all;

                    &:before {
                        border-color: $account-card-header2-border;
                    }

                    &:after {
                        background: none;
                    }

                    &:hover {
                        &:after {
                            background: $account-card-header2-after-background;
                        }
                    }
                }
            }
        }

        .card-body {
            display: flex;
            padding: 20px 16px;

            .left-content,
            .right-content {
                padding: 0;

                a,
                button {
                    text-decoration: underline;
                    flex: 0 0 50%;
                    text-align: left;
                }

                button {
                    background: none;
                    font-family: $futura-book;
                    border: none;
                    text-align: right;
                }
            }

            .left-content {
                padding-right: 10px;
            }

            .right-content {
                display: flex;
                align-items: flex-end;
            }
        }
    }

    &__cards {
        .card-wraper:nth-child(1) {
            .card-header {
                background-color: #0043ba;
                color: $account-card-header-color;
                a {
                    color: $account-card-header-color;
                    pointer-events: none;
                    &:before {
                        border: 1px solid $account-card-header-border;
                    }
                    &:after {
                        width: 11px;
                        height: 11px;
                        top: 4px;
                        right: 4px;
                        background: $account-card-header-after-background;
                    }
                }
            }
        }
    }
}

/*------- end address --------*/
/*------- edit address page --------*/
.edit-address-page,
.add-card-page {
    display: flex;
    padding-top:40px !important;

    &__title {
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 32px;
        color: $account-title-color;
    }

    &__content {
        max-width: 600px;
        flex-wrap: wrap;
        margin-left: 11.28vw;
        margin-right: 58px;
        flex: 2 0 0;
        margin-bottom: 80px;
    }

    &__form {

        .form-input-p {
            padding: 0 8px !important;
        }

        .form-button-p {
            padding: 10px 15px !important;
        }

        .form-buttons__container {
            @media(min-width: 768px) {
                flex-direction: row-reverse;
            }
        }

        .form-group {
            margin-bottom: 25px;

            &.required {
                .form-control-label {
                    width: 100%;
                    &::before {
                        width: 100%;
                        content: '';
                    }

                    &::after {
                        content: '*';
                    }
                }
                .not-required {
                    margin-top: 17px;
                    &::after {
                        content: '';
                    }
                }
            }

            input,
            select {
                border-radius: 25px;
            }
        }

        .number-name {
            display: flex;
        }

        .col-6,
        .col {
            padding: 0 24px;

            // &:nth-of-type(1) {
            //     padding-left: 0;
            // }

            // &:nth-of-type(2) {
            //     padding-right: 0;
            // }
        }

        .expiration {
            padding: 0 15px;
        }

        .new-card-button {
            padding: 15px;
        }

        .expiration-l,
        .new-card-button-l {
            @media(max-width: 992px) {
                padding: 15px 15px 15px 0;
            }
        }

        .expiration-r,
        .new-card-button-r {
            @media(max-width: 992px) {
                padding: 15px 0 15px 15px;
            }
        }

        .btn {
            border-radius: 25px;
            font-size: 20px;
            line-height: 26px;
            padding: 6px 0;

            &.cancel-button {
                background: $account-add-button-background;
                color: $account-add-button-color;
                border: 1px solid $account-add-button-border;
            }

            &:hover {
                &:before {
                    border-radius: 25px;
                }
            }
        }

        .btn.cancel-button {
            width: 100%;
        }

        .card-number-wrapper {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 10px;
                background-repeat: no-repeat;
                background-image: url("../../images/credit.png");
                background-size: contain;
                width: 48px;
                height: 30px;
                top: 5px;
            }

            &[data-type="visa"]::after {
                background-image: url("../../images/payment-types.png");
                background-size: auto;
                background-position: -162px -110px;
            }

            &[data-type="mastercard"]::after {
                background-image: url("../../images/payment-types.png");
                background-size: auto;
                background-position: -295px -110px;
            }

            &[data-type="amex"]::after {
                background-image: url("../../images/payment-types.png");
                background-size: auto;
                background-position: -230px -15px;
            }

            &[data-type="discover"]::after {
                background-image: url("../../images/payment-types.png");
                background-size: auto;
                background-position: -95px -110px;
            }
        }
    }
}

/*------- emd address page --------*/
/*------ wishlist page ---------*/
.wishlist-page {
    display: flex;
    padding-top:40px !important;
    &__content,
    &__cards {
        flex: 2 0 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: 11.28vw;
        margin-right: 58px;
        margin-bottom: 80px;
    }

    &__empty-text {
        max-width: 350px;
        margin-left: 7.2%;
        text-align: center;
        margin-bottom: 251px;

        span {
            display: block;

            &:nth-of-type(1) {
                margin-bottom: 10px;
            }
        }

        button {
            display: block;
            max-width: 276px;
            color: $account-wishlist-button-color;
            background: $account-wishlist-button-background;
            border-radius: 25px;
            padding: 7px 10px;
            border: none;
            width: 100%;
            margin: 0 auto;
            margin-top: 52px;
        }
    }

    &__title {
        display: flex;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 22px;

        h2 {
            color: $account-title-color;
            font-size: 42px;
            line-height: 54px;
        }

        span {
            color: $account-quanty-color;
        }

        &.empty {
            margin-left: 7.2%;

            h2 {
                flex: 0 0 100%;
                max-width: 350px;
                text-align: center;

            }
        }
    }

    .product-info{
        .product-data {
            display: flex;
        }
     }

    &__card {
        display: flex;
        flex-direction: row;
        padding: 28px 16px 23px 10px;
        justify-content: space-between;
        border: none;
        border-bottom: 1px solid $account-card-body-border-color;
        margin: 0;
    }

    &__image {
        width: auto;
        max-width: 86px;
        height: auto;
        padding: 0;
        margin: 0;

        img.product-image {
            max-width: 76px;
            margin: 0;
        }
    }

    &__name {
        padding: 0;
        max-width: 216px;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
    }

    &__add {
        display: flex;

        .col-sm-12 {
            align-self: flex-end;
        }

        .select-attributes-btn, .add-to-cart {
            width: 100%;
            max-width: 200px;
            font-size: 15px;
            line-height: 26px;
            font-family: $futura-book;
            padding: 7px 0;
            text-transform: none;
            color: $account-add-button-color;
            background: $account-add-button-background;
            border: 1px solid $account-add-button-border;
            border-radius: 25px;
            display: block;
            margin: 0 auto 15px;
        }
    }

    &__price {
        text-align: right;
        padding: 0;

        .strike-through,
        .sales {
            margin: 0;
            font-size: 14px;
            line-height: 18px;
            display: block;
            font-weight: normal;
        }

        .strike-through {
            color: $account-wishlist-price-color;
        }

        .sales {
            color: $account-wishlist-price-color;
        }

        del+.sales {
            color: $account-wishlist-sale-color;
        }

        .btn {
            background: none;
            padding: 0;
            text-decoration: underline;
            text-align: right;
        }
    }
}

/*------ end wishlit ---------*/
/*------ password page --------*/
.password-page {
    display: flex;

    &__content {
        flex: 2 0 0;
        flex-wrap: wrap;
        margin-left: 11.28vw;
        margin-right: 58px;
        margin-bottom: 87px;
    }

    &__title {
        color: $account-title-color;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 32px;
    }

    &__form {
        display: flex;

        form {
            display: block;
            width: 100%;
            max-width: 308px;
        }

        .form-group {
            margin-bottom: 25px;

            &.required {
                .form-control-label {
                    &::before {
                        content: '';
                    }

                    &::after {
                        content: '*';
                    }
                }

                input {
                    border-radius: 25px;
                }
            }

            .message-password {
                font-size: 12px;
                line-height: 15px;
                color: $account-change-password-message-color;

                .first-word {
                    font-family: $futura-demi;
                }
            }
        }

        .btn {
            border-radius: 25px;
            font-size: 20px;
            line-height: 26px;
            padding: 6px 0;
        }
    }
}

/*------ end password ---------*/


// -------- Mobile --------
@media screen and (max-width: 1024px) {

    .aside-menu {
        margin-left: 0px;
        padding: 0;
        .right-content, .left-content{
           padding: 0;
        }
        .account-title h1, .blue-title h1{
            font-size: 28px;
            text-align: center;
            margin-left: 30px;
        }
    }

    //profile page
    .profile-page .aside-menu{
        margin-left: auto;
        margin-right: auto;
        .row .col-sm-6{
            padding-left: 0;
            padding-right: 0;
    }
    .interests-profile{
        flex-wrap:nowrap ;
    }
    }
    .address-page {
        min-height: 300px;
    }
    // Orders history
.orders-page{
    min-height: 350px;
    //empty
    .title h1{
        font-size: 28px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 10px;
        margin-left: 30px;
    }
    .message{
        width: 80%;
        margin-top: 25px;
    }
    .buttons-empty{
        margin-top: 9px;
        width: 100%;
        .links-categories{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 90px;
            button.add-to-fav.btn.btn-primary{
                height: 30px;
                width: 140px;
                text-align: center;
                margin: 19 30px;
                padding: 0;
            }
        }
    }
}
    /*----- address page ------*/
    .addres-empty {
        .title h1 {
            font-size: 28px;
            margin-bottom: 51px;
        }
        .message-empty p {
            font-size: 18px;
        }

        .empty-add-new {
            margin-top: 37px;
            width: 270px;
            padding: 0;

            .btn-save {
                width: 100%;
            }
        }
    }
    .payments-empty,
    .address-empty{
        min-height: 350px; 
        .title h1{
            margin-top: 10px;
            font-size: 28px;
            margin-left: 30px;
        }
       .message-empty p{
           font-size: 18px;
           width: 90%;
       }
    }

    .payments-page__content{
        margin-right: 0;
        margin-left: 0;
        .title h1{
            margin-top: 10px;
            font-size: 28px;
            text-align: center;
            color: $blue00;
        }
    }
    .add-card-page, .edit-address-page{
        &__title h1{
            font-size: 28px;
            text-align: center;
            margin-top: 10px;
            margin-left: 30px;
        }
        &__content{
            margin: 0 auto 80px;
            .number-name{
                display: flex;
                flex-direction: column;
                .form-group{
                    padding: 0;
                }
            }
        }
    }
    .address-page__title{
        text-align: center;
        font-size: 28px;
        h1.d-md-none.headerblue{
            font-size: 28px;
            text-align: center;
            margin-left: 30px;
            margin-top: 10px;
        }
    }
    .password-page__content{
        margin: 0 0 80px 0;
        .password-page__title h1{
            font-size: 28px;
            text-align: center;
            margin-top: 10px;
            width: 65%;
            margin-left: auto;
            margin-right: auto;
        }
        .password-page__form{
            justify-content: center;
        }
    }

    // wishlist mobile
    .wishlist-page {
        display: flex;
        &__title {
            margin-left: 30px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            h2 {
                color: $account-title-color;
                font-size: 28px;
                line-height: 28px;
            }
            span{
                font-size: 28px;
                line-height: 28px; 
            }
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
        }
        .product-info{
            .product-data {
                display: flex;
                flex-direction: column;
                .line-item-name.wishlist-page__name{
                    order: 1;
                }
                .product-card-price.wishlist-page__price{
                    order: 2;
                    text-align: left;
                    margin-top: 10px;
                   .wishlist-page__remove{
                       display: none;
                   }
                }
                .wishlist-page__add{
                    order: 3;
                    text-align: left;
                    margin-top: 10px;
                    margin-left: -20px;

                }
            }
         }
    }
    .home-my-account.container,
    .profile-page,
    .orders-page,
    .order-details-page,
    .payments-page,
    .address-page,
    .edit-address-page,
    .add-card-page,
    .wishlist-page {
        padding-top: 20px !important;
    }
    .confirmation-details-page{
        .menu-left-mobile{
            margin: 5px 0 0 25px;
        }
        &.container{
            padding: 0;
        }
        &__content{
            margin: 0;
        }
        &__title{
            h1{
                font-size: 28px;
                line-height: 35px;
                text-align: center;
            }
        }
        &__options{
            flex-wrap: wrap;
            a{
                margin: 29px auto 54px;
            }
        }
        &__track, &__ship, &__return{
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
        }
        &__ship{
            margin: 20px 0;
        }
        &__products-info{
            padding: 0 25px;
            .card-body{
                margin-bottom: 28px;
                thead{
                    tr{
                        display: none;
                    }
                }
                table{
                    tbody{
                        tr{
                            border-top: none;
                            border-bottom: 1px solid $orders-table-body-border;
                        }
                    }
                    td{
                        padding: 15px 0 20px;
                        &:nth-of-type(n+2){
                            display: none;
                        }
                    }
                }
                .product{
                    max-width: none;
                    .hidden-d{
                        display: block;
                        &:nth-of-type(odd){
                            padding-right: 16px;
                            text-align: right;
                        }
                    }
                    &--text{
                        flex: 0 0 calc(100% - 76px);
                        .col-lg-6{
                            flex: 0 0 50%;
                            max-width: 50%;
                            padding: 0;
                        }
                        .col-xs-4{
                            padding: 0;
                            width: 33.3333%;
                            flex: 0 0 33.3333%;
                            margin: 10px 0;
                        }
                        .product--text{
                            margin-left: 15px;
                            flex: 0 0 calc(100% - 15px);
                        }
                    }
                }
            }
        }
        &__card{
            .card{
                padding: 0 25px;
            }
        }
        &__total-purchase{
            .card-body{
                margin-bottom: 40px;
            }
        }
    }
    .tracking-return{
        .menu-left-mobile{
            margin-left: 25px;
            margin-top: 5px;
        }
        .hidden-d{
            display: block;
        }
        .hidden-m{
            display: none;
        }
        .tracking-progress-indicator{
            margin: 22px 20px;
            &-in{
                text-align: center;
            }
            .step-item{
                vertical-align: top;
                &:nth-of-type(1){
                    padding-right: 73px;
                }
                &:nth-of-type(2){
                    padding-right: 70px;
                }
                &:nth-of-type(3){
                    padding-right: 12px;
                    max-width: 104px;
                    .step-item-label{
                        line-height: 1;
                    }
                    .visually-hidden{
                        min-width: 24px;
                    }
                }
            }
        }
        &__table{
            margin-bottom: 40px;
            &.table{
                thead{
                    th{
                        &:nth-of-type(3), &:nth-of-type(5){
                            display: none;
                        }
                    }
                }
            }
            td{
                &.tracking-table{
                }
                &:nth-of-type(3), &:nth-of-type(5){
                    display: none;
                }
            }
        }
        &__footer{
            margin-bottom: 82px;
        }
    }
}
