@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "~base/account/profile";
@import "../skin/variables";


.layout-middle-aligned{

    .profile-card{
        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.1875rem;
        
            .blue-title{
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 42px/26px var(--unnamed-font-family-futura-pt);
                letter-spacing: var(--unnamed-character-spacing-0);
                color: var(--unnamed-color-0043ba);
                text-align: left;
                font: normal normal normal 42px/26px Futura PT;
                letter-spacing: 0px;
                color: #0043BA;
                opacity: 1;
            }

            .card-body input{
                    display: block;
                    width: 100%;
                    height: calc(1.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: 15px;
            }
            .card-body .checkbox {
                color:black;
                top: 623px;
                left: 983px;
                width: 16px;
                height: 16px;
                border: 1px solid var(--unnamed-color-ffffff);
                border: 1px solid #FFFFFF;
                opacity: 1;
                }
        }

    }


}

.container{
    .row .form-group .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 15px;;
    }
}

.header-blue-orders{
    width: 100%;
    font: normal normal normal 42px/26px Futura PT;
    letter-spacing: 0px;
    color: #0043BA;
    opacity: 1;
    padding: 0px 500px 0px 0px;
}


.list-group-item.active {
    color: #0043BA;
    background-color: white;
}

.list-group-item-action {
        text-align: inherit;
}

.colors-table{
    background-color: #0043BA;
    color: white;
}
a{
    color:none;
}

.list-group-item-detail.active {
    color: #0043BA;
    background-color: none;
}