.container .breadcrumb {
    border-radius: 0;
    background-color: var(--background-primary);
    border-bottom: $border-width solid var(--border-primary);
}

.breadcrumb-link {
    &--last {
        .product-breadcrumb & {
            font-weight: bold;
        }
    }
}
