@each $size in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($size) {
        .collapsible-#{$size} {
            .title {
                line-height: 2.5rem; /* 40/16 */
                @include clearfix;
            }

            .acf-icon-up-open-big {
                display: none;
            }

            .content,
            .card-body {
                display: none;
            }

            &.active {
                .acf-icon-down-open-big {
                    display: none;
                }

                .acf-icon-up-open-big {
                    display: inline-block;
                }

                .content,
                .card-body {
                    display: block;
                }
            }
        }
    }

    .container div.collapsible-#{$size} button.title {
        color: var(--text-primary);
        text-decoration: none;
        border: none;
        background-color: transparent;
        position: relative;

        &:hover {
            text-decoration: none;
        }
    }
}
