.modal {
    z-index: 1061;
}

.modal-footer {
    border-top: none;
}

.modal-background {
    background-color: var(--background-special);
    display: none;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    top: 0;
    left: 0;
}

input[placeholder] {
    text-overflow: ellipsis;
    color: var(--text-disabled);
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: var(--success-primary);
}

.shipping-discount {
    color: var(--success-primary);
}

.error-messaging {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.error-logo {
    padding: 1em 0;
    display: inline-block;
    max-width: 14.125em;
}

.error-logo-img {
    width: 100%;
}

.error-banner-picture {
    display: block;
}

.hero {
    .error-banner-title {
        position: absolute;
    }
}

.error-banner-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.error-hero {
    background-image: url("../images/storelocator.jpg");
    margin-bottom: 0.625em;
}

.error-message {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.error.continue-shopping {
    margin-bottom: 6.25em;
}

.error-unassigned-category {
    color: var(--error-primary);
}

.skip {
    position: absolute;
    left: 0;
    top: -4.2em;
    overflow: hidden;
    padding: 1em 1.5em;
    background: var(--background-primary);
    transition: all 0.2s ease-in-out;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    z-index: 10000000;
    background: var(--background-primary);
    transition: all 0.2s ease-in-out;
}

.card-header-custom {
    color: var(--text-secondary);
    font-size: 1.5rem;
    margin-bottom: 0;
}

.lock-scroll {
    position: fixed;
    height: 100%;
    overflow: hidden;
}
