@import "collapsibleItem";
@import "toastMessage";

footer {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: 15px;

    a {
        color: var(--text-primary);
    }

    h2 {
        font-size: 16px;
        color: var(--text-special-2);
        font-family: var(--font-primary);
        font-weight: bold;
        margin-bottom: 0;
        line-height: 30px;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            line-height: 44px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 14px;
            line-height: 30px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .back-to-top {
        margin: 15px 0 0;
        background-color: var(--background-primary);
        border-radius: 100%;
        padding: 5px;
        border: 1px solid var(--border-secondary);
        color: var(--text-special);
        -webkit-appearance: none;
    }

    .content {
        color: var(--text-primary);
        margin: 0;

        li {
            height: 1.875rem;
        }
    }

    .copyright,
    .postscript {
        font-size: 13px;
    }

    .copyright {
        margin-bottom: 30px;
    }

    .footer-email-signup {
        background-color: var(--background-primary);
        margin: 38px 0 30px;

        .form-control {
            height: 61px;
            background-color: var(--background-special-2);
            font-size: 15px;
            padding: 22px 20px 22px;
            border: none;
        }

        .btn {
            &.subscribe-email {
                background-color: var(--background-secondary);
                border-radius: 3px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                display: flex;
                min-width: 79px;
                margin-left: 4px;
                box-shadow: none;
                padding: 0 17px;
                z-index: 0;

                &::before {
                    color: var(--text-secondary);
                }
            }
        }
    }

    .footer-container {
        padding-top: 40px;
        padding-bottom: 18px;
    }

    .footer-copyright {
        padding-top: 26px;
        padding-bottom: 38px;

        .payment-link {
            margin-right: 20px;

            &:last-child {
                margin: 0;
            }

            @include media-breakpoint-down(xs) {
                margin-right: 5px;
            }
        }
    }

    .locate-store {
        text-decoration: none;
    }

    .social {
        margin-top: 30px;

        h2 {
            margin-top: 0;
        }

        .footer-link {
            text-decoration: none;
            padding-bottom: 15px;
        }

        img {
            width: 6%;
            margin-right: 25px;
        }

        @include clearfix;
    }

    .social-links {
        margin: 25px 0 32px;
        display: flex;

        @include clearfix;

        li {
            margin-right: 40px;

            &:last-child {
                margin: 0;
            }

            @include media-breakpoint-down(xs) {
                width: 20%;
                text-align: center;
                margin-right: 5px;
            }
        }

        .acf-icon-facebook {
            &::before {
                font-size: 25px;
            }
        }

        a {
            font-size: 30px;
            line-height: 30px;
            color: var(--text-special);

            &:hover {
                text-decoration: none;
            }

            &::before {
                width: auto;
                height: 30px;
                font-size: 30px;
            }

            @include media-breakpoint-up(lg) {
                transition: color 0.1s ease-in;
            }
        }
    }

    .store {
        @include media-breakpoint-down(xs) {
            border-bottom: 1px solid var(--border-secondary);

            .content {
                display: none;
            }

            h2 {
                @include clearfix;

                &::after {
                    float: right;
                    font-family: var(--font-primary);
                    content: "\e809";
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        font-size: 23px;

        .back-to-top {
            padding: 5px 11px;
        }

        .content {
            li {
                height: 42px;
            }
        }

        .copyright {
            font-size: 23px;
            margin-bottom: 38px;
        }

        .footer-container {
            padding-top: 56px;
            padding-bottom: 35px;
        }

        .footer-copyright {
            padding-top: 68px;
            padding-bottom: 55px;

            .payment-link {
                margin-right: 30px;

                img {
                    width: 95px;
                }
            }
        }

        .footer-email-signup {
            margin: 53px 0 30px;

            .btn {
                &.subscribe-email {
                    border-radius: 10px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    min-width: 95px;
                    margin-left: 8px;
                    padding: 0 25px;
                }
            }

            .form-control {
                font-size: 23px;
                height: 74px;
                padding: 24px;
            }
        }

        .locate-store {
            h2 {
                margin-bottom: 10px;
            }
        }

        .social {
            margin-top: 37px;

            img {
                width: 4%;
                margin-right: 29px;
            }
        }

        .social-links {
            justify-content: start;
            margin: 30px 0 50px;

            li {
                margin-right: 35px;
            }

            a {
                &::before {
                    font-size: 28px;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        font-size: 13px;

        .content {
            li {
                height: 28px;
            }
        }

        .copyright {
            font-size: 13px;
            margin-bottom: 0;
        }

        .back-to-top {
            padding: 5px 3px;
        }

        .footer-container {
            padding-top: 70px;
            padding-bottom: 114px;
        }

        .footer-copyright {
            padding-top: 22px;
            padding-bottom: 50px;

            .payment-link {
                margin-right: 17px;

                &:last-child {
                    margin: 0;
                }

                img {
                    width: 53px;
                }
            }
        }

        .footer-email-signup {
            margin: 0 0 30px;

            .acf-icon-newsletter {
                &::before {
                    font-size: 24px;
                }
            }

            .btn {
                &.subscribe-email {
                    border-radius: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    min-width: 70px;
                    margin-left: 5px;
                    padding: 0 20px;
                }
            }

            .form-control {
                font-size: 13px;
                height: 50px;
                padding: 16px;
            }

            h2 {
                margin-bottom: 17px;
            }
        }

        .menu-footer {
            &.content {
                a {
                    &:hover {
                        color: var(--text-special-2);
                        text-decoration: none;
                    }
                }
            }
        }

        .social {
            margin-top: 20px;

            img {
                width: 4%;
                margin-right: 10px;
            }
        }

        .social-links {
            li {
                margin-right: 20px;
            }

            .acf-icon-facebook,
            a {
                &::before {
                    font-size: 20px;
                }
            }
        }
    }
}

.footer-item {
    .brand {
        width: 119px;
        max-width: 119px;

        @include media-breakpoint-up(md) {
            width: 164px;
            max-width: 164px;
        }

        @include media-breakpoint-up(lg) {
            width: 114px;
            max-width: 114px;
        }
    }

    .title {
        margin-bottom: 10px;
    }
}

#consentTracking {
    .button-wrapper {
        button {
            margin: 0.5em;
            width: 80px;
            font-size: 16px;
        }
    }
}

.email-signup-message {
    @include toast-message();
}

.email-signup-alert {
    @include toast-alert();
}
