@import "menu";

$banner-padding: 0.3125em;
$menu-padding: 0.5em;
$menu-item-margin: 0.625em;

.header {
    position: relative;
    padding: 17px 0;

    @include media-breakpoint-up(md) {
        padding: 12px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 17px 0;
    }
}

.navbar-header {
    .nav-icon-heart {
        &::before {
            font-size: 26px;
            line-height: 28px;
            content: "\e802";

            @include media-breakpoint-up(md) {
                font-size: 34px;
                line-height: 36px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 23px;
            }
        }
    }

    .nav-minicart-icon {
        &::before {
            font-size: 26px;
            line-height: 28px;

            @include media-breakpoint-up(md) {
                font-size: 34px;
                line-height: 36px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 23px;
            }
        }
    }

    .navbar-toggler {
        background: url("../images/theme/menu.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 39px;
        height: 28px;

        @include media-breakpoint-up(md) {
            width: 51px;
            height: 37px;
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
    }

    .acf-icon-login {
        + .user-message {
            margin-left: 10px;

            @include media-breakpoint-up(xl) {
                margin-left: 30px;
            }
        }
    }

    .user {
        position: relative;

        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: auto;
            right: 8px;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }

        .nav {
            @include media-breakpoint-up(md) {
                flex-direction: column;
            }
        }
    }

    .nav-search-icon {
        cursor: pointer;
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            margin-right: 34px;

            &::before {
                font-size: 23px;
            }
        }
    }

    .navbar-header-link {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            color: var(--text-primary);

            .nav-icon {
                opacity: 1;
                transition: opacity 0.2s ease-in;
            }

            &:hover {
                text-decoration: none;

                .nav-icon {
                    opacity: 1;
                }
            }
        }
    }

    .login-locale-wrapper {
        .navbar-header-link {
            margin-right: 28px;

            .user-message {
                display: none;
            }
        }

        .user-logged {
            max-width: 310px;

            .user-message {
                max-width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
                color: var(--text-primary);
            }

            .navbar-header-logged-link {
                margin-right: 15px;

                &:hover {
                    text-decoration: none;
                }

                .user-message {
                    display: block;
                }
            }
        }

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            flex: 1 1 310px;

            &.login-right-aligned {
                flex: 0 0 auto;
            }
        }

        @include media-breakpoint-up(lg) {
            .navbar-header-link {
                margin-right: 20px;
            }
        }

        @include media-breakpoint-up(xl) {
            .navbar-header-link {
                margin-right: 34px;
            }

            .user-message {
                margin-left: 7px;
            }
        }
    }

    .nav-search-desktop {
        display: none;
    }

    &.nav-search-expanded {
        .main-menu {
            margin-right: 10px;
        }

        .navbar.bg-inverse {
            .nav-item {
                margin-right: 15px;
            }
        }

        .nav-search-desktop {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        .nav-search-icon {
            display: none;
        }
    }
}

.brand {
    width: 95px;
    max-width: 95px;

    @include media-breakpoint-up(md) {
        width: 111px;
        max-width: 111px;
    }

    @include media-breakpoint-up(lg) {
        width: 114px;
        max-width: 114px;
    }
}

.main-menu {
    background-color: var(--background-primary);
}

.header-banner {
    font-family: var(--font-primary);
    background-color: var(--background-secondary);

    .close {
        color: var(--text-secondary);
    }

    .html-slot-container {
        * {
            margin: 5px 0;
            color: var(--text-secondary);
        }
    }
}

.navbar .close-menu button,
.navbar .close-button button {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;

    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

.minicart {
    margin-top: 0.1875em; /* 3/16 */
    vertical-align: top;

    &:hover {
        .minicart-icon {
            @include media-breakpoint-up(lg) {
                filter: brightness(85%);
            }
        }
    }

    .minicart-icon {
        font-size: 1.5em;

        @include media-breakpoint-up(lg) {
            transition: filter 0.2s ease-in;
        }
    }

    a.minicart-link {
        color: var(--text-primary);

        &:hover {
            text-decoration: none;
        }
    }

    .minicart-quantity {
        background-color: var(--background-secondary);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        font-size: 9px;
        position: absolute;
        top: -3px;
        right: -12px;
        color: var(--text-secondary);
    }
}

a.normal {
    color: var(--text-primary);
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 100px;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.country-selector {
    margin-bottom: 20px;

    .dropdown-toggle {
        display: block;
        position: relative;
        width: 100%;
    }

    .dropdown-menu {
        right: 0;
    }
}

.dropdown-country-selector {
    margin-top: -0.0625em;
}

.mobile-dropdown-country-selector {
    height: 100%;

    .top-category {
        display: none;
    }

    .dropdown-item {
        font-family: var(--font-primary);
        color: var(--text-primary);
        font-size: 16px;
        line-height: 56px;
        padding: 0 20px;
        background-color: var(--background-primary);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-shadow: none;
        transition: transform 0.4s;
    }
}

.cookie-warning-messaging.cookie-warning {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    display: none;
}

.valid-cookie-warning {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    white-space: nowrap;

    p {
        margin-top: 0;
        margin-bottom: 0.2em;
        padding-right: 2em;
    }
}

.site-navigation {
    &.affix {
        background: var(--background-primary);
    }
}
