@import "../variables";
@import "../utilities/swatch";

.site-search {
    position: relative;

    @include media-breakpoint-up(lg) {
        width: 180px;
        margin-right: 15px;
    }

    @include media-breakpoint-up(xl) {
        width: 230px;
        margin-right: 20px;
    }

    .fa-close,
    .header-search {
        position: absolute;
        border: none;
        background: none;
        top: 4px;
        right: 14px;
        padding: 0;
        background-color: transparent;
        height: 25px;
    }

    .header-search {
        top: 50%;
        transform: translateY(-50%);

        &.acf-icon-search {
            &::before {
                font-size: 25px;
                line-height: 25px;

                @include media-breakpoint-up(lg) {
                    font-size: 23px;
                }
            }
        }
    }

    .reset-button {
        position: absolute;
        background: none;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        right: 35px;
        padding: 0;
        background-color: transparent;
    }

    form {
        position: relative;
        margin-bottom: 0;
    }

    input {
        padding: 11px 40px 10px 14px;
        font-size: 18px;
        height: auto;
        border-color: var(--border-special);
        border-radius: 0;

        @include media-breakpoint-up(md) {
            font-size: 23px;
            padding: 14px 40px 13px 17px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 15px;
            padding: 8px 40px 8px 17px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .header-search {
        .site-search {
            display: none;
        }
    }
}

.suggestions-wrapper {
    position: relative;
}

.suggestions-list {
    width: 95%;
}

.suggestions {
    display: flex;
    position: absolute;
    border: 1px solid var(--border-primary);
    background-color: var(--background-primary);
    top: 0 !important;
    right: 0;
    z-index: 11;
    height: auto;

    @include media-breakpoint-up(lg) {
        display: block;
        position: absolute;
        width: 21.875rem;
        margin: 0;
    }

    .swatch-circle {
        @include swatch(2.5em, var(--text-primary));
    }

    .header {
        color: var(--text-primary);
        font-size: 0.875em;
        padding-top: 0.625em;
        padding-bottom: 0.625em;

        &:not(:first-child) {
            border-top: 1px solid var(--border-primary);
        }
    }

    .items {
        padding: 0.313em 0;
    }

    .item {
        padding-bottom: 0.625em;

        .name {
            display: inline-block;
            max-width: 100%;
            margin-top: 0.313em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @include media-breakpoint-down(xs) {
            padding-bottom: 0.938em;
        }
    }

    .category-parent {
        color: var(--text-primary);
        font-size: 0.875em;
    }

    .selected {
        background-color: var(--background-primary);
    }

    .container {
        list-style-type: none;
    }
}

.more-below {
    -moz-border-radius: 1.25em;
    background: var(--border-primary);
    border: 0.063em solid rgba(0, 0, 0, 0.1);
    border-radius: 1.25em;
    bottom: 1.875em;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    display: none;
    height: 2.5em;
    position: fixed;
    right: 1.875em;
    width: 2.5em;

    i.fa-long-arrow-down {
        border-radius: 50%;
        color: var(--text-primary);
        display: table-caption;
        height: 0.75em;
        font-size: 1.5rem;
        left: 0.57em;
        line-height: 0.8em;
        position: absolute;
        top: 0.4em;
        width: 0.8em;
    }
}
