$breakpoint-name: "md";
$breakpoint-index: index(map-keys($grid-breakpoints), $breakpoint-name);
$prev-breakpoint: nth(map-keys($grid-breakpoints), $breakpoint-index - 1);
$next-breakpoint: nth(map-keys($grid-breakpoints), $breakpoint-index + 1);

$slide-out-animation: left 0.5s cubic-bezier(0, 1, 0.5, 1);

@mixin caret-left() {
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-left: 0.3 solid transparent;
    width: 0;
    height: 0;
    display: inline-block;
    margin-bottom: 0.125em;
}

@mixin caret-right() {
    background: url("../images/theme/next.svg") no-repeat;
    width: 13px;
    height: 21px;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border: none;
}

@mixin arrow-down() {
    background: url("../images/theme/down-arrow.svg") no-repeat;
    width: 11px;
    height: 11px;
    background-size: contain;
    outline: none;
    position: absolute;
    top: 44%;
    transform: rotate(90deg);
    right: -7px;
    border: none;
}

@each $size in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($size) {
        .menu-toggleable-left.navbar-toggleable-#{$size} {
            position: fixed;
            left: -100%;
            top: 0;
            bottom: 0;
            transition: $slide-out-animation;
            display: block;
            max-width: 100%;

            &.in {
                min-width: 85%;
                left: 0;
            }
        }
    }
}

.navbar.bg-inverse {
    background-color: transparent !important;
    padding: 0;
    display: block;

    .nav-item.show {
        @include media-breakpoint-up($next-breakpoint) {
            > .dropdown-menu.show {
                display: flex;
                flex-wrap: nowrap;
                padding: 40px 66px 15px;
                right: 0;
                left: auto;
                transform: translate(65%, 8px);
                z-index: 1030;

                &::before {
                    content: "";
                    margin: auto;
                    position: absolute;
                    display: block;
                    right: 64%;
                    bottom: calc(100% - 8px);
                    width: 16px;
                    height: 16px;
                    transform: rotate(45deg);
                    border: 1px solid;
                    border-color: var(--border-primary) transparent transparent var(--border-primary);
                    background-color: var(--background-primary);
                }

                > .dropdown-item {
                    flex: 1 1 auto;

                    > .dropdown-link {
                        color: var(--text-special);
                        font-weight: bold;
                        font-size: 18px;
                        padding: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up($next-breakpoint) {
        .navbar-nav .nav-item + .nav-item {
            margin-left: 0;
        }

        .nav-item {
            margin-right: 25px;
            display: flex;
            align-items: center;

            &:nth-last-child(2) {
                margin-right: 0;
            }
        }

        .navbar-nav .nav-link {
            color: var(--text-primary);
            white-space: nowrap;
            font-size: 15px;
            max-width: 135px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: 100%;
            padding: 20px 8px 20px 0;

            &::after {
                @include arrow-down();
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .nav-item {
            margin-right: 45px;
        }

        .navbar-nav .nav-link {
            max-width: 135px;
            font-size: 15px;
            padding: 20px 7px 20px 0;
        }
    }

    .search-mobile {
        padding: 37px 15px;

        @include media-breakpoint-up(md) {
            padding: 44px 15px 37px;
        }
    }
}

.main-menu .nav-item .nav-link:hover,
.main-menu .nav-item .nav-link:focus,
.main-menu .nav-item.show .nav-link {
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.acf-icon-login {
    &::before {
        font-size: 26px;
        line-height: 26px;

        @include media-breakpoint-up(md) {
            font-size: 30px;
            line-height: 30px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 23px;
        }
    }
}

@include media-breakpoint-up($next-breakpoint) {
    .main-menu {
        .nav-item {
            &.show {
                &:hover {
                    .nav-link {
                        &::after {
                            transform: rotate(-90deg);
                            top: 35%;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up($next-breakpoint) {
    .main-menu .nav-item > .nav-link {
        color: var(--text-primary);
    }
}

.main-menu.menu-toggleable-left {
    @include media-breakpoint-down($breakpoint-name) {
        background-color: var(--background-primary);
        z-index: 1052;
        max-height: 100vh;
        overflow: scroll;
    }
}

.menu-toggleable-left {
    .close-menu {
        padding: 22px 15px 16px;
        background-color: var(--background-primary);
        display: flex;
        justify-content: space-between;
        flex: 0 0 100%;
        text-align: right;

        @include media-breakpoint-up($next-breakpoint) {
            display: none;
        }
    }

    .menu-group {
        flex: 0 0 100%;
    }

    li > .close-menu {
        margin-right: 0;
        margin-top: -0.6rem;
        margin-left: 0;
    }

    @include media-breakpoint-down($breakpoint-name) {
        .bg-inverse {
            background-color: transparent;
            color: var(--text-secondary);
        }
    }

    &.in {
        @include media-breakpoint-down($breakpoint-name) {
            .nav-item + .nav-item {
                border-top: 2px solid var(--border-special-2);
            }

            .dropdown {
                display: block;
                position: static;
            }

            .dropdown-toggle {
                padding-left: 1rem;

                &::after {
                    @include caret-right();

                    @include media-breakpoint-up(md) {
                        right: 27px;
                    }
                }
            }

            .nav-item .nav-link {
                padding: 24px 27px 24px 36px;
                color: var(--text-primary);
                font-size: 30px;
                position: relative;

                .acf-icon-user {
                    margin-left: -4px;
                }
            }

            .show > .dropdown-menu {
                left: 0;
            }

            .dropdown-menu {
                position: absolute;
                left: -100%;
                top: 0;
                width: 100%;
                height: 100vh;
                border: 0 none;
                transition: $slide-out-animation;
                display: block;
                background-color: var(--background-primary);
            }
        }

        @include media-breakpoint-down($prev-breakpoint) {
            right: 0;
            margin-right: 27px;

            .nav-item .nav-link {
                padding: 27px 20px 25px;
                font-size: 26px;
            }
        }
    }
}

.multilevel-dropdown {
    .dropdown-menu {
        top: 90%;
        border: 0;
        border-radius: 0;

        @include media-breakpoint-up($next-breakpoint) {
            top: 80%;
            box-shadow: 0 3px 5px rgba(43, 36, 25, 0.4);
            border: 1px solid var(--border-primary);
        }

        > .dropdown {
            > .dropdown-menu {
                @include media-breakpoint-up($next-breakpoint) {
                    top: 0;
                    position: relative;
                    flex-direction: column;
                    box-shadow: none;
                    border: none;
                    display: block;
                    padding: 0;

                    > .dropdown-item {
                        > .dropdown-link {
                            padding-bottom: 0;

                            &:hover {
                                color: var(--text-special-2);
                            }
                        }
                    }
                }
            }
        }
    }

    .dropdown-item.dropdown {
        > .dropdown-toggle {
            &::after {
                @include caret-right();

                @include media-breakpoint-up(md) {
                    right: 27px;
                }

                @include media-breakpoint-up($next-breakpoint) {
                    display: none;
                }
            }
        }
    }

    .navbar > .close-menu {
        justify-content: flex-end;

        > .back {
            display: none;
        }
    }

    .close-menu .back {
        background: url("../images/theme/left-arrow.svg") no-repeat;
        width: 32px;
        height: 29px;
        background-size: cover;
        outline: none;
    }

    .nav-close-button {
        background: url("../images/theme/close.svg") no-repeat;
        width: 29px;
        height: 29px;
        background-size: cover;
        outline: none;
    }

    .dropdown-item {
        padding: 0;

        .dropdown-link {
            display: block;
            padding: 22px 20px;
            color: var(--text-primary);
            font-size: 26px;
            position: relative;
            text-decoration: none;

            @include media-breakpoint-up($breakpoint-name) {
                padding: 24px 27px 24px 36px;
                font-size: 30px;
            }

            @include media-breakpoint-up($next-breakpoint) {
                font-size: 14px;
                margin-right: 20px;
                padding: 0 0 15px;
                min-width: 120px;
                max-width: 165px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                line-height: 28px;
            }
        }

        + .dropdown-item {
            border-top: 2px solid var(--border-special-2);

            @include media-breakpoint-up($next-breakpoint) {
                border: none;
            }

            &:active {
                background-color: transparent;
            }
        }

        &.top-category {
            .nav-link,
            .dropdown-link {
                color: var(--text-special);
            }
        }

        &:last-child {
            border-bottom: 2px solid var(--border-special-2);

            @include media-breakpoint-up($next-breakpoint) {
                border: none;
            }
        }

        @include media-breakpoint-up($next-breakpoint) {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
