.notify {
    position: fixed;
    top: 0;
}

.tracking-consent a {
    color: var(--text-secondary);
    text-decoration: underline;
    cursor: pointer;
}

.alert-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
