@import "../variables";

.price {
    color: var(--text-primary);

    .strike-through {
        text-decoration: line-through;
        margin-right: 0.938rem;
    }

    .starting,
    .range,
    .sales {
        font-weight: bold;
    }

    del + .sales {
        color: var(--error-primary);
    }

    .tiered {
        color: var(--text-secondary);

        table {
            border-top: 1px solid var(--border-primary);
            margin: 0 auto;

            tr {
                &:nth-child(odd) {
                    background-color: var(--background-primary);
                }
            }
        }

        td,
        span.price {
            font-size: 0.875rem;
            font-weight: bold;
        }

        td {
            padding: 0.313rem;

            &.quantity {
                font-weight: normal;
                text-align: right;
            }

            &.value {
                text-align: left;
            }
        }

        .table-header {
            font-size: 1.125rem;
            padding: 0.313rem;
        }

        .column-header {
            font-size: 1rem;
            padding: 0.313rem;
            font-weight: normal;
        }

        .column-header.quantity {
            text-align: right;
        }
    }
}
