@import "toastMessage";

.attribute {
    color: var(--text-primary);

    &.quantity {
        margin: 15px 0 15px;

        @include media-breakpoint-up(md) {
            margin: 25px 0 22px;
        }

        @include media-breakpoint-up(lg) {
            margin: 25px 0 15px;
        }
    }

    label,
    .color {
        display: block;
        font-weight: bold;
        color: var(--text-special);
        line-height: 24px;
    }

    .quantity-select {
        height: 39px;
        line-height: 37px;
        width: 65px;
        font-size: 17px;
        text-align: center;
        border: 0;
        border-bottom: 1px solid;
        border-top: 1px solid;
        border-color: var(--border-primary);

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type="number"] {
            -moz-appearance: textfield;
        }

        @include media-breakpoint-up(md) {
            height: 31px;
            line-height: 29px;
            width: 59px;
            font-size: 14px;
        }

        @include media-breakpoint-up(lg) {
            width: 46px;
            height: 28px;
            font-size: 13px;
            line-height: 26px;
        }
    }

    .quantity-button {
        border: 1px solid var(--border-primary);
        cursor: pointer;
        line-height: 37px;
        padding: 0 5px;

        &::before {
            font-weight: bold;
            color: var(--text-special);
        }

        @include media-breakpoint-up(md) {
            line-height: 29px;
        }

        @include media-breakpoint-up(lg) {
            line-height: 26px;
        }
    }
}

.swatch a {
    text-decoration: none;
}

.primary-images {
    @include media-breakpoint-down(xs) {
        margin: 0;
        padding: 0;
    }
}

.prices-add-to-cart-actions {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 50;
    padding-right: 0;
    padding-left: 0;
    left: 0;

    @include media-breakpoint-down(xs) {
        width: 2rem;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    @include media-breakpoint-up(md) {
        position: static;
        padding: 0 0.9375em;
    }

    .price {
        text-align: center;
    }

    .add-to-cart,
    .add-to-cart-global {
        width: 100%;
        background-color: var(--background-secondary);
        box-shadow: none;
        height: 100%;
    }

    .pdp-wishlist-cta {
        .product-quickview & {
            text-align: center;
        }

        color: var(--text-special);

        @include media-breakpoint-up(md) {
            box-shadow: none;
            text-align: start;
            padding: 0;

            .acf-icon-heart-empty,
            .acf-icon-heart {
                &::before {
                    font-size: 21px;
                    margin-right: 9px;
                }
            }
        }

        &.btn {
            &:not(:disabled):not(.disabled) {
                &:active,
                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }

    .add-to-cart,
    .pdp-wishlist-cta {
        font-size: 14px;
        font-weight: bold;
        line-height: 61px;

        @include media-breakpoint-up(md) {
            line-height: 48px;
            font-size: 20px;
        }

        @include media-breakpoint-up(lg) {
            line-height: 52px;
            font-size: 14px;
        }
    }
}

.prices {
    text-align: left;
}

.cart-and-ipay {
    @include media-breakpoint-only(xs) {
        .btn {
            width: 98%;
            margin: 1%;
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-right: 28px;
    }
}

.add-to-cart-messages {
    @include toast-message();
}

.add-to-basket-alert {
    @include toast-alert();

    &.alert-success {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.simple-quantity {
    margin-top: 1em;
}

.main-attributes {
    margin-top: 1em;
}

.size-chart {
    margin-top: 1.071em;
}

div.availability {
    color: var(--text-primary);
    margin-top: 29px;
    line-height: 14px;

    .availability-msg {
        margin-bottom: 10px;
        margin-left: 5px;
        color: var(--success-primary);
    }

    .not-available {
        color: var(--error-primary);
    }
}

.bundle-item {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border-primary);

    &:last-child {
        border-bottom: none;
    }
}

.container.product-detail {
    margin-top: 59px;
    margin-bottom: 2em;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        margin-top: 89px;
    }

    @include media-breakpoint-only(xs) {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.product-set-detail {
        margin-top: 0;

        @include media-breakpoint-up(md) {
            margin-top: 44px;
        }
    }

    &.bundle-item {
        margin-top: 1em;
        padding-bottom: 2em;
    }

    &.set-item {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        .add-to-cart {
            @include media-breakpoint-up(md) {
                font-size: 21px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }
        }

        div.availability {
            margin-top: 0;
        }

        .availability-msg {
            p {
                margin: 0;
            }
        }
    }
}

.product-option:not(:first-child) {
    margin-top: 1.071em;
}
