@import "../utilities/swatch";
@import "productCommon";
@import "quickView";

.primary-images {
    .carousel {
        img {
            width: 100%;
            height: 100%;
        }
    }

    img {
        cursor: pointer;
    }

    .thumbnails {
        list-style: none;
        margin-right: 20px;

        li {
            list-style: none;
        }

        img {
            max-width: 80px;
        }
    }

    .main-image-wrapper {
        @include media-breakpoint-up(xl) {
            max-width: 470px;
        }
    }

    .pdp-image-carousel {
        .nav-image {
            position: relative;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &.nav-image-slide {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    background-color: var(--background-special);
                    z-index: 1;
                }

                &.glide__slide--active {
                    &::before {
                        content: "";
                        display: none;
                    }
                }
            }
        }

        .mobile-thumbnails-hidden {
            visibility: hidden;
        }

        .mobile-thumbnails {
            &.single-image {
                display: none;
            }
        }
    }
}

.product-tile {
    font-family: var(--font-primary);
    border: 0;
    margin-bottom: 0;

    .tile-body {
        padding: 8px 0 0;

        .color-swatches {
            min-height: 2.25em;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 10px;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 14px;
                }
            }
        }

        .price {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: bold;
            color: var(--text-primary);

            @include media-breakpoint-up(md) {
                font-size: 23px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }

            .tiered {
                font-size: 0.875em;

                .value {
                    font-weight: bold;
                }
            }
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            line-height: 1.2;

            a {
                font-size: 10px;
                text-decoration: none;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }

                @include media-breakpoint-up(sm) {
                    font-size: 16px;
                }
            }
        }

        .ratings {
            font-size: 0.9em;
        }

        .tile-body-footer {
            .yotpo {
                .text-m {
                    display: none;
                }
            }
        }

        @include media-breakpoint-up(md) {
            padding: 16px 0 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 17px 0 0;
        }
    }

    .image-container {
        position: relative;
        overflow: auto;

        .wishlist-cta {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: var(--background-primary);
            color: var(--text-primary);
            border-width: 0;
            border-radius: 100%;
            padding: 5px;

            &:hover {
                color: var(--text-special);
            }
        }

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            background-color: var(--background-primary);
            color: var(--text-primary);
            border-radius: 100%;
            padding: 5px;

            &:hover {
                color: var(--text-special);
            }
        }

        a {
            display: block;
            overflow: hidden;

            .tile-image {
                width: 100%;
            }
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    .swatch-circle {
        // var(--text-primary) will be replaced by color image background via Javascript
        @include swatch(1.8em, var(--text-primary));
    }

    .tile-image {
        transition: transform 1s;
    }

    &:hover {
        .tile-image {
            transform: scale(1.04);
        }
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .modal-header {
        padding: 14px 16px 20px 31px;
    }

    .primary-images {
        padding: 0;
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity {
        margin: 15px 0 0;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
        background-color: var(--background-secondary);
    }

    .selected-pid {
        border: 1px solid var(--border-primary);
        padding: 10px;
        justify-content: space-between;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
        }

        .acf-icon-close {
            cursor: pointer;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }

    .bonus-summary {
        &.alert-danger {
            color: var(--text-primary);
            border-color: transparent;
            background-color: transparent;
        }
    }
}
