@import "../utilities/swatch";
@import "productCommon";
@import "../product/detail.scss";

.quick-view-dialog,
.choose-bonus-product-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    max-width: 1200px;
    font-size: 18px;

    &::before {
        display: block;
        height: calc(100vh - 1rem);
        content: "";
    }

    @include media-breakpoint-up(sm) {
        min-height: calc(100% - 3.5rem);

        &::before {
            height: calc(100vh - 3.5rem);
        }
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }

    .add-to-cart-global {
        font-weight: bold;
        padding: 0 18px;
        line-height: 48px;
    }

    .product-quickview {
        padding: 0 16px 50px;

        @include media-breakpoint-up(lg) {
            padding: 0 16px 75px;
        }

        &.product-set {
            @include media-breakpoint-up(lg) {
                padding-bottom: 10px;
            }
        }
    }

    .full-pdp-link {
        color: var(--text-primary);
    }

    .cart-and-ipay {
        @include media-breakpoint-up(lg) {
            margin-right: 12px;
        }
    }

    .primary-images {
        flex-direction: column !important;

        .thumbnails {
            display: none !important;
        }

        .pdp-image-carousel {
            display: block !important;
            margin-top: 11px !important;

            .nav-image {
                position: relative;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &.nav-image-slide {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.5;
                        background-color: var(--background-special);
                        z-index: 1;
                    }

                    &.glide__slide--active {
                        &::before {
                            content: "";
                            display: none;
                        }
                    }
                }
            }

            .mobile-thumbnails-hidden {
                visibility: hidden;
            }

            .mobile-thumbnails {
                &.single-image {
                    display: none;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 0 50px;

            .main-image-wrapper {
                max-width: 100%;

                &.bundle {
                    max-width: 200px;
                    margin: 0 auto;
                }
            }
        }
    }

    .modal-close-button {
        background: url("../images/theme/close.svg") no-repeat;
        width: 29px;
        height: 29px;
        background-size: cover;
        outline: none;
    }

    .selectable-bonus-product-line-item {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .beenSelected {
        background-color: var(--background-primary);
    }

    .modal-header {
        background-color: var(--background-primary);
        border: none;
        padding: 12px 16px 7px 32px;
        align-items: center;
        line-height: 19px;

        .close {
            &:focus {
                outline: 0;
            }

            &::before {
                font-size: 19px;
                width: auto;

                @include media-breakpoint-up(lg) {
                    font-size: 29px;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            line-height: 29px;
            padding: 14px 16px 20px 66px;
        }
    }

    .modal-title {
        font-size: 1em;
    }

    .attribute {
        &.quantity {
            margin: 31px 0 44px;
            padding-bottom: 10px;

            @include media-breakpoint-up(lg) {
                margin: 27px 0 40px;
            }
        }
    }

    a[disabled] .swatch-circle {
        cursor: not-allowed;

        &.color-value.selected::after {
            background-color: $gray-700;
        }
    }

    .availablity-container {
        text-align: right;
    }

    .availablity-container,
    .size-chart {
        margin-top: 0.938em;
    }

    .modal-content {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .modal-body {
        overflow-y: auto;
    }

    button.close {
        font-size: 1.25em;
    }

    .promotions {
        text-align: left;

        .title-text {
            color: var(--error-primary);
        }
    }

    .product-bundle-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 295px;
    }

    .bonus-summary {
        font-size: 14px;

        .bonus-product-name {
            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    }

    .pre-cart-products {
        margin-right: 0.125em;
    }

    .product-name {
        margin: 0 0 14px;
    }

    .product-desctiption {
        margin: 17px 0 25px;

        @include media-breakpoint-up(lg) {
            margin: 8px 0 20px;
        }
    }

    .color-attribute {
        border: none;
        padding: 0;
        background: none;
    }

    .non-input-label {
        display: block;
        margin-bottom: 0.5rem;
    }

    .social-container {
        @include media-breakpoint-up(lg) {
            margin: 16px 0 0;
        }
    }
}

.choose-bonus-product-dialog {
    max-width: 800px;
}
