.xzoom-source,
.xzoom-preview,
.xzoom-lens {
    img {
        display: block;
        max-width: none;
        max-height: none;
        transition: none;
    }
}

.xzoom-container {
    display: inline-block;
}

.xzoom-thumbs {
    margin-bottom: 10px;
    text-align: center;
}

.xzoom {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.xzoom-gallery {
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--border-primary);
}

.xzoom-source,
.xzoom-hidden {
    position: static;
    display: block;
    float: none;
    clear: both;
}

.xzoom-hidden {
    overflow: hidden;
}

.xzoom-preview {
    border: 1px solid var(--border-primary);
    background: var(--background-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.xzoom-lens {
    border: 1px solid var(--border-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: crosshair;
}

.xzoom-loading {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: no-repeat url(../../images/xloading.gif) center;
    opacity: 0.7;
}

.xactive {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-primary);
}

.xzoom-caption {
    position: absolute;
    bottom: -43px;
    left: 0;
    width: 100%;
    background: var(--background-secondary);
    text-align: left;
}

.xzoom-source,
.xzoom-hidden,
.xzoom-preview {
    z-index: 1050;
}
