@import "../variables";
@import "bootstrap/scss/mixins/breakpoints";

.page-breadcrumbs {
    width: 100%;
    background-color: var(--background-special-2);
    line-height: 40px;
    min-height: 56px;
    display: flex;
    align-items: center;

    &--bottom-margin {
        margin-bottom: 30px;
    }
}

.page-breadcrumbs__link {
    font: 18px var(--font-primary);

    &.active {
        color: var(--text-special-2);
    }

    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
}

.experience-assets-breadcrumb {
    display: inline;
}
