@charset "UTF-8";
@font-face {
  font-family: FuturaPTDemi;
  src: url(../../fonts/FuturaPTDemi.otf)
}
@font-face {
  font-family: FuturaPTBook;
  src: url(../../fonts/FuturaPTBook.otf)
}
@font-face {
  font-family: FuturaPTMedium;
  src: url(../../fonts/FuturaPTMedium.otf)
}

.contacto{
line-height: 1.5;
font-family: FuturaPTBook,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
font-weight: 400;
color: rgba(0,0,0,.87); font-size:14px
}

.contacto-title{
    font-size: 15px; font-family: FuturaPTDemi;
    color: #0043ba;
    text-align: center;
    width: 100%;
}

.contacto-descripcion{
    font-size: 15px; line-height: 1.5;
    font-family: FuturaPTBook,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

.menu-footer{
    font-family: FuturaPTBook;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero-canda {
    background: url(../../images/help/help-header.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tabs-wrapper {
    position: relative;
}
.tabs-wrapper > ul {
    margin-top: -40px;
}
.tabs-wrapper > ul > .nav-item {
    background-color: #fff;
    padding: 5px ;
}
.tabs-wrapper > ul > .nav-item > .nav-link{
    color: #000;
}
.text-shadow {
    text-shadow: 1px 1px 6px #000;
}
