@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-center h2 {
  font-size: 42px; }

.custom-mainbanner-one-onerow-twocol.homepage .mainbanner-image {
  max-height: 419px; }

.custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-center p {
  font-size: 30px;
  line-height: 61px; }
  .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-center p a {
    display: block;
    max-width: 187px;
    margin: 19px 0;
    padding: 7px 15px;
    text-align: center; }
    .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-center p a:nth-of-type(1) {
      display: none; }

.custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-center .link-large {
  font-size: 20px;
  line-height: 26px; }

.custom-mainbanner-one-onerow-twocol.homepage .region {
  margin-bottom: 0; }

.custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(1) {
  padding: 0 5px 0 0; }
  .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(1) .col-12 {
    padding: 0 5px 0 0; }

.custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(2) {
  padding: 0 0 0 5px; }
  .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
    padding: 0 0 0 5px; }

.custom-mainbanner-one-onerow-twocol.homepage.text-content {
  margin-bottom: 0; }

.custom-mainbanner-midsize.homepage .mainbanner-image {
  height: 25.38vw; }
  @media (max-width: 575.98px) {
    .custom-mainbanner-midsize.homepage .mainbanner-image {
      height: 75vw; } }

.custom-mainbanner-midsize.homepage .row .col-12 {
  padding: 0; }

.custom-mainbanner-midsize.homepage .region {
  margin: 0; }

.custom-mainbanner-midsize.homepage .image-heading-container {
  bottom: 2.5vw; }

.custom-mainbanner-midsize.homepage .link-large {
  margin-bottom: 0; }

.custom-mainbanner-two-onerow-twocol.homepage .mainbanner-image {
  height: 29.22vw; }
  @media (max-width: 575.98px) {
    .custom-mainbanner-two-onerow-twocol.homepage .mainbanner-image {
      height: 75vw; } }

.custom-mainbanner-two-onerow-twocol.homepage .text-center h2 {
  font-size: 42px;
  line-height: 61px; }

.custom-mainbanner-two-onerow-twocol.homepage .image-heading-container {
  bottom: 3.5vw; }

.custom-mainbanner-two-onerow-twocol.homepage .link-large {
  margin-bottom: 0; }

.custom-mainbanner-two-onerow-twocol.homepage .region {
  margin-bottom: 0; }

.custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) {
  padding: 0 5px 0 0; }
  .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) .col-12 {
    padding: 0 5px 0 0; }

.custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) {
  padding: 0 0 0 5px; }
  .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
    padding: 0 0 0 5px; }

.custom-mainbanner-two-onerow-twocol.homepage.left-big, .custom-mainbanner-two-onerow-twocol.homepage.right-big {
  margin-bottom: 0; }
  .custom-mainbanner-two-onerow-twocol.homepage.left-big .region, .custom-mainbanner-two-onerow-twocol.homepage.right-big .region {
    padding-bottom: 20px; }

.custom-mainbanner-three-onerow-twocol.homepage .mainbanner-image {
  height: 12.67vw; }
  @media (max-width: 575.98px) {
    .custom-mainbanner-three-onerow-twocol.homepage .mainbanner-image {
      height: 75vw; } }

.custom-mainbanner-three-onerow-twocol.homepage .image-heading-container {
  bottom: 0; }
  .custom-mainbanner-three-onerow-twocol.homepage .image-heading-container .link-large {
    margin-bottom: 2vw; }

.custom-mainbanner-three-onerow-twocol.homepage .text-center h2 {
  font-size: 42px;
  line-height: 61px; }

.custom-mainbanner-three-onerow-twocol.homepage .region {
  margin-bottom: 0; }

.custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) {
  padding: 0 5px 0 0; }
  .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) .col-12 {
    padding: 0 5px 0 0; }

.custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) {
  padding: 0 0 0 5px; }
  .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
    padding: 0 0 0 5px; }

.custom-mainbanner-three-onerow-twocol.homepage.left-big, .custom-mainbanner-three-onerow-twocol.homepage.right-big {
  margin-bottom: 0; }
  .custom-mainbanner-three-onerow-twocol.homepage.left-big .region, .custom-mainbanner-three-onerow-twocol.homepage.right-big .region {
    padding-bottom: 20px; }

.custom-text-one-onerow-twocol.homepage {
  background: #E1E1E1;
  color: #6B6B6B;
  font-size: 14px;
  line-height: 16px;
  margin-top: 40px;
  padding: 92px 117px;
  width: 100vw;
  margin-left: -55px; }
  .custom-text-one-onerow-twocol.homepage .col-12 {
    padding: 0 12px; }
  .custom-text-one-onerow-twocol.homepage h1 {
    font-size: 14px;
    text-transform: uppercase; }
  .custom-text-one-onerow-twocol.homepage p {
    font-size: 12px; }
  @media (min-width: 1367px) {
    .custom-text-one-onerow-twocol.homepage {
      margin-left: calc(-63px + (1383px - 100vw)/2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100vw; }
      .custom-text-one-onerow-twocol.homepage .row.mx-n2 {
        max-width: 1311px; } }
  @media (max-width: 992px) {
    .custom-text-one-onerow-twocol.homepage {
      width: 100vw;
      margin-left: -25px; } }
  .custom-text-one-onerow-twocol.homepage.text-content {
    margin-bottom: 0; }

.static-content-text.homepage {
  padding-bottom: 204px;
  padding-top: 40px; }
  .static-content-text.homepage h2 {
    color: #0043BA; }
  .static-content-text.homepage p {
    font-size: 18px;
    text-align: left;
    color: #000000; }
  .static-content-text.homepage h4 {
    font-size: 24px;
    color: #0043BA; }

.about-us-first-second {
  padding-top: 50px;
  padding-bottom: 104px; }
  .about-us-first-second h4 {
    color: #0043BA; }
  .about-us-first-second p {
    font: var(--unnamed-font-style-normal) normal medium 24px/31px var(--unnamed-font-family-futura-pt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6b6b6b);
    text-align: left;
    font: normal normal medium 24px/31px Futura PT;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1; }
  .about-us-first-second .photo-tile-image {
    width: auto;
    height: 579px;
    position: absolute;
    right: 55px; }

.about-us-secound-section {
  width: 100vw;
  margin: 0 -55px;
  background-color: #F5F5F5;
  padding: 104px 55px; }
  .about-us-secound-section h4 {
    text-align: right;
    color: #0043BA; }
  .about-us-secound-section p {
    text-align: right;
    top: 50px;
    font: normal normal medium 24px/31px Futura PT;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-futura-pt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    letter-spacing: 0px;
    color: #000000;
    padding-left: 15%; }
  .about-us-secound-section .common-image-component {
    width: auto;
    height: 579px;
    margin-left: 59px; }

.values-section {
  padding: 3%; }
  .values-section h4 {
    font-size: 42px;
    text-align: center;
    color: #0043BA;
    padding-bottom: 3%; }
  .values-section p {
    font-size: 24;
    color: #000000;
    line-height: 7px; }

.cya-abuot-us-crystal-logo {
  width: 100vw;
  margin: 0 -55px; }
  .cya-abuot-us-crystal-logo .region.col-12 {
    padding: 0px; }
    .cya-abuot-us-crystal-logo .region.col-12 .col-12 {
      padding: 0px; }

.title-history-section strong {
  font-size: 60px;
  top: 10%; }

.title-history-section .common-image-filter {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  width: 100vw;
  margin: 0 -63px; }

.editorialRichText-component-container {
  padding: 10px 20px; }
  .editorialRichText-component-container h4 {
    font-size: 42px;
    font-family: "Futura-medium"; }
  .editorialRichText-component-container strong {
    font-family: 'Futura-demi';
    color: #212121; }
  .editorialRichText-component-container p {
    font-size: 24px;
    color: #6B6B6B;
    font-family: "Futura-book";
    margin-bottom: 24px;
    line-height: 24px; }

.cards-title-section-yellow .image-heading-container {
  top: 90px;
  left: 80px; }
  .cards-title-section-yellow .image-heading-container span h2 strong {
    color: #ffffff;
    font-size: 39px;
    letter-spacing: var(--unnamed-character-spacing-0); }
  .cards-title-section-yellow .image-heading-container span h4 strong {
    font-size: 34px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #000000;
    text-align: left;
    letter-spacing: 0px; }
  .cards-title-section-yellow .image-heading-container span p {
    font-size: 22px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #000000;
    text-align: left; }

.cards-title-section-yellow .common-image-filter {
  -webkit-filter: brightness(100%);
  filter: brightness(100%); }

.cards-title-section-yellow h4 {
  color: #ffffff;
  font-size: 39px; }

.cards-title-section-yellow strong {
  top: 30px;
  left: 30px;
  font-size: 34px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  letter-spacing: 0px;
  color: #000000; }

.cards-title-section-yellow p {
  font-size: 22px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  line-height: 36px; }

.cards-section {
  border-top: #ffffff; }
  .cards-section h4 {
    margin-top: 104px;
    color: #0043BA;
    font-size: 42px; }
  .cards-section li {
    font-size: 24px; }
  .cards-section strong {
    font-size: 32px; }
  .cards-section p {
    font-size: 18px;
    color: #000000; }

.trend-card-and-button-section {
  position: absolute;
  padding-bottom: 204px;
  top: 100px;
  left: 50px; }
  .trend-card-and-button-section picture {
    top: 0%; }

.button-and-title-trend-section {
  margin-top: 205px; }

.section-card-and-benefits {
  padding-top: 104px; }
  .section-card-and-benefits img {
    padding-right: 5%;
    padding-top: 5%; }
  .section-card-and-benefits h4 {
    color: #0043BA; }
  .section-card-and-benefits strong {
    text-align: left;
    color: #000000;
    font-size: 29px; }

.text-terms-condions-section {
  margin-top: 10px;
  margin-left: 5%;
  padding-right: 7%; }
  .text-terms-condions-section h2 strong {
    font-size: 24px;
    color: #000000; }
  .text-terms-condions-section p {
    font-size: 18px;
    color: #000000; }

.term-conditions-section {
  border-left: -10%;
  background-color: #F5F5F5;
  padding-left: 15%;
  padding-right: 15%; }
  .term-conditions-section p {
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000; }
  .term-conditions-section .photo-tile-figure {
    background-color: #F5F5F5;
    margin-top: 100px; }
  .term-conditions-section .row .mx-n2 .no-gutters {
    margin-top: 104px; }

.benefits-icons-trend img {
  width: 50px;
  height: 50px;
  margin-bottom: 0%; }

.benefits-icons-trend p {
  padding-left: 4%;
  font-size: 16px; }

.cuota-title-trend-section {
  margin-left: 10%;
  border-bottom: #000000 solid 1px;
  border-left: #000000 solid 1px;
  border-right: #000000 solid 1px;
  margin-bottom: 3%; }
  .cuota-title-trend-section strong {
    padding: 10%; }

.comision-title-trend-section {
  margin-bottom: -10%;
  margin-left: 10%;
  border-bottom: #000000 solid 1px;
  margin-bottom: 3%;
  margin-right: -13%; }
  .comision-title-trend-section strong {
    padding: 0%; }

.period-title-trend-section {
  margin-bottom: -10%;
  margin-left: -3%;
  border-bottom: #000000 solid 1px;
  margin-bottom: 3%; }
  .period-title-trend-section strong {
    padding: 10%; }

.benefit-section-trend-card {
  border-right: #000000 solid 1px; }

.comision-option-tren-section {
  padding-right: 70%;
  margin-right: 0%; }
  .comision-option-tren-section p {
    padding-right: 10px;
    font-size: 16px;
    margin-bottom: 3%; }

.cuota-options-tabe-section-trend {
  margin-left: 10%;
  margin-top: -3.5%;
  margin-right: 0%;
  padding-left: 8%;
  border-right: #000000 solid 1px;
  border-left: #000000 solid 1px; }
  .cuota-options-tabe-section-trend p {
    padding-right: 0px;
    font-size: 16px;
    margin-bottom: 3%; }

.comision-options-tabe-section-trend {
  margin-top: -3.5%;
  margin-right: -12.25%;
  padding-left: 8%;
  margin-bottom: 0%; }
  .comision-options-tabe-section-trend p {
    font-size: 16px;
    padding-right: 0px;
    margin-bottom: 3%; }

.table-section-trend-card {
  padding-top: 6%;
  background-color: #F5F5F5; }

.terms-trend-message {
  font-size: 14px;
  color: #6B6B6B;
  background-color: #ffffff;
  line-height: 7px; }

.letter-error-404 {
  padding-top: 130px; }
  .letter-error-404 h1 {
    text-align: center;
    background-color: white;
    border: #000000 solid 1px;
    font-size: 18px;
    border-radius: 15px;
    width: 16rem;
    margin-left: 0%;
    padding: 00.3rem; }
  .letter-error-404 h3 {
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    width: 16rem;
    margin-left: 0%;
    padding: 00.3rem; }
    .letter-error-404 h3 a {
      color: #ffffff; }
  .letter-error-404 h4 {
    font-size: 32px;
    color: #0043BA; }
  .letter-error-404 h2 {
    font-size: 32px;
    font-style: bold;
    color: #0043BA; }
  .letter-error-404 p {
    text-decoration: underline;
    color: #000000; }

.bradescard-cards-section img {
  margin-top: -75%;
  width: 190px;
  height: 200px;
  padding-bottom: 5px;
  margin-bottom: -25%; }

.bradescard-cards-section .row {
  height: 26rem;
  border: 20%; }

.bradescard-cards-section p {
  padding-top: 0px;
  font-size: 18px;
  line-height: 16px; }

.bradescard-border-cards {
  border-radius: 10px;
  border: #EDEDED solid 1px;
  padding-top: -20%;
  padding-bottom: -190%; }
  .bradescard-border-cards h3 {
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    width: 16rem;
    margin-left: 0%;
    padding: 00.3rem; }
    .bradescard-border-cards h3 a {
      color: #ffffff; }

.bradescard-banks-and-more-section img {
  width: 27rem;
  height: 5rem; }

.bradescard-banks-section img {
  width: 6rem;
  height: 1.5rem; }

.bradescard-benefits-section img {
  width: 3rem;
  height: 3rem; }

.bradescard-benefit-full-section {
  background-color: #F5F5F5; }

.bradescard-pay-service-section {
  width: 34rem;
  height: 16rem;
  background-color: #F5F5F5;
  margin-left: 0%; }
  .bradescard-pay-service-section img {
    width: 14rem;
    height: 15rem;
    padding-right: 3%; }

.bradescard-review-balance-section {
  background-color: #F5F5F5; }
  .bradescard-review-balance-section h1 {
    width: 300px;
    min-height: 20px;
    border-radius: 15px;
    word-wrap: break-word;
    font-size: 18px;
    margin-left: 20%;
    border: #000000 solid 1px;
    height: 2rem;
    width: 20rem;
    text-align: center; }
  .bradescard-review-balance-section h2 {
    font-size: 32px;
    margin-left: 20%; }
  .bradescard-review-balance-section h3 {
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    width: 20rem;
    border: #000000 solid 2px;
    margin-left: 20%;
    padding: 0.3rem; }
    .bradescard-review-balance-section h3 a {
      color: #ffffff; }
  .bradescard-review-balance-section p {
    margin-left: 20%;
    line-height: 16px; }

.bradescar-cuestions-section {
  padding-left: 5%; }
  .bradescar-cuestions-section h3 {
    margin: 1rem;
    text-align: center;
    border-radius: 15px;
    color: #0043BA;
    background-color: #ffffff;
    font-size: 18px;
    width: 13rem;
    height: 2rem;
    padding: 0.3rem;
    border: #0043BA solid 2px; }
    .bradescar-cuestions-section h3 a {
      color: #0043BA; }
  .bradescar-cuestions-section p {
    line-height: 16px; }

.bradescar-divider-cards {
  height: 5rem; }

.bradescard-imgs-section {
  border: 0%; }
  .bradescard-imgs-section img {
    width: 2rem;
    height: 1rem; }

.bradescard-stores {
  padding-left: 7%;
  background-color: #EDEDED;
  border-right: #ffffff solid 1rem;
  border-bottom: #ffffff solid 1rem;
  width: 33rem;
  height: 20rem; }
  .bradescard-stores p {
    font-size: 18px;
    line-height: 16px; }

.brandescard-bank-section {
  padding-left: 7%;
  background-color: #EDEDED;
  border-bottom: #ffffff solid 1rem;
  width: 33rem;
  height: 20rem; }

.bradescard-transfer-section {
  padding-left: 7%;
  background-color: #EDEDED;
  border-right: #ffffff solid 1rem;
  width: 33rem;
  height: 15rem; }

.bradescard-pago-en-linea-section {
  background-color: #EDEDED;
  width: 33rem;
  height: 15rem; }

.bradescard-cuestion-section h3 {
  color: #0043BA; }

.bradescard-cuestion-section p {
  text-align: center; }

.bradescard-cuestion-button-section {
  padding-bottom: 7%; }

.button-register-online p {
  border-radius: 15px;
  color: #ffffff;
  background-color: #0043BA;
  height: 2rem;
  text-align: center;
  border: #0043BA solid 3px; }
  .button-register-online p a {
    color: #ffffff; }

.bradescard-benefits-text h2 {
  color: #0043BA;
  font-size: 30px; }

.bradescard-benefits-text h4 {
  font-size: 24px; }

.bradescard-benefits-text p {
  font-size: 18; }

.page-terms {
  padding: 0px 90px; }
  .page-terms h2 {
    font-size: 42px;
    color: #0043BA; }
  .page-terms h4 {
    color: #0043BA;
    font-size: 18px; }
  .page-terms .editorialRichText-component-container {
    padding: 10px 20px; }
  .page-terms p {
    font-size: 18px; }

.page-policy {
  padding: 0px 90px; }
  .page-policy h2 {
    font-size: 42px;
    color: #0043BA;
    line-height: 20px; }
  .page-policy h4 {
    color: #0043BA;
    font-size: 18px;
    line-height: 20px; }
  .page-policy p {
    font-size: 18px; }
  .page-policy .link-format a {
    color: #0043BA;
    font-size: 24px; }

@media (max-width: 992px) {
  #homepage .experience-component > div.custom-mainbanner-one-onerow-twocol.homepage {
    margin-bottom: 0; }
  #homepage .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(1),
  #homepage .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(2) {
    padding: 0;
    margin-bottom: 24px; }
    #homepage .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(1) .col-12,
    #homepage .custom-mainbanner-one-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
      padding: 0; }
  #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .image-heading-container {
    padding: 0 20px; }
  #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-sm-left {
    text-align: left !important; }
    #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-sm-left span h2 {
      font-size: 36px;
      line-height: 46px; }
    #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-figure .text-sm-left .link-large {
      padding: 2px 13px; }
  #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-image {
    max-height: 266px; }
    #homepage .custom-mainbanner-one-onerow-twocol.homepage .mainbanner-image.common-image-filter {
      min-height: auto; }
  #homepage .custom-mainbanner-midsize.homepage .mainbanner-image {
    max-height: 351px; }
    #homepage .custom-mainbanner-midsize.homepage .mainbanner-image.common-image-filter {
      min-height: auto; }
  #homepage .custom-mainbanner-midsize.homepage .mainbanner-figure .text-sm-left {
    padding: 0 20px;
    text-align: left !important; }
    #homepage .custom-mainbanner-midsize.homepage .mainbanner-figure .text-sm-left h2 {
      font-size: 36px;
      line-height: 38px; }
    #homepage .custom-mainbanner-midsize.homepage .mainbanner-figure .text-sm-left .link-large {
      padding: 2px 13px;
      margin-top: 12px; }
  #homepage .custom-mainbanner-midsize.homepage .image-heading-container {
    bottom: 10.7vw; }
  #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1),
  #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) {
    padding: 0 0 19px; }
    #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) .col-12,
    #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
      padding: 0; }
      #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left,
      #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left {
        text-align: left !important; }
        #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left h2,
        #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left h2 {
          font-size: 36px;
          line-height: 46px; }
        #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left .link-large,
        #homepage .custom-mainbanner-two-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left .link-large {
          padding: 2px 13px; }
  #homepage .custom-mainbanner-two-onerow-twocol.homepage .image-heading-container {
    padding: 0 30px;
    bottom: 5.1vw; }
  #homepage .custom-mainbanner-two-onerow-twocol.homepage .mainbanner-image {
    max-height: 240px;
    min-height: auto; }
  #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1),
  #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) {
    padding: 0 0 19px; }
    #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) .col-12,
    #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) .col-12 {
      padding: 0; }
      #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left,
      #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left {
        text-align: left !important; }
        #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left h2,
        #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left h2 {
          font-size: 36px;
          line-height: 46px; }
        #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(1) .col-12.text-sm-left .link-large,
        #homepage .custom-mainbanner-three-onerow-twocol.homepage .region:nth-of-type(2) .col-12.text-sm-left .link-large {
          padding: 2px 13px; }
  #homepage .custom-mainbanner-three-onerow-twocol.homepage .mainbanner-image {
    max-height: 185px;
    min-height: auto; }
  #homepage .custom-mainbanner-three-onerow-twocol.homepage .image-heading-container {
    padding: 0 30px;
    bottom: 5.1vw; }
  #homepage .custom-text-one-onerow-twocol.text-content.homepage {
    padding: 28px 22px; }
    #homepage .custom-text-one-onerow-twocol.text-content.homepage .region {
      padding: 22px 0 28px;
      margin: 0; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .region .custom-text-title {
        margin-bottom: 0; }
        #homepage .custom-text-one-onerow-twocol.text-content.homepage .region .custom-text-title h1 {
          text-align: left; }
        #homepage .custom-text-one-onerow-twocol.text-content.homepage .region .custom-text-title.show-mobile .editorialRichText-component-container {
          margin-bottom: 0; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .region:nth-of-type(1) {
        border-bottom: 1px solid #BFBFBF; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .region .region {
        border: none; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .region .col-12 {
        padding: 0; }
    #homepage .custom-text-one-onerow-twocol.text-content.homepage .custom-text-paragraph.hide-mobile {
      display: none; }
    #homepage .custom-text-one-onerow-twocol.text-content.homepage h4 {
      text-align: left; }
    #homepage .custom-text-one-onerow-twocol.text-content.homepage .custom-text-title {
      position: relative; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .custom-text-title::after {
        content: '\F068';
        font-family: "FontAwesome";
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0; }
      #homepage .custom-text-one-onerow-twocol.text-content.homepage .custom-text-title.show-mobile::after {
        content: '\F067'; }
    #homepage .custom-text-one-onerow-twocol.text-content.homepage .custom-text-paragraph p {
      text-align: justify; }
  .cya-abuot-us-crystal-logo {
    width: 100vw;
    margin: 0 -25px; }
  .title-history-section .common-image-filter {
    width: 100vw;
    margin: 0 -25px; }
  .mobile-1r-1c.title-history-section {
    width: 100%;
    text-align: center; }
    .mobile-1r-1c.title-history-section .col-12 {
      padding: 0px; }
  .about-us-first-second {
    margin-bottom: 30px;
    padding-bottom: 0;
    text-align: center; }
    .about-us-first-second .photo-tile-image {
      width: 259px;
      height: 240px;
      position: initial; }
  .about-us-secound-section {
    padding-bottom: 20px;
    text-align: center;
    width: 100vw;
    margin: 0 -25px;
    padding: 20px 25px; }
    .about-us-secound-section .common-image-component {
      width: 259px;
      height: 240px;
      position: initial;
      margin-left: 0; }
  .editorialRichText-component-container {
    margin-top: 20px;
    padding-bottom: 20px;
    padding: 0; }
    .editorialRichText-component-container h4 {
      font-size: 24px;
      font-family: "Futura-medium";
      text-align: left; }
    .editorialRichText-component-container strong {
      font-size: 16px;
      font-family: 'Futura-demi';
      text-align: left;
      color: black; }
    .editorialRichText-component-container p {
      font-size: 16px;
      text-align: left;
      padding: 0;
      margin: 0;
      line-height: 16px; }
  .values-section h4 {
    text-align: center; }
  .page-terms {
    padding: 0px; }
    .page-terms .editorialRichText-component-container {
      padding: 0; }
      .page-terms .editorialRichText-component-container h2 {
        text-align: left;
        font-size: 18px; }
      .page-terms .editorialRichText-component-container h4 strong {
        color: #0043BA !important;
        font-size: 18px; }
      .page-terms .editorialRichText-component-container p {
        color: #000000; }
  .page-policy {
    padding: 0px; }
    .page-policy .editorialRichText-component-container h2 {
      display: none; }
    .page-policy .editorialRichText-component-container h4 strong {
      color: #0043BA !important;
      font-size: 18px; }
    .page-policy .editorialRichText-component-container .link-format a strong {
      color: #0043BA !important;
      font-size: 24px; }
    .page-policy .editorialRichText-component-container p {
      word-wrap: break-word !important;
      margin-bottom: 24px; }
      .page-policy .editorialRichText-component-container p strong {
        color: #707070; }
    .page-policy .editorialRichText-component-container a strong {
      color: #0043BA !important; } }

@media (min-width: 1366px) {
  .cya-abuot-us-crystal-logo {
    width: 100vw;
    margin-left: calc(-55px + (1366px - 100vw) / 2); }
  .title-history-section {
    width: 100vw;
    margin-left: calc(-55px + (1366px - 100vw) / 2); }
    .title-history-section .region.col-12 {
      padding: 0px; }
      .title-history-section .region.col-12 .col-12 {
        padding: 0px; }
    .title-history-section .common-image-filter {
      margin: 0;
      width: 100%; }
  .about-us-secound-section {
    width: 100vw;
    margin-left: calc(-55px + (1366px - 100vw) / 2); } }

.btn-politica-privacidad {
  font-family: "Futura-book";
  text-decoration: underline;
  border: none;
  outline: none;
  background-color: Transparent; }

.modal-header h1 {
  font-size: 42px;
  color: #0043BA; }

.modal-body {
  padding: 0px 10px; }
  .modal-body h2 {
    font-size: 42px;
    color: #0043BA; }
  .modal-body h4 {
    color: #0043BA;
    font-size: 18px; }
  .modal-body .editorialRichText-component-container {
    padding: 10px 20px; }
  .modal-body p {
    padding: 0px 15px;
    font-size: 14px;
    text-align: justify; }

/*# sourceMappingURL=pdCustomStyles.css.map*/