@import "../skin/variables";

.product-detail-tabs{
    .yotpo{
        .yotpo-display-wrapper{
            position: relative;
        }
        .yotpo-small-box:nth-of-type(1){
            display: none;
        }
        .yotpo-nav{
            padding: 0;
            border-bottom: none;
            bottom: 31px;
            float: right;
            ul{
                display: none;
                top: 39px;
            }
            .yotpo-dropdown-button{
                display: block;
                width: 196px;
                text-align: left;
                padding: 9px 20px;
                border: 1px solid $yotpo-dropdown-border;
                border-radius: 20px;
                background: $yotpo-dropdown-background;
                max-height: 40px;
                span{
                    &:nth-of-type(1){
                        display: none;
                    }
                    &:nth-of-type(2){
                        font-size: 0;
                        padding: 0;
                        line-height: 0;
                        &:before{
                            content: 'Ordenar por';
                            font-size: 16px;
                            line-height: 21px;
                            color: $yotpo-dropdown-color;
                            font-family: $futura-book;
                            display: block;
                        }
                    }
                }
                .yotpo-icon{
                    &:before{
                        content: '';
                        display: block;
                        background: url('../../images/arrow-down.svg') !important;
                        background-size: 100%;
                        width: 13px;
                        height: 7px;
                        position: absolute;
                        right: 20px;
                        top: 17px;
                    }
                }
                &[aria-expanded="true"]{
                    .yotpo-icon{
                        &:before{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .write-review{
            .yotpo-product-image{
                width: 212px;
                display: inline-block;
                vertical-align: top;
                margin-bottom: 25px;
                img{
                    width: 196px;
                    height: 196px;
                    object-fit: cover;
                }
            }
            .yotpo-header{
                display: inline-block;
                width: calc(100% - 212px);
                *{
                    color: $yotpo-write-review-color;
                }
                .yotpo-header-title, .y-label{
                    font-size: 0;
                    &:before, &:after{
                        font-size: 18px;
                        line-height: 23px;
                        font-family: $futura-demi;
                    }
                }
                .yotpo-mandatory-explain{
                    display: none;
                }
                .y-label{
                    &:before{
                        content: 'Califica tu producto';
                    }
                }
                .yotpo-header-title{
                    &:before{
                        content: "Escribe una reseñ";
                    }
                    &:after{
                        content: "a";
                    }
                }
                .yotpo-product-title{
                    font-size: 18px;
                    line-height: 20px;
                    font-family: $futura-book;
                }
            }
            span{
                &.yotpo-mandatory-mark{
                    display: none;
                }
            }
            .write-review-content{
                span{
                    &.yotpo-mandatory-mark{
                        display: none;
                    }
                }
                .form-group{
                    display: block;
                    .form-element{
                        &:nth-of-type(1){
                            .y-label{
                                position: relative;
                                &:before{
                                    content: 'Título de la reseñ';
                                }
                                &:after{
                                    content: 'a*';
                                    position: absolute;
                                    left: 104px;
                                }
                                span{
                                    margin-left: 17px;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            .y-label{
                                &:before{
                                    content: 'Comentarios *';
                                }
                            }
                        }
                    }
                }
            }
            .yotpo-footer{
                .connect-wrapper{
                    padding: 0;
                    .form-element{
                        &:nth-of-type(1){
                            .y-label{
                                &:before{
                                    content: 'Nombre*';
                                }
                            }
                        }
                        &:nth-of-type(2){
                            .y-label{
                                &:before{
                                    content: 'Correo Electrónico*';
                                }
                            }
                        }
                    }
                }
                .socialize-wrapper{
                    display: none !important;
                }
            }
            .form-group, .connect-wrapper{
                .form-element{
                    .y-input{
                        border-radius: 20px;
                        border-color: $yotpo-write-review-border;
                    }
                    textarea{
                        resize: none;
                        height: 109px;
                    }
                    .y-label{
                        font-size: 0;
                        &:before, &:after{
                            font-size: 16px;
                            line-height: 21px;
                            color: $yotpo-write-review-color;
                            font-family: $futura-book;
                            margin-bottom: 14px;
                        }
                    }
                }
            }
            .submit-button{
                width: 100%;
                text-align: center;
                margin: 40px 0 55px;
                .yotpo-default-button{
                    font-size: 20px;
                    line-height: 26px;
                    font-family: $futura-demi;
                    color: $yotpo-send-review-color;
                    border-radius: 25px;
                    background: $yotpo-send-review-background;
                    width: 100%;
                    max-width: 408px;
                    float: none;
                }
            }
            .yotpo-preloader-wrapper{
                width: 100%;
                float: none;
                .yotpo-pre-loader{
                    position: relative;
                    width: 160px;
                    .yotpo-empty-stars{
                        position: relative;
                    }
                    .yotpo-full-stars{
                        left: 0;
                    }
                    .yotpo-icon{
                        display: inline-block;
                    }
                }
            }
        }
        .yotpo-first-review{
            .yotpo-first-review-stars{
                .yotpo-icon-star{
                    display: inline-block;
                }
            }
        }
        &.yotpo-main-widget{
            .yotpo-bottomline{
                &.yotpo-bottomline-2-boxes{
                    border: none;
                    border-bottom: 1px solid $yotpo-write-review-border;
                    .yotpo-stars-and-sum-reviews{
                        float: none;
                        .yotpo-stars{
                            margin-right: 70px;
                        }
                    }
                    .yotpo-general-rating{
                        position: absolute;
                        border: 1px solid $yotpo-general-rating-border;
                        border-radius: 3px;
                        color: $yotpo-general-rating-color;
                        top: 0px;
                        left: 173px;
                        font-size: 32px;
                        line-height: 31px;
                        font-family: $futura-demi;
                        padding: 0 5px;
                    }
                    .yotpo-default-button{
                        &.write-review-button{
                            position: relative;
                            display: block;
                            max-width: 302px;
                            padding: 5.5px 0;
                            border-radius: 25px;
                            background: $yotpo-write-review-background;
                            top: 0;
                            margin: 25px 0 0;
                            &:nth-of-type(2){
                                display: none;
                            }
                        }
                    }
                }
                .based-on{
                    font-size: 18px;
                    line-height: 32px;
                    font-family: $futura-demi !important;
                    color: $yotpo-total-reviews-color;
                    padding: 0;
                }
                .yotpo-stars{
                    vertical-align: text-top;
                }
                .yotpo-sum-reviews{
                    padding: 0;
                }
            }
            .yotpo-display-wrapper{
                .yotpo-icon-btn{
                    .yotpo-icon{
                        display: none;
                    }
                    .yotpo-icon-button-text{
                        font-size: 0px;
                        font-family: $futura-demi;
                        &:before, &:after{
                            font-size: 20px;
                            line-height: 26px;
                            text-transform: uppercase;
                        }
                        &:before{
                            content: 'Escribe una reseñ';
                        }
                        &::after{
                            content: 'a';
                        }
                    }
                }
                .yotpo-messages{
                    margin-bottom: 70px;
                    .yotpo-thank-you{
                        border: none;
                        .yotpo-thankyou-header{
                            margin-bottom: 19px;
                            .yotpo-icon{
                                display: none;
                            }
                            span{
                                font-size: 0;
                                &:before{
                                    content: '¡Gracias!';
                                    font-size: 42px;
                                    line-height: 54px;
                                    color: $yotpo-thankyou-title-color;font-family: $futura-medium;
                                    text-transform: capitalize;
                                }
                            }
                        }
                        .yotpo-thankyou-content{
                            text-align: center;
                            span{
                                font-size: 0;
                                &:before, &:after{
                                    font-size: 20px;
                                    line-height: 26px;
                                    color: $yotpo-thankyou-content-color;
                                }
                                &:before{
                                    content: 'Recibimos tu reseñ';
                                }
                                &:after{
                                    content: 'a, conocer tu opinión es muy importante para nosotros.';
                                }
                            }
                        }
                        .yotpo-thankyou-footer{
                            display: none;
                            .yotpo-icon{
                                display: block;
                            }
                            .yotpo-icon-button-text{
                                font-size: 14px;
                                &:before, &:after{
                                    content: '';
                                }
                            }
                        }
                    }
                }
                .yotpo-nav-content{
                    .yotpo-pre-loader{
                        position: relative;
                        width: 160px;
                        .yotpo-empty-stars{
                            position: relative;
                        }
                        .yotpo-full-stars{
                            left: 0;
                        }
                        .yotpo-icon{
                            display: inline-block;
                        }
                    }
                }
            }
            .yotpo-no-reviews{
                .yotpo-display-wrapper{
                    .yotpo-bottomline{
                        &.yotpo-bottomline-2-boxes{
                            .yotpo-bottomline-box-2{
                                margin: 10px 0 20px;
                                float: none;
                                &:before, &:after{
                                    font-size: 18px;
                                    line-height: 23px;
                                    color: $yotpo-no-reviews-title-color;
                                    font-family: $futura-demi;
                                }
                                &:before{
                                    content: 'Este producto aún no tiene reseñ';
                                }
                                &:after{
                                    content: 'as';
                                    margin-left: -4px;
                                }
                            }
                            .yotpo-default-button{
                                &.write-review-button{
                                    max-width: 390px;
                                    .yotpo-icon-button-text{
                                        &:before{
                                            content: 'Sé el primero en escribir una';
                                        }
                                        &:after{
                                            content: '';
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yotpo-nav-content{
                    display: none;
                }
            }
        }
        .yotpo-icon-star, .yotpo-icon-empty-star, .yotpo-icon-default-empty-star, .yotpo-icon-default-half-star, .yotpo-icon-half-star{
            &:before{
                content: '' !important;
                width: 32.62px;
                height: 31.11px;
                display: block;
            }
        }
        .yotpo-icon-default-star, .yotpo-icon-star{
            &:before{
                background: url('../../images/complete-star.svg') !important;
            }
        }
        .yotpo-icon-default-empty-star, .yotpo-icon-empty-star{
            &:before{
                background: url('../../images/empty-star.svg') !important;
            }
        }
        .yotpo-icon-default-half-star, .yotpo-icon-half-star{
            &:before{
                background: url('../../images/half-star.svg') !important;
            }
        }
        .yotpo-nav{
            .yotpo-icon-default-empty-star{
                &:before{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .yotpo-review{
            position: relative;
            margin: 22px 10px 7px;
            padding: 0;
            border: none;
            min-height: 105px;
            .yotpo-header{
                position: absolute;
                width: 100%;
                .yotpo-review-stars{
                    margin: 0;
                }
                .yotpo-icon-profile{
                    display: none;
                }
                .yotpo-header-element{
                    padding: 0;
                    .label-with-tooltip{
                        display: none;
                    }
                    .y-label{
                        &.yotpo-user-name{
                            display: none;
                        }
                    }
                    .yotpo-product-image{
                        text-align: center;
                        margin-top: 20px;
                        img{
                            width: 64px;
                            height: 64px;
                            object-fit: cover;
                        }
                    }
                    .yotpo-review-date{
                        font-size: 18px;
                        line-height: 23px;
                        color: $yotpo-write-review-color;
                        font-family: $futura-book;
                    }
                }
                .yotpo-icon-star, .yotpo-icon-empty-star, .yotpo-icon-default-empty-star, .yotpo-icon-default-half-star, .yotpo-icon-half-star{
                    &:before{
                        width: 18px;
                        height: 17px;
                    }
                }
            }
            .yotpo-main{
                padding: 0 145px 0 162px;
                .content-title{
                    font-size: 18px;
                    line-height: 23px;
                    color: $yotpo-write-review-color;
                    font-family: $futura-demi;
                }
                .yotpo-review-wrapper{
                    .content-review{
                        font-size: 18px;
                        line-height: 24px;
                        color: $yotpo-write-review-color;
                        font-family: $futura-book;
                    }
                }
            }
            .yotpo-footer{
                display: none;
            }
        }
    }
    @media (max-width: 992px){
        .yotpo{
            &.yotpo-main-widget{
                .yotpo-bottomline{
                    &.yotpo-bottomline-2-boxes{
                        .yotpo-stars-and-sum-reviews{
                            text-align: center;
                            .yotpo-stars{
                                margin: 0 0 0 80px;
                            }
                        }
                        .yotpo-general-rating{
                            left: 50%;
                            border: 0;
                            transform: translateX(calc(-50% - 80px));
                        }
                        .yotpo-bottomline-box-2{
                            margin-top: 0 !important;
                        }
                        .yotpo-default-button{
                            &.write-review-button{
                                margin: 0;
                                max-width: none;
                                background: $yotpo-write-review-mobile-background;
                                border: 1px solid $yotpo-write-review-mobile-border;
                                padding: 4.5px 0;
                            }
                        }
                    }
                    .yotpo-sum-reviews{
                        display: block;
                        text-align: center;
                        margin: 8px auto 25px;
                        span{
                            font-size: 12px;
                            line-height: 16px;
                            font-family: $futura-book !important;
                        }
                    }
                }
                .yotpo-display-wrapper{
                    .yotpo-icon-btn{
                        .yotpo-icon-button-text{
                            display: block;
                        }
                    }
                    .yotpo-messages{
                        margin-left: -25px;
                        width: calc(100% + 50px);
                        .yotpo-thank-you{
                            padding: 20px;
                            .yotpo-thankyou-header{
                                margin-bottom: 12px;
                                span{
                                    &:before{
                                        font-size: 22px;
                                        line-height: 29px
                                    }
                                }
                            }
                            .yotpo-thankyou-content{
                                span{
                                    &:before, &:after{
                                        font-size: 13px;
                                        line-height: 17px;
                                    }
                                    &::before{
                                        content: 'Recibimos tu comentario y lo publicaremos en 3-7 días laborales.';
                                    }
                                    &:after{
                                        content: '';
                                    }
                                }
                            }
                        }
                    }
                }
                &.yotpo-small{
                    .yotpo-bottomline{
                        &.yotpo-bottomline-2-boxes{
                            height: auto;
                        }
                    }
                    .yotpo-nav{
                        .transparent-color-btn{
                            display: none !important;
                        }
                    }
                    .yotpo-icon-btn{
                        .yotpo-icon-button-text{
                            color: $yotpo-write-review-mobile-color;
                            &:before, &:after{
                                text-transform: none;
                                margin-top: -14px;
                            }
                        }
                    }
                    .yotpo-review{
                        display: flex;
                        flex: 0 0 100%;
                        width: 100%;
                        margin-left: 0;
                        .yotpo-header{
                            flex: 0 0 121px;
                            position: relative;
                            .yotpo-header-element{
                                .yotpo-product-image{
                                    display: none;
                                }
                            }
                            .yotpo-icon-star, .yotpo-icon-empty-star, .yotpo-icon-default-empty-star, .yotpo-icon-default-half-star, .yotpo-icon-half-star{
                                &:before{
                                    width: 15px;
                                    height: 14px;
                                }
                            }
                            .yotpo-header-actions{
                                display: block;
                                float: none;
                                margin-top: 13px;
                                .yotpo-review-date{
                                    font-size: 10px;
                                    line-height: 13px;
                                }
                            }
                        }
                        .yotpo-main{
                            flex: 0 0 calc(100% - 121px);
                            padding: 0;
                            margin-top: 0;
                            .content-title{
                                font-size: 14px;
                                line-height: 18px;
                            }
                            .yotpo-review-wrapper{
                                .content-review{
                                    font-size: 12px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                    .yotpo-no-reviews{
                        .yotpo-display-wrapper{
                            .yotpo-bottomline-2-boxes{
                                .yotpo-stars-and-sum-reviews{
                                    text-align: left;
                                    margin-bottom: 10px;
                                    .yotpo-stars{
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .yotpo-nav{
                bottom: 20px;
            }
            .write-review{
                position: relative;
                .yotpo-product-image{
                    width: 121px;
                    position: absolute;
                    left: 0;
                    top: 20px;
                    img{
                        width: 108px;
                        height: 108px;
                    }
                }
                .yotpo-header{
                    width: 100%;
                    margin-bottom: 28px;
                    .yotpo-header-title{
                        padding: 0;
                        margin-bottom: 15px;
                        display: block;
                        padding-left: 121px;
                        border-top: none !important;
                        padding-top: 0 !important;
                        &:before, &:after{
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                    .yotpo-product-title{
                        font-size: 14px;
                        display: block;
                        padding-left: 121px;
                        min-height: 55px;
                        margin-bottom: 20px;
                    }
                    .y-label{
                        border-top: 1px solid $yotpo-rate-review-border;
                        display: block;
                        padding-top: 17px;
                        &:before{
                            font-size: 16px;
                            line-height: 21px;
                        }
                    }
                }
                .write-review-content{
                    .form-group{
                        .form-element{
                            &:nth-of-type(n+1){
                                .y-label{
                                    &:before, &:after{
                                        font-family: $futura-demi;
                                    }
                                    &:after{
                                        left: 115px;
                                    }
                                }
                            }
                            .y-input{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .connect-wrapper{
                    .form-element{
                        .y-label{
                            &::before{
                                font-family: $futura-demi;
                            }
                        }
                        .y-input{
                            font-size: 12px;
                        }
                    }
                }
                .submit-button{
                    margin: 28px 0;
                    padding: 28px 0;
                    border-top: 1px solid $yotpo-rate-review-border;
                    .yotpo-default-button{
                        padding: 7px 0;
                        margin: 0 auto;
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
}
