@import "~base/product/detail";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "yotpo";
@import "../skin/variables";

//-------- breadcrumb --------
.product-breadcrumb {
    // margin-left: 2.5em;
    color: $black;
    .breadcrumb-item+.breadcrumb-item::before {
        font-family: FontAwesome;
        content: "\F0DA";
        color: $black;
    }
    .breadcrumb{
        padding: 0.75rem 0rem;
    }
}
.container .product-detail .product-wrapper{
    margin-top: 90px;
}
.container.product-detail {
    margin-top: 80px;

}
//-------- container --------
#container-detail {
    .product-image{
        padding: 0;
    }
    //--------  product images --------
    .primary-images {
        width: 90%;
        .row-container-pdp{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .container-img{
            width: 48%;
            background: #f3f3f3;
            margin-top: 20px;
        }
        img {
            mix-blend-mode: multiply;
            max-width: 100%;
            padding: 0;
        }
    }

    //--------  product name --------
    .product-name {
        font-size: 26px;
    }

    //--------  Raiting and product id --------
    .product-number-rating {
        display: flex;
        flex-direction: column;

        .ratings {
            display: flex;

            .write-review {
                text-decoration: underline !important;
                margin-left: 10px;
                color: $gray6B !important;
            }
        }

        .text-m {
            display: none;
        }

        .id-product {
            font-size: 16px;
        }

        //--------  product price --------
        .product-price {
            padding-top: 5px;
            font-size: 18px;
            display: flex;
            line-height: 19px;
            .text-price {
                font-size: 18px;
                margin-right: 10px;
            }

            .strike-through{
                color: $quick-view-price-list-color;
                font-size: 18px;
            }

            .sales{
                color: $quick-view-price-sales-color;
                font-size: 18px;
            }
        }
    }

    .product-number-rating {
        border: none;
    }
    hr{
        border-top: 1px solid $product-attribute-border;
    }

    .promotions{
        margin-top: 20px;
        .title{
            border-top: 1px solid $quick-view-attribute-border;
            padding: 0;
        }
        .title-text, .content{
            color: $quick-view-promotions-color;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
        }
    }

    //--------  product color --------
    .attribute .color {
        font-size: 16px;
    }

    //--------  swatch color --------
    .attribute .color-attribute {
        border-radius: 50%;
        width: 27px;
        height: auto;
        outline: none;
        position: relative;
        margin: 0 13px;
        cursor: auto;

        label{
            cursor: pointer;
        }
        
        span {
            border: none;
            position: relative;
            width: 27px;
            height: 27px;
            margin: 0 auto;
            outline: none;
            cursor: pointer;
            &.selected + label{
                color: $color-facet-title-color-selected;
                text-decoration: underline;
            }
            &.unselectable{
                background-image: none !important;
                background: $product-no-selected-color-attribute-background;
                position: relative;
                cursor: auto;
                &:before{
                    content: '';
                    width: 35px;
                    height: 1px;
                    background: $product-no-selected-line-color;
                    position: absolute;
                    top: 13px;
                    left: 50%;
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
            &.unselectable + label{
                color: $product-no-selected-text-color;
                cursor: auto;
            }
            &.White, &.white{
                border: 0.05px solid #00000029 !important;
            }
        }

        span::after {
            position: absolute;
            width: 16px;
            height: 16px;
            font-size: 16px;
            top: 3px;
            left: 5px;
            background: transparent;
            outline: none;
        }

        span.swatch-circle-white {
            box-shadow: none;
            border: 0.05px solid #00000029;
            &::after {
                 outline: none;
                // box-shadow: 0px 3px 3px #00000029;
                // border-radius: 1.25em;
            }
        }

        label{
            font-size: 8px;
            line-height: 10px;
            color: $color-facet-title-color;
        }
    }

    //--------  product tablesize --------
    .size-chart {
        margin-top: -1.5rem;
        text-align: right;
    }

    //--------  product size --------
    .select {
        display: flex;
        align-items: center;

        label {
            margin-left: -15px;
            margin-right: 15px;
        }

        select {
            background: transparent;
            width: 50%;
            border-radius: 25px;
        }

        .arrow-select {
            position: absolute;
            right: calc(55%);
            top: calc(50% - 8px);
            width: 10px;
            height: 10px;
            display: block;
            border-left: 2px solid $black;
            border-bottom: 2px solid $black;
            transform: rotate(-45deg);
            /* Giramos el cuadrado */
            transition: all 0.25s ease;
        }
    }

    // -------- quantity product --------
    .attribute-quantity {
        display: flex;
        align-items: center;

        label {
            margin-top: 5px;
            margin-right: 15px;
            margin-left: -15px;
            font-family: $futura-demi;
        }

        select {
            background: transparent;
            width: 70px;
            border-radius: 5px;
            padding: 5px 15px 6px 10px;
            font-family: $futura-demi;
            font-size: 15px;
            line-height: 17px;
            height: auto;
            max-width: 52px;
        }

        .arrow-select {
            position: absolute;
            right: calc(33%);
            top: calc(50% - 12px);
            width: 10px;
            height: 10px;
            display: block;
            border-left: 2px solid $black;
            border-bottom: 2px solid $black;
            transform: rotate(-45deg);
            /* Giramos el cuadrado */
            transition: all 0.25s ease;
        }
    }

    .social-container .social-icons {
        font-size: 19px;
        margin-top: 1em;

        p {
            margin-right: 10px;
        }

        a i {
            font-size: 13px;
            border-radius: 50%;
            padding: 3px;
            background: $black;
            color: $white;
        }
    }

    .description {
        .title {
            font-size: 16px;
            line-height: 21px;
            margin: 15px 0;
        }

        .container-description {
            padding: 0;
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.product-mobile {
    display: none;
}

//  -------- tabs product --------
.product-detail-tabs {
    background: $grayF5;
    color: $black;
    margin-top: 1.5em;
    margin-left: -3.5em;
    margin-right: -3.5em;
    margin-bottom: 3em;

    #tabs {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: $grayE6;
       padding: 0 55px;

        .nav-item a {
            color: $black !important;
            font-size: 20px;
            padding: 0;
            margin:8px 16px
        }
    }

    #content {
        padding: 0 55px;
        border: none;

        .card {
            border: none;
        }
    }

    .nav-tabs .nav-link.active {
        border-bottom: 0.188em solid $black;
        background-color: $grayE6;
    }

    .nav-tabs .nav-link:hover {
        background-color: $grayE6;
    }

    .card-header {
        background: transparent;
        color: $blue00;
        border-bottom: none;
        // margin-top: 1em;

        .title-detail {
            color: $blue00;
            font-size: 20px;
            margin-top: 15px;
        }
    }

    .card-body {
        // margin-top: -2em;
        color: $gray70;
        padding: 10px 16px;
        .container-description {
            h3 {
                font-size: 20px;
                color: $blue00;
            }

            p {
                font-size: 16px;
            }
        }

        .container-tables {
            div {
                padding: 0;
            }

            table thead th {
                padding: 0;

                h3 {
                    font-size: 18px;
                    padding: 7px 0;
                }
            }

            table tbody tr {
                th {
                    font-size: 16px;
                    color: $gray70;
                    font-family: $futura-demi;
                    padding: 0;
                    @media (min-width: 700px) {
                        width: 40%;
                    }
                }

                td {
                    font-size: 16px;
                    color: $gray70;
                    font-family: $futura-book;
                    padding: 0;
                    text-transform: capitalize;
                }

            }
        }
    }
}

@media (min-width: 1366px) {
    .product-detail-tabs {
        width: 100vw;
        margin-left: calc(-55px + (1366px - 100vw) / 2);
        #tabs, #content{
        padding: 0 calc(45px - (1366px - 100vw) / 2);
        }
        .card-body .container{
            margin: 0;
        }
    }
}

// -------- buttons product --------
@media (min-width: 544px) {
    .row .cart-and-ipay .col-sm-12 button {
        margin-top: 20px;
        width: 120%;
        margin-left: -1em;
    }
}

// -------- buttons product mobile--------
@media (max-width: 543.98px) {
    .prices-add-to-cart-actions {
        box-shadow: none;
    }

    .cart-and-ipay .btn {
        margin-top: 10px;
    }
    .container.product-detail {
        margin-top: -20px;
       }
}

// -------- Mobile --------
@media screen and (max-width: 1024px) {
    
    .product-desk {
        display: none;
    }

    .product-mobile {
        display: initial;
        margin-bottom: 15px;
    }

    #container-detail .primary-images{
        width: 100%;
        img {
            width: 100%;
        }
        .carousel{
            padding-bottom: 30px;
            .carousel-item{
                background: #f3f3f3;
            }
            .carousel-control-prev, .carousel-control-next{ 
                span{
                    border-radius: 50%;
                    background: transparent;
                }
            }
            .carousel-indicators{
                bottom: -15px;
                li{
                    background-color: #272727;
                }
            }
        }
    }

    #container-detail {

        .detail{
            min-width: 100%; 
        }
        //--------  product name --------
        .product-name {
            margin-top: 1em;
        }

        //--------  product size --------
        .select {
            margin-top: 5px;

            .custom-select {
                width: 70%;
            }

            .arrow-select {
                right: calc(45%);
            }
        }

        // -------- quantity product --------
        .attribute-quantity .arrow-select {
            right: calc(34%);
        }

        // -------- pay product --------
        .prices-add-to-cart-actions {
            position: initial;
            button{
                max-width: 100%;
            }
        }

        .social-container {
            margin-top: 10px;
            .social-icons {
             font-size: 16px;
             justify-content: center;

             p {
                position: absolute;
                top: -15px;
            }

             a i {
                padding: 10px;
                margin-top: 1em;
                font-size: 40px;
                margin-left: 10px;
                img{
                width: 40px;
                height: 40px;
            }
            }
        }
    }
    .product-price {
        font-size: 16px;
        display: flex;
        align-items: center;
        span.value, span.text-price{
            font-size: 16px !important;
        }
    }
        .product-number-rating .ratings {
            margin: 0 !important;
        }
    }


    //  -------- tabs product --------
    .product-detail-tabs {
        width: 100vw;
        margin: 10px -25px;

        #tabs {
            padding: 0 1em;

            .nav-item a {
                font-size: 18px;
            }
        }

        #content {
            padding: 0;
        }
    }

    .nav-tabs .nav-item {
        margin-bottom: 0;
        width: 50%;
    }

    .product-detail-tabs .card-body {
        padding: 10px 32px;
        .container-description h3 {
            font-size: 18px;
        }
        table thead th h3 {
            font-size: 16px;
        }

        .container-tables div table thead th h3 {
            font-size: 16px;
        }

    }
    .card-body .container-tables {
        display: flex;
        flex-direction: column;
    }
    .container .product-detail .product-wrapper{
        margin-top: 60px;
    }
}

//  -------- breadcrumbs --------
@media (max-width: 991.98px) {
    .product-breadcrumb {
        margin-left: 0;
        padding-top: 25px;
    }

    .product-breadcrumb .breadcrumb {
        border-top: none;
    }
    .product-detail-tabs{
            .card-body{
                padding: 10px 25px;
            }
    }
}
