@import "../skin/variables";
.quick-view-dialog{
    max-width: 832px;
    .modal-header{
        display: none;
    }
    .modal-body{
        padding: 40px 63px 10px 13px;
        max-height: 500px;
        position: relative;
        .close{
            position: absolute;
            right: -42px;
            top: -22px;
        }
    }
    .modal-footer{
        padding: 0 63px 55px 13px;
        .col-6, .col-sm-6, .col-12{
            padding: 0;
        }
    }
    .cart-and-ipay{
        margin-top: 30px !important;
        .col-sm-12{
            padding: 0;
            text-align: left;
        }
        .btn{
            font-size: 20px;
            line-height: 26px;
            padding: 7px 15px;
            width: 100%;
            max-width: 302px;
            .fa{
                display: none;
            }
        }
    }
}
.product-quickview{
    padding: 0;
    .carousel{
        display: flex;
    }
    &__gallery{
        padding: 0;
        max-width: 52.66%;
        flex: 0 0 52.66%;
    }
    .thumbnails{
        &__items{
            padding:0;
            margin: 0;
            list-style: none;
            max-height: 385px;
            overflow-y: hidden;
        }
        &__item{
            margin-bottom: 39px;
            background: #f3f3f3;
            &:nth-last-of-type(1){
                margin: 0;
            }
            img{
                width: 67px;
                height: 67px;
                object-fit: cover;
                mix-blend-mode: multiply;
            }
        }
    }
    .carousel-inner{
        background: #f3f3f3;
    }
    .image-large{
        max-width: 311px;
        margin: 0 0 0 17px;
        &__item{
            height: 100%;
            mix-blend-mode: multiply;
            img{
                height: auto;
                object-fit: cover;
                max-height: 380px;
            }
        }
    }
    &__info{
        padding: 0;
        max-width: 332px;
        margin-left: auto;
    }
    &__product-name{
        font-size: 20px;
        line-height: 26px;
        font-family: $futura-book;
    }
    .ratings {
        margin-bottom: 14px;
        .fa-star, .fa{
            font-size: 12px;
        }
        .reviews-value{
            margin-left: 16px;
            font-size: 13px;
            line-height: 18px;
            padding: 0 4px;
            border: 1px solid $quick-view-reviews-value-border;
            border-radius: 3px;
        }
        .write-review{
            font-size: 14px;
            line-height: 18px;
            text-decoration: underline;
            color: $quick-view-write-review-color;
            margin-left: 16px;
        }
    }
    &__prices{
        span{
            font-size: 18px;
            color: $quick-view-price-list-color;
        }
        .price{
            display: inline-block;
            margin-left: 43px;
            .list, .sales .value, .normal{
                font-size: 18px;
                line-height: 23px;
                font-weight: normal;
            }
            .list, .normal{
                color: $quick-view-price-list-color;
            }
            .sales{
                .value{
                    color: $quick-view-price-sales-color;
                }
            }
        }
    }
    .product-number {
        // color: #ccc;
        color: $quick-view-product-number-color;
        font-size: 12px;
        padding-top: 5px;
        display: block;
        width: 100%;
    }
    &__attributes{
        .col-12{
            padding: 0;
        }
        &--promotions{
            margin-bottom: 8px;
            display: flex;
            width: 100%;
        }
        .promotions{
            margin-top: 20px;
            .title{
                border-top: 1px solid $quick-view-attribute-border;
                padding: 0;
            }
            .title-text, .content{
                color: $quick-view-promotions-color;
                font-size: 14px;
                line-height: 18px;
            }
        }
        .swatch{
            border-top: 1px solid $quick-view-attribute-border;
            margin: 16px 0 !important;
        }
        div[data-attr="color"]{
            .color-attribute{
                margin: 0 3px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: auto;
                label{
                    font-size: 9px;
                    line-height: 10px;
                    margin: 5px 4px;
                    max-width: 80px;
                    white-space: pre-line;
                    cursor: pointer;
                }
                span{
                    background: none;
                    border: none;
                    margin: 0;
                    width: 27px;
                    height: 27px;
                    background-size: 100%;
                    cursor: pointer;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        // background: url(../../images/medal.svg);
                    }
                    &.selected:after{
                        content: '\f00c';
                        background: none;
                        font-family: $awesome-font;
                        top: 3px;
                        left: 5px;
                        font-size: 16px;
                        color: $quick-view-select-color;
                    }
                    &.selected + label{
                        font-weight: bold;
                        text-decoration: underline;
                    }
                    &.unselectable{
                        background-image: none !important;
                        background: $product-no-selected-color-attribute-background;
                        position: relative;
                        cursor: auto;
                        &:before{
                            content: '';
                            width: 35px;
                            height: 1px;
                            background: $product-no-selected-line-color;
                            position: absolute;
                            top: 13px;
                            left: 50%;
                            transform: translateX(-50%) rotate(-45deg);
                        }
                    }
                    &.unselectable + label{
                        color: $product-no-selected-text-color;
                        cursor: auto;
                    }
                }
            }
        }
    }
    &__attribute{
        flex: 0 0 100%;
        max-width: none;
        padding: 0;
    }
    &__availability{
        display: none;
    }
    &__quantity{
        display: flex;
        max-width: 332px;
        .col-12:nth-of-type(1){
            max-width: 125px;
        }
        label{
            margin: 0;
            font-family: $futura-demi;
            vertical-align: sub;
        }
        .custom-select{
            padding: 7px 15px 6px 10px;
            font-family: $futura-demi;
            border-radius: 5px;
            line-height: 15px;
            font-size: 15px;
            max-width: 52px;
            height: auto;
            float: right;
        }
        .arrow-select {
            position: absolute;
            right: calc(19%);
            top: calc(50% - 7px);
            width: 10px;
            height: 10px;
            display: block;
            border-left: 2px solid $black;
            border-bottom: 2px solid $black;
            transform: rotate(-45deg);
            /* Giramos el cuadrado */
            transition: all 0.25s ease;
            background: $quickview-quantity-arrow-background;
            pointer-events: none;
        }
    }
}