// =================================
//    Breakpoints
// =================================
$phone: 32rem;
$phoneLandscape: 48rem;
$tablet: 76.8rem;
$desktop: 102.4rem;
$desktopMedium: 120rem;
$desktopLarge: 160rem;
$desktopLargeX2: 320rem;

// =================================
//    Colors
// =================================
$black: #000;
$white: #fff;
$red: #f00;
$gray: #999;
$gray-soft: #e9ecef;
$gray-tuna: #495057;
$gray-light: #dee2e6;
$blue-link: #00629b;
$gray-input-border: #ced4da;
$gray-table-header: #dadada;
$white-transparent: rgba(255, 255, 255, 0.7);
