body {
    overflow-x: hidden;
}

#main-container {
    padding: 1rem 0;

    .container {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
        padding: 0;
    }

    .container-panel {
        align-self: flex-start;
        // flex-shrink: 0;
        min-width: 100%;
    }

    .orderview {
        top: 0;
    }

    .mainTab {
        display: initial !important;
    }

    .nav-search {
        padding: 1rem 0;
    }

    #advanced-search {
        padding: 0 1rem;
    }

    #pills-tabContent {
        .input-group {
            padding: 0 0.5rem;
        }

        .form-row {
            width: 100%;
            padding: 0.5rem 0;
        }
    }

    .table th {
        padding: 1rem;
    }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .table tr.discount-row td {
        border: 0;
        color: rgb(196, 27, 11);
    }

    .btn {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;

        &.btn-gray {
            background-color: $gray-soft;
        }
    }

    .container,
    .select-option,
    .dropdown-item {
        font-size: 1.4rem;
    }

    .input-select {
        height: 3.2rem;
    }

    .typeahed-input {
        width: 40rem;
        height: 3.3rem;
    }

    .typeahead-menu {
        background-color: white;
        width: 100%;
        padding: 0.5rem;
        border-left: 0.1rem solid black;
        border-right: 0.1rem solid black;
        border-bottom: 0.1rem solid black;
    }

    .empty-message {
        padding: 0.5rem 1rem;
        text-align: center;
    }

    .typeahead-selected,
    .list-item,
    .header-back-link {
        width: 15%;
        cursor: pointer;
    }

    .header-back-link {
        width: 15rem;
    }

    .typeahead-selected {
        width: 100%;
    }

    .typeahead-selected:hover {
        background-color: lightgray;
    }
}

#tabsContent .tab-pane {
    padding-top: 1rem;
}

.removeBtn,
.refundRemoveBtn {
    position: relative;
    display: inline-block;
    transform: scale(1) rotate(45deg);
    will-change: transform;
    transition: transform 0.15s ease-out;
    background: red;
    height: 2.2rem;
    width: 0.5rem;
    cursor: pointer;

    &::after {
        background: red;
        content: "";
        height: 0.5rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2.2rem;
    }

    &::before {
        height: 3rem;
        content: "";
        width: 3rem;
        position: absolute;
        transform: rotate(-45deg);
        background: transparent;
        top: -0.5rem;
        left: -1.2rem;
    }

    &:hover {
        transform: scale(1.05) rotate(45deg);
    }
}

select.variant {
    min-width: 8rem;
    width: auto;
    display: inline-block;
}

.invalid {
    color: red;
}

div.dropdown {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1rem;
}

.text-capitalized {
    text-transform: capitalize;
}

.module--hasspacetop {
    margin-top: 2rem;
}

.loms-loader:not(.hidden) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-transparent;
    min-height: 10rem;
    width: 100%;
    height: 100%;
    z-index: 10;

    &::after {
        content: " ";
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        margin: 0.1rem;
        border-radius: 50%;
        border: 0.5rem solid $gray-tuna;
        border-color: $gray-tuna transparent $gray-tuna transparent;
        animation: loms-loader 700ms linear infinite;
    }
}

@keyframes loms-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
