.modal {
    &__cancel-order {
        .cancellation-options {
            .form-check {
                padding: 1rem 0 1.75rem;

                .form-check-input {
                    margin-top: 0.5rem;
                }
            }
        }

        .refund-options {
            padding: 2rem 0 1rem;

            .refound-label {
                padding: 0.375rem 0.75rem;
            }

            > * {
                margin-bottom: 1rem;
            }
        }

        .cancellation-description {
            &__label {
                padding-left: 1.25rem;
            }

            &__text {
                resize: none;
            }
        }

        .refundGiftDiv {
            padding-top: 1rem;
        }
    }

    .table__changeslist {
        .first-column {
            width: 30%;
        }
    }

    &__manage-return {
        max-width: 100rem;
    }

    .modal-header {
        h5 {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .return-list,
    .refund-list {
        .select-actions {
            padding: 0;
        }

        .select-label {
            cursor: pointer;
            font-size: 1.1rem;
            text-decoration: underline;
            color: $blue-link;
            margin: 0;
        }

        .product-name {
            font-weight: bold;
            line-height: 1;
        }
    }

    .refund-list {
        border-bottom: 0.2rem solid $gray-table-header;

        td,
        th {
            vertical-align: middle;
        }

        .input-refund-quantity {
            width: 6rem;
        }

        .input-refund-quantity + label {
            max-width: 7.5rem;
        }
    }

    #selectAll {
        margin-bottom: 0;
        width: 20px;
        height: 20px;
    }

    .refund-totals {
        padding-right: 0;

        .list-group-item.row {
            display: flex;
            margin-left: 0;
            margin-right: 0;
        }

        .refund-shipping-checkbox {
            margin: auto;
        }
    }

    .refund-actions {
        padding-right: 0;

        .row {
            margin: 0;

            + .row {
                margin-top: 0.5rem;
            }
        }

        .refund-value {
            width: 10rem;
        }
    }

    .refund-reason {
        padding-top: 2rem;
    }

    .modal-footer {
        line-height: 1.2rem;
        margin-left: 10px;

        .modal-footer_text {
            visibility: hidden;
        }

        button:first-child {
            margin-right: 5px;
        }
    }
}
