/* stylelint-disable no-descending-specificity */
$media1350: 85rem;
$media1250: 78rem;

.order-details {
    font-size: 1.4rem;

    .form-control {
        font-size: 1.4rem;
        height: auto;
        padding: 0.35rem 0.75rem;
    }

    .section-title {
        padding: 1rem 0 1.5rem;
        margin-left: 0.6rem;
    }

    select.form-control:not([size]):not([multiple]) {
        height: auto;
    }

    &__buttons-container {
        text-align: right;

        .cancelBtn {
            margin-right: 0.8rem;
        }
    }

    .nav-tabs {
        .nav-item {
            margin-bottom: 0.2rem;

            @include media(">=desktopLarge") {
                margin-bottom: 0.3rem;
            }

            .nav-link {
                color: $gray-tuna;
                padding: 0.5rem;
                text-transform: uppercase;
                font-size: vw(1.1rem, $phone);

                &.active {
                    color: $gray-tuna;
                    font-weight: 700;
                }

                @include media(">=phone") {
                    font-size: vw(0.8rem, $phone);
                }

                @include media(">=phoneLandscape") {
                    font-size: 1.5rem;
                }

                @include media(">=tablet") {
                    font-size: 1.65rem;
                }

                @include media(">=desktopMedium") {
                    font-size: 1.8rem;
                }

                @include media(">=desktopLarge") {
                    padding: 0.5rem 2rem;
                }
            }
        }
    }

    .list-group-item.row {
        display: flex;
        margin-left: 0;
        margin-right: 0;
    }

    .totals-discount {
        width: 8rem;
        display: inline-block;
    }

    // promotion
    .product-total-column {
        height: 1px;
    }

    .product-total-column > div {
        height: 100%;
        position: relative;

        .product-total-column__number {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
        }

        .productPromotions-total {
            position: absolute;
            bottom: 0;
            white-space: nowrap;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .productPromotions-total {
        font-weight: 600;
        color: rgb(196, 27, 11);
    }

    .productPromotions-IDs {
        color: rgb(196, 27, 11);
    }

    #orderPromotion,
    #shippingPromotion,
    #refundOrderPromotion,
    #refundShippingPromotion {
        font-style: italic;
        font-weight: 400;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: $media1350) {
    .order-details {
        > div:first-child {
            #product .table th {
                padding: 0.5rem;
            }

            .product-image img {
                width: 12rem;
            }
        }
    }
}

@media screen and (max-width: $media1350) {
    .order-details {
        flex-direction: column;

        > div:first-child,
        > div:last-child {
            max-width: 100%;
        }
    }
}
