#product {
    .table {
        thead {
            font-size: 1.6rem;
        }

        th {
            padding: 0.75rem;
            font-weight: 600;
            background-color: $gray-soft;
        }

        tr {
            text-align: center;
        }

        td {
            vertical-align: middle;
        }
    }

    .form-control {
        text-align: center;

        &[name^="Qtd"] {
            display: inline-block;
            width: 6rem;
        }
    }

    .product-image {
        min-width: 9rem;
    }

    .product-name {
        font-weight: 600;
        display: block;
    }

    .variant-label {
        margin: 0.5rem 0;

        .label {
            display: inline-block;
            min-width: 7.5rem;
            font-weight: 500;
        }

        label {
            display: none;
        }
    }

    .product-id {
        color: $gray;
        display: block;
    }

    .add-product {
        margin: 1rem 0;

        &__label {
            font-weight: 600;
            padding: 0.75rem;
            vertical-align: middle;
        }
    }

    #search-suggestions {
        border: 0.1rem solid $gray-input-border;
        border-radius: 0.25rem;
        display: none;
        margin: 0 0 2.5rem auto;
        max-height: 23.5rem;
        overflow: auto;
        padding: 0.1rem 1.5rem;

        .product-suggestion {
            cursor: pointer;
            height: 3.3rem;
            padding: 0.5rem 0.75rem;
            transition: background-color 0.15s ease-out;

            + .product-suggestion {
                border-top: 0.1rem solid $gray-soft;
            }

            &:hover {
                background-color: $gray-light;
            }
        }
    }
}
