#tabsContent {
    #general {
        .move-to-order {
            cursor: pointer;
            color: $blue-link;
        }

        .move-to-order:hover {
            text-decoration: underline;
        }
    }
}
