@import "../skin/variables";
.page{
    background: $page-background;
    position: relative;
    overflow: hidden;
}

div#checkout-main {
    margin-top: -160px ;
    margin-bottom: 160px;
}
@media screen and (max-width: 1024px) {
    div#checkout-main {
        margin-top: -105px;
    }
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.error-message{
    max-width: 690px;
    margin: 24px auto;
    background: #FFE3E3;
    border: none;
    color: #AD1414;
    max-height: 70px;

  i.fa.fa-frown-o{
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 15px;
    color: #AD1414;
  }
  .error-message-text{
    padding: 17px 20px;
    width: 85%;
    margin: 0 auto;
    font-size: 12px;
    color: #AD1414;
  }
  .alert-close{
    border: none;
    width: 29px;
    height: 29px;
    background: #AD1414;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 15px;
    top: 20%;
    span{
        font-size: 30px;
        line-height: 28px;
        color: #FFE3E3;
    }
  }
}
@media(max-width: 992px){
    .error-container {
        order: 1;
    }
    .error-message{
        order: 1;
        .alert-close, i.fa.fa-frown-o{
            top:20%;
        }
    }
}

.checkout-progress-indicator{
    display: block;
    position: relative;
    width: 100%;
    max-width: 629px;
    top: -65px;
    left: 45%;
    transform: translateX(-50%);
    .checkout-progress-indicator-in-in{
        text-align: center;
    }
    .step-item{
        display: inline-block;
        font-size: 13px;
        line-height: 16px;
        box-shadow: 0 1px 4px $checkout-step-shadow;
        border-radius: 30px;
        padding: 7px 9px;
        background: $checkout-step-inactive-background;
        &:nth-of-type(1){
            padding-right: 98px;
        }
        &:nth-of-type(2){
            padding-right: 88px;
            z-index: 1;
        }
        &:nth-of-type(3){
            padding-right: 63px;
            z-index: 2;
        }
        &:nth-of-type(n+2){
            margin-left: -35px;
        }
        .step-item-label{
            display: flex;
            align-items: center;
            color: $checkout-step-inactive-text-color;
            font-family: $futura-demi;
        }
        .visually-hidden{
            font-size: 21px;
            line-height: 27px;
            background: $checkout-step-inactive-number-background;
            color: $checkout-step-inactive-number-color;
            width: 35px;
            height: 35px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 14px;
            font-family: $futura-demi;
        }
        &.active{
            background-color: $checkout-step-active-background;
            box-shadow: 0 1px 8px $checkout-step-shadow;
            .visually-hidden{
                background: $checkout-step-active-number-background;
                color: $checkout-step-active-number-color;
            }
            .step-item-label{
                font-size: 13px;
                line-height: 16px;
                color: $checkout-step-active-text-color;
                margin: 0;
                font-family: $futura-demi;
            }
        }
    }
}
.checkout-login-page, .checkout-page{

    .placeOrderConfirmation{
        margin-bottom: 15px;
        @media (max-width: 992px){
            margin: 0;
        }
    }
    .card{
        &.ghost{
            display: none;
        }
    }
    &__forms{
        margin: -100px auto 100px;
        max-width: 632px;
    }
    &__title{
        h2{
            font-size: 20px;
            line-height: 24px;
            color: $checkout-card-header-color;
            margin: 0;
        }
    }
    &__content{
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        padding: 28px 0px 0px;
        background: $checkout-card-content-background;
        form{
            display: block;
            width: 100%;
        }
        .btn{
            display: flex;
            max-width: 270px;
            justify-content: center;
            margin: 0 auto;
            border-radius: 25px;
            margin-top: 20px;
            padding: 6px 12px;
            background-color: $checkout-btn-background;
            color: $checkout-btn-color;
            &:hover{
                text-decoration: none;
            }
        }
        .btn.btn-secundary{
            color: $black;
        }
        .check-save-card{
            align-items: end;
            display: flex;
        }
        .form-group{
            font-size: 16px;
            line-height: 21px;
            input, select{
                border-radius: 30px;
                &.is-invalid{
                    background: $checkout-input-invalid-background;
                    border-color: $checkout-input-invalid-border;
                }
            }
            input::placeholder {
                color: #BFBFBF;
                opacity: 1;
            }
            select{
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
                border-radius: 30px;
                -webkit-appearance: none;
                padding-right: 30px;
                background-color: #fff;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #BFBFBF;
            }
            &.required{
                label{
                    margin-bottom: 14px;
                    //min-width: 170px;
                    width: 100%;
                    &:before{
                        content: '';
                    }
                    &:after{
                        content: '*';
                    }
                }
            }
            &.custom-checkbox, .custom-checkbox{
                .custom-control-label{
                    &.save-card{
                        font-size: 12px;
                    }
                    &:before{
                        background: $login-checkbox-background;
                        border: 1px solid $login-checkbox-border;
                    }
                }
            }
            .custom-control-input:checked{
                ~ .custom-control-label{
                    &::before{
                        background: $login-checkbox-checked-background;
                        border: none;
                    }
                    &::after{
                        position: absolute;
                        content: '\f00c';
                        font-family: $awesome-font;
                        background: none;
                        font-size: 8px;
                        color: $login-checkbox-checked-color;
                        top: 2px;
                        left: -20px;
                    }
                }
            }
        }
        .payment-information{
            margin: 0;
            .nav-tabs{
                border: none;
            }
            .nav-item{
                position: relative;
                border-top: 1px solid $checkout-tab-payment-border;
                flex: 0 0 100%;
                .nav-link{
                    font-size: 12px;
                    line-height: 16px;
                    color: $checkout-tab-payment-color;
                    padding: 9px 54px 8px;
                    font-family: $futura-demi;
                    background: $checkout-tab-payment-background;
                    text-align: left;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 19px;
                        height: 19px;
                        background: $checkout-checkbox-radio-background;
                        border: 1px solid $checkout-checkbox-radio-border;
                        border-radius: 19px;
                        top: 14px;
                        left: 24px;
                    }
                    img{
                        margin: 0 5px;
                        height: 29px;
                    }
                    &.cash-tab{
                        img:nth-of-type(1){
                            height: 17px;
                        }
                    }
                }
                .active, .active:focus, .active:hover, .nav-link:hover{
                    border-left: 8px solid $checkout-tab-payment-border-active;
                    padding-left: 46px;
                    background: $checkout-tab-payment-background-active;
                    border-bottom: none;
                    &:before{
                        border-color: $checkout-checkbox-radio-checked-background;
                        padding-left: 16px;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        background: $checkout-checkbox-radio-checked-background;
                        top: 18px;
                        left: 28px;
                        border-radius: 10px;
                    }
                }
            }
            .credit-card-selection-new{
                flex: 0 0 100%;
                padding: 0 20px;
                .col-sm-6{
                    padding: 0;
                }
                .tab-pane{
                    display: none;
                    &.active{
                        display: block;
                        padding-bottom: 20px;
                        margin-top: 20px;
                    }
                }
            }
            .cash-form{
                &__option{
                    padding: 10px 17px;
                    padding-left: 57px;
                    background: $cash-payment-option-background;
                    border-radius: 21px;
                    position: relative;
                    max-width: 448px;
                    margin: 20px auto;
                    .check{
                        position: absolute;
                        width: 19px;
                        height: 19px;
                        background: $checkout-checkbox-radio-background;
                        border: 1px solid $checkout-checkbox-radio-border;
                        border-radius: 19px;
                        top: 14px;
                        left: 17px;
                    }
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        left: 0;
                        top: 0;
                        &:checked + .check{
                            &:before{
                                content: '';
                                position: absolute;
                                width: 11px;
                                height: 11px;
                                background: $checkout-checkbox-radio-checked-background;
                                top: 3px;
                                left: 3px;
                                border-radius: 10px;
                            }
                        }
                    }
                    &:hover{
                        input + .check{
                            &:before{
                                content: '';
                                position: absolute;
                                width: 11px;
                                height: 11px;
                                background: $checkout-checkbox-radio-checked-background;
                                top: 3px;
                                left: 3px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
                &__text{
                    padding: 0 4px;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 25px;
                    .form-group, label{
                        margin: 0;
                    }
                }
            }
        }
    }
    &__method{
        width: calc(100% + 40px);
            margin-left: -20px;
    }
    &__checkbox{
        .form-check{
            &:before{
                content: '';
            }
        }
        &--item{
            display: flex;
            flex: 0 0 100%;
            padding: 16px 20px;
            border-bottom: 1px solid $checkout-checkbox-item-border;
            font-size: 16px;
            line-height: 24px;
            font-family: $futura-medium;
            .end-lines{
                .shipping-cost{
                    background-color: transparent;
                }
            }
        }
        .custom-control-check {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        &.custom-checkbox, .custom-checkbox{
            .custom-control-label{
                background-color: transparent;
                &:before{
                    background: $checkout-checkbox-radio-background;
                    border: 1px solid $checkout-checkbox-radio-border;
                    border-radius: 30px;
                    width: 19px;
                    height: 19px;
                }
                .display-name{
                    vertical-align: middle;
                    font-family: $futura-demi;
                    background-color: transparent;
                }
            }
        }
        .custom-control-check:checked{
            ~ .custom-control-label{
                &::before{
                    border: 1px solid $checkout-checkbox-radio-checked-border;
                }
                &::after{
                    position: absolute;
                    content: '';
                    background: $checkout-checkbox-radio-checked-background;
                    width: 11px;
                    height: 11px;
                    border-radius: 11px;
                    top: 8px;
                    left: -20px;
                }
            }
        }
    }
    &__purchase{
        .card{
            border: none;
        }
        .card-header{
            background-color: transparent;
            padding: 10px 16px;
        }
        &--title{
            h2{
                font-size: 20px;
                line-height: 26px;
                font-family: $futura-demi;
            }
        }
        &--content{
            padding: 20px 16px 0;
            .start-lines,.end-lines{
                span{
                    background-color: transparent;
                }
            }
            .start-lines{
                font-size: 16px;
                line-height: 20px;
                &:before{
                    content: '';
                }
            }
            p{
                margin: 0;
            }
            .end-lines{
                font-size: 14px;
                line-height: 20px;
            }
            .order-discount{
                color: $checkout-discount-title-color;
                .end-lines{
                    color: $checkout-discount-value-color;
                }
            }
            .grand-total{
                padding: 10px 16px;
                width: calc(100% + 32px);
                margin: 20px 0 0 -16px !important;
                background: $checkout-card-header-background;
                span{
                    font-size: 20px;
                    line-height: 26px;
                    color: $checkout-card-header-color;
                }
            }
        }
        .products{
            padding-bottom: 13px;
            border-bottom: 1px solid $checkout-checkbox-item-border;
            &__title{
                font-size: 20px;
                line-height: 26px;
                font-family: $futura-demi;
                color: $checkout-order-total-products-color;
                padding: 0 16px;
            }
            &__edit{
                color: $checkout-order-edit-cart-color;
                font-size: 14px;
                line-height: 18px;
                display: flex;
                padding: 0 16px;
                a{
                    margin-left: auto;
                    text-decoration: underline;
                }
            }
        }
        .product{
            border-bottom: 1px solid $checkout-checkbox-item-border;
            padding: 20px 0;
            *{
                font-size: 14px;
            }
            &:before{
                content: '';
                display: none;
            }
            .item-image{
                margin: 0;
                padding: 0;
                padding-left: 15px;
                text-align: center;
            }
            display: flex;
            &__image{
                width: 56px;
                height: 56px;
                object-fit: cover;
            }
            &__message{
                display: block;
                font-size: 8px;
                line-height: 10px;
                margin-top: 13px;
                background: $checkout-order-stock-background;
                padding: 4px;
            }
            &__name{
                line-height: 17px;
            }
            &__attributes{
                padding: 10px 0;
                line-height: 23px;
                display: flex;
                flex-wrap: wrap;
                &--name{
                    text-transform: capitalize;
                }
                &--value{
                    color: $checkout-order-attributes-value-color;
                }
                .col-4{
                    padding: 0;
                    &:nth-of-type(2){
                        text-align: center;
                    }
                    &:nth-of-type(3){
                        text-align: right;
                    }
                }
            }
            &__totals{
                display: flex;
                align-items: end;
                .col-4{
                    padding: 0;
                    &:nth-of-type(2){
                        margin-left: auto;
                        text-align: right;
                    }
                }
                span{
                    display: block;
                }
                .old{
                    text-decoration: line-through;
                    + .discount{
                        color: $checkout-order-attributes-discount-color;
                    }
                }
            }
            .pricing, .price{
                font-weight: normal;
            }
        }
        .btn-delete{
            display: none;
            pointer-events: none;
        }

    }
    &__shipping-summary, &__payment-summary{
        border: none;
        &--title.card-header{
            background-color: $checkout-card-summary-header-background;
            color: $checkout-card-summary-header-color;
            border: none;
            padding: 11px 16px;
            h2{
                font-size: 18px;
                line-height: 24px;
            }
            span{
                color: $checkout-card-summary-header-link-color;
                text-decoration: underline;
                font-size: 14px;
                line-height: 24px;
            }
        }
        &--content{
            padding: 23px 20px;
            background: $checkout-card-content-background;
            .single-shipping{
                display: flex;
                flex-wrap: wrap;
            }
            .left-content, .right-content{
                padding: 0;
                span{
                    display: block;
                }
            }
            .left-content{
                padding-right: 4.55%;
            }
            .right-content{
                padding-left: 4.55%;
            }
            .summary-details{
                margin: 10px 0 0;
                padding: 0;
                display: flex;
                p{
                    margin: 0;
                }
            }
        }
    }
    .terms-and-conditions .form-check{
        margin: 10px;
    }
    &__shipping-summary{
        &--content{
            .summary-details{
                flex-wrap: wrap;
                width: calc(100% + 40px);
                margin-left: -20px;
                max-width: none;
                flex: 0 0 calc(100% + 40px);
                .card-header{
                    padding: 11px 16px;
                    font-size: 18px;
                    line-height: 24px;
                    font-family: $futura-demi;
                }
                .card-body{
                    display: flex;
                    padding: 20px 16px 10px;
                    .col-6{
                        padding: 0;
                    }
                    .shipping-method-title{
                        font-family: $futura-demi;
                    }
                    .pricing{
                        text-align: right;
                    }
                }
                &:before{
                    content: '';
                    width: 100%;
                    height: 25px;
                    background-color: $checkout-card-space-background;
                }
            }
        }
    }
    &__payment-summary{
        .summary-details{
            margin-top: 0;
        }
        span{
            display: block;
        }
    }
    .shipping-section, .payment-section{
        border: none;
    }
    .shipping-section{
        .shipping-address{
            padding: 0 20px;
            .select-address{
                padding: 0 15px;
            }
        }
    }
    .payment-section{
        .billing-address-block, .contact-info-block{
            padding: 0 20px;
            border: none;
        }
        .address-selector-buttons{
            display: flex;
            .btn{
                border-radius: 25px;
                background: $checkout-btn-background;
                color: $checkout-btn-color;
                font-size: 20px;
                line-height: 26px;
                padding: 7px 10px;
                margin: 10px auto;
                width: 100%;
            }
        }
        .info-icon{
            line-height: 14px;
            position: absolute;
            top: 45px;
            right: 25px;
            .icon{
                width: 15px;
                height: 15px;
                background-color: transparent;
                border: 1px solid $checkout-info-icon-border;
                color: $checkout-info-icon-color;
                border-radius: 15px;
                font-size: 13px;
                font-family: $futura-demi;
            }
        }
    }
    .next-step-button{
        .btn{
            max-width: 270px;
            margin: 0 auto;
            border-radius: 25px;
            padding: 7px 10px;
        }
    }
    .credit-card-form, .mercadopago-content, .security-code-input{
        label[for="securityCode"], label[for="mercadoPagoSecurityCode"], label[for="saved-payment-security-code"]{
            + .info-icon:hover{
                // position: relative;
                &:before{
                    content: 'El CVV son los tres dígitos que encontrarás en el reverso de tu tarjeta o cuatro dígitos al frente en tarjetas AMEX';
                    position: absolute;
                    background: $checkout-info-message-background;
                    color: $checkout-info-message-color;
                    font-size: 10px;
                    line-height: 10px;
                    padding: 6px 15px;
                    width: 193px;
                    right: -10px;
                    top: -60px;
                    font-family: $futura-book;
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 20px solid $checkout-info-message-background;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    top: -25px;
                    right: -10px;
                }
            }
        }
    }
}
.checkout-login-page{
    &__content{
        padding: 28px 20px;
        .fa{
            line-height: 24px;
            margin-right: 5px;
        }
    }
}
.confirmation-page{
    &.container{
        margin-top: 117px;
        margin-bottom: 280px;
    }
    &__title{
        font-size: 42px;
        line-height: 54px;
        color: $confirmation-title-color;
        font-family: $futura-demi;
        text-align: center;
        margin-bottom: 12px;
        padding-top: 20px;
    }
    &__message, &__dates{
        font-size: 18px;
        line-height: 24px;
        color: $confirmation-message-color;
        text-align: center;
    }
    &__message{
        padding-bottom: 20px;
        border-bottom: 1px solid $confirmation-message-border;

    }
    &__dates{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .col-6{
            padding: 0;
            span{
                display: block;
            }
        }
        &--value{
            font-family: $futura-demi;
        }
        &--print{
            text-align: center;
            margin: 21px auto;
            a{
                text-decoration: underline;
                color: $confirmation-print-color;
                font-size: 12px;
                line-height: 16px;
            }
            .fa-print{
                font-size: 18px;
                color: $confirmation-print-color;
                margin-right: 10px;
                &::before{
                    font-family: $awesome-font;
                    font-style: initial;
                }
            }
        }
        .cash{
            .card{
                border: none;
                margin-bottom: 22px;
            }
            .card-body{
                padding: 20px;
                background: $cash-confirmation-card-background;
            }
            &__first-section{
                margin-bottom: 10px;
                .col-md-7{
                    text-align: left;
                    padding: 0;
                }
                .col-md-5{
                    text-align: right;
                    padding: 0;
                }
            }
            &__message{
                font-size: 16px;
                line-height: 24px;
                margin: 30px auto 20px;
                color: $cash-confirmation-message-color;
                font-family: $futura-demi;
            }
            &__amount-value{
                font-size: 14px;
                line-height: 24px;
                span{
                    display: inline-block;
                    margin: 0;
                    &:nth-of-type(1){
                        margin-right: 24px;
                        color: $cash-confirmation-text-color;
                    }
                }
            }
            &__order-number{
                span{
                    font-size: 16px;
                    line-height: 20px;
                    color: $cash-confirmation-text-color;
                }
                h2{
                    background: $cash-confirmation-order-background;
                    font-size: 24px;
                    line-height: 31px;
                    font-family: $futura-demi;
                    padding: 13px;
                    border: 1px solid $cash-confirmation-order-border;
                    border-radius: 29px;
                    color: $cash-confirmation-order-color;
                    max-width: 416px;
                    margin: 10px auto 30px;
                }
                &.cie{
                    margin-top: 20px;
                }
            }
            &__instructions, &__other-messages, &__complete-messages{
                font-size: 16px;
                line-height: 24px;
                color: $cash-confirmation-text-color;
                text-align: left;
                padding: 0 16px 0 17px;
            }
            &__instructions{
                font-family: $futura-demi;
                span{
                    display: block;
                }
                .numbers{
                    margin-bottom: 0;
                    font-size: 14px;
                }
            }
            &__other-messages{
                span{
                    font-family: $futura-demi;
                    display: block;
                    margin: 15px 0 0;
                }
            }
            &__complete-message{
                background: $cash-confirmation-complete-message-background;
                padding: 9.5px 17px;
                color: $cash-confirmation-complete-message-color;
                margin-top: 20px;
                font-size: 16px;
                line-height: 20px;
                text-align: left;
                .fa{
                    font-size: 24px;
                    margin-right: 17px;
                    line-height: 19px;
                    vertical-align: text-top;
                    &:before{
                        content: '\f003';
                        display: block;
                        height: 19px;
                    }
                }
            }
        }
        &--print.cash{
            + .confirmation-page__dates--print{
                display: none;
            }
        }
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0 42px;
    }
    &__content{
        flex: 0 0 60%;
        max-width: 632px;
        padding: 0;
        &--shipping, &--payment{
            .card-header{
                background-color: $confirmation-card-header-background;
                padding: 0;
                border: none;
                text-align: left;
                h2{
                    font-size: 18px;
                    line-height: 24px;
                    color: $confirmation-card-header-color;
                    margin: 0;
                    padding: 11px 16px;
                }
                &.col-12{
                    padding: 11px 16px;
                }
            }
            .card-body{
                background-color: $confirmation-card-body-background;
                color: $confirmation-card-body-color;
                padding: 23px 20px;
            }
            .single-shipping{
                display: flex;
                flex-wrap: wrap;
                .col-6{
                    padding: 0;
                }
                span{
                    display: block;
                }
            }
            .credit-card-type{
                span{
                    display: block;
                }
            }
        }
        &--shipping{
            .summary-details{
                flex:0 0 calc(100% + 40px);
                max-width: none;
                font-size: 18px;
                line-height: 24px;
                font-family: $futura-demi;
                margin-top: 23px;
                margin-left: -20px;
                .card-header{
                    font-size: 18px;
                    line-height: 24px;
                    font-family: $futura-demi;
                    .edit-button{
                        display: none;
                    }
                }
                .card-body{
                    padding: 23px 20px;
                    display: flex;
                    .col-6{
                        .pricing{
                            text-align: right;
                            font-size: 16px;
                            line-height: 24px;
                            padding-right: 5px;
                        }
                    }
                }
            }
            .shipping-method{
                span{
                    font-family: $futura-demi;
                    font-size: 16px;
                    line-height: 24px;
                }

            }
        }
    }
    &__order{
        display: flex;
        flex: 0 0 40%;
        max-width: 416px;
        flex-wrap: wrap;
        padding: 0;
        margin-left: auto;
        &--title{
            display: block;
            color: $confirmation-order-color;
            font-family: $futura-demi;
            font-size: 20px;
            line-height: 26px;
            text-align: left;
            padding: 0 16px;
            border-bottom: 1px solid $confirmation-order-border;
            flex: 0 0 100%;
            padding-bottom: 9px;
            padding-top: 30px;
        }
        .total-summary{
            flex: 0 0 100%;
            .card-body{
                padding: 0;
                p{
                    margin: 0;
                }
                span, .order-discount{
                    color: $confirmation-order-color;
                    font-size: 16px;
                    line-height: 20px;
                }
                .order-discount-total{
                    color: $confirmation-order-discount-color;
                }
                .grand-total{
                    width: 100%;
                    margin-top: 20px !important;
                    padding: 10px 15.5px;
                    background: $confirmation-order-total-background;
                    span{
                        font-family: $futura-demi;
                        font-size: 20px;
                        line-height: 26px;
                        color: $confirmation-order-total-color;
                    }
                }
            }
        }
        .order-product-summary{
            border: none;
            flex: 0 0 100%;
            margin-top: 38px;
            .products{
                border-bottom: 1px solid $confirmation-checkbox-item-border;
                padding-bottom: 9px;
                &__title{
                    font-size: 20px;
                    line-height: 26px;
                    font-family: $futura-demi;
                    color: $checkout-order-total-products-color;
                    padding: 0 16px;
                }
                &__edit{
                    color: $checkout-order-edit-cart-color;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    padding: 0 16px;
                    a{
                        margin-left: auto;
                        text-decoration: underline;
                    }
                }
            }
            .product{
                border-bottom: 1px solid $confirmation-checkbox-item-border;
                padding: 20px 0;
                *{
                    font-size: 14px;
                }
                &:before{
                    content: '';
                    display: none;
                }
                .item-image{
                    margin: 0;
                    padding: 0;
                    padding-left: 15px;
                    text-align: center;
                }
                display: flex;
                &__image{
                    width: 56px;
                    height: 56px;
                    object-fit: cover;
                }
                &__message{
                    display: block;
                    font-size: 8px;
                    line-height: 10px;
                    margin-top: 13px;
                    background: $confirmation-order-stock-background;
                    padding: 4px;
                }
                &__name{
                    line-height: 17px;
                }
                &__attributes{
                    padding: 10px 0;
                    line-height: 23px;
                    display: flex;
                    flex-wrap: wrap;
                    &--name{
                        text-transform: capitalize;
                    }
                    &--value{
                        color: $confirmation-order-attributes-value-color;
                    }
                    .col-4{
                        padding: 0;
                        &:nth-of-type(2){
                            text-align: center;
                        }
                        &:nth-of-type(3){
                            text-align: right;
                        }
                    }
                }
                &__totals{
                    display: flex;
                    align-items: end;
                    .col-4{
                        padding: 0;
                        &:nth-of-type(2){
                            margin-left: auto;
                            text-align: right;
                        }
                    }
                    span{
                        display: block;
                    }
                    .old{
                        text-decoration: line-through;
                        + .discount{
                            color: $confirmation-order-attributes-discount-color;
                        }
                    }
                }
                .pricing, .price{
                    font-weight: normal;
                }
            }
            .btn-delete{
                display: none;
                pointer-events: none;
            }
        }
    }
    &__button{
        max-width: 270px;
        margin-left: auto;
        margin-top: 40px;
        margin-right: 16px;
        a{
            border-radius: 25px;
            font-size: 20px;
            line-height: 26px;
            font-family: $futura-demi;
            padding: 7px;
        }
    }
}
@media(max-width: 992px){
    .checkout-progress-indicator{
        top: 0px;
        max-width: 100%;
        left: 50%;
        .step-item{
            font-size: 11px;
            line-height: 16px;
            padding: 5px;
            &:nth-of-type(1){
                padding-right: 30px;
            }
            &:nth-of-type(2){
                padding-right: 30px;
                margin-left: -25px;
            }
            &:nth-of-type(3){
                padding-right: 12px;
                margin-left: -25px;
            }
            .visually-hidden{
                font-size: 12px;
                line-height: 16px;
                width: 24px;
                height: 24px;
                margin-right: 5px;
            }
            &.active{
                .step-item-label{
                    font-size: 11px;
                    line-height: 16px;
                }
            }
        }
    }
    .checkout-page{
        &.container{
            padding: 0;
        }
        &__container{
            flex-direction: column-reverse;
            .col-lg-7, .col-lg-5{
                padding: 0;
            }
        }
        .payment-section{
            .address-selector-buttons{
                display: flex;
                flex-wrap: wrap;
                .col-6{
                    flex: 0 0 100%;
                    max-width: none;
                    .btn{
                        float: none;
                    }
                }
            }
        }
        &__purchase{
            margin-top: 24px;
            &--title{
                position: relative;
                h2{
                    font-size: 26px;
                    line-height: 34px;
                    color: $checkout-order-summary-color;
                }
                &:after{
                    content: '\f106';
                    color: $checkout-order-summary-color;
                    font-family: $awesome-font;
                    font-size: 26px;
                    position: absolute;
                    right: 20px;
                    top: 11px;
                }
            }
            &.hide-content{
                .checkout-page__purchase--title{
                    border: none;
                    &:after{
                        content: '\f107';
                        font-family: $awesome-font;
                        font-size: 26px;
                    }
                }
                .checkout-page__purchase--content, .order-product-summary{
                    display: none;
                }
            }
        }
        .credit-card-form, .mercadopago-content{
            .number-name{
                .col-6{
                    flex: 0 0 100%;
                    max-width: none;
                }
            }
            .dates{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .check-save-card{
                .form-group{
                    margin: 0;
                }
            }
            label[for="securityCode"]{
                + .info-icon:hover{
                    &:before{
                        left: -160px;
                    }
                }
            }
        }
    }
    .confirmation-page{
        &.container{
            padding: 0;
        }
        &__title{
            font-size: 32px;
            line-height: 26px;
        }
        &__content{
            padding: 0;
            max-width: none;
            flex: 0 0 100%;
        }
        &__dates{
            .col-6{
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
        &__container{
            padding: 0;
        }
        &__button{
            margin: 30px auto 40px;
            margin-left: none;
        }
        &__order{
            max-width: none;
            margin-left: inherit;
            padding: 0;
            flex: 0 0 100%;
            .order-product-summary{
                .product{
                    .item{
                        &__characteristic{
                            max-width: calc(83.333% - 18px);
                        }
                    }
                }
            }
        }
    }
}
