@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../utilities/shapes";
@import "../utilities/responsiveUtils";
@import "../utilities/swatch";

.product-detail .swatch-circle {
    // var(--text-primary) will be replaced by color image background in ISML
    @include swatch(2.5em, var(--text-primary));

    width: 23px;
    height: 23px;
    margin: 0 13px 0 0;
    border-radius: 100%;
}

.add-to-backInStock-messages {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    top: 10%;
    margin: 0 auto;
}

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(70%);
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.social-icons {
    i {
        &::before {
            font-size: 16px;
            margin: 0;

            @include media-breakpoint-up(md) {
                font-size: 16px;
            }
        }
    }

    .acf-icon-facebook {
        &::before {
            font-size: 14px;
        }
    }
}

.social-container {
    margin: 40px 0;
    text-align: center;
    font-size: 14px;

    .social-icons {
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        color: var(--text-special);
        margin: 0;

        li {
            margin-right: 20px;
        }

        a {
            color: var(--text-special);
        }
    }

    .social-share {
        margin-right: 16px;
    }

    @include media-breakpoint-up(md) {
        margin: 20px 0;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        margin: 4px 0;
    }
}

label.availability {
    padding-right: 0.3125em;
}

.ratings {
    margin-top: 5px;

    @include media-breakpoint-only(xs) {
        background-color: var(--background-primary);
    }

    .text-m {
        font-family: var(--font-primary);
        margin-left: 5px;
    }
}

.pdp-alerts {
    font-size: 16px;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.product-name,
.product-bundle-name {
    color: var(--text-special-2);
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 35px;
    line-height: 32px;
    margin: 44px 0 8px;
    text-transform: capitalize;

    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 8px;
    }
}

.product-bundle-name {
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;

    @include media-breakpoint-up(md) {
        font-size: 20px;
        margin: 0 0 15px 0;
    }
}

.main-image-wrapper {
    &.bundle {
        @include media-breakpoint-up(lg) {
            max-width: 280px;
        }
    }
}

.product-number {
    color: var(--text-primary);
    font-size: 0.875em;
    line-height: 24px;
    padding: 0;

    .product-id-class {
        color: var(--text-special);
    }
}

.product-desctiption {
    line-height: 20px;
    margin: 10px 0 35px;

    @include media-breakpoint-up(md) {
        line-height: 24px;
        margin: 10px 0 25px;
    }

    @include media-breakpoint-up(lg) {
        margin: 0 0 20px;
    }
}

.promotions {
    font-weight: normal;
    height: 85%;

    .title-text {
        color: var(--error-primary);
    }

    .content {
        color: var(--text-special-2);
        padding: 0 15px 20px;
        display: block;
    }

    .callout {
        font-size: 1.25em;
        padding: 1.25rem 0;
        display: none;

        @include media-breakpoint-up(sm) {
            font-size: 1.375em;
        }
    }
}

.product-breadcrumb .breadcrumb {
    border-bottom: none;
    margin-left: -1rem;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        border-top: 1px solid var(--border-primary);
    }
}

.price {
    font-size: 22px;
    line-height: 30px;
    color: var(--text-special);

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
}

.product-options {
    margin-top: 1.25em;

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.color-attribute {
    border: none;
    padding: 0;
    background: none;

    &:focus {
        outline: 0;
    }
}

.non-input-label {
    color: var(--text-primary);
    display: block;
    margin-bottom: 0.5rem;
}

.select-size {
    option:disabled {
        color: var(--text-disabled);
    }
}

.attributes {
    hr {
        margin: 0 -20px;

        @include media-breakpoint-up(md) {
            margin: 20px 0;
        }
    }

    .set-item & {
        hr {
            margin: 20px 0;
        }
    }
}

.recommendations {
    margin: 65px 0 37px;

    .up-4-products-carousel__title {
        font-size: 32px;
    }

    .up-4-products-carousel__description {
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
    }

    .up-4-products-carousel__carousel-wrapper {
        display: block;
    }

    .tile-body {
        padding: 6px 0 0;

        .pdp-link {
            a {
                font-size: 10px;
                line-height: 14px;
                color: var(--text-primary);
            }
        }

        .price {
            font-size: 14px;
            line-height: 17px;
            color: var(--text-special);
        }
    }

    .glide__track {
        overflow: visible;
    }

    .glide__bullets {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .glide__bullet {
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background-color: var(--background-secondary);
            opacity: 0.4;
            border-color: transparent;
            margin-right: 17px;
            padding: 0;

            &:last-child {
                margin: 0;
            }

            &.glide__bullet--active {
                opacity: 1;
            }
        }
    }

    .glide__slide {
        position: relative;

        .image-container {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                background-color: var(--background-special);
                z-index: 1;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        &.glide__slide--active {
            .image-container {
                &::before {
                    content: "";
                    display: none;
                }
            }

            .tile-body {
                opacity: 1;
            }
        }

        .tile-body {
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
                opacity: 1;
            }
        }
    }

    .product-tile {
        min-height: auto;
    }

    @include media-breakpoint-up(md) {
        margin: 130px 0 90px;

        .up-4-products-carousel__title {
            font-size: 40px;
            font-weight: bold;
        }

        .up-4-products-carousel__description {
            font-size: 23px;
            line-height: 24px;
            font-weight: normal;
        }

        .up-4-products-carousel__carousel-wrapper {
            margin-top: 68px;
        }

        .tile-body {
            padding: 16px 0 0;

            .pdp-link {
                a {
                    font-size: 23px;
                    line-height: 26px;
                }
            }

            .price {
                font-size: 25px;
                line-height: 33px;
                font-weight: bold;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin: 108px 0 117px;

        .up-4-products-carousel__title {
            font-size: 32px;
        }

        .up-4-products-carousel__description {
            font-size: 14px;
            margin: 12px 0 0;
            font-weight: bold;
        }

        .up-4-products-carousel__divider {
            margin-top: 53px;
        }

        .up-4-products-carousel__carousel-wrapper {
            margin-top: 65px;

            .glide__arrows {
                top: 25%;
            }
        }

        .tile-body {
            padding: 16px 0 0;

            .pdp-link {
                a {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .price {
                font-size: 25px;
                line-height: 33px;
                font-weight: bold;
            }
        }
    }
}

.product-detail-tabs {
    margin-top: 2em;

    .nav-tabs {
        display: none;
    }

    .description {
        color: var(--text-primary);

        @include media-breakpoint-up(sm) {
            margin-bottom: 2em;
        }
    }

    .content {
        color: var(--text-primary);

        @include media-breakpoint-only(xs) {
            margin-top: 1em;
        }
    }

    .card-header {
        font-size: 32px;

        a {
            &:hover,
            &:focus {
                color: var(--text-secondary);
                text-decoration: none;
            }
        }
    }

    .card-body {
        background-color: var(--background-special-2);
        font-size: 16px;
        line-height: 25px;

        ul {
            list-style: none;
            padding: 0;

            li::before {
                content: "\2713";
                margin-right: 10px;
                color: var(--text-special-2);
            }
        }
    }

    @include media-breakpoint-only(xs) {
        margin-top: 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        > div:last-child {
            margin-bottom: 1em;
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: 60px;

        .nav-tabs {
            display: flex;
        }

        .nav-link {
            opacity: 0.5;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            color: var(--text-special-2);

            &.active {
                color: var(--text-special-2);
                opacity: 1;
                border-bottom: 1px solid var(--border-secondary);
            }
        }

        .nav-item {
            margin-right: 60px;

            &:last-child {
                margin: 0;
            }
        }

        .card {
            border: none;
        }

        .card .card-header {
            display: none;
        }

        .card .collapse {
            display: block;
        }

        .card-body {
            background-color: var(--background-primary);
            text-align: left;
            font-size: 14px;
            padding: 39px 0 0;
        }
    }

    @include media-breakpoint-down(sm) {
        .tab-content > .tab-pane {
            display: block !important;
            opacity: 1;
        }
    }
}

.product-detail {
    &.bundle {
        .pdp-wishlist-cta {
            text-align: center;
            box-shadow: none;
            color: var(--text-special);

            &:hover {
                box-shadow: none;
                border: 0;

                &:focus {
                    box-shadow: none;
                    border: 0;
                }
                &:active {
                    box-shadow: none;
                    border: 0;
                }
            }
        }

        .cart-and-ipay {
            width: 100%;
        }
    }

    .bundle-image {
        max-width: 100%;
        height: auto;
    }
}

// YOTPO styles
.ratings,
.product-reviews {
    .yotpo {
        div,
        span,
        p,
        a,
        img,
        i,
        strong,
        sup,
        ul,
        li,
        form,
        label {
            font-family: var(--font-primary);
            color: var(--text-primary);
            font-size: 16px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }
        }

        a {
            color: var(--text-primary) !important;
            font-size: 16px;

            &:hover {
                color: var(--text-primary) !important;
            }

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }
        }

        .form-group {
            .form-element {
                .form-input-error {
                    color: var(--error-primary);
                    font-weight: normal;
                }
            }
        }

        .primary-color-btn,
        input[type="button"] {
            &.primary-color-btn {
                background-color: var(--background-secondary);
                font-family: var(--font-primary);
                line-height: 30px;
                font-size: 16px;
                font-weight: bold;
                text-transform: capitalize;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 14px;
                }

                &:hover {
                    background-color: var(--background-secondary) !important;
                }
            }
        }

        .yotpo-nav {
            ul {
                .yotpo-nav-tab {
                    &.yotpo-active {
                        span {
                            color: var(--text-primary);
                        }

                        .yotpo-nav-wrapper {
                            border-color: var(--border-special);
                        }
                    }
                }
            }
        }

        .yotpo-small-box {
            display: none;

            &.yotpo-nav {
                &.reviews {
                    display: block;
                    padding: 0;
                }
            }
        }

        .yotpo-regular-box {
            border: none;
            margin: 0;
        }

        .yotpo-default-button {
            background-color: var(--background-secondary);
            font-family: var(--font-primary);
            line-height: 56px;
            font-size: 14px;
            font-weight: bold;
            padding: 0 20px;
            text-transform: capitalize;

            &:hover {
                background-color: var(--background-secondary);
            }

            @include media-breakpoint-up(md) {
                font-size: 20px;
                line-height: 46px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 56px;
            }
        }

        &.yotpo-main-widget {
            .yotpo-icon-btn {
                padding: 0 20px;
            }

            .yotpo-bottomline {
                .yotpo-icon-empty-star,
                .yotpo-icon-star,
                .yotpo-icon-half-star {
                    font-size: 24px;
                }
            }

            &.yotpo-small {
                .write-review {
                    .socialize-wrapper {
                        .yotpo-or {
                            margin: 0;
                        }
                    }
                }

                .yotpo-nav {
                    .yotpo-dropdown-wrapper {
                        margin: 10px 0;

                        &.mobile-collapse {
                            .yotpo-menu-mobile-collapse {
                                background-color: var(--background-secondary);
                                border-color: none;

                                .yotpo-nav-dropdown-category {
                                    .yotpo-icon,
                                    .y-label {
                                        color: var(--text-secondary);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .yotpo-thank-you {
                .yotpo-thankyou-header {
                    .yotpo-icon-heart {
                        &::before {
                            color: var(--text-special-2);
                        }
                    }

                    span {
                        color: var(--text-special-2);
                    }
                }

                &:focus {
                    outline: none;
                }

                .yotpo-thankyou-footer {
                    .yotpo-default-button {
                        padding: 0;
                        line-height: 41px;
                    }
                }
            }
        }

        &.bottomLine {
            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    font-size: 16px;
                    color: var(--text-special-2);
                }
            }
        }

        .yotpo-modal-bottom-line {
            .yotpo-bottomline {
                .yotpo-icon-star,
                .yotpo-icon-half-star,
                .yotpo-icon-empty-star {
                    font-size: 16px;
                    color: var(--text-special-2);
                }
            }
        }

        .yotpo-bottomline {
            .yotpo-icon-empty-star,
            .yotpo-icon-star,
            .yotpo-icon-half-star {
                color: var(--text-special-2);
            }
        }

        .yotpo-first-review {
            .yotpo-first-review-stars {
                .yotpo-icon-star {
                    color: var(--text-special-2);
                }
            }
        }

        .y-label {
            font-size: 16px;
            color: var(--text-primary);

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }
        }

        span {
            &.y-label {
                font-size: 16px;
                color: var(--text-primary);

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 14px;
                }
            }
        }

        input,
        .y-input,
        .yotpo-text-box {
            font-family: var(--font-primary);
            color: var(--text-primary);
            font-size: 16px;
            border-color: var(--border-primary);

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }
        }

        .write-review {
            .yotpo-header {
                .yotpo-header-title {
                    font-size: 16px;

                    @include media-breakpoint-up(md) {
                        font-size: 18px;
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: 14px;
                    }
                }

                .y-label {
                    .form-input-error {
                        color: var(--error-primary);
                        font-weight: normal;
                    }
                }

                .yotpo-icon {
                    color: var(--text-special-2);
                }
            }

            .form-input-error {
                color: var(--error-primary);
                font-weight: normal;
            }

            .connect-wrapper {
                .form-element {
                    .form-input-error {
                        color: var(--error-primary);
                        font-weight: normal;
                    }
                }
            }

            .submit-button {
                .form-input-error {
                    margin: 20px 0;
                    color: var(--error-primary);
                    font-weight: normal;

                    @include media-breakpoint-up(md) {
                        margin: 30px 20px 20px 0;
                    }
                }
            }

            .socialize-wrapper {
                .socialize {
                    .yotpo-icon-btn {
                        background-color: transparent;
                        padding: 3px 6px;

                        .yotpo-icon {
                            &::before {
                                color: var(--text-special);
                            }
                        }
                    }
                }
            }
        }

        .yotpo-messages {
            margin: 25px 0;
        }

        .yotpo-review {
            &.yotpo-regular-box {
                border-top: 1px solid var(--border-primary);
            }
        }

        .yotpo-review,
        .yotpo-comment,
        .yotpo-question,
        .yotpo-onsite-upload {
            .yotpo-header {
                .yotpo-review-stars {
                    .yotpo-icon {
                        color: var(--text-special-2);
                    }
                }

                .yotpo-header-element {
                    .y-label {
                        &.yotpo-user-name {
                            color: var(--text-special);
                            font-size: 16px;
                            text-transform: capitalize;

                            @include media-breakpoint-up(md) {
                                font-size: 18px;
                            }

                            @include media-breakpoint-up(lg) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .yotpo-icon-profile {
                    background-color: var(--text-primary);
                }

                &.yotpo-verified-user {
                    .yotpo-icon-circle-checkmark {
                        background-color: var(--background-secondary);
                    }
                }
            }

            .yotpo-main {
                .content-title,
                .content-review {
                    color: var(--text-primary);
                    line-height: 22px;
                }
            }

            .yotpo-footer {
                .yotpo-action {
                    &:hover {
                        color: var(--text-primary);

                        .y-label {
                            color: var(--text-primary);
                        }
                    }

                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
