.container .breadcrumb {
    border-radius: 0;
    background-color: var(--background-primary);
    border-bottom: $border-width solid var(--border-primary);
}

.breadcrumb-link {
    &--last {
        .product-breadcrumb & {
            font-weight: bold;
        }
    }
}
.page-breadcrumbs{
    a{
        padding: 0;
    }
    .fa{
        padding: 0 10px 0 9px;
    }
}
