@import "../skin/variables";
@import "bootstrap/scss/mixins/breakpoints";

.page-breadcrumbs {
   // margin-left: 2.5em;
    color: $black;
    a{
        padding-right: 0.5rem;
    }
    .fa {
        font-family: FontAwesome;
        padding-right: 0.5rem;
        content: "\F0DA";
        color: $black;
    }
}
@media (max-width: 991.98px) {
    .page-breadcrumbs {
        margin-left: 0;
    }
}


.page-breadcrumbs__link {
    font: 18px var(--font-primary);

    &.active {
        color: var(--text-special-2);
    }
}

.experience-assets-breadcrumb {
    display: inline;
}
