@import "../skin/variables";

// -------- Mobile --------
@media screen and (max-width: 991px) {

    //.menu-toggleable-left.navbar-toggleable-sm.in {
       // z-index: 99;
    //}

    // -------- Categorias 1 --------
    .main-menu .navbar.bg-inverse .navbar-nav .nav-link {
        font-size: 24px;
        color: $black;
        text-align: left;
        padding: 10px 25px;
    }

    .menu-toggleable-left .close-menu {
        min-width: 50%;
        left: 0;
        background: $white;
        border-bottom: none;
        margin: 120px 0 0 0;
        line-height: 30px;
        padding: 0 25px;
        .pull-right{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        button {
            padding: 0;
            span {
            color: $gray90;
            font-family: "Futura-book";
            font-size: 50px;
        }
    }
    }

    .menu-toggleable-left.in .nav-item+.nav-item {
        border-top: none;

        a {
            display: flex;
            justify-content: space-between;
            i{
                padding-right: 5px;
            }
        }
    }


    .main-menu .navbar.bg-inverse .navbar-nav .nav-link:focus{
        outline: none !important;
        box-shadow: none !important;
        border:none !important;
    }

    .dropdown-item .dropdown:hover,
    .dropdown-item .dropdown:focus,
    .dropdown-item.show .dropdown {
        background: transparent !important;
    }

    .navbar .nav-item.dropdown {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-size: 24px;
            color: $black;
            text-align: left;
            padding: 12px 25px;
            &:hover {
                background: transparent;
            }
    
            &:focus {
                background: transparent;
            }
        }

        i {
            font-size: 24px;
            color: $black;
            padding-right: 5px;
        }
    }

    // -------- Categorias 2 --------
    .multilevel-dropdown .dropdown-item {
        padding: 0;
    }
    .multilevel-dropdown .dropdown-item+.dropdown-item {
        border-top: none;
        display: flex;
        align-items: center;
    }

    .footer-menu {
        margin-top: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 0.5em;

        .options-menu {
            text-align: center;
            display: flex;
            justify-content: space-between;
            width: 45%;
            padding: 1em 0;
        }

        .social-icons {
            width: 45%;
            display: flex;
            justify-content: space-between;
            // margin-top: 1em;
            padding: 1em 0;

            a i {
                background: $black;
                color: $white;
                border-radius: 50%;
                font-size: 20px;
                padding: 5px;
                margin: 5px;

            }
        }

        .account {
            width: 100%;
            
            .myaccount {
                width: 80%;
                margin-top: 1em;
            }

            .create-account {
                width: 100%;
                display: flex;
                margin-top: 2em;
                // align-items: center;
                justify-content: center;
                p {
                    color: $gray70;
                    padding: 0;
                }

                a{
                    color: $black;
                    margin-left: 5px;
                }
            }
        }
    }

    // .navbar-nav {    
    //     margin-top: 6em;
    // }

    .dropdown-item {
        &.top-category {
            .nav-link {
                font-weight: bold;
                color: $blue00 !important;
                font-family: $futura-medium;
            }

            .dropdown-link {
                font-weight: bold;
                color: $blue00 !important;
                font-family: $futura-medium;
            }
        }

        &:hover {
            background: transparent;
        }

        &:focus {
            background: transparent;
        }
    }
}

@media (min-width: 769px) {
    .menu-toggleable-left .close-menu {
        display: initial;
    }
}



// $breakpoint-name: 'sm';
// $breakpoint-name: 'sm' !default;
// $breakpoint-index: index(map-keys($grid-breakpoints), $breakpoint-name);
// $prev-breakpoint: nth(map-keys($grid-breakpoints), $breakpoint-index - 1);
// $next-breakpoint: nth(map-keys($grid-breakpoints), $breakpoint-index + 1);

// $slide-out-animation: left 0.5s cubic-bezier(0, 1, 0.5, 1);

// @mixin caret-left() {
//     border-top: 0.3em solid transparent;
//     border-bottom: 0.3em solid transparent;
//     border-right: 0.3em solid;
//     border-left: 0.3 solid transparent;
//     width: 0;
//     height: 0;
//     display: inline-block;
//     margin-bottom: 0.125em;
// }

// @mixin caret-right() {
//     border-top: 0.3em solid transparent;
//     border-bottom: 0.3em solid transparent;
//     border-left: 0.3em solid;
//     position: absolute;
//     right: 0.3em;
//     margin-top: 0.55em;
// }

// @each $size in map-keys($grid-breakpoints) {

//     @include media-breakpoint-down($size) {
//         .menu-toggleable-left.navbar-toggleable-#{$size} {
//             position: fixed;
//             left: -100%;
//             top: 0;
//             bottom: 0;
//             transition: $slide-out-animation;
//             display: block;
//             max-width: 100%;

//             &.in {
//                 min-width: 50%;
//                 left: 0;
//             }
//         }
//     }
// }

// .navbar.bg-inverse {
//     background-color: transparent !important;
//     padding: 0;

//     @include media-breakpoint-up($next-breakpoint) {
//         .navbar-nav .nav-item + .nav-item {
//             margin-left: 0;
//         }

//         .navbar-nav .nav-link {
//             padding: 0.8rem;
//             white-space: nowrap;
//         }
//     }
// }

// .navbar-expand-md .navbar-nav.nav-center {
//     justify-content: center;
// }

// .navbar-expand-md .navbar-nav.nav-spaced {
//     justify-content: space-evenly;
// }

// .navbar-expand-md .navbar-nav.nav-right {
//     justify-content: end;
// }

// .nav-item .nav-link:hover,
// .nav-item .nav-link:focus,
// .nav-item.show .nav-link {
//     background-color: $white;
//     color: $menu-link;
// }

// @include media-breakpoint-up($next-breakpoint) {
//     .nav-item > .nav-link {
//         color: $white;
//     }
// }

// .main-menu.menu-toggleable-left {

//     @include media-breakpoint-down($breakpoint-name) {
//         background-color: $white;
//         z-index: 4;
//     }
// }

// .menu-toggleable-left {
//     .close-menu {
//         padding: 15px;
//         background-color: $close-menu-bg;
//         border-bottom: 1px solid $grey3;
//         flex: 0 0 100%;

//         @include media-breakpoint-up($next-breakpoint) {
//             display: none;
//         }
//     }

//     .menu-group {
//         flex: 0 0 100%;
//     }

//     li > .close-menu {
//         margin-right: 0;
//         margin-top: -0.6rem;
//         margin-left: 0;
//     }

//     @include media-breakpoint-down($breakpoint-name) {
//         .bg-inverse {
//             background-color: white !important;
//             color: $grey7;
//         }
//     }

//     &.in {

//         @include media-breakpoint-down($prev-breakpoint) {
//             right: 0;
//             margin-right: 1.25em; /* 20/16 */
//         }

//         @include media-breakpoint-down($breakpoint-name) {
//             .nav-item + .nav-item {
//                 border-top: 1px solid $grey2;
//             }

//             .dropdown {
//                 display: block;
//                 position: static;
//             }

//             .dropdown-toggle {
//                 padding-left: 1rem;

//                 &::after {
//                     @include caret-right();
//                 }
//             }

//             .nav-item .nav-link {
//                 padding-left: 1rem;
//             }

//             .show > .dropdown-menu {
//                 left: 0;
//             }

//             .dropdown-menu {
//                 position: absolute;
//                 left: -100%;
//                 top: 0;
//                 width: 100%;
//                 height: 100%;
//                 border: 0 none;
//                 transition: $slide-out-animation;
//                 display: block;
//             }
//         }
//     }
// }

// .multilevel-dropdown {
//     .dropdown-menu {
//         top: 90%;
//         border: 0;
//         border-radius: 0;

//         @include media-breakpoint-up($next-breakpoint) {
//             box-shadow: 0 3px 5px rgba(43, 36, 25, 0.4);
//         }
//     }

//     .dropdown-item.dropdown > .dropdown-toggle::after {
//         @include caret-right();
//     }

//     .dropdown-menu > .dropdown > .dropdown-menu {

//         @include media-breakpoint-up($next-breakpoint) {
//             top: -0.65em;
//             left: 99%;
//         }
//     }

//     .navbar > .close-menu > .back {
//         display: none;
//     }

//     .close-menu .back {
//         .caret-left {
//             @include caret-left();
//         }
//     }

//     .dropdown-item {
//         padding: 0 0 0 1em;

//         .dropdown-link {
//             display: block;
//             padding: 0.425em 5em 0.425em 0;
//         }

//         + .dropdown-item {
//             border-top: 1px solid $close-menu-bg;
//         }

//         &.top-category {
//             font-weight: bold;

//             > .nav-link {
//                 padding-left: 0;
//             }
//         }
//     }
// }
