@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../skin/variables";

.custom-mainbanner-one-onerow-twocol.homepage {
    .mainbanner-figure .text-center h2 {
        font-size: 42px;
    }

    .mainbanner-image {
        max-height: 419px;
    }

    .mainbanner-figure .text-center p {
        font-size: 30px;
        line-height: 61px;

        a {
            display: block;
            max-width: 187px;
            margin: 19px 0;
            padding: 7px 15px;
            text-align: center;

            &:nth-of-type(1) {
                display: none;
            }
        }
    }

    .mainbanner-figure .text-center .link-large {
        font-size: 20px;
        line-height: 26px;
    }

    .region {
        margin-bottom: 0;
    }

    .region:nth-of-type(1) {
        padding: 0 5px 0 0;

        .col-12 {
            padding: 0 5px 0 0;
        }
    }

    .region:nth-of-type(2) {
        padding: 0 0 0 5px;

        .col-12 {
            padding: 0 0 0 5px;
        }
    }

    &.text-content {
        margin-bottom: 0;
    }
}

.custom-mainbanner-midsize.homepage {
    .mainbanner-image {
        height: 25.38vw;

        @include media-breakpoint-down(xs) {
            height: 75vw;
        }
    }

    .row {
        .col-12 {
            padding: 0;
        }
    }

    .region {
        margin: 0;
    }

    .image-heading-container {
        bottom: 2.5vw;
    }

    .link-large {
        margin-bottom: 0;
    }
}

.custom-mainbanner-two-onerow-twocol.homepage {
    .mainbanner-image {
        height: 29.22vw;

        @include media-breakpoint-down(xs) {
            height: 75vw;
        }
    }

    .text-center {
        h2 {
            font-size: 42px;
            line-height: 61px;
        }
    }

    .image-heading-container {
        bottom: 3.5vw;
    }

    .link-large {
        margin-bottom: 0;
    }

    .region {
        margin-bottom: 0;
    }

    .region:nth-of-type(1) {
        padding: 0 5px 0 0;

        .col-12 {
            padding: 0 5px 0 0;
        }
    }

    .region:nth-of-type(2) {
        padding: 0 0 0 5px;

        .col-12 {
            padding: 0 0 0 5px;
        }
    }

    &.left-big,
    &.right-big {
        margin-bottom: 0;

        .region {
            padding-bottom: 20px;
        }
    }
}

.custom-mainbanner-three-onerow-twocol.homepage {
    .mainbanner-image {
        height: 12.67vw;

        @include media-breakpoint-down(xs) {
            height: 75vw;
        }
    }

    .image-heading-container {
        bottom: 0;

        .link-large {
            margin-bottom: 2vw;
        }
    }

    .text-center {
        h2 {
            font-size: 42px;
            line-height: 61px;
        }
    }

    .region {
        margin-bottom: 0;
    }

    .region:nth-of-type(1) {
        padding: 0 5px 0 0;

        .col-12 {
            padding: 0 5px 0 0;
        }
    }

    .region:nth-of-type(2) {
        padding: 0 0 0 5px;

        .col-12 {
            padding: 0 0 0 5px;
        }
    }

    &.left-big,
    &.right-big {
        margin-bottom: 0;

        .region {
            padding-bottom: 20px;
        }
    }
}

.custom-text-one-onerow-twocol.homepage {
    background: $text-component-background;
    color: $text-component-color;
    font-size: 14px;
    line-height: 16px;
    margin-top: 40px;
    padding: 92px 117px;
    width: 100vw;
    margin-left: -55px;

    .col-12 {
        padding: 0 12px;
    }

    h1 {
        font-size: 14px;
        text-transform: uppercase;
    }

    p {
        font-size: 12px;
    }

    @media (min-width:1367px) {
        margin-left: calc(-63px + (1383px - 100vw)/2);
        display: flex;
        justify-content: center;
        width: 100vw;
            .row.mx-n2{
            max-width: 1311px;
        }
    }

    @media (max-width:992px) {
        width: 100vw;
        margin-left: -25px;
    }

    &.text-content {
        margin-bottom: 0;
    }
}

.static-content-text.homepage {
    padding-bottom: 204px;
    padding-top: 40px;

    h2 {
        color: $blue00;
    }

    p {
        font-size: 18px;
        text-align: left;
        color: $black;
    }

    h4 {
        font-size: 24px;
        color: $blue00;
    }
}


.about-us-first-second {
    padding-top: 50px;
    padding-bottom: 104px;

    h4 {
        color: $blue00;
    }

    p {
        font: var(--unnamed-font-style-normal) normal medium 24px/31px var(--unnamed-font-family-futura-pt);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-6b6b6b);
        text-align: left;
        font: normal normal medium 24px/31px Futura PT;
        letter-spacing: 0px;
        color: $black;
        opacity: 1;
    }
    .photo-tile-image{
        width: auto;
        height: 579px;
        position: absolute;
        right: 55px;
    }
}

.about-us-secound-section {
    // padding-top: 104px;
    // padding-bottom: 104px;
    width: 100vw;
    margin: 0 -55px;
    background-color :$grayF5;
    padding: 104px 55px;
    h4 {
        text-align: right;
        color: $blue00;
    }
    p {
        text-align: right;
        top: 50px;
        font: normal normal medium 24px/31px Futura PT;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-futura-pt);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-707070);
        letter-spacing: 0px;
        color: $black;
        padding-left: 15%;
    }
    .common-image-component{
        width: auto;
        height: 579px;
        margin-left: 59px;
    }
}

.values-section {
    padding: 3%;

    h4 {
        font-size: 42px;
        text-align: center;
        color: $blue00;
        padding-bottom: 3%;
    }

    p {
        font-size: 24;
        color: $black;
        line-height: 7px;
    }
}

.cya-abuot-us-crystal-logo {
    width: 100vw;
    margin: 0 -55px;

    .region.col-12 {
        padding: 0px;

        .col-12 {
            padding: 0px;
        }
    }
}

.title-history-section {
    strong {
        font-size: 60px;
        top: 10%;
    }

    .common-image-filter {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        width: 100vw;
        margin: 0 -63px;
    }
}

.editorialRichText-component-container {
    padding: 10px 20px;

    h4 {
        font-size: 42px;
        font-family: $futura-medium;
    }

    strong {
        font-family: 'Futura-demi';
        color: $gray21;
    }

    p {
        font-size: 24px;
        color: $gray6B;
        font-family: $futura-book;
        margin-bottom: 24px;
        line-height: 24px;
    }
}


.cards-title-section-yellow {
    .image-heading-container {
        top: 90px;
        left: 80px;

        span h2 strong {
            color: $white;
            font-size: 39px;
            letter-spacing: var(--unnamed-character-spacing-0);

        }

        span h4 strong {
            font-size: 34px;
            letter-spacing: var(--unnamed-character-spacing-0);
            color: $black;
            text-align: left;
            letter-spacing: 0px;
        }

        span p {
            font-size: 22px;
            letter-spacing: var(--unnamed-character-spacing-0);
            color: $black;
            text-align: left;
        }


    }


    .common-image-filter {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }

    h4 {
        color: $white;
        font-size: 39px;
    }

    strong {
        top: 30px;
        left: 30px;
        font-size: 34px;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-707070);
        text-align: left;
        letter-spacing: 0px;
        color: $black;
    }

    p {
        font-size: 22px;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-707070);
        text-align: left;
        letter-spacing: 0px;
        color: $black;
        line-height: 36px;
    }
}

.cards-section {
    border-top: $white;

    h4 {
        margin-top: 104px;
        color: $blue00;
        font-size: 42px;
    }

    li {
        font-size: 24px;
    }

    strong {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        color: $black;
    }
}

.trend-card-and-button-section {
    position: absolute;
    padding-bottom: 204px;
    top: 100px;
    left: 50px;

    picture {
        top: 0%;
    }
}

.button-and-title-trend-section {
    margin-top: 205px;
}

.section-card-and-benefits {
    img {
        padding-right: 5%;
        padding-top: 5%;
    }

    padding-top: 104px;

    h4 {
        color: $blue00;
    }

    strong {
        text-align: left;
        color: $black;
        font-size: 29px;

    }
}

.text-terms-condions-section {
    margin-top: 10px;
    //top: 90px; left: 80px;
    margin-left: 5%;
    padding-right: 7%;

    h2 strong {
        font-size: 24px;
        color: $black;
    }

    p {
        font-size: 18px;
        color: $black;
    }

}

.term-conditions-section {
    border-left: -10%;
    background-color: $grayF5;
    padding-left: 15%;
    padding-right: 15%;

    p {
        font-size: 18px;
        text-align: left;
        letter-spacing: 0px;
        color: $black;
    }

    .photo-tile-figure {
        background-color: $grayF5;
        margin-top: 100px;
    }

    .row .mx-n2 .no-gutters {
        margin-top: 104px;
    }
}

.benefits-icons-trend {
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 0%;
    }

    p {
        padding-left: 4%;
        font-size: 16px;
    }
}

.cuota-title-trend-section {
    margin-left: 10%;
    border-bottom: $black solid 1px;
    border-left: $black solid 1px;
    border-right: $black solid 1px;
    margin-bottom: 3%;

    strong {
        padding: 10%;
    }
}

.comision-title-trend-section {
    margin-bottom: -10%;
    margin-left: 10%;
    border-bottom: $black solid 1px;
    margin-bottom: 3%;
    margin-right: -13%;

    strong {
        padding: 0%;
    }
}

.period-title-trend-section {
    margin-bottom: -10%;
    margin-left: -3%;
    border-bottom: $black solid 1px;
    margin-bottom: 3%;

    strong {
        padding: 10%;
    }
}

.benefit-section-trend-card {
    border-right: $black solid 1px;
}



.comision-option-tren-section {
    padding-right: 70%;
    margin-right: 0%;

    p {
        padding-right: 10px;
        font-size: 16px;
        margin-bottom: 3%;
    }

}

.cuota-options-tabe-section-trend {
    margin-left: 10%;
    margin-top: -3.5%;
    margin-right: 0%;
    padding-left: 8%;
    border-right: $black solid 1px;
    border-left: $black solid 1px;

    p {
        padding-right: 0px;
        font-size: 16px;
        margin-bottom: 3%;
    }
}

.comision-options-tabe-section-trend {
    margin-top: -3.5%;
    margin-right: -12.25%;
    padding-left: 8%;
    margin-bottom: 0%;

    p {
        font-size: 16px;
        padding-right: 0px;
        margin-bottom: 3%;
    }
}

.table-section-trend-card {
    padding-top: 6%;
    background-color: $grayF5;
}

.terms-trend-message {
    font-size: 14px;
    color: $gray6B;
    background-color: $white;
    line-height: 7px;
}

.letter-error-404 {
    h1 {
        text-align: center;
        background-color: white;
        border: $black solid 1px;
        font-size: 18px;
        border-radius: 15px;
        width: 16rem;
        margin-left: 0%;
        padding: 00.3rem;
    }

    h3 {
        text-align: center;
        border-radius: 15px;
        color: $white;
        background-color: $black;
        font-size: 18px;
        width: 16rem;
        margin-left: 0%;
        padding: 00.3rem;

        a {
            color: $white;
        }
    }

    padding-top: 130px;

    h4 {
        font-size: 32px;
        color: $blue00;
    }

    h2 {
        font-size: 32px;
        font-style: bold;
        color: $blue00;
    }

    p {
        text-decoration: underline;
        color: $black;
    }
}

.bradescard-cards-section {
    img {
        margin-top: -75%;
        width: 190px;
        height: 200px;
        padding-bottom: 5px;
        margin-bottom: -25%;
    }

    .row {
        height: 26rem;
        border: 20%;
    }

    p {
        padding-top: 0px;
        font-size: 18px;
        line-height: 16px;
    }
}

.bradescard-border-cards {
    border-radius: 10px;
    border: $grayED solid 1px;
    padding-top: -20%;
    padding-bottom: -190%;

    h3 {
        text-align: center;
        border-radius: 15px;
        color: $white;
        background-color: $black;
        font-size: 18px;
        width: 16rem;
        margin-left: 0%;
        padding: 00.3rem;

        a {
            color: $white;
        }
    }
}

.bradescard-banks-and-more-section {

    // background-color: $grayED;
    img {
        width: 27rem;
        height: 5rem;
    }

    // }
    // .region{
    //     border:$white solid 1rem;
    // }
}

.bradescard-banks-section {
    img {
        width: 6rem;
        height: 1.5rem;
    }
}


.bradescard-benefits-section {
    img {
        width: 3rem;
        height: 3rem;
    }
}


.bradescard-benefit-full-section {
    background-color: $grayF5;
}

.bradescard-pay-service-section {
    width: 34rem;
    height: 16rem;
    background-color: $grayF5;
    margin-left: 0%;

    img {
        width: 14rem;
        height: 15rem;
        padding-right: 3%;
    }
}

.bradescard-review-balance-section {
    background-color: $grayF5;

    h1 {
        width: 300px;
        min-height: 20px;
        border-radius: 15px;
        word-wrap: break-word;
        font-size: 18px;
        margin-left: 20%;
        border: $black solid 1px;
        height: 2rem;
        width: 20rem;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        margin-left: 20%;
    }

    h3 {
        text-align: center;
        border-radius: 15px;
        color: $white;
        background-color: $black;
        font-size: 18px;
        width: 20rem;
        border: $black solid 2px;
        margin-left: 20%;
        padding: 0.3rem;

        a {
            color: $white;
        }
    }

    p {
        margin-left: 20%;
        line-height: 16px;
    }
}

.bradescar-cuestions-section {
    padding-left: 5%;

    h3 {
        margin: 1rem;
        text-align: center;
        border-radius: 15px;
        color: $blue00;
        background-color: $white;
        font-size: 18px;
        width: 13rem;
        height: 2rem;
        padding: 0.3rem;
        border: $blue00 solid 2px;

        a {
            color: $blue00;
        }
    }

    p {
        line-height: 16px;
    }
}

.bradescard-global-component {}

.bradescard-banks-second-section {
    //background-color: $grayED;

}

.bradescar-divider-cards {
    height: 5rem;
}

.bradescard-imgs-section {
    border: 0%;

    img {
        width: 2rem;
        height: 1rem;

    }
}

.bradescard-stores {
    padding-left: 7%;
    background-color: $grayED;
    border-right: $white solid 1rem;
    border-bottom: $white solid 1rem;
    width: 33rem;
    height: 20rem;

    p {
        font-size: 18px;
        line-height: 16px;
    }
}

.brandescard-bank-section {
    padding-left: 7%;
    background-color: $grayED;
    border-bottom: $white solid 1rem;
    width: 33rem;
    height: 20rem;
}

.bradescard-transfer-section {
    padding-left: 7%;
    background-color: $grayED;
    border-right: $white solid 1rem;
    width: 33rem;
    height: 15rem;
}

.bradescard-pago-en-linea-section {
    background-color: $grayED;
    width: 33rem;
    height: 15rem;
}

.bradescard-cuestion-section {
    h3 {
        color: $blue00;
    }

    p {
        text-align: center;
    }
}

.bradescard-cuestion-button-section {
    padding-bottom: 7%;

}

.button-register-online {
    p {
        border-radius: 15px;
        color: $white;
        background-color: $blue00;
        height: 2rem;
        text-align: center;

        a {
            color: $white;
        }

        border:$blue00 solid 3px;
    }
}

.bradescard-benefits-text {
    h2 {
        color: $blue00;
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18;
    }
}

// Page Terms
.page-terms {
    padding: 0px 90px;

    h2 {
        font-size: 42px;
        color: $blue00;
    }

    h4 {
        color: $blue00;
        font-size: 18px;
    }

    .editorialRichText-component-container {
        padding: 10px 20px;
    }
    p{
        font-size: 18px;
    }
}

.page-policy {
    padding: 0px 90px;

    h2 {
        font-size: 42px;
        color: $blue00;
        line-height: 20px;
    }

    h4 {
        color: $blue00;
        font-size: 18px;
        line-height: 20px;
    }
    p{
        font-size: 18px;
    }

    .link-format a {
        color: $blue00;
        font-size: 24px;
    }
}

//page privacy
@media (max-width: 992px) {
    #homepage {
        .experience-component>div {
            &.custom-mainbanner-one-onerow-twocol.homepage {
                margin-bottom: 0;
            }
        }

        .custom-mainbanner-one-onerow-twocol.homepage {

            .region:nth-of-type(1),
            .region:nth-of-type(2) {
                padding: 0;
                margin-bottom: 24px;

                .col-12 {
                    padding: 0;

                }
            }

            .mainbanner-figure {
                .image-heading-container {
                    padding: 0 20px;
                }

                .text-sm-left {
                    text-align: left !important;

                    span {
                        h2 {
                            font-size: 36px;
                            line-height: 46px;
                        }

                        p {
                            // display: none;
                        }
                    }

                    .link-large {
                        padding: 2px 13px;
                    }
                }
            }

            .mainbanner-image {
                max-height: 266px;

                &.common-image-filter {
                    min-height: auto;
                }
            }
        }

        .custom-mainbanner-midsize.homepage {
            .mainbanner-image {
                max-height: 351px;

                &.common-image-filter {
                    min-height: auto;
                }
            }

            .mainbanner-figure {
                .text-sm-left {
                    padding: 0 20px;
                    text-align: left !important;

                    h2 {
                        font-size: 36px;
                        line-height: 38px;
                    }

                    .link-large {
                        padding: 2px 13px;
                        margin-top: 12px;
                    }
                }
            }

            .image-heading-container {
                bottom: 10.7vw;
            }
        }

        .custom-mainbanner-two-onerow-twocol.homepage {

            .region:nth-of-type(1),
            .region:nth-of-type(2) {
                padding: 0 0 19px;

                .col-12 {
                    padding: 0;

                    &.text-sm-left {
                        text-align: left !important;

                        h2 {
                            font-size: 36px;
                            line-height: 46px;
                        }

                        .link-large {
                            padding: 2px 13px;
                        }
                    }
                }
            }

            .image-heading-container {
                padding: 0 30px;
                bottom: 5.1vw;
            }

            .mainbanner-image {
                max-height: 240px;
                min-height: auto;
            }
        }

        .custom-mainbanner-three-onerow-twocol.homepage {

            .region:nth-of-type(1),
            .region:nth-of-type(2) {
                padding: 0 0 19px;

                .col-12 {
                    padding: 0;

                    &.text-sm-left {
                        text-align: left !important;

                        h2 {
                            font-size: 36px;
                            line-height: 46px;
                        }

                        .link-large {
                            padding: 2px 13px;
                        }
                    }
                }
            }

            .mainbanner-image {
                max-height: 185px;
                min-height: auto;
            }

            .image-heading-container {
                padding: 0 30px;
                bottom: 5.1vw;
            }
        }

        .custom-text-one-onerow-twocol.text-content.homepage {
            padding: 28px 22px;

            .region {
                padding: 22px 0 28px;
                margin: 0;

                .custom-text-title {
                    margin-bottom: 0;

                    h1{
                        text-align: left;
                    }

                    &.show-mobile {
                        .editorialRichText-component-container {
                            margin-bottom: 0;
                        }
                    }
                }

                &:nth-of-type(1) {
                    border-bottom: 1px solid $text-component-border;
                }

                .region {
                    border: none;
                }

                .col-12 {
                    padding: 0;
                }
            }

            .custom-text-paragraph {
                &.hide-mobile {
                    display: none;
                }
            }

            h4 {
                text-align: left;
            }

            .custom-text-title {
                position: relative;

                &::after {
                    content: '\f068';
                    font-family: $awesome-font;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                }

                &.show-mobile {
                    &::after {
                        content: '\f067';
                    }
                }
            }

            .custom-text-paragraph {
                p {
                    text-align: justify;
                }
            }
        }
    }

    .cya-abuot-us-crystal-logo {
        width: 100vw;
        margin: 0 -25px;
    }

    .title-history-section .common-image-filter {
        width: 100vw;
        margin: 0 -25px;

    }

    .mobile-1r-1c.title-history-section {
        width: 100%;
        text-align: center;

        .col-12 {
            padding: 0px;
        }
    }

    .about-us-first-second {
        margin-bottom: 30px;
        padding-bottom: 0;
        text-align: center;

        .photo-tile-image {
            width: 259px;
            height: 240px;
            position: initial;
        }
    }

    .about-us-secound-section {
        // padding-top: 20px;
        // margin-bottom: 0px;
        padding-bottom: 20px;
        text-align: center;
        width: 100vw;
        margin: 0 -25px;
        padding: 20px 25px;

        .common-image-component {
            width: 259px;
            height: 240px;
            position: initial;
            margin-left: 0;
        }
    }

    .editorialRichText-component-container {
        margin-top: 20px;
        padding-bottom: 20px;
        padding: 0;

        h4 {
            font-size: 24px;
            font-family: $futura-medium;
            text-align: left;
        }

        strong {
            font-size: 16px;
            font-family: 'Futura-demi';
            text-align: left;
            color: black;
        }

        p {
            font-size: 16px;
            text-align: left;
            padding: 0;
            margin: 0;
            line-height: 16px;
        }
    }

    .values-section {
        h4 {
            text-align: center;
        }
    }

    .page-terms {
        padding: 0px;

        .editorialRichText-component-container {
            padding: 0;
            h2 {
                text-align: left;
                font-size: 18px;
            }

            h4 strong {
                color: $blue00 !important;
                font-size: 18px;
            }

            p {
                color: $black;
            }
        }
    }

    .page-policy {
        padding: 0px;

        .editorialRichText-component-container {
            h2 {
                display: none;
            }

            h4 strong {
                color: $blue00 !important;
                font-size: 18px;
            }

            .link-format a strong {
                color: $blue00 !important;
                font-size: 24px;
            }

            p {
                word-wrap: break-word !important;
                margin-bottom: 24px;

                strong {
                    color: $gray70;
                }
            }

            a strong {
                color: $blue00 !important;
            }
        }

    }
}

@media (min-width: 1366px) {
    .cya-abuot-us-crystal-logo {
        width: 100vw;
        margin-left: calc(-55px + (1366px - 100vw) / 2);
    }

    .title-history-section {
        width: 100vw;
        margin-left: calc(-55px + (1366px - 100vw) / 2);

        .region.col-12 {
            padding: 0px;

            .col-12 {
                padding: 0px;
            }
        }

        .common-image-filter {
            margin: 0;
            width: 100%;
        }
    }
    .about-us-secound-section {
        width: 100vw;
        margin-left: calc(-55px + (1366px - 100vw) / 2);  
    }

}
.btn-politica-privacidad{
    font-family: "Futura-book";
    text-decoration: underline;
    border: none;
    outline: none;
    background-color: Transparent;
}
.modal-header{
    h1 {
        font-size: 42px;
        color: $blue00;
    }
}
.modal-body{
    padding: 0px 10px;

    h2 {
        font-size: 42px;
        color: $blue00;
    }

    h4 {
        color: $blue00;
        font-size: 18px;
    }

    .editorialRichText-component-container {
        padding: 10px 20px;
    }
    p{
        padding: 0px 15px;
        font-size: 14px;
        text-align: justify;
    }
}