.store-locator-container {
    .detect-location {
        margin-bottom: 1em;
    }

    .store-details {
        display: block;
    }

    .search-form {
        width: 100%;
        margin-bottom: 0;
    }

    .select-store {
        @include media-breakpoint-up(sm) {
            margin-top: -3rem;
        }
    }

    .custom-radio {
        .store-details {
            margin-left: 1.125em;
        }
    }

    .store-locator-no-results {
        display: none;
    }

    .results {
        @include media-breakpoint-up(md) {
            overflow-y: auto;
            overflow-x: hidden;
        }

        @include media-breakpoint-up(lg) {
            max-height: 500px;
        }

        @include media-breakpoint-up(xl) {
            max-height: 735px;
        }
    }
}
