@charset "UTF-8";
.pull-left-xs {
  float: left; }

.pull-right-xs {
  float: right; }

@media (min-width: 544px) and (max-width: 768.98px) {
  .pull-left-sm {
    float: left; }
  .pull-right-sm {
    float: right; } }

@media (min-width: 769px) and (max-width: 991.98px) {
  .pull-left-md {
    float: left; }
  .pull-right-md {
    float: right; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pull-left-lg {
    float: left; }
  .pull-right-lg {
    float: right; } }

@media (min-width: 1200px) {
  .pull-left-xl {
    float: left; }
  .pull-right-xl {
    float: right; } }

@media (max-width: 543.98px) {
  .hidden-xs-down {
    display: none !important; } }

@media (max-width: 768.98px) {
  .hidden-sm-down {
    display: none !important; } }

@media (max-width: 991.98px) {
  .hidden-md-down {
    display: none !important; } }

@media (max-width: 1199.98px) {
  .hidden-lg-down {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.row.equal-height > [class^="col"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.swatch-circle-beige {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #f5f5dc;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-beige.disabled {
    opacity: 0.2; }

.swatch-filter-beige {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #f5f5dc;
  border-radius: 0.69em;
  background-color: #f5f5dc;
  display: block;
  position: relative; }
  .swatch-filter-beige.disabled {
    opacity: 0.2; }

.swatch-circle-black {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #000;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-black.disabled {
    opacity: 0.2; }

.swatch-filter-black {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #000;
  border-radius: 0.69em;
  background-color: #000;
  display: block;
  position: relative; }
  .swatch-filter-black.disabled {
    opacity: 0.2; }

.swatch-circle-blue {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #0070d2;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-blue.disabled {
    opacity: 0.2; }

.swatch-filter-blue {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #0070d2;
  border-radius: 0.69em;
  background-color: #0070d2;
  display: block;
  position: relative; }
  .swatch-filter-blue.disabled {
    opacity: 0.2; }

.swatch-circle-brown {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #a52a2a;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-brown.disabled {
    opacity: 0.2; }

.swatch-filter-brown {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #a52a2a;
  border-radius: 0.69em;
  background-color: #a52a2a;
  display: block;
  position: relative; }
  .swatch-filter-brown.disabled {
    opacity: 0.2; }

.swatch-circle-green {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #008827;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-green.disabled {
    opacity: 0.2; }

.swatch-filter-green {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #008827;
  border-radius: 0.69em;
  background-color: #008827;
  display: block;
  position: relative; }
  .swatch-filter-green.disabled {
    opacity: 0.2; }

.swatch-circle-grey {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #8f979d;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-grey.disabled {
    opacity: 0.2; }

.swatch-filter-grey {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #8f979d;
  border-radius: 0.69em;
  background-color: #8f979d;
  display: block;
  position: relative; }
  .swatch-filter-grey.disabled {
    opacity: 0.2; }

.swatch-circle-navy {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #000080;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-navy.disabled {
    opacity: 0.2; }

.swatch-filter-navy {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #000080;
  border-radius: 0.69em;
  background-color: #000080;
  display: block;
  position: relative; }
  .swatch-filter-navy.disabled {
    opacity: 0.2; }

.swatch-circle-orange {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #ffa500;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-orange.disabled {
    opacity: 0.2; }

.swatch-filter-orange {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #ffa500;
  border-radius: 0.69em;
  background-color: #ffa500;
  display: block;
  position: relative; }
  .swatch-filter-orange.disabled {
    opacity: 0.2; }

.swatch-circle-pink {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #fe249a;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-pink.disabled {
    opacity: 0.2; }

.swatch-filter-pink {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #fe249a;
  border-radius: 0.69em;
  background-color: #fe249a;
  display: block;
  position: relative; }
  .swatch-filter-pink.disabled {
    opacity: 0.2; }

.swatch-circle-purple {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #800080;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-purple.disabled {
    opacity: 0.2; }

.swatch-filter-purple {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #800080;
  border-radius: 0.69em;
  background-color: #800080;
  display: block;
  position: relative; }
  .swatch-filter-purple.disabled {
    opacity: 0.2; }

.swatch-circle-red {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #f00;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-red.disabled {
    opacity: 0.2; }

.swatch-filter-red {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #f00;
  border-radius: 0.69em;
  background-color: #f00;
  display: block;
  position: relative; }
  .swatch-filter-red.disabled {
    opacity: 0.2; }

.swatch-circle-white {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-white.disabled {
    opacity: 0.2; }

.swatch-filter-white {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #fff;
  border-radius: 0.69em;
  background-color: #fff;
  display: block;
  position: relative; }
  .swatch-filter-white.disabled {
    opacity: 0.2; }

.swatch-circle-yellow {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #ff0;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-yellow.disabled {
    opacity: 0.2; }

.swatch-filter-yellow {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #ff0;
  border-radius: 0.69em;
  background-color: #ff0;
  display: block;
  position: relative; }
  .swatch-filter-yellow.disabled {
    opacity: 0.2; }

.swatch-circle-miscellaneous {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #821e91), color-stop(25%, #821e91), color-stop(25%, #edd134), color-stop(50%, yellow), color-stop(50%, #edd134), color-stop(50%, #59ba00), color-stop(76%, #59ba00), color-stop(76%, #111), to(#111)), -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e5cd1), color-stop(50%, #0e5cd1), color-stop(50%, #e20b0b), to(#e20b0b));
  background: linear-gradient(0deg, #821e91 0, #821e91 25%, #edd134 25%, yellow 50%, #edd134 50%, #59ba00 50%, #59ba00 76%, #111 76%, #111 100%), linear-gradient(0deg, #0e5cd1 0, #0e5cd1 50%, #e20b0b 50%, #e20b0b 100%);
  background-repeat: repeat-y, repeat;
  background-size: 50% 100%, 100% 100%;
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  border-radius: 1.25em;
  display: block;
  height: 2.5em;
  position: relative;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 2.5em; }
  .swatch-circle-miscellaneous.disabled {
    opacity: 0.2; }
  .swatch-circle-miscellaneous.selected::after {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg); }

.product-detail .attributes .swatch-circle {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 1.25em;
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 0.313em;
  position: relative; }
  .product-detail .attributes .swatch-circle.color-value[data-selected=true]::after {
    color: #fff;
    content: '\F00C';
    display: table-caption;
    font-family: 'FontAwesome';
    font-size: 1.625em;
    left: 0.295em;
    position: absolute; }
  .product-detail .attributes .swatch-circle.color-value.selected::after {
    border-radius: 50%;
    color: #fff;
    content: '\F00C';
    display: table-caption;
    font-family: 'FontAwesome';
    font-size: 20px;
    height: 0.75em;
    left: 0.31em;
    line-height: 20px;
    position: absolute;
    top: 0.30em;
    width: 0.8em; }
  .product-detail .attributes .swatch-circle i.fa-times-circle {
    background: #fff;
    border-radius: 50%;
    height: 0.75em;
    line-height: 0.8em;
    width: 0.8em; }

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
  cursor: not-allowed; }
  .product-detail [disabled] .swatch-circle.color-value.selected::after,
  .product-detail .swatch-circle.unselectable.color-value.selected::after {
    background-color: #495057; }

label.color ~ a:hover {
  text-decoration: none; }

.description-and-detail {
  margin-top: 2em; }
  @media (max-width: 543.98px) {
    .description-and-detail {
      margin-top: 0; }
      .description-and-detail .title {
        font-size: 1.5rem;
        margin-bottom: 0;
        font-family: 'Dosis', sans-serif; }
      .description-and-detail > div:last-child {
        margin-bottom: 1em; } }
  @media (min-width: 544px) {
    .description-and-detail .description {
      margin-bottom: 2em; } }
  @media (max-width: 543.98px) {
    .description-and-detail .content {
      margin-top: 1em; } }

.social-container {
  padding-top: 0.9375em;
  text-align: center; }
  .social-container .social-icons {
    text-decoration: none;
    font-size: 1.875em;
    list-style-type: none;
    padding: 0;
    color: #444; }
    @media (max-width: 991.98px) {
      .social-container .social-icons {
        font-size: 1.5625em; } }
    .social-container .social-icons i,
    .social-container .social-icons a {
      color: #444;
      padding-right: 0.2em; }

label.availability {
  padding-right: 0.3125em; }

@media (min-width: 544px) {
  .product-number-rating {
    border-bottom: 1px solid #ccc; } }

@media (min-width: 769px) {
  .product-number-rating {
    border-top: 1px solid #ccc; } }

@media (min-width: 544px) and (max-width: 768.98px) {
  .product-name {
    border-bottom: 1px solid #ccc; } }

@media (min-width: 544px) {
  .product-number-rating .ratings {
    margin-top: 0.625em; } }

@media (max-width: 543.98px) {
  .product-number-rating .ratings {
    background-color: #fff;
    margin-top: -1.875em;
    /* 30/16 */
    margin-right: -0.9375em;
    /* 15/16 */
    padding: 0.1875em;
    /* 3/16 */ } }

.product-number {
  color: #ccc;
  font-size: 0.875em;
  padding-bottom: 0.938em;
  padding-top: 0.938em; }

.promotions {
  font-weight: normal;
  text-align: center;
  height: 85%; }
  .promotions div.collapsible-xl button.callout {
    font-size: 1.25em;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    color: #c00; }
    @media (min-width: 544px) {
      .promotions div.collapsible-xl button.callout {
        font-size: 1.375em; } }
    .promotions div.collapsible-xl button.callout::after {
      color: #000; }

.product-breadcrumb .breadcrumb {
  border-bottom: none;
  margin-left: -1rem;
  margin-bottom: 0; }
  @media (max-width: 991.98px) {
    .product-breadcrumb .breadcrumb {
      border-top: 1px solid #ccc; } }

.price {
  font-size: 1.5rem; }

.product-options {
  margin-top: 1.25em; }

.size-chart .size-chart-collapsible {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0, 1);
          transition-timing-function: cubic-bezier(0, 1, 0, 1); }
  .size-chart .size-chart-collapsible.active {
    max-height: 100%;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }

.color-attribute {
  border: none;
  padding: 0;
  background: none; }

.non-input-label {
  display: block;
  margin-bottom: 0.5rem; }

@media (min-width: 769px) {
  .attributes {
    padding-left: 2.5rem;
    padding-right: 2.5rem; } }

@media (max-width: 543.98px) {
  .product-grid {
    padding-top: 0.938em; }
    .product-grid .col-6 {
      padding-left: 5px;
      padding-right: 5px; } }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.product-detail-tabs .yotpo .yotpo-display-wrapper {
  position: relative; }

.product-detail-tabs .yotpo .yotpo-small-box:nth-of-type(1) {
  display: none; }

.product-detail-tabs .yotpo .yotpo-nav {
  padding: 0;
  border-bottom: none;
  bottom: 31px;
  float: right; }
  .product-detail-tabs .yotpo .yotpo-nav ul {
    display: none;
    top: 39px; }
  .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button {
    display: block;
    width: 196px;
    text-align: left;
    padding: 9px 20px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    background: #ffffff;
    max-height: 40px; }
    .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button span:nth-of-type(1) {
      display: none; }
    .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button span:nth-of-type(2) {
      font-size: 0;
      padding: 0;
      line-height: 0; }
      .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button span:nth-of-type(2):before {
        content: 'Ordenar por';
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        font-family: "Futura-book";
        display: block; }
    .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button .yotpo-icon:before {
      content: '';
      display: block;
      background: url("../../images/arrow-down.svg") !important;
      background-size: 100%;
      width: 13px;
      height: 7px;
      position: absolute;
      right: 20px;
      top: 17px; }
    .product-detail-tabs .yotpo .yotpo-nav .yotpo-dropdown-button[aria-expanded="true"] .yotpo-icon:before {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.product-detail-tabs .yotpo .write-review .yotpo-product-image {
  width: 212px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px; }
  .product-detail-tabs .yotpo .write-review .yotpo-product-image img {
    width: 196px;
    height: 196px;
    -o-object-fit: cover;
       object-fit: cover; }

.product-detail-tabs .yotpo .write-review .yotpo-header {
  display: inline-block;
  width: calc(100% - 212px); }
  .product-detail-tabs .yotpo .write-review .yotpo-header * {
    color: #000000; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title, .product-detail-tabs .yotpo .write-review .yotpo-header .y-label {
    font-size: 0; }
    .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:before, .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:after, .product-detail-tabs .yotpo .write-review .yotpo-header .y-label:before, .product-detail-tabs .yotpo .write-review .yotpo-header .y-label:after {
      font-size: 18px;
      line-height: 23px;
      font-family: "Futura-demi"; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-mandatory-explain {
    display: none; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .y-label:before {
    content: 'Califica tu producto'; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:before {
    content: "Escribe una rese\F1"; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:after {
    content: "a"; }
  .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-product-title {
    font-size: 18px;
    line-height: 20px;
    font-family: "Futura-book"; }

.product-detail-tabs .yotpo .write-review span.yotpo-mandatory-mark {
  display: none; }

.product-detail-tabs .yotpo .write-review .write-review-content span.yotpo-mandatory-mark {
  display: none; }

.product-detail-tabs .yotpo .write-review .write-review-content .form-group {
  display: block; }
  .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(1) .y-label {
    position: relative; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(1) .y-label:before {
      content: 'T\EDtulo de la rese\F1'; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(1) .y-label:after {
      content: 'a*';
      position: absolute;
      left: 104px; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(1) .y-label span {
      margin-left: 17px; }
  .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(2) .y-label:before {
    content: 'Comentarios *'; }

.product-detail-tabs .yotpo .write-review .yotpo-footer .connect-wrapper {
  padding: 0; }
  .product-detail-tabs .yotpo .write-review .yotpo-footer .connect-wrapper .form-element:nth-of-type(1) .y-label:before {
    content: 'Nombre*'; }
  .product-detail-tabs .yotpo .write-review .yotpo-footer .connect-wrapper .form-element:nth-of-type(2) .y-label:before {
    content: 'Correo Electr\F3nico*'; }

.product-detail-tabs .yotpo .write-review .yotpo-footer .socialize-wrapper {
  display: none !important; }

.product-detail-tabs .yotpo .write-review .form-group .form-element .y-input, .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-input {
  border-radius: 20px;
  border-color: #E1E1E1; }

.product-detail-tabs .yotpo .write-review .form-group .form-element textarea, .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element textarea {
  resize: none;
  height: 109px; }

.product-detail-tabs .yotpo .write-review .form-group .form-element .y-label, .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-label {
  font-size: 0; }
  .product-detail-tabs .yotpo .write-review .form-group .form-element .y-label:before, .product-detail-tabs .yotpo .write-review .form-group .form-element .y-label:after, .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-label:before, .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-label:after {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-family: "Futura-book";
    margin-bottom: 14px; }

.product-detail-tabs .yotpo .write-review .submit-button {
  width: 100%;
  text-align: center;
  margin: 40px 0 55px; }
  .product-detail-tabs .yotpo .write-review .submit-button .yotpo-default-button {
    font-size: 20px;
    line-height: 26px;
    font-family: "Futura-demi";
    color: #ffffff;
    border-radius: 25px;
    background: #000000;
    width: 100%;
    max-width: 408px;
    float: none; }

.product-detail-tabs .yotpo .write-review .yotpo-preloader-wrapper {
  width: 100%;
  float: none; }
  .product-detail-tabs .yotpo .write-review .yotpo-preloader-wrapper .yotpo-pre-loader {
    position: relative;
    width: 160px; }
    .product-detail-tabs .yotpo .write-review .yotpo-preloader-wrapper .yotpo-pre-loader .yotpo-empty-stars {
      position: relative; }
    .product-detail-tabs .yotpo .write-review .yotpo-preloader-wrapper .yotpo-pre-loader .yotpo-full-stars {
      left: 0; }
    .product-detail-tabs .yotpo .write-review .yotpo-preloader-wrapper .yotpo-pre-loader .yotpo-icon {
      display: inline-block; }

.product-detail-tabs .yotpo .yotpo-first-review .yotpo-first-review-stars .yotpo-icon-star {
  display: inline-block; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes {
  border: none;
  border-bottom: 1px solid #E1E1E1; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews {
    float: none; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews .yotpo-stars {
      margin-right: 70px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-general-rating {
    position: absolute;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    color: #000000;
    top: 0px;
    left: 173px;
    font-size: 32px;
    line-height: 31px;
    font-family: "Futura-demi";
    padding: 0 5px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button {
    position: relative;
    display: block;
    max-width: 302px;
    padding: 5.5px 0;
    border-radius: 25px;
    background: #212121;
    top: 0;
    margin: 25px 0 0; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button:nth-of-type(2) {
      display: none; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline .based-on {
  font-size: 18px;
  line-height: 32px;
  font-family: "Futura-demi" !important;
  color: #707070;
  padding: 0; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-stars {
  vertical-align: text-top; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-sum-reviews {
  padding: 0; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon {
  display: none; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text {
  font-size: 0px;
  font-family: "Futura-demi"; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text:before, .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text:after {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text:before {
    content: 'Escribe una rese\F1'; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text::after {
    content: 'a'; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages {
  margin-bottom: 70px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you {
    border: none; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header {
      margin-bottom: 19px; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header .yotpo-icon {
        display: none; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header span {
        font-size: 0; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header span:before {
          content: '\A1Gracias!';
          font-size: 42px;
          line-height: 54px;
          color: #0043BA;
          font-family: "Futura-medium";
          text-transform: capitalize; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content {
      text-align: center; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span {
        font-size: 0; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:before, .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:after {
          font-size: 20px;
          line-height: 26px;
          color: #000000; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:before {
          content: 'Recibimos tu rese\F1'; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:after {
          content: 'a, conocer tu opini\F3n es muy importante para nosotros.'; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-footer {
      display: none; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-footer .yotpo-icon {
        display: block; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-footer .yotpo-icon-button-text {
        font-size: 14px; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-footer .yotpo-icon-button-text:before, .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-footer .yotpo-icon-button-text:after {
          content: ''; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-nav-content .yotpo-pre-loader {
  position: relative;
  width: 160px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-nav-content .yotpo-pre-loader .yotpo-empty-stars {
    position: relative; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-nav-content .yotpo-pre-loader .yotpo-full-stars {
    left: 0; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-nav-content .yotpo-pre-loader .yotpo-icon {
    display: inline-block; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 {
  margin: 10px 0 20px;
  float: none; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2:before, .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2:after {
    font-size: 18px;
    line-height: 23px;
    color: #707070;
    font-family: "Futura-demi"; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2:before {
    content: 'Este producto a\FAn no tiene rese\F1'; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2:after {
    content: 'as';
    margin-left: -4px; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button {
  max-width: 390px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button .yotpo-icon-button-text:before {
    content: 'S\E9   el primero en escribir una'; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button .yotpo-icon-button-text:after {
    content: ''; }

.product-detail-tabs .yotpo.yotpo-main-widget .yotpo-no-reviews .yotpo-nav-content {
  display: none; }

.product-detail-tabs .yotpo .yotpo-icon-star:before, .product-detail-tabs .yotpo .yotpo-icon-empty-star:before, .product-detail-tabs .yotpo .yotpo-icon-default-empty-star:before, .product-detail-tabs .yotpo .yotpo-icon-default-half-star:before, .product-detail-tabs .yotpo .yotpo-icon-half-star:before {
  content: '' !important;
  width: 32.62px;
  height: 31.11px;
  display: block; }

.product-detail-tabs .yotpo .yotpo-icon-default-star:before, .product-detail-tabs .yotpo .yotpo-icon-star:before {
  background: url("../../images/complete-star.svg") !important; }

.product-detail-tabs .yotpo .yotpo-icon-default-empty-star:before, .product-detail-tabs .yotpo .yotpo-icon-empty-star:before {
  background: url("../../images/empty-star.svg") !important; }

.product-detail-tabs .yotpo .yotpo-icon-default-half-star:before, .product-detail-tabs .yotpo .yotpo-icon-half-star:before {
  background: url("../../images/half-star.svg") !important; }

.product-detail-tabs .yotpo .yotpo-nav .yotpo-icon-default-empty-star:before {
  width: 20px;
  height: 20px; }

.product-detail-tabs .yotpo .yotpo-review {
  position: relative;
  margin: 22px 10px 7px;
  padding: 0;
  border: none;
  min-height: 105px; }
  .product-detail-tabs .yotpo .yotpo-review .yotpo-header {
    position: absolute;
    width: 100%; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-review-stars {
      margin: 0; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-profile {
      display: none; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element {
      padding: 0; }
      .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element .label-with-tooltip {
        display: none; }
      .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name {
        display: none; }
      .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element .yotpo-product-image {
        text-align: center;
        margin-top: 20px; }
        .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element .yotpo-product-image img {
          width: 64px;
          height: 64px;
          -o-object-fit: cover;
             object-fit: cover; }
      .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-header-element .yotpo-review-date {
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        font-family: "Futura-book"; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-star:before, .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-empty-star:before, .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-default-empty-star:before, .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-default-half-star:before, .product-detail-tabs .yotpo .yotpo-review .yotpo-header .yotpo-icon-half-star:before {
      width: 18px;
      height: 17px; }
  .product-detail-tabs .yotpo .yotpo-review .yotpo-main {
    padding: 0 145px 0 162px; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-main .content-title {
      font-size: 18px;
      line-height: 23px;
      color: #000000;
      font-family: "Futura-demi"; }
    .product-detail-tabs .yotpo .yotpo-review .yotpo-main .yotpo-review-wrapper .content-review {
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      font-family: "Futura-book"; }
  .product-detail-tabs .yotpo .yotpo-review .yotpo-footer {
    display: none; }

@media (max-width: 992px) {
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews {
    text-align: center; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews .yotpo-stars {
      margin: 0 0 0 80px; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-general-rating {
    left: 50%;
    border: 0;
    -webkit-transform: translateX(calc(-50% - 80px));
            transform: translateX(calc(-50% - 80px)); }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 {
    margin-top: 0 !important; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button {
    margin: 0;
    max-width: none;
    background: #ffffff;
    border: 1px solid #212121;
    padding: 4.5px 0; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-sum-reviews {
    display: block;
    text-align: center;
    margin: 8px auto 25px; }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-sum-reviews span {
      font-size: 12px;
      line-height: 16px;
      font-family: "Futura-book" !important; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-icon-btn .yotpo-icon-button-text {
    display: block; }
  .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages {
    margin-left: -25px;
    width: calc(100% + 50px); }
    .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you {
      padding: 20px; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header {
        margin-bottom: 12px; }
        .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-header span:before {
          font-size: 22px;
          line-height: 29px; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:before, .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:after {
        font-size: 13px;
        line-height: 17px; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span::before {
        content: 'Recibimos tu comentario y lo publicaremos en 3-7 d\ED  as laborales.'; }
      .product-detail-tabs .yotpo.yotpo-main-widget .yotpo-display-wrapper .yotpo-messages .yotpo-thank-you .yotpo-thankyou-content span:after {
        content: ''; }
  .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-bottomline.yotpo-bottomline-2-boxes {
    height: auto; }
  .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-nav .transparent-color-btn {
    display: none !important; }
  .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-icon-btn .yotpo-icon-button-text {
    color: #212121; }
    .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-icon-btn .yotpo-icon-button-text:before, .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-icon-btn .yotpo-icon-button-text:after {
      text-transform: none;
      margin-top: -14px; }
  .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    margin-left: 0; }
    .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 121px;
              flex: 0 0 121px;
      position: relative; }
      .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-header-element .yotpo-product-image {
        display: none; }
      .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-icon-star:before, .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-icon-empty-star:before, .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-icon-default-empty-star:before, .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-icon-default-half-star:before, .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-icon-half-star:before {
        width: 15px;
        height: 14px; }
      .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-header-actions {
        display: block;
        float: none;
        margin-top: 13px; }
        .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-header .yotpo-header-actions .yotpo-review-date {
          font-size: 10px;
          line-height: 13px; }
    .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-main {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 121px);
              flex: 0 0 calc(100% - 121px);
      padding: 0;
      margin-top: 0; }
      .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-main .content-title {
        font-size: 14px;
        line-height: 18px; }
      .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-review .yotpo-main .yotpo-review-wrapper .content-review {
        font-size: 12px;
        line-height: 16px; }
  .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews {
    text-align: left;
    margin-bottom: 10px; }
    .product-detail-tabs .yotpo.yotpo-main-widget.yotpo-small .yotpo-no-reviews .yotpo-display-wrapper .yotpo-bottomline-2-boxes .yotpo-stars-and-sum-reviews .yotpo-stars {
      margin-left: 0; }
  .product-detail-tabs .yotpo .yotpo-nav {
    bottom: 20px; }
  .product-detail-tabs .yotpo .write-review {
    position: relative; }
    .product-detail-tabs .yotpo .write-review .yotpo-product-image {
      width: 121px;
      position: absolute;
      left: 0;
      top: 20px; }
      .product-detail-tabs .yotpo .write-review .yotpo-product-image img {
        width: 108px;
        height: 108px; }
    .product-detail-tabs .yotpo .write-review .yotpo-header {
      width: 100%;
      margin-bottom: 28px; }
      .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title {
        padding: 0;
        margin-bottom: 15px;
        display: block;
        padding-left: 121px;
        border-top: none !important;
        padding-top: 0 !important; }
        .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:before, .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-header-title:after {
          font-size: 16px;
          line-height: 21px; }
      .product-detail-tabs .yotpo .write-review .yotpo-header .yotpo-product-title {
        font-size: 14px;
        display: block;
        padding-left: 121px;
        min-height: 55px;
        margin-bottom: 20px; }
      .product-detail-tabs .yotpo .write-review .yotpo-header .y-label {
        border-top: 1px solid #E2E2E2;
        display: block;
        padding-top: 17px; }
        .product-detail-tabs .yotpo .write-review .yotpo-header .y-label:before {
          font-size: 16px;
          line-height: 21px; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(n+1) .y-label:before, .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(n+1) .y-label:after {
      font-family: "Futura-demi"; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element:nth-of-type(n+1) .y-label:after {
      left: 115px; }
    .product-detail-tabs .yotpo .write-review .write-review-content .form-group .form-element .y-input {
      font-size: 12px; }
    .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-label::before {
      font-family: "Futura-demi"; }
    .product-detail-tabs .yotpo .write-review .connect-wrapper .form-element .y-input {
      font-size: 12px; }
    .product-detail-tabs .yotpo .write-review .submit-button {
      margin: 28px 0;
      padding: 28px 0;
      border-top: 1px solid #E2E2E2; }
      .product-detail-tabs .yotpo .write-review .submit-button .yotpo-default-button {
        padding: 7px 0;
        margin: 0 auto;
        margin-top: 0 !important; } }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.product-breadcrumb {
  color: #000000; }
  .product-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    font-family: FontAwesome;
    content: "\F0DA";
    color: #000000; }
  .product-breadcrumb .breadcrumb {
    padding: 0.75rem 0rem; }

.container .product-detail .product-wrapper {
  margin-top: 90px; }

.container.product-detail {
  margin-top: 80px; }

#container-detail .product-image {
  padding: 0; }

#container-detail .primary-images {
  width: 90%; }
  #container-detail .primary-images .row-container-pdp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #container-detail .primary-images .container-img {
    width: 48%;
    background: #f3f3f3;
    margin-top: 20px; }
  #container-detail .primary-images img {
    mix-blend-mode: multiply;
    max-width: 100%;
    padding: 0; }

#container-detail .product-name {
  font-size: 26px; }

#container-detail .product-number-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #container-detail .product-number-rating .ratings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #container-detail .product-number-rating .ratings .write-review {
      text-decoration: underline !important;
      margin-left: 10px;
      color: #6B6B6B !important; }
  #container-detail .product-number-rating .text-m {
    display: none; }
  #container-detail .product-number-rating .id-product {
    font-size: 16px; }
  #container-detail .product-number-rating .product-price {
    padding-top: 5px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 19px; }
    #container-detail .product-number-rating .product-price .text-price {
      font-size: 18px;
      margin-right: 10px; }
    #container-detail .product-number-rating .product-price .strike-through {
      color: #212121;
      font-size: 18px; }
    #container-detail .product-number-rating .product-price .sales {
      color: #B6254B;
      font-size: 18px; }

#container-detail .product-number-rating {
  border: none; }

#container-detail hr {
  border-top: 1px solid #DBDBDB; }

#container-detail .promotions {
  margin-top: 20px; }
  #container-detail .promotions .title {
    border-top: 1px solid #DBDBDB;
    padding: 0; }
  #container-detail .promotions .title-text, #container-detail .promotions .content {
    color: #00A30D;
    font-size: 14px;
    line-height: 18px;
    text-align: left; }

#container-detail .attribute .color {
  font-size: 16px; }

#container-detail .attribute .color-attribute {
  border-radius: 50%;
  width: 27px;
  height: auto;
  outline: none;
  position: relative;
  margin: 0 13px;
  cursor: auto; }
  #container-detail .attribute .color-attribute label {
    cursor: pointer; }
  #container-detail .attribute .color-attribute span {
    border: none;
    position: relative;
    width: 27px;
    height: 27px;
    margin: 0 auto;
    outline: none;
    cursor: pointer; }
    #container-detail .attribute .color-attribute span.selected + label {
      color: #000000;
      text-decoration: underline; }
    #container-detail .attribute .color-attribute span.unselectable {
      background-image: none !important;
      background: #F5F5F5;
      position: relative;
      cursor: auto; }
      #container-detail .attribute .color-attribute span.unselectable:before {
        content: '';
        width: 35px;
        height: 1px;
        background: #E1E1E1;
        position: absolute;
        top: 13px;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(-45deg);
                transform: translateX(-50%) rotate(-45deg); }
    #container-detail .attribute .color-attribute span.unselectable + label {
      color: #F5F5F5;
      cursor: auto; }
    #container-detail .attribute .color-attribute span.White, #container-detail .attribute .color-attribute span.white {
      border: 0.05px solid #00000029 !important; }
  #container-detail .attribute .color-attribute span::after {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    top: 3px;
    left: 5px;
    background: transparent;
    outline: none; }
  #container-detail .attribute .color-attribute span.swatch-circle-white {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.05px solid #00000029; }
    #container-detail .attribute .color-attribute span.swatch-circle-white::after {
      outline: none; }
  #container-detail .attribute .color-attribute label {
    font-size: 8px;
    line-height: 10px;
    color: #707070; }

#container-detail .size-chart {
  margin-top: -1.5rem;
  text-align: right; }

#container-detail .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #container-detail .select label {
    margin-left: -15px;
    margin-right: 15px; }
  #container-detail .select select {
    background: transparent;
    width: 50%;
    border-radius: 25px; }
  #container-detail .select .arrow-select {
    position: absolute;
    right: calc(55%);
    top: calc(50% - 8px);
    width: 10px;
    height: 10px;
    display: block;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    /* Giramos el cuadrado */
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }

#container-detail .attribute-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #container-detail .attribute-quantity label {
    margin-top: 5px;
    margin-right: 15px;
    margin-left: -15px;
    font-family: "Futura-demi"; }
  #container-detail .attribute-quantity select {
    background: transparent;
    width: 70px;
    border-radius: 5px;
    padding: 5px 15px 6px 10px;
    font-family: "Futura-demi";
    font-size: 15px;
    line-height: 17px;
    height: auto;
    max-width: 52px; }
  #container-detail .attribute-quantity .arrow-select {
    position: absolute;
    right: calc(33%);
    top: calc(50% - 12px);
    width: 10px;
    height: 10px;
    display: block;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    /* Giramos el cuadrado */
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }

#container-detail .social-container .social-icons {
  font-size: 19px;
  margin-top: 1em; }
  #container-detail .social-container .social-icons p {
    margin-right: 10px; }
  #container-detail .social-container .social-icons a i {
    font-size: 13px;
    border-radius: 50%;
    padding: 3px;
    background: #000000;
    color: #ffffff; }

#container-detail .description .title {
  font-size: 16px;
  line-height: 21px;
  margin: 15px 0; }

#container-detail .description .container-description {
  padding: 0;
  font-size: 16px;
  line-height: 18px; }

.product-mobile {
  display: none; }

.product-detail-tabs {
  background: #F5F5F5;
  color: #000000;
  margin-top: 1.5em;
  margin-left: -3.5em;
  margin-right: -3.5em;
  margin-bottom: 3em; }
  .product-detail-tabs #tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    background-color: #E6E6E6;
    padding: 0 55px; }
    .product-detail-tabs #tabs .nav-item a {
      color: #000000 !important;
      font-size: 20px;
      padding: 0;
      margin: 8px 16px; }
  .product-detail-tabs #content {
    padding: 0 55px;
    border: none; }
    .product-detail-tabs #content .card {
      border: none; }
  .product-detail-tabs .nav-tabs .nav-link.active {
    border-bottom: 0.188em solid #000000;
    background-color: #E6E6E6; }
  .product-detail-tabs .nav-tabs .nav-link:hover {
    background-color: #E6E6E6; }
  .product-detail-tabs .card-header {
    background: transparent;
    color: #0043BA;
    border-bottom: none; }
    .product-detail-tabs .card-header .title-detail {
      color: #0043BA;
      font-size: 20px;
      margin-top: 15px; }
  .product-detail-tabs .card-body {
    color: #707070;
    padding: 10px 16px; }
    .product-detail-tabs .card-body .container-description h3 {
      font-size: 20px;
      color: #0043BA; }
    .product-detail-tabs .card-body .container-description p {
      font-size: 16px; }
    .product-detail-tabs .card-body .container-tables div {
      padding: 0; }
    .product-detail-tabs .card-body .container-tables table thead th {
      padding: 0; }
      .product-detail-tabs .card-body .container-tables table thead th h3 {
        font-size: 18px;
        padding: 7px 0; }
    .product-detail-tabs .card-body .container-tables table tbody tr th {
      font-size: 16px;
      color: #707070;
      font-family: "Futura-demi";
      padding: 0; }
      @media (min-width: 700px) {
        .product-detail-tabs .card-body .container-tables table tbody tr th {
          width: 40%; } }
    .product-detail-tabs .card-body .container-tables table tbody tr td {
      font-size: 16px;
      color: #707070;
      font-family: "Futura-book";
      padding: 0;
      text-transform: capitalize; }

@media (min-width: 1366px) {
  .product-detail-tabs {
    width: 100vw;
    margin-left: calc(-55px + (1366px - 100vw) / 2); }
    .product-detail-tabs #tabs, .product-detail-tabs #content {
      padding: 0 calc(45px - (1366px - 100vw) / 2); }
    .product-detail-tabs .card-body .container {
      margin: 0; } }

@media (min-width: 544px) {
  .row .cart-and-ipay .col-sm-12 button {
    margin-top: 20px;
    width: 120%;
    margin-left: -1em; } }

@media (max-width: 543.98px) {
  .prices-add-to-cart-actions {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .cart-and-ipay .btn {
    margin-top: 10px; }
  .container.product-detail {
    margin-top: -20px; } }

@media screen and (max-width: 1024px) {
  .product-desk {
    display: none; }
  .product-mobile {
    display: initial;
    margin-bottom: 15px; }
  #container-detail .primary-images {
    width: 100%; }
    #container-detail .primary-images img {
      width: 100%; }
    #container-detail .primary-images .carousel {
      padding-bottom: 30px; }
      #container-detail .primary-images .carousel .carousel-item {
        background: #f3f3f3; }
      #container-detail .primary-images .carousel .carousel-control-prev span, #container-detail .primary-images .carousel .carousel-control-next span {
        border-radius: 50%;
        background: transparent; }
      #container-detail .primary-images .carousel .carousel-indicators {
        bottom: -15px; }
        #container-detail .primary-images .carousel .carousel-indicators li {
          background-color: #272727; }
  #container-detail .detail {
    min-width: 100%; }
  #container-detail .product-name {
    margin-top: 1em; }
  #container-detail .select {
    margin-top: 5px; }
    #container-detail .select .custom-select {
      width: 70%; }
    #container-detail .select .arrow-select {
      right: calc(45%); }
  #container-detail .attribute-quantity .arrow-select {
    right: calc(34%); }
  #container-detail .prices-add-to-cart-actions {
    position: initial; }
    #container-detail .prices-add-to-cart-actions button {
      max-width: 100%; }
  #container-detail .social-container {
    margin-top: 10px; }
    #container-detail .social-container .social-icons {
      font-size: 16px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #container-detail .social-container .social-icons p {
        position: absolute;
        top: -15px; }
      #container-detail .social-container .social-icons a i {
        padding: 10px;
        margin-top: 1em;
        font-size: 40px;
        margin-left: 10px; }
        #container-detail .social-container .social-icons a i img {
          width: 40px;
          height: 40px; }
  #container-detail .product-price {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #container-detail .product-price span.value, #container-detail .product-price span.text-price {
      font-size: 16px !important; }
  #container-detail .product-number-rating .ratings {
    margin: 0 !important; }
  .product-detail-tabs {
    width: 100vw;
    margin: 10px -25px; }
    .product-detail-tabs #tabs {
      padding: 0 1em; }
      .product-detail-tabs #tabs .nav-item a {
        font-size: 18px; }
    .product-detail-tabs #content {
      padding: 0; }
  .nav-tabs .nav-item {
    margin-bottom: 0;
    width: 50%; }
  .product-detail-tabs .card-body {
    padding: 10px 32px; }
    .product-detail-tabs .card-body .container-description h3 {
      font-size: 18px; }
    .product-detail-tabs .card-body table thead th h3 {
      font-size: 16px; }
    .product-detail-tabs .card-body .container-tables div table thead th h3 {
      font-size: 16px; }
  .card-body .container-tables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .container .product-detail .product-wrapper {
    margin-top: 60px; } }

@media (max-width: 991.98px) {
  .product-breadcrumb {
    margin-left: 0;
    padding-top: 25px; }
  .product-breadcrumb .breadcrumb {
    border-top: none; }
  .product-detail-tabs .card-body {
    padding: 10px 25px; } }

/*# sourceMappingURL=detail.css.map*/