@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.quick-view-dialog {
  max-width: 832px; }
  .quick-view-dialog .modal-header {
    display: none; }
  .quick-view-dialog .modal-body {
    padding: 40px 63px 10px 13px;
    max-height: 500px;
    position: relative; }
    .quick-view-dialog .modal-body .close {
      position: absolute;
      right: -42px;
      top: -22px; }
  .quick-view-dialog .modal-footer {
    padding: 0 63px 55px 13px; }
    .quick-view-dialog .modal-footer .col-6, .quick-view-dialog .modal-footer .col-sm-6, .quick-view-dialog .modal-footer .col-12 {
      padding: 0; }
  .quick-view-dialog .cart-and-ipay {
    margin-top: 30px !important; }
    .quick-view-dialog .cart-and-ipay .col-sm-12 {
      padding: 0;
      text-align: left; }
    .quick-view-dialog .cart-and-ipay .btn {
      font-size: 20px;
      line-height: 26px;
      padding: 7px 15px;
      width: 100%;
      max-width: 302px; }
      .quick-view-dialog .cart-and-ipay .btn .fa {
        display: none; }

.product-quickview {
  padding: 0; }
  .product-quickview .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product-quickview__gallery {
    padding: 0;
    max-width: 52.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52.66%;
            flex: 0 0 52.66%; }
  .product-quickview .thumbnails__items {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 385px;
    overflow-y: hidden; }
  .product-quickview .thumbnails__item {
    margin-bottom: 39px;
    background: #f3f3f3; }
    .product-quickview .thumbnails__item:nth-last-of-type(1) {
      margin: 0; }
    .product-quickview .thumbnails__item img {
      width: 67px;
      height: 67px;
      -o-object-fit: cover;
         object-fit: cover;
      mix-blend-mode: multiply; }
  .product-quickview .carousel-inner {
    background: #f3f3f3; }
  .product-quickview .image-large {
    max-width: 311px;
    margin: 0 0 0 17px; }
    .product-quickview .image-large__item {
      height: 100%;
      mix-blend-mode: multiply; }
      .product-quickview .image-large__item img {
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
        max-height: 380px; }
  .product-quickview__info {
    padding: 0;
    max-width: 332px;
    margin-left: auto; }
  .product-quickview__product-name {
    font-size: 20px;
    line-height: 26px;
    font-family: "Futura-book"; }
  .product-quickview .ratings {
    margin-bottom: 14px; }
    .product-quickview .ratings .fa-star, .product-quickview .ratings .fa {
      font-size: 12px; }
    .product-quickview .ratings .reviews-value {
      margin-left: 16px;
      font-size: 13px;
      line-height: 18px;
      padding: 0 4px;
      border: 1px solid #BFBFBF;
      border-radius: 3px; }
    .product-quickview .ratings .write-review {
      font-size: 14px;
      line-height: 18px;
      text-decoration: underline;
      color: #6B6B6B;
      margin-left: 16px; }
  .product-quickview__prices span {
    font-size: 18px;
    color: #212121; }
  .product-quickview__prices .price {
    display: inline-block;
    margin-left: 43px; }
    .product-quickview__prices .price .list, .product-quickview__prices .price .sales .value, .product-quickview__prices .price .normal {
      font-size: 18px;
      line-height: 23px;
      font-weight: normal; }
    .product-quickview__prices .price .list, .product-quickview__prices .price .normal {
      color: #212121; }
    .product-quickview__prices .price .sales .value {
      color: #B6254B; }
  .product-quickview .product-number {
    color: #979797;
    font-size: 12px;
    padding-top: 5px;
    display: block;
    width: 100%; }
  .product-quickview__attributes .col-12 {
    padding: 0; }
  .product-quickview__attributes--promotions {
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .product-quickview__attributes .promotions {
    margin-top: 20px; }
    .product-quickview__attributes .promotions .title {
      border-top: 1px solid #DBDBDB;
      padding: 0; }
    .product-quickview__attributes .promotions .title-text, .product-quickview__attributes .promotions .content {
      color: #00A30D;
      font-size: 14px;
      line-height: 18px; }
  .product-quickview__attributes .swatch {
    border-top: 1px solid #DBDBDB;
    margin: 16px 0 !important; }
  .product-quickview__attributes div[data-attr="color"] .color-attribute {
    margin: 0 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: auto; }
    .product-quickview__attributes div[data-attr="color"] .color-attribute label {
      font-size: 9px;
      line-height: 10px;
      margin: 5px 4px;
      max-width: 80px;
      white-space: pre-line;
      cursor: pointer; }
    .product-quickview__attributes div[data-attr="color"] .color-attribute span {
      background: none;
      border: none;
      margin: 0;
      width: 27px;
      height: 27px;
      background-size: 100%;
      cursor: pointer; }
      .product-quickview__attributes div[data-attr="color"] .color-attribute span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      .product-quickview__attributes div[data-attr="color"] .color-attribute span.selected:after {
        content: '\F00C';
        background: none;
        font-family: "FontAwesome";
        top: 3px;
        left: 5px;
        font-size: 16px;
        color: #ffffff; }
      .product-quickview__attributes div[data-attr="color"] .color-attribute span.selected + label {
        font-weight: bold;
        text-decoration: underline; }
      .product-quickview__attributes div[data-attr="color"] .color-attribute span.unselectable {
        background-image: none !important;
        background: #F5F5F5;
        position: relative;
        cursor: auto; }
        .product-quickview__attributes div[data-attr="color"] .color-attribute span.unselectable:before {
          content: '';
          width: 35px;
          height: 1px;
          background: #E1E1E1;
          position: absolute;
          top: 13px;
          left: 50%;
          -webkit-transform: translateX(-50%) rotate(-45deg);
                  transform: translateX(-50%) rotate(-45deg); }
      .product-quickview__attributes div[data-attr="color"] .color-attribute span.unselectable + label {
        color: #F5F5F5;
        cursor: auto; }
  .product-quickview__attribute {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: none;
    padding: 0; }
  .product-quickview__availability {
    display: none; }
  .product-quickview__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 332px; }
    .product-quickview__quantity .col-12:nth-of-type(1) {
      max-width: 125px; }
    .product-quickview__quantity label {
      margin: 0;
      font-family: "Futura-demi";
      vertical-align: sub; }
    .product-quickview__quantity .custom-select {
      padding: 7px 15px 6px 10px;
      font-family: "Futura-demi";
      border-radius: 5px;
      line-height: 15px;
      font-size: 15px;
      max-width: 52px;
      height: auto;
      float: right; }
    .product-quickview__quantity .arrow-select {
      position: absolute;
      right: calc(19%);
      top: calc(50% - 7px);
      width: 10px;
      height: 10px;
      display: block;
      border-left: 2px solid #000000;
      border-bottom: 2px solid #000000;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      /* Giramos el cuadrado */
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      background: #ffffff;
      pointer-events: none; }

/*# sourceMappingURL=quickView.css.map*/