.add-to-wishlist-messages,
.remove-from-wishlist-messages {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 15%;
  left: 50%; }

.add-to-wishlist-alert,
.remove-from-wishlist-alert {
  -webkit-animation: fade 5s linear forwards;
          animation: fade 5s linear forwards;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  padding: 1em; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .add-to-wishlist-alert.show,
  .remove-from-wishlist-alert.show {
    display: block; }

.add-to-cart-wishList .add-to-cart {
  float: right;
  margin-right: 1.5em; }
  @media (max-width: 543.98px) {
    .add-to-cart-wishList .add-to-cart {
      float: none;
      width: 100%; } }

.select-attributes-wishList .select-attributes-btn {
  float: right;
  margin-right: 1.5em; }
  @media (max-width: 543.98px) {
    .select-attributes-wishList .select-attributes-btn {
      float: none;
      width: 100%; } }

.product-info {
  margin-bottom: 0.313em;
  padding: 0.625em; }
  @media (min-width: 769px) {
    .product-info {
      height: auto; } }

.item-image {
  height: 5.625em;
  width: 5.625em;
  margin-right: 0.938em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .item-image img.product-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 5.625em; }

.line-item-attributes {
  font-size: 0.813rem;
  margin: 0; }

.item-attributes {
  display: inline-block;
  vertical-align: top; }

.line-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  color: #222;
  font-weight: bold;
  margin-bottom: 0.625em;
  width: 90%; }

.product-card-price {
  font-size: 0.75rem;
  margin-bottom: 0.5rem; }
  @media (max-width: 543.98px) {
    .product-card-price {
      margin-left: 6.5rem; } }

.edit {
  font-size: 0.813rem; }

.wishlist-line-item-divider {
  margin: 0.625em -0.615em 0.625em -0.615em; }

.wishlist-edit-item-divider {
  margin: 0.625em -0.615em 0.625em -0.615em; }

.product-info .remove-btn {
  color: #999;
  font-size: 1.625em;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0.25rem;
  border: none;
  background-color: #fff; }
  @media (min-width: 992px) {
    .product-info .remove-btn {
      top: 0;
      bottom: 0;
      right: -0.625rem;
      margin-top: -0.625rem;
      margin-bottom: -0.625rem; } }

.remove-btn-lg {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  z-index: 1; }

.wishlist-hide {
  margin: 0 0 0.15rem 1rem; }

.line-item-price-info {
  margin-bottom: 0.25rem; }

.wishlist-item-update-button-block {
  text-align: center; }
  @media (max-width: 543.98px) {
    .wishlist-item-update-button-block {
      padding-bottom: 26px; }
      .wishlist-item-update-button-block .btn {
        width: 98%;
        margin: 1%;
        display: block; } }

.update-wishlist-messages {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 15%;
  left: 50%; }

.update-wishlist-alert {
  -webkit-animation: fade 5s linear forwards;
          animation: fade 5s linear forwards;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  padding: 1em; }

@keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .update-wishlist-alert.show {
    display: block; }

.more-wl-items,
.my-account {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

#wishlist-search .wishlist-error-search {
  margin-top: 1rem; }

#wishlist-search button {
  margin-bottom: 1rem; }

.wl-hit,
.find-another-wl {
  margin-top: 1rem; }

.wishlist-owner {
  font-size: 1.5rem; }

.wl-social-sharing {
  color: #444;
  font-size: 1.75em; }
  @media (max-width: 768.98px) {
    .wl-social-sharing {
      font-size: 1.25em; } }
  .wl-social-sharing .share-icons {
    text-decoration: none; }
    .wl-social-sharing .share-icons i {
      color: #444; }
  .wl-social-sharing .fa-link {
    cursor: pointer; }

.wl-social-sharing-text {
  font-size: 0.85em;
  font-weight: 200; }

.copy-link-message {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 15%;
  left: 50%; }

/*# sourceMappingURL=wishlist.css.map*/