.form-group.required .form-control-label::before {
  content: "*";
  color: #dc3545; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: var(--skin-primary-color-1);
  text-decoration: underline; }

.card-header > a {
  color: var(--skin-primary-color-1);
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-body-positioning {
  position: relative; }

.card-make-default-link {
  margin-top: 0.625em;
  /* 10/16 */ }

.remove-btn {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3rem; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.headerblue {
  color: #0043BA;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=addressbook.css.map*/