.form-group.required .form-control-label::before {
  content: "*";
  color: #dc3545; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: var(--skin-primary-color-1);
  text-decoration: underline; }

.card-header > a {
  color: var(--skin-primary-color-1);
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-footer-border {
  border-top: 1px dashed #999; }

.card-make-default-link {
  margin-top: 1rem; }

.dashboard-cards-block-title {
  font-weight: bold; }

.dashboard-order-card-status {
  text-transform: capitalize; }

.dashboard-order-card-image {
  width: 7rem; }

.account-landing-ordercard {
  padding: 0;
  height: 1rem;
  margin-left: 1.25rem;
  border-bottom: 0 none;
  margin-top: 1rem; }
  .account-landing-ordercard h4 {
    font-size: 1.2rem; }

div.order-number {
  padding-top: 0.2rem; }

.dashboard-cards-block-title {
  margin-bottom: 1em; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.card-header h2, .card-header h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0; }

.profile-header a {
  color: white; }

.accountbtn {
  color: black !important;
  border: 1px solid black;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; }

.tab-content > .active .row .col-sm-4 .card {
  background-color: red;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem; }

.tab-content > .active .tab-content > .active .row justify-content-center .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem; }
  .tab-content > .active .tab-content > .active .row justify-content-center .card .card-header .profile-header a {
    color: white; }
  .tab-content > .active .tab-content > .active .row justify-content-center .card .card-header {
    color: white; }

.headerblue {
  top: 156px;
  left: 283px;
  width: 100%;
  height: 54px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 42px/26px var(--unnamed-font-family-futura-pt);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0043ba);
  text-align: center;
  font: normal normal normal 42px/26px Futura PT;
  letter-spacing: 0px;
  color: #0043BA;
  opacity: 1; }

.aside-menu .nav {
  font-size: 16px; }

.card-header > a {
  color: white;
  float: right;
  text-decoration: underline; }

.aside-menu-link > a .selected {
  color: blue; }

a:active {
  color: blue; }

.list-group-item.active {
  /* z-index: 2; */
  color: #0043BA;
  background-color: none;
  /* border-color: #00a1e0; */ }

.list-group-item {
  position: relative;
  display: block;
  padding: 0.2rem 2.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.125); }

.list-group-item-action {
  color: black;
  text-align: inherit; }

/*# sourceMappingURL=dashboard.css.map*/