.form-group.required .form-control-label::before {
  content: "*";
  color: #dc3545; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: var(--skin-primary-color-1);
  text-decoration: underline; }

.card-header > a {
  color: var(--skin-primary-color-1);
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-footer-border {
  border-top: 1px dashed #999; }

.card-make-default-link {
  margin-top: 1rem; }

.dashboard-cards-block-title {
  font-weight: bold; }

.dashboard-order-card-status {
  text-transform: capitalize; }

.dashboard-order-card-image {
  width: 7rem; }

.account-landing-ordercard {
  padding: 0;
  height: 1rem;
  margin-left: 1.25rem;
  border-bottom: 0 none;
  margin-top: 1rem; }
  .account-landing-ordercard h4 {
    font-size: 1.2rem; }

div.order-number {
  padding-top: 0.2rem; }

.dashboard-cards-block-title {
  margin-bottom: 1em; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.card-type {
  position: relative; }
  .card-type::after {
    content: '';
    position: absolute;
    right: 22px;
    background-repeat: no-repeat;
    background-image: url("../../images/credit.png");
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 25px; }
  .card-type[data-type="Visa"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -162px -110px; }
  .card-type[data-type="Master Card"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -295px -110px; }
  .card-type[data-type="Amex"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -230px -15px; }
  .card-type[data-type="Discover"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -95px -110px; }

.home-my-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .home-my-account.container {
    margin-top: 29px;
    padding-top: 40px; }
    .home-my-account.container .menu-left-mobile {
      display: none; }

.strike-through {
  text-decoration: line-through;
  margin-right: 0.938rem; }

.price-prorated {
  color: #FF0000; }

/*--- left menu Mobile---*/
.menu-left-mobile {
  position: absolute;
  margin-top: 15px;
  z-index: 1; }
  .menu-left-mobile i {
    font-size: 24px; }

/*--- left menu ---*/
.list-group * {
  font-family: "Futura-medium"; }

.list-group-item.active {
  color: #0043BA;
  background: none; }

.list-group-item {
  position: relative;
  display: block;
  padding: 0.2rem 2.25rem;
  border: none; }

.list-group-item-action {
  color: #000000; }
  .list-group-item-action:hover, .list-group-item-action:active {
    color: #0043BA;
    background: none; }

.aside-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 13.7%;
  /*------- my account cards --------*/
  /*------ end my account cards -------*/ }
  .aside-menu .account-title,
  .aside-menu .tab-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .aside-menu .account-title h1 {
    font-size: 42px;
    line-height: 54px;
    color: #0043BA;
    margin-bottom: 32px; }
  .aside-menu .tab-pane {
    padding: 0;
    max-width: 820px; }
  .aside-menu .left-content,
  .aside-menu .right-content {
    padding: 0; }
  .aside-menu .left-content {
    padding-right: 24px; }
  .aside-menu .right-content {
    padding-left: 24px; }
  .aside-menu .card {
    border: none;
    margin-bottom: 50px; }
    .aside-menu .card .card-header * {
      color: #ffffff; }
    .aside-menu .card h2 {
      font-size: 18px;
      line-height: 24px; }
    .aside-menu .card a {
      font-size: 16px;
      line-height: 21px; }
    .aside-menu .card .card-body {
      background: #F5F5F5;
      position: relative;
      padding: 20px; }
      .aside-menu .card .card-body__border {
        border-bottom: 1px solid #DBDBDB; }
      .aside-menu .card .card-body__title {
        font-family: "Futura-medium";
        color: #000000; }
      .aside-menu .card .card-body__image {
        width: 50px;
        margin-top: 14px; }
      .aside-menu .card .card-body__title, .aside-menu .card .card-body__value {
        font-size: 16px;
        line-height: 22px; }
      .aside-menu .card .card-body__alert {
        font-size: 14px;
        line-height: 15px;
        color: #6C6C6C; }
        .aside-menu .card .card-body__alert span {
          font-family: "Futura-demi"; }
      .aside-menu .card .card-body__email {
        font-size: 14px;
        line-height: 15px;
        color: #707070; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__image, .aside-menu .card .card-body__wishlist .account-wishlist-item__description, .aside-menu .card .card-body__wishlist .account-wishlist-item__stock, .aside-menu .card .card-body__wishlist .account-wishlist-item__price, .aside-menu .card .card-body__wishlist .account-wishlist-item__send {
        padding: 0; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__image {
        margin-bottom: 0; }
        .aside-menu .card .card-body__wishlist .account-wishlist-item__image img {
          margin-bottom: 8px;
          max-width: 56px; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__description {
        margin-bottom: 20px; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__name {
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
        white-space: inherit; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__stock {
        max-width: 56px;
        text-align: center; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__price {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        font-family: "Futura-demi";
        font-weight: normal; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__list {
        text-decoration: line-through; }
        .aside-menu .card .card-body__wishlist .account-wishlist-item__list + span {
          color: #FF0000; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__send button {
        font-size: 14px;
        line-height: 18px;
        text-decoration: underline;
        border: none;
        padding: 0;
        background: none;
        color: #6B6B6B; }
      .aside-menu .card .card-body__wishlist .account-wishlist-item__stock {
        font-size: 8px;
        line-height: 10px;
        background: #FFCE00; }
      .aside-menu .card .card-body__wishlist.account-wishlist-item {
        padding: 25px 0 19px;
        margin: 0;
        border-bottom: 1px solid #DBDBDB; }
      .aside-menu .card .card-body__wishlist--info {
        font-size: 16px;
        line-height: 22px;
        font-family: "Futura-medium"; }
      .aside-menu .card .card-body .orders-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .aside-menu .card .card-body .orders-content .col-sm-6 {
          margin: 10px 0 0;
          padding: 0; }
    .aside-menu .card .card-footer {
      background: #F5F5F5;
      padding: 0; }
      .aside-menu .card .card-footer a {
        color: #212121;
        background: #ffffff;
        border: 1px solid #212121;
        margin: 20px 57px;
        padding: 7px 0;
        font-size: 20px;
        line-height: 26px;
        border-radius: 25px;
        display: block;
        width: auto;
        text-decoration: none; }
      .aside-menu .card .card-footer__border {
        border-top: 1px solid #DBDBDB; }
    .aside-menu .card__address .card-body, .aside-menu .card__payment .card-body {
      padding: 0; }
      .aside-menu .card__address .card-body__address, .aside-menu .card__address .card-body__payment, .aside-menu .card__payment .card-body__address, .aside-menu .card__payment .card-body__payment {
        padding: 20px 80px 20px 20px; }
        .aside-menu .card__address .card-body__address span, .aside-menu .card__address .card-body__payment span, .aside-menu .card__payment .card-body__address span, .aside-menu .card__payment .card-body__payment span {
          font-size: 16px;
          line-height: 22px;
          display: block; }
      .aside-menu .card__address .card-body:nth-of-type(1), .aside-menu .card__payment .card-body:nth-of-type(1) {
        padding-top: 20px; }
      .aside-menu .card__address .card-body button, .aside-menu .card__payment .card-body button {
        border: none;
        font-size: 14px;
        line-height: 23px;
        text-decoration: underline;
        background: none;
        position: absolute;
        bottom: 20px;
        right: 16px; }
    .aside-menu .card__address .card-footer, .aside-menu .card__payment .card-footer {
      border: none; }
  .aside-menu .form-group.custom-checkbox .custom-control-label {
    font-size: 14px;
    line-height: 24px; }
    .aside-menu .form-group.custom-checkbox .custom-control-label:before {
      background: #ffffff;
      border: 1px solid #BFBFBF; }
  .aside-menu .form-group .custom-control-input:checked ~ .custom-control-label {
    position: relative; }
    .aside-menu .form-group .custom-control-input:checked ~ .custom-control-label::before {
      background: #0043BA;
      border: none; }
    .aside-menu .form-group .custom-control-input:checked ~ .custom-control-label::after {
      content: '\F00C';
      font-family: "FontAwesome";
      background: none;
      font-size: 8px;
      color: #ffffff;
      top: 0;
      left: -21px; }

/*------- profile --------*/
.profile-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px !important; }
  .profile-page .form-group {
    margin-bottom: 0; }
    .profile-page .form-group.required .form-control-label::before {
      content: ""; }
    .profile-page .form-group.required .form-control-label::after {
      content: '*'; }
  .profile-page .aside-menu {
    max-width: 376px; }
    .profile-page .aside-menu .card-body {
      padding: 0;
      background: none; }
      .profile-page .aside-menu .card-body form {
        padding: 0; }
  .profile-page .col-sm-6 {
    padding: 0; }
  .profile-page .profile-card__title {
    margin-bottom: 33px; }
    .profile-page .profile-card__title h1 {
      font-size: 42px;
      margin-bottom: 0;
      line-height: 54px; }
  .profile-page .profile-card__name, .profile-page .profile-card__father-name, .profile-page .profile-card__birth {
    margin-bottom: 25px; }
  .profile-page .profile-card__name, .profile-page .profile-card__father-name, .profile-page .profile-card__mother-name, .profile-page .profile-card__birth {
    margin-bottom: 25px; }
  .profile-page .profile-card__father-name, .profile-page .profile-card__birth, .profile-page .profile-card__preferences:nth-of-type(1) {
    padding-right: 24px; }
  .profile-page .profile-card__mother-name, .profile-page .profile-card__preferences:nth-of-type(2) {
    padding-left: 24px; }
  .profile-page .profile-card__preferences {
    margin-bottom: 9px; }
    .profile-page .profile-card__preferences .form-group label {
      display: block;
      margin-bottom: 16px; }
  .profile-page .profile-card__email {
    margin-bottom: 30px; }
    .profile-page .profile-card__email label {
      display: block;
      margin-bottom: 10px; }
  .profile-page .profile-card .edit-profile-form .form-group input.form-control {
    border-radius: 25px; }
  .profile-page .profile-card .save-changes {
    max-width: 270px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 7px 0; }

/*-------- end proflie ---------*/
/*------- orders page --------*/
.orders-page, .ordersList-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-top: 40px !important; }
  .orders-page__content, .ordersList-page__content {
    margin-left: 12.42%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-right: 40px; }
  .orders-page__header, .ordersList-page__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0; }
    .orders-page__header--title, .ordersList-page__header--title {
      padding-left: 0;
      color: #0043BA;
      margin-bottom: 32px; }
      .orders-page__header--title h1, .ordersList-page__header--title h1 {
        font-size: 42px;
        line-height: 54px;
        margin: 0; }
    .orders-page__header--select, .ordersList-page__header--select {
      border-radius: 25px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: ''; }
    .orders-page__header .form-group, .ordersList-page__header .form-group {
      position: relative;
      margin: 12px 0; }
      .orders-page__header .form-group:after, .ordersList-page__header .form-group:after {
        position: absolute;
        content: '\F106';
        font-family: "FontAwesome";
        font-size: 22px;
        right: 10px;
        top: 3px;
        color: #000000; }
    .orders-page__header .down:after, .ordersList-page__header .down:after {
      pointer-events: none;
      content: '\F107'; }
  .orders-page__table, .ordersList-page__table {
    margin-bottom: 115px; }
    .orders-page__table--head, .ordersList-page__table--head {
      background: #0043BA;
      color: #ffffff;
      font-size: 18px;
      line-height: 20px;
      font-family: "Futura-medium";
      border: none; }
    .orders-page__table tbody tr:nth-of-type(odd), .ordersList-page__table tbody tr:nth-of-type(odd) {
      background: rgba(245, 245, 245, 0.4); }
    .orders-page__table tbody tr:nth-of-type(even), .ordersList-page__table tbody tr:nth-of-type(even) {
      background: whitesmoke; }
    .orders-page__table .quantity, .ordersList-page__table .quantity {
      text-align: center; }
      .orders-page__table .quantity p, .ordersList-page__table .quantity p {
        margin-bottom: 0;
        margin-right: 20px;
        display: inline-block; }
    .orders-page__table td, .ordersList-page__table td {
      padding: 19px 12px;
      border-top: none;
      border-bottom: 1px solid #DBDBDB; }
    .orders-page__table .bg-tracking-step, .ordersList-page__table .bg-tracking-step {
      background-color: #0043BA; }
    .orders-page__table .border-right-tracking, .ordersList-page__table .border-right-tracking {
      border-right: 2px solid #0043ba; }
    .orders-page__table .tracking-table, .ordersList-page__table .tracking-table {
      padding-top: 0px;
      padding-bottom: 0px; }
    .orders-page__table .product-image, .ordersList-page__table .product-image {
      width: 32px;
      height: 32px;
      -o-object-fit: cover;
         object-fit: cover; }
    .orders-page__table .details, .ordersList-page__table .details {
      color: #0043BA;
      text-decoration: underline; }
  @media (max-width: 992px) {
    .orders-page.container, .ordersList-page.container {
      padding: 0; }
      .orders-page.container .menu-left-mobile, .ordersList-page.container .menu-left-mobile {
        margin-top: 5px;
        margin-left: 25px; }
    .orders-page__content, .ordersList-page__content {
      margin: 0; }
    .orders-page__table th:nth-of-type(2), .orders-page__table th:nth-of-type(3), .orders-page__table th:nth-last-of-type(1), .orders-page__table td:nth-of-type(2), .orders-page__table td:nth-of-type(3), .orders-page__table td:nth-last-of-type(1), .ordersList-page__table th:nth-of-type(2), .ordersList-page__table th:nth-of-type(3), .ordersList-page__table th:nth-last-of-type(1), .ordersList-page__table td:nth-of-type(2), .ordersList-page__table td:nth-of-type(3), .ordersList-page__table td:nth-last-of-type(1) {
      display: none; }
    .orders-page__header--title, .ordersList-page__header--title {
      padding: 0; }
      .orders-page__header--title h1, .ordersList-page__header--title h1 {
        text-align: center;
        font-size: 28px;
        line-height: 35px; }
    .orders-page__header .form-group, .ordersList-page__header .form-group {
      margin-bottom: 25px; } }

.ordersList-page__table--head tr th {
  border: none; }

.orders-page-m .header-title .left-menu-m {
  position: absolute; }
  .orders-page-m .header-title .left-menu-m .menu-left-mobile {
    margin-top: 7px;
    margin-left: 27px; }

.orders-page-m .header-title .title-wraper {
  padding: 0 25px; }
  .orders-page-m .header-title .title-wraper .title-container h1 {
    font-size: 2em;
    color: #0043BA;
    margin: 0; }

.orders-page-m .header-title .select-orders {
  margin: 20px 0;
  padding: 0 25px; }
  .orders-page-m .header-title .select-orders:after {
    position: absolute;
    content: '\F107';
    font-family: "FontAwesome";
    font-size: 22px;
    right: 40px;
    top: 3px;
    color: #000000; }

.orders-page-m .header-title .table-container {
  padding: 0 25px; }

/*------- end orders--------*/
.tracking-order, .tracking-return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 132px; }
  .tracking-order__content, .tracking-return__content {
    margin-left: 12.42%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-right: 40px;
    margin-top: 30px; }
  .tracking-order__header--steps, .tracking-return__header--steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 38px; }
  .tracking-order .tracking-progress-indicator, .tracking-return .tracking-progress-indicator {
    display: block;
    position: relative;
    width: 100%;
    max-width: 629px; }
    .tracking-order .tracking-progress-indicator .step-item, .tracking-return .tracking-progress-indicator .step-item {
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.29);
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.29);
      border-radius: 30px;
      padding: 7px 9px;
      background: #ffffff; }
      .tracking-order .tracking-progress-indicator .step-item:nth-of-type(1), .tracking-return .tracking-progress-indicator .step-item:nth-of-type(1) {
        padding-right: 98px; }
      .tracking-order .tracking-progress-indicator .step-item:nth-of-type(2), .tracking-return .tracking-progress-indicator .step-item:nth-of-type(2) {
        padding-right: 88px;
        z-index: 1; }
      .tracking-order .tracking-progress-indicator .step-item:nth-of-type(3), .tracking-return .tracking-progress-indicator .step-item:nth-of-type(3) {
        padding-right: 63px;
        z-index: 2; }
      .tracking-order .tracking-progress-indicator .step-item:nth-of-type(n+2), .tracking-return .tracking-progress-indicator .step-item:nth-of-type(n+2) {
        margin-left: -35px; }
      .tracking-order .tracking-progress-indicator .step-item .step-item-label, .tracking-return .tracking-progress-indicator .step-item .step-item-label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #6B6B6B;
        font-family: "Futura-demi"; }
      .tracking-order .tracking-progress-indicator .step-item .visually-hidden, .tracking-return .tracking-progress-indicator .step-item .visually-hidden {
        font-size: 21px;
        line-height: 27px;
        background: #ffffff;
        color: #ffffff;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
        width: 35px;
        height: 35px;
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-right: 14px;
        font-family: "Futura-demi"; }
        .tracking-order .tracking-progress-indicator .step-item .visually-hidden img, .tracking-return .tracking-progress-indicator .step-item .visually-hidden img {
          width: 24px; }
      .tracking-order .tracking-progress-indicator .step-item.active, .tracking-return .tracking-progress-indicator .step-item.active {
        background-color: #0043BA;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29); }
        .tracking-order .tracking-progress-indicator .step-item.active .visually-hidden, .tracking-return .tracking-progress-indicator .step-item.active .visually-hidden {
          background: #ffffff;
          color: #0043BA;
          -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
                  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29); }
        .tracking-order .tracking-progress-indicator .step-item.active .step-item-label, .tracking-return .tracking-progress-indicator .step-item.active .step-item-label {
          font-size: 13px;
          line-height: 16px;
          color: #ffffff;
          margin: 0;
          font-family: "Futura-demi"; }
  .tracking-order__number-company, .tracking-return__number-company {
    text-align: right;
    margin-left: auto; }
    .tracking-order__number-company span, .tracking-return__number-company span {
      font-size: 14px;
      line-height: 20px; }
  .tracking-order .bold, .tracking-return .bold {
    font-family: "Futura-demi"; }
  .tracking-order__header, .tracking-return__header {
    background: #0043BA;
    font-size: 18px;
    line-height: 24px;
    font-family: "Futura-demi";
    padding: 11px 16px;
    color: #ffffff; }
    .tracking-order__header span, .tracking-return__header span {
      font-family: "Futura-book"; }
  .tracking-order__title, .tracking-return__title {
    padding-left: 0;
    color: #0043BA;
    margin-bottom: 32px;
    padding: 0; }
    .tracking-order__title h1, .tracking-return__title h1 {
      font-size: 42px;
      line-height: 54px;
      margin: 0; }
  .tracking-order__order-number, .tracking-return__order-number {
    font-size: 18px;
    line-height: 20px;
    display: none; }
  .tracking-order__table, .tracking-return__table {
    margin-bottom: 44px; }
    .tracking-order__table--head, .tracking-return__table--head {
      font-size: 18px;
      line-height: 20px;
      font-family: "Futura-medium";
      color: #212121;
      background: rgba(245, 245, 245, 0.4);
      border-bottom: 1px solid #DBDBDB; }
    .tracking-order__table.table thead th, .tracking-return__table.table thead th {
      border: none;
      padding: 20px 0 14px;
      width: 20px; }
    .tracking-order__table tbody tr:nth-of-type(odd), .tracking-return__table tbody tr:nth-of-type(odd) {
      background: rgba(245, 245, 245, 0.4); }
    .tracking-order__table tbody tr:nth-of-type(even), .tracking-return__table tbody tr:nth-of-type(even) {
      background: rgba(245, 245, 245, 0.4); }
    .tracking-order__table tbody tr:nth-last-of-type(1) .tracking-table h5, .tracking-return__table tbody tr:nth-last-of-type(1) .tracking-table h5 {
      border: 1px solid #0043BA;
      border-radius: 20px;
      width: 18px; }
    .tracking-order__table tbody tr:nth-last-of-type(1) .bg-tracking-step, .tracking-return__table tbody tr:nth-last-of-type(1) .bg-tracking-step {
      border: 1px solid #F5F5F5; }
    .tracking-order__table .quantity, .tracking-return__table .quantity {
      text-align: center; }
      .tracking-order__table .quantity p, .tracking-return__table .quantity p {
        margin-bottom: 0;
        margin-right: 20px;
        display: inline-block; }
    .tracking-order__table td, .tracking-return__table td {
      padding: 19px 12px;
      border-top: none;
      vertical-align: middle; }
    .tracking-order__table .bg-tracking-step, .tracking-return__table .bg-tracking-step {
      background-color: #0043BA;
      padding: 0;
      width: 16px;
      height: 16px; }
      .tracking-order__table .bg-tracking-step img, .tracking-return__table .bg-tracking-step img {
        width: 11px;
        margin: 2px auto; }
    .tracking-order__table .border-right-tracking, .tracking-return__table .border-right-tracking {
      border-right: 2px solid #0043ba;
      padding: 0; }
    .tracking-order__table .tracking-table, .tracking-return__table .tracking-table {
      padding: 0; }
      .tracking-order__table .tracking-table .col-auto, .tracking-return__table .tracking-table .col-auto {
        padding: 0 !important; }
      .tracking-order__table .tracking-table h5, .tracking-return__table .tracking-table h5 {
        margin: 0 auto;
        font-size: 0.5px;
        width: 16px; }
      .tracking-order__table .tracking-table .row, .tracking-return__table .tracking-table .row {
        width: 16px;
        padding: 0;
        margin: 0 auto !important; }
        .tracking-order__table .tracking-table .row .col, .tracking-return__table .tracking-table .row .col {
          padding: 0; }
  .tracking-order__footer, .tracking-return__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 57px; }
  .tracking-order__link span, .tracking-return__link span {
    vertical-align: sub; }
  .tracking-order__link a, .tracking-return__link a {
    font-size: 14px;
    text-decoration: underline; }
  .tracking-order__button, .tracking-return__button {
    margin-left: auto; }
    .tracking-order__button a, .tracking-return__button a {
      text-transform: none;
      font-size: 20px;
      line-height: 26px;
      padding: 6px 17px; }
  @media (max-width: 992px) {
    .tracking-order.container, .tracking-return.container {
      padding: 0; }
    .tracking-order__content, .tracking-return__content {
      margin: 0; }
    .tracking-order__title, .tracking-return__title {
      margin-bottom: 0; }
      .tracking-order__title h1, .tracking-return__title h1 {
        font-size: 28px;
        line-height: 35px;
        text-align: center; }
    .tracking-order__order-number, .tracking-return__order-number {
      display: block;
      text-align: center;
      color: #212121; }
    .tracking-order__header--steps, .tracking-return__header--steps {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 40px; }
    .tracking-order .tracking-progress-indicator, .tracking-return .tracking-progress-indicator {
      margin: 30px 0 30px 25px; }
      .tracking-order .tracking-progress-indicator .step-item, .tracking-return .tracking-progress-indicator .step-item {
        padding: 5px;
        font-size: 11px; }
        .tracking-order .tracking-progress-indicator .step-item:nth-of-type(2), .tracking-return .tracking-progress-indicator .step-item:nth-of-type(2) {
          vertical-align: bottom;
          margin-left: -39px; }
        .tracking-order .tracking-progress-indicator .step-item .visually-hidden, .tracking-return .tracking-progress-indicator .step-item .visually-hidden {
          width: 24px;
          height: 24px; }
        .tracking-order .tracking-progress-indicator .step-item.active .step-item-label, .tracking-return .tracking-progress-indicator .step-item.active .step-item-label {
          font-size: 11px; }
        .tracking-order .tracking-progress-indicator .step-item.active .visually-hidden, .tracking-return .tracking-progress-indicator .step-item.active .visually-hidden {
          width: 24px;
          height: 24px; }
          .tracking-order .tracking-progress-indicator .step-item.active .visually-hidden img, .tracking-return .tracking-progress-indicator .step-item.active .visually-hidden img {
            width: 18px; }
    .tracking-order__number-company, .tracking-return__number-company {
      text-align: center;
      margin-left: inherit;
      width: 100%; }
    .tracking-order__header, .tracking-return__header {
      padding: 11px 25px; }
    .tracking-order__table, .tracking-return__table {
      margin-bottom: 14px; }
      .tracking-order__table.table thead th, .tracking-return__table.table thead th {
        padding: 20px 10px 14px; }
      .tracking-order__table td.tracking-table, .tracking-return__table td.tracking-table {
        padding: 0 10px; }
    .tracking-order__footer, .tracking-return__footer {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 59px; }
    .tracking-order__link, .tracking-order__button, .tracking-return__link, .tracking-return__button {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      text-align: center; }
    .tracking-order__link, .tracking-return__link {
      margin-bottom: 29px; }
    .tracking-order__button a, .tracking-return__button a {
      max-width: 206px;
      margin: 0 auto;
      padding: 6px 12px; } }

@media (max-width: 992px) {
  .tracking-order__table {
    margin-bottom: 14px; }
    .tracking-order__table.table thead th:nth-of-type(3), .tracking-order__table.table thead th:nth-of-type(4) {
      display: none; }
    .tracking-order__table td:nth-of-type(3), .tracking-order__table td:nth-of-type(4) {
      display: none; } }

.tracking-return .hidden-d {
  display: none; }

.tracking-return .hidden-m {
  display: block; }

.tracking-return .tracking-progress-indicator .step-item .visually-hidden {
  color: #0043BA; }

/*------- order details page --------*/
.order-details-page, .confirmation-details-page, .order-returns-page {
  padding-top: 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .order-details-page .card, .confirmation-details-page .card, .order-returns-page .card {
    margin-bottom: 0; }
  .order-details-page .card-header, .confirmation-details-page .card-header, .order-returns-page .card-header {
    padding: 11px 16px; }
    .order-details-page .card-header h2, .confirmation-details-page .card-header h2, .order-returns-page .card-header h2 {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff; }
  .order-details-page .card-body, .confirmation-details-page .card-body, .order-returns-page .card-body {
    padding: 20px 16px;
    background: #F5F5F5;
    margin-bottom: 25px; }
  .order-details-page__content, .confirmation-details-page__content, .order-returns-page__content {
    margin-left: 12.42%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-right: 119px;
    margin-bottom: 128px; }
  .order-details-page__title, .confirmation-details-page__title, .order-returns-page__title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px;
    color: #0043BA; }
  .order-details-page__card .card, .confirmation-details-page__card .card, .order-returns-page__card .card {
    border: none; }
  .order-details-page__options, .confirmation-details-page__options, .order-returns-page__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #212121;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .order-details-page__options span,
    .order-details-page__options a, .confirmation-details-page__options span,
    .confirmation-details-page__options a, .order-returns-page__options span,
    .order-returns-page__options a {
      display: block; }
      .order-details-page__options span.value,
      .order-details-page__options a.value, .confirmation-details-page__options span.value,
      .confirmation-details-page__options a.value, .order-returns-page__options span.value,
      .order-returns-page__options a.value {
        font-family: "Futura-demi"; }
    .order-details-page__options a, .confirmation-details-page__options a, .order-returns-page__options a {
      font-size: 20px;
      line-height: 26px;
      background: #ffffff;
      border: 1px solid #212121;
      color: #212121;
      border-radius: 25px;
      padding: 6px 25px;
      margin: 30px 0; }
      .order-details-page__options a:hover, .confirmation-details-page__options a:hover, .order-returns-page__options a:hover {
        text-decoration: none; }
      .order-details-page__options a.invalid, .confirmation-details-page__options a.invalid, .order-returns-page__options a.invalid {
        pointer-events: none;
        color: #BFBFBF;
        border-color: #BFBFBF; }
  .order-details-page__return, .order-details-page__track, .order-details-page__ship, .confirmation-details-page__return, .confirmation-details-page__track, .confirmation-details-page__ship, .order-returns-page__return, .order-returns-page__track, .order-returns-page__ship {
    max-width: 30%;
    padding: 0; }
  .order-details-page__ship, .confirmation-details-page__ship, .order-returns-page__ship {
    margin: 0 5%; }
  .order-details-page__shipping-info .shipping, .confirmation-details-page__shipping-info .shipping, .order-returns-page__shipping-info .shipping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-details-page__shipping-info .shipping .col-7,
    .order-details-page__shipping-info .shipping .col-5, .confirmation-details-page__shipping-info .shipping .col-7,
    .confirmation-details-page__shipping-info .shipping .col-5, .order-returns-page__shipping-info .shipping .col-7,
    .order-returns-page__shipping-info .shipping .col-5 {
      padding: 0; }
  .order-details-page__shipping-info .card-body, .confirmation-details-page__shipping-info .card-body, .order-returns-page__shipping-info .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-details-page__shipping-info .card-body .col-8,
    .order-details-page__shipping-info .card-body .col-4, .confirmation-details-page__shipping-info .card-body .col-8,
    .confirmation-details-page__shipping-info .card-body .col-4, .order-returns-page__shipping-info .card-body .col-8,
    .order-returns-page__shipping-info .card-body .col-4 {
      padding: 0; }
  .order-details-page__products-info .card-body, .confirmation-details-page__products-info .card-body, .order-returns-page__products-info .card-body {
    padding: 0;
    background: none; }
    .order-details-page__products-info .card-body table, .confirmation-details-page__products-info .card-body table, .order-returns-page__products-info .card-body table {
      width: 100%;
      text-align: center; }
      .order-details-page__products-info .card-body table th,
      .order-details-page__products-info .card-body table td, .confirmation-details-page__products-info .card-body table th,
      .confirmation-details-page__products-info .card-body table td, .order-returns-page__products-info .card-body table th,
      .order-returns-page__products-info .card-body table td {
        padding: 10px 18px; }
        .order-details-page__products-info .card-body table th:nth-of-type(1),
        .order-details-page__products-info .card-body table td:nth-of-type(1), .confirmation-details-page__products-info .card-body table th:nth-of-type(1),
        .confirmation-details-page__products-info .card-body table td:nth-of-type(1), .order-returns-page__products-info .card-body table th:nth-of-type(1),
        .order-returns-page__products-info .card-body table td:nth-of-type(1) {
          text-align: left; }
      .order-details-page__products-info .card-body table tbody tr, .confirmation-details-page__products-info .card-body table tbody tr, .order-returns-page__products-info .card-body table tbody tr {
        border-top: 1px solid #DBDBDB; }
      .order-details-page__products-info .card-body table td, .confirmation-details-page__products-info .card-body table td, .order-returns-page__products-info .card-body table td {
        padding: 23px 18px 30px;
        font-size: 14px;
        line-height: 18px;
        vertical-align: top; }
    .order-details-page__products-info .card-body .product, .confirmation-details-page__products-info .card-body .product, .order-returns-page__products-info .card-body .product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 300px; }
      .order-details-page__products-info .card-body .product--image, .order-details-page__products-info .card-body .product--text, .confirmation-details-page__products-info .card-body .product--image, .confirmation-details-page__products-info .card-body .product--text, .order-returns-page__products-info .card-body .product--image, .order-returns-page__products-info .card-body .product--text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .order-details-page__products-info .card-body .product--image, .confirmation-details-page__products-info .card-body .product--image, .order-returns-page__products-info .card-body .product--image {
        background: #f3f3f3; }
        .order-details-page__products-info .card-body .product--image img, .confirmation-details-page__products-info .card-body .product--image img, .order-returns-page__products-info .card-body .product--image img {
          width: 76px;
          mix-blend-mode: multiply; }
      .order-details-page__products-info .card-body .product--title, .order-details-page__products-info .card-body .product--variants, .confirmation-details-page__products-info .card-body .product--title, .confirmation-details-page__products-info .card-body .product--variants, .order-returns-page__products-info .card-body .product--title, .order-returns-page__products-info .card-body .product--variants {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
      .order-details-page__products-info .card-body .product--variants, .confirmation-details-page__products-info .card-body .product--variants, .order-returns-page__products-info .card-body .product--variants {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .order-details-page__products-info .card-body .product--variants span, .confirmation-details-page__products-info .card-body .product--variants span, .order-returns-page__products-info .card-body .product--variants span {
          -ms-flex-item-align: end;
              align-self: end; }
          .order-details-page__products-info .card-body .product--variants span label, .confirmation-details-page__products-info .card-body .product--variants span label, .order-returns-page__products-info .card-body .product--variants span label {
            color: #6B6B6B; }
  .order-details-page__total-purchase .card-body, .confirmation-details-page__total-purchase .card-body, .order-returns-page__total-purchase .card-body {
    padding: 17px 16px 0; }
    .order-details-page__total-purchase .card-body .col-6, .confirmation-details-page__total-purchase .card-body .col-6, .order-returns-page__total-purchase .card-body .col-6 {
      padding: 0; }
      .order-details-page__total-purchase .card-body .col-6 p, .confirmation-details-page__total-purchase .card-body .col-6 p, .order-returns-page__total-purchase .card-body .col-6 p {
        margin: 0;
        font-size: 16px;
        line-height: 20px; }
    .order-details-page__total-purchase .card-body .order-discount, .confirmation-details-page__total-purchase .card-body .order-discount, .order-returns-page__total-purchase .card-body .order-discount {
      color: #000000; }
      .order-details-page__total-purchase .card-body .order-discount .end-lines, .confirmation-details-page__total-purchase .card-body .order-discount .end-lines, .order-returns-page__total-purchase .card-body .order-discount .end-lines {
        color: #AD1414; }
  .order-details-page__grand-total, .confirmation-details-page__grand-total, .order-returns-page__grand-total {
    margin-top: 22px;
    background: #0043BA;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding: 10px 10px;
    margin-left: -16px !important;
    width: calc(100% + 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .order-details-page__grand-total span, .confirmation-details-page__grand-total span, .order-returns-page__grand-total span {
      font-weight: 700; }

.orders-page-m .order-details-page__card .confirm-details-m {
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #212121;
  margin-top: 10px !important; }
  .orders-page-m .order-details-page__card .confirm-details-m .order-details {
    margin: 5px 0; }
    .orders-page-m .order-details-page__card .confirm-details-m .order-details .summary-section-label {
      font-family: "Futura-book"; }
    .orders-page-m .order-details-page__card .confirm-details-m .order-details .summary-details {
      font-family: "Futura-demi"; }
  .orders-page-m .order-details-page__card .confirm-details-m .buttons-container {
    width: 100%; }
    .orders-page-m .order-details-page__card .confirm-details-m .buttons-container a {
      font-size: 20px;
      line-height: 26px;
      background: #ffffff;
      border: 1px solid #212121;
      color: #212121;
      border-radius: 25px;
      padding: 6px 25px;
      margin: 8px;
      width: 100%;
      max-width: 300px;
      text-align: center; }
      .orders-page-m .order-details-page__card .confirm-details-m .buttons-container a.invalid {
        pointer-events: none;
        color: #BFBFBF;
        border-color: #BFBFBF; }

.orders-page-m .single-shipping {
  margin-top: 20px;
  width: 100%;
  padding: 0 15px; }
  .orders-page-m .single-shipping .card-header h2 {
    font-size: 18px;
    color: #fff;
    text-align: left; }
  .orders-page-m .single-shipping .summary-details {
    background-color: #F5F5F5;
    text-align: left; }

.orders-page-m .order-details-page__shipping-info {
  margin-top: 20px;
  width: 100%;
  padding: 0 15px; }
  .orders-page-m .order-details-page__shipping-info .card-header h2 {
    font-size: 18px;
    color: #fff;
    text-align: left; }
  .orders-page-m .order-details-page__shipping-info .card-body {
    background-color: #F5F5F5;
    text-align: left; }

.orders-page-m .summary-details {
  margin-top: 20px;
  width: 100%;
  padding: 0 15px; }
  .orders-page-m .summary-details .card-header h2 {
    font-size: 18px;
    color: #fff;
    text-align: left; }
  .orders-page-m .summary-details .card-body {
    background-color: #F5F5F5;
    text-align: left; }

.orders-page-m .order-product-summary {
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
  padding: 0 15px; }
  .orders-page-m .order-product-summary .card-header {
    margin-bottom: 10px; }
    .orders-page-m .order-product-summary .card-header h2 {
      font-size: 18px;
      color: #fff;
      text-align: left; }
  .orders-page-m .order-product-summary .card-body-m .product-container .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .orders-page-m .order-product-summary .card-body-m .product-container .img-container img {
      margin: 8px 0;
      width: 76px;
      height: 76px; }
  .orders-page-m .order-product-summary .card-body-m .product-container .product-details {
    text-align: left; }
    .orders-page-m .order-product-summary .card-body-m .product-container .product-details h5 {
      font-weight: 700;
      margin: 8px 0; }
    .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__color-size {
      margin: 8px 0; }
      .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__color-size .product--variants div {
        padding: 0;
        font-weight: 600; }
        .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__color-size .product--variants div .value {
          color: #959393; }
      .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__color-size .product--variants :nth-child(2) {
        text-align: center; }
      .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__color-size .product--variants .quantity {
        text-align: end; }
    .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__price div {
      padding: 0; }
    .orders-page-m .order-product-summary .card-body-m .product-container .product-details .product-details__price .total {
      text-align: end; }
  .orders-page-m .order-product-summary .card-body-m hr {
    margin: 10px 0; }

.orders-page-m .checkout-order-total-summary {
  margin-top: 20px;
  width: 100%;
  padding: 0 15px; }
  .orders-page-m .checkout-order-total-summary .card-body {
    background-color: #F5F5F5; }
    .orders-page-m .checkout-order-total-summary .card-body .leading-lines .start-lines {
      text-align: left;
      font-weight: 600; }
    .orders-page-m .checkout-order-total-summary .card-body .leading-lines .end-lines {
      font-weight: 600; }
    .orders-page-m .checkout-order-total-summary .card-body .order-details-page__grand-total {
      padding: 16px; }
      .orders-page-m .checkout-order-total-summary .card-body .order-details-page__grand-total div p {
        font-size: 20px;
        font-weight: 600; }

.confirmation-details-page__options a {
  max-width: 206px;
  margin: 30px auto; }

.confirmation-details-page__products-info .card-body .product--title {
  margin-left: 15px; }

.confirmation-details-page__products-info .card-body .product--text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.confirmation-details-page .hidden-d {
  display: none; }

.confirmation-details-page .order-number-label {
  color: #6B6B6B; }

.confirmation-details-page .order-date-label {
  color: #6B6B6B; }

.order-returns-page__products-info .card-body .product--text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  .order-returns-page__products-info .card-body .product--text .col-md-6 {
    text-align: left;
    padding: 0; }
    .order-returns-page__products-info .card-body .product--text .col-md-6:nth-last-of-type(1) {
      text-align: right; }
    .order-returns-page__products-info .card-body .product--text .col-md-6 span {
      color: #6B6B6B; }

.order-returns-page__products-info .card-body .product--image {
  margin-right: 19px; }

/*------- end order details --------*/
/*------ payments page -----------*/
.payments-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px !important; }
  .payments-page__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px;
    color: #0043BA; }
  .payments-page .title h1 {
    font-size: 42px;
    text-align: left;
    color: #0043BA;
    margin-bottom: 32px; }
  .payments-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 12.42%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-right: 94px;
    margin-bottom: 90px; }
  .payments-page__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .payments-page__cards {
    padding: 0; }
    .payments-page__cards .card-container {
      max-width: 416px; }
    .payments-page__cards .col-sm-12,
    .payments-page__cards .col-md-12 {
      padding: 0; }
    .payments-page__cards .card-header {
      color: #ffffff;
      padding: 10px 16px; }
      .payments-page__cards .card-header h2 {
        font-size: 18px;
        line-height: 24px; }
    .payments-page__cards .card-body {
      padding: 25px 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: none;
      background: #F5F5F5; }
      .payments-page__cards .card-body .left-content,
      .payments-page__cards .card-body .right-content {
        padding: 0; }
      .payments-page__cards .card-body .right-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 110px; }
        .payments-page__cards .card-body .right-content .card-type {
          margin: 0 auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .payments-page__cards .card-body .right-content .card-type,
        .payments-page__cards .card-body .right-content .remove-btn {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 50%;
                  flex: 0 0 50%; }
        .payments-page__cards .card-body .right-content .remove-btn {
          background: none;
          border: none;
          font-family: "Futura-book";
          text-decoration: underline;
          text-align: right;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          .payments-page__cards .card-body .right-content .remove-btn span {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            display: block; }
        .payments-page__cards .card-body .right-content .card-type::after {
          top: 0;
          right: 50%; }
  .payments-page__add {
    padding: 0; }
    .payments-page__add .col {
      padding: 0 54px; }
      .payments-page__add .col a {
        border-radius: 25px;
        background: #ffffff;
        border: 1px solid #212121;
        color: #212121;
        text-transform: none; }
        .payments-page__add .col a:hover:before {
          border-radius: 25px; }

/*------- end payments--------*/
.orders-page {
  min-height: 600px; }
  .orders-page .message {
    width: 35%;
    margin-top: 22px; }
  .orders-page .buttons-empty {
    margin-top: 75px;
    width: 100%; }
    .orders-page .buttons-empty .links-categories {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .orders-page .buttons-empty .links-categories button.add-to-fav.btn.btn-primary {
        padding: 7px 57px;
        margin: 0 5px; }

/*----- address page ------*/
.payments-empty,
.address-empty {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px; }
  .payments-empty .title h1,
  .address-empty .title h1 {
    color: #0043BA;
    font-size: 42px;
    margin-bottom: 37px; }
  .payments-empty .message-empty p,
  .address-empty .message-empty p {
    font-size: 20px;
    margin: 0; }
  .payments-empty .empty-add-new,
  .address-empty .empty-add-new {
    margin-top: 37px;
    width: 270px;
    padding: 0; }
    .payments-empty .empty-add-new .btn-save,
    .address-empty .empty-add-new .btn-save {
      width: 100%; }
  .payments-empty .buttons-empty-payments,
  .address-empty .buttons-empty-payments {
    width: 270px; }
    .payments-empty .buttons-empty-payments .btn-payments-empty,
    .address-empty .buttons-empty-payments .btn-payments-empty {
      margin-top: 30px;
      width: 100%; }

.address-page {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px !important; }
  .address-page__title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px;
    color: #0043BA; }
  .address-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-bottom: 80px; }
    .address-page__content .add-new {
      padding: 0 54px; }
      .address-page__content .add-new a {
        border-radius: 25px;
        font-size: 20px;
        line-height: 26px;
        padding-right: 0 7px;
        color: #212121;
        background: #ffffff;
        border: 1px solid #212121;
        text-transform: none; }
  .address-page__title, .address-page__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .address-page__card .address-book-card {
    -ms-flex-wrap: 0 0 100%;
        flex-wrap: 0 0 100%; }
  .address-page .col-6 {
    padding: 0; }
  .address-page__cards .card-header {
    color: #6B6B6B;
    padding: 11px 16px;
    background-color: #E8E8EA; }
    .address-page__cards .card-header h2 {
      font-size: 18px;
      line-height: 24px; }
    .address-page__cards .card-header a {
      color: #6B6B6B;
      text-decoration: none;
      font-size: 16px;
      line-height: 21px;
      position: relative;
      padding-right: 35px; }
      .address-page__cards .card-header a:before {
        content: '';
        position: absolute;
        width: 19px;
        height: 19px;
        top: 0;
        right: 0;
        border: 1px solid #6B6B6B;
        border-radius: 19px; }
      .address-page__cards .card-header a:after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        top: 1px;
        right: 1px;
        background: #ffffff;
        border-radius: 11px; }
    .address-page__cards .card-header.normal {
      background-color: #E8E8EA;
      color: #6B6B6B; }
      .address-page__cards .card-header.normal a {
        color: #6B6B6B;
        pointer-events: all; }
        .address-page__cards .card-header.normal a:before {
          border-color: #6B6B6B; }
        .address-page__cards .card-header.normal a:after {
          background: none; }
        .address-page__cards .card-header.normal a:hover:after {
          background: #6B6B6B; }
  .address-page__cards .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 16px; }
    .address-page__cards .card-body .left-content,
    .address-page__cards .card-body .right-content {
      padding: 0; }
      .address-page__cards .card-body .left-content a,
      .address-page__cards .card-body .left-content button,
      .address-page__cards .card-body .right-content a,
      .address-page__cards .card-body .right-content button {
        text-decoration: underline;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        text-align: left; }
      .address-page__cards .card-body .left-content button,
      .address-page__cards .card-body .right-content button {
        background: none;
        font-family: "Futura-book";
        border: none;
        text-align: right; }
    .address-page__cards .card-body .left-content {
      padding-right: 10px; }
    .address-page__cards .card-body .right-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
  .address-page__cards .card-wraper:nth-child(1) .card-header {
    background-color: #0043ba;
    color: #ffffff; }
    .address-page__cards .card-wraper:nth-child(1) .card-header a {
      color: #ffffff;
      pointer-events: none; }
      .address-page__cards .card-wraper:nth-child(1) .card-header a:before {
        border: 1px solid #ffffff; }
      .address-page__cards .card-wraper:nth-child(1) .card-header a:after {
        width: 11px;
        height: 11px;
        top: 4px;
        right: 4px;
        background: #ffffff; }

/*------- end address --------*/
/*------- edit address page --------*/
.edit-address-page,
.add-card-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px !important; }
  .edit-address-page__title,
  .add-card-page__title {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px;
    color: #0043BA; }
  .edit-address-page__content,
  .add-card-page__content {
    max-width: 600px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 11.28vw;
    margin-right: 58px;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-bottom: 80px; }
  .edit-address-page__form .form-input-p,
  .add-card-page__form .form-input-p {
    padding: 0 8px !important; }
  .edit-address-page__form .form-button-p,
  .add-card-page__form .form-button-p {
    padding: 10px 15px !important; }
  @media (min-width: 768px) {
    .edit-address-page__form .form-buttons__container,
    .add-card-page__form .form-buttons__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  .edit-address-page__form .form-group,
  .add-card-page__form .form-group {
    margin-bottom: 25px; }
    .edit-address-page__form .form-group.required .form-control-label,
    .add-card-page__form .form-group.required .form-control-label {
      width: 100%; }
      .edit-address-page__form .form-group.required .form-control-label::before,
      .add-card-page__form .form-group.required .form-control-label::before {
        width: 100%;
        content: ''; }
      .edit-address-page__form .form-group.required .form-control-label::after,
      .add-card-page__form .form-group.required .form-control-label::after {
        content: '*'; }
    .edit-address-page__form .form-group.required .not-required,
    .add-card-page__form .form-group.required .not-required {
      margin-top: 17px; }
      .edit-address-page__form .form-group.required .not-required::after,
      .add-card-page__form .form-group.required .not-required::after {
        content: ''; }
    .edit-address-page__form .form-group input,
    .edit-address-page__form .form-group select,
    .add-card-page__form .form-group input,
    .add-card-page__form .form-group select {
      border-radius: 25px; }
  .edit-address-page__form .number-name,
  .add-card-page__form .number-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .edit-address-page__form .col-6,
  .edit-address-page__form .col,
  .add-card-page__form .col-6,
  .add-card-page__form .col {
    padding: 0 24px; }
  .edit-address-page__form .expiration,
  .add-card-page__form .expiration {
    padding: 0 15px; }
  .edit-address-page__form .new-card-button,
  .add-card-page__form .new-card-button {
    padding: 15px; }
  @media (max-width: 992px) {
    .edit-address-page__form .expiration-l,
    .edit-address-page__form .new-card-button-l,
    .add-card-page__form .expiration-l,
    .add-card-page__form .new-card-button-l {
      padding: 15px 15px 15px 0; } }
  @media (max-width: 992px) {
    .edit-address-page__form .expiration-r,
    .edit-address-page__form .new-card-button-r,
    .add-card-page__form .expiration-r,
    .add-card-page__form .new-card-button-r {
      padding: 15px 0 15px 15px; } }
  .edit-address-page__form .btn,
  .add-card-page__form .btn {
    border-radius: 25px;
    font-size: 20px;
    line-height: 26px;
    padding: 6px 0; }
    .edit-address-page__form .btn.cancel-button,
    .add-card-page__form .btn.cancel-button {
      background: #ffffff;
      color: #212121;
      border: 1px solid #212121; }
    .edit-address-page__form .btn:hover:before,
    .add-card-page__form .btn:hover:before {
      border-radius: 25px; }
  .edit-address-page__form .btn.cancel-button,
  .add-card-page__form .btn.cancel-button {
    width: 100%; }
  .edit-address-page__form .card-number-wrapper,
  .add-card-page__form .card-number-wrapper {
    position: relative; }
    .edit-address-page__form .card-number-wrapper::after,
    .add-card-page__form .card-number-wrapper::after {
      content: '';
      position: absolute;
      right: 10px;
      background-repeat: no-repeat;
      background-image: url("../../images/credit.png");
      background-size: contain;
      width: 48px;
      height: 30px;
      top: 5px; }
    .edit-address-page__form .card-number-wrapper[data-type="visa"]::after,
    .add-card-page__form .card-number-wrapper[data-type="visa"]::after {
      background-image: url("../../images/payment-types.png");
      background-size: auto;
      background-position: -162px -110px; }
    .edit-address-page__form .card-number-wrapper[data-type="mastercard"]::after,
    .add-card-page__form .card-number-wrapper[data-type="mastercard"]::after {
      background-image: url("../../images/payment-types.png");
      background-size: auto;
      background-position: -295px -110px; }
    .edit-address-page__form .card-number-wrapper[data-type="amex"]::after,
    .add-card-page__form .card-number-wrapper[data-type="amex"]::after {
      background-image: url("../../images/payment-types.png");
      background-size: auto;
      background-position: -230px -15px; }
    .edit-address-page__form .card-number-wrapper[data-type="discover"]::after,
    .add-card-page__form .card-number-wrapper[data-type="discover"]::after {
      background-image: url("../../images/payment-types.png");
      background-size: auto;
      background-position: -95px -110px; }

/*------- emd address page --------*/
/*------ wishlist page ---------*/
.wishlist-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px !important; }
  .wishlist-page__content, .wishlist-page__cards {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0; }
  .wishlist-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 11.28vw;
    margin-right: 58px;
    margin-bottom: 80px; }
  .wishlist-page__empty-text {
    max-width: 350px;
    margin-left: 7.2%;
    text-align: center;
    margin-bottom: 251px; }
    .wishlist-page__empty-text span {
      display: block; }
      .wishlist-page__empty-text span:nth-of-type(1) {
        margin-bottom: 10px; }
    .wishlist-page__empty-text button {
      display: block;
      max-width: 276px;
      color: #ffffff;
      background: #212121;
      border-radius: 25px;
      padding: 7px 10px;
      border: none;
      width: 100%;
      margin: 0 auto;
      margin-top: 52px; }
  .wishlist-page__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 22px; }
    .wishlist-page__title h2 {
      color: #0043BA;
      font-size: 42px;
      line-height: 54px; }
    .wishlist-page__title span {
      color: #BFBFBF; }
    .wishlist-page__title.empty {
      margin-left: 7.2%; }
      .wishlist-page__title.empty h2 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 350px;
        text-align: center; }
  .wishlist-page .product-info .product-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .wishlist-page__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 28px 16px 23px 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    margin: 0; }
  .wishlist-page__image {
    width: auto;
    max-width: 86px;
    height: auto;
    padding: 0;
    margin: 0; }
    .wishlist-page__image img.product-image {
      max-width: 76px;
      margin: 0; }
  .wishlist-page__name {
    padding: 0;
    max-width: 216px;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px; }
  .wishlist-page__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .wishlist-page__add .col-sm-12 {
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .wishlist-page__add .select-attributes-btn, .wishlist-page__add .add-to-cart {
      width: 100%;
      max-width: 200px;
      font-size: 15px;
      line-height: 26px;
      font-family: "Futura-book";
      padding: 7px 0;
      text-transform: none;
      color: #212121;
      background: #ffffff;
      border: 1px solid #212121;
      border-radius: 25px;
      display: block;
      margin: 0 auto 15px; }
  .wishlist-page__price {
    text-align: right;
    padding: 0; }
    .wishlist-page__price .strike-through,
    .wishlist-page__price .sales {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
      display: block;
      font-weight: normal; }
    .wishlist-page__price .strike-through {
      color: #000000; }
    .wishlist-page__price .sales {
      color: #000000; }
    .wishlist-page__price del + .sales {
      color: #FF0000; }
    .wishlist-page__price .btn {
      background: none;
      padding: 0;
      text-decoration: underline;
      text-align: right; }

/*------ end wishlit ---------*/
/*------ password page --------*/
.password-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .password-page__content {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 11.28vw;
    margin-right: 58px;
    margin-bottom: 87px; }
  .password-page__title {
    color: #0043BA;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px; }
  .password-page__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .password-page__form form {
      display: block;
      width: 100%;
      max-width: 308px; }
    .password-page__form .form-group {
      margin-bottom: 25px; }
      .password-page__form .form-group.required .form-control-label::before {
        content: ''; }
      .password-page__form .form-group.required .form-control-label::after {
        content: '*'; }
      .password-page__form .form-group.required input {
        border-radius: 25px; }
      .password-page__form .form-group .message-password {
        font-size: 12px;
        line-height: 15px;
        color: #6C6C6C; }
        .password-page__form .form-group .message-password .first-word {
          font-family: "Futura-demi"; }
    .password-page__form .btn {
      border-radius: 25px;
      font-size: 20px;
      line-height: 26px;
      padding: 6px 0; }

/*------ end password ---------*/
@media screen and (max-width: 1024px) {
  .aside-menu {
    margin-left: 0px;
    padding: 0; }
    .aside-menu .right-content, .aside-menu .left-content {
      padding: 0; }
    .aside-menu .account-title h1, .aside-menu .blue-title h1 {
      font-size: 28px;
      text-align: center;
      margin-left: 30px; }
  .profile-page .aside-menu {
    margin-left: auto;
    margin-right: auto; }
    .profile-page .aside-menu .row .col-sm-6 {
      padding-left: 0;
      padding-right: 0; }
    .profile-page .aside-menu .interests-profile {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
  .address-page {
    min-height: 300px; }
  .orders-page {
    min-height: 350px; }
    .orders-page .title h1 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 10px;
      margin-left: 30px; }
    .orders-page .message {
      width: 80%;
      margin-top: 25px; }
    .orders-page .buttons-empty {
      margin-top: 9px;
      width: 100%; }
      .orders-page .buttons-empty .links-categories {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        height: 90px; }
        .orders-page .buttons-empty .links-categories button.add-to-fav.btn.btn-primary {
          height: 30px;
          width: 140px;
          text-align: center;
          margin: 19 30px;
          padding: 0; }
  /*----- address page ------*/
  .addres-empty .title h1 {
    font-size: 28px;
    margin-bottom: 51px; }
  .addres-empty .message-empty p {
    font-size: 18px; }
  .addres-empty .empty-add-new {
    margin-top: 37px;
    width: 270px;
    padding: 0; }
    .addres-empty .empty-add-new .btn-save {
      width: 100%; }
  .payments-empty,
  .address-empty {
    min-height: 350px; }
    .payments-empty .title h1,
    .address-empty .title h1 {
      margin-top: 10px;
      font-size: 28px;
      margin-left: 30px; }
    .payments-empty .message-empty p,
    .address-empty .message-empty p {
      font-size: 18px;
      width: 90%; }
  .payments-page__content {
    margin-right: 0;
    margin-left: 0; }
    .payments-page__content .title h1 {
      margin-top: 10px;
      font-size: 28px;
      text-align: center;
      color: #0043BA; }
  .add-card-page__title h1, .edit-address-page__title h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px; }
  .add-card-page__content, .edit-address-page__content {
    margin: 0 auto 80px; }
    .add-card-page__content .number-name, .edit-address-page__content .number-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .add-card-page__content .number-name .form-group, .edit-address-page__content .number-name .form-group {
        padding: 0; }
  .address-page__title {
    text-align: center;
    font-size: 28px; }
    .address-page__title h1.d-md-none.headerblue {
      font-size: 28px;
      text-align: center;
      margin-left: 30px;
      margin-top: 10px; }
  .password-page__content {
    margin: 0 0 80px 0; }
    .password-page__content .password-page__title h1 {
      font-size: 28px;
      text-align: center;
      margin-top: 10px;
      width: 65%;
      margin-left: auto;
      margin-right: auto; }
    .password-page__content .password-page__form {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .wishlist-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .wishlist-page__title {
      margin-left: 30px;
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .wishlist-page__title h2 {
        color: #0043BA;
        font-size: 28px;
        line-height: 28px; }
      .wishlist-page__title span {
        font-size: 28px;
        line-height: 28px; }
    .wishlist-page__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; }
    .wishlist-page .product-info .product-data {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .wishlist-page .product-info .product-data .line-item-name.wishlist-page__name {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .wishlist-page .product-info .product-data .product-card-price.wishlist-page__price {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        text-align: left;
        margin-top: 10px; }
        .wishlist-page .product-info .product-data .product-card-price.wishlist-page__price .wishlist-page__remove {
          display: none; }
      .wishlist-page .product-info .product-data .wishlist-page__add {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        text-align: left;
        margin-top: 10px;
        margin-left: -20px; }
  .home-my-account.container,
  .profile-page,
  .orders-page,
  .order-details-page,
  .payments-page,
  .address-page,
  .edit-address-page,
  .add-card-page,
  .wishlist-page {
    padding-top: 20px !important; }
  .confirmation-details-page .menu-left-mobile {
    margin: 5px 0 0 25px; }
  .confirmation-details-page.container {
    padding: 0; }
  .confirmation-details-page__content {
    margin: 0; }
  .confirmation-details-page__title h1 {
    font-size: 28px;
    line-height: 35px;
    text-align: center; }
  .confirmation-details-page__options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .confirmation-details-page__options a {
      margin: 29px auto 54px; }
  .confirmation-details-page__track, .confirmation-details-page__ship, .confirmation-details-page__return {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin: 0; }
  .confirmation-details-page__ship {
    margin: 20px 0; }
  .confirmation-details-page__products-info {
    padding: 0 25px; }
    .confirmation-details-page__products-info .card-body {
      margin-bottom: 28px; }
      .confirmation-details-page__products-info .card-body thead tr {
        display: none; }
      .confirmation-details-page__products-info .card-body table tbody tr {
        border-top: none;
        border-bottom: 1px solid #DBDBDB; }
      .confirmation-details-page__products-info .card-body table td {
        padding: 15px 0 20px; }
        .confirmation-details-page__products-info .card-body table td:nth-of-type(n+2) {
          display: none; }
      .confirmation-details-page__products-info .card-body .product {
        max-width: none; }
        .confirmation-details-page__products-info .card-body .product .hidden-d {
          display: block; }
          .confirmation-details-page__products-info .card-body .product .hidden-d:nth-of-type(odd) {
            padding-right: 16px;
            text-align: right; }
        .confirmation-details-page__products-info .card-body .product--text {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 calc(100% - 76px);
                  flex: 0 0 calc(100% - 76px); }
          .confirmation-details-page__products-info .card-body .product--text .col-lg-6 {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
            max-width: 50%;
            padding: 0; }
          .confirmation-details-page__products-info .card-body .product--text .col-xs-4 {
            padding: 0;
            width: 33.3333%;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 33.3333%;
                    flex: 0 0 33.3333%;
            margin: 10px 0; }
          .confirmation-details-page__products-info .card-body .product--text .product--text {
            margin-left: 15px;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100% - 15px);
                    flex: 0 0 calc(100% - 15px); }
  .confirmation-details-page__card .card {
    padding: 0 25px; }
  .confirmation-details-page__total-purchase .card-body {
    margin-bottom: 40px; }
  .tracking-return .menu-left-mobile {
    margin-left: 25px;
    margin-top: 5px; }
  .tracking-return .hidden-d {
    display: block; }
  .tracking-return .hidden-m {
    display: none; }
  .tracking-return .tracking-progress-indicator {
    margin: 22px 20px; }
    .tracking-return .tracking-progress-indicator-in {
      text-align: center; }
    .tracking-return .tracking-progress-indicator .step-item {
      vertical-align: top; }
      .tracking-return .tracking-progress-indicator .step-item:nth-of-type(1) {
        padding-right: 73px; }
      .tracking-return .tracking-progress-indicator .step-item:nth-of-type(2) {
        padding-right: 70px; }
      .tracking-return .tracking-progress-indicator .step-item:nth-of-type(3) {
        padding-right: 12px;
        max-width: 104px; }
        .tracking-return .tracking-progress-indicator .step-item:nth-of-type(3) .step-item-label {
          line-height: 1; }
        .tracking-return .tracking-progress-indicator .step-item:nth-of-type(3) .visually-hidden {
          min-width: 24px; }
  .tracking-return__table {
    margin-bottom: 40px; }
    .tracking-return__table.table thead th:nth-of-type(3), .tracking-return__table.table thead th:nth-of-type(5) {
      display: none; }
    .tracking-return__table td:nth-of-type(3), .tracking-return__table td:nth-of-type(5) {
      display: none; }
  .tracking-return__footer {
    margin-bottom: 82px; } }

/*# sourceMappingURL=my-account.css.map*/