.form-group.required .form-control-label::before {
  content: "*";
  color: #dc3545; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: var(--skin-primary-color-1);
  text-decoration: underline; }

.card-header > a {
  color: var(--skin-primary-color-1);
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.profile-back-to-account-link {
  color: var(--skin-primary-color-1);
  text-decoration: underline;
  display: block;
  text-align: center; }

.tracking-consent {
  color: var(--skin-link-color-1);
  text-decoration: underline;
  cursor: pointer; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.layout-middle-aligned .profile-card .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem; }
  .layout-middle-aligned .profile-card .card .blue-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 42px/26px var(--unnamed-font-family-futura-pt);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0043ba);
    text-align: left;
    font: normal normal normal 42px/26px Futura PT;
    letter-spacing: 0px;
    color: #0043BA;
    opacity: 1; }
  .layout-middle-aligned .profile-card .card .card-body input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px; }
  .layout-middle-aligned .profile-card .card .card-body .checkbox {
    color: black;
    top: 623px;
    left: 983px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--unnamed-color-ffffff);
    border: 1px solid #FFFFFF;
    opacity: 1; }

.container .row .form-group .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px; }

.header-blue-orders {
  width: 100%;
  font: normal normal normal 42px/26px Futura PT;
  letter-spacing: 0px;
  color: #0043BA;
  opacity: 1;
  padding: 0px 500px 0px 0px; }

.list-group-item.active {
  color: #0043BA;
  background-color: white; }

.list-group-item-action {
  text-align: inherit; }

.colors-table {
  background-color: #0043BA;
  color: white; }

a {
  color: none; }

.list-group-item-detail.active {
  color: #0043BA;
  background-color: none; }

/*# sourceMappingURL=profile.css.map*/