[class^="acf-icon-"]::before,
[class*=" acf-icon-"]::before {
    font-family: var(--font-icons); // fallback fonts provided to fix the linter error
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1rem;
    margin-right: 0.2rem;
    text-align: center;
    color: var(--text-special);

    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1rem;

    /* Animation center compensation - margins should be symmetric */

    /* remove if not needed */
    margin-left: 0.2rem;

    /* you can be more comfortable with increased icons size */
    font-size: 1rem;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */

    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.acf-icon-user::before {
    content: "\e800";
    color: var(--text-primary);
    font-size: 26px;
    line-height: 27px;

    @include media-breakpoint-up(lg) {
        color: var(--text-special);
    }
} /* '' */
.acf-icon-checked::before {
    content: "\e80b";
}
.acf-icon-heart-empty::before {
    content: "\e802";
} /* '' */
.acf-icon-add-to-cart::before {
    content: "\e803";
} /* '' */
.acf-icon-resize-full::before {
    content: "\e84d";
} /* '' */
.acf-icon-up-big::before {
    content: "\e805";
} /* '' */
.acf-icon-up-open-big::before {
    content: "\e80a";
} /* '' */
.acf-icon-left-open-big::before {
    content: "\e806";
} /* '' */
.acf-icon-right-open-big::before {
    content: "\e807";
} /* '' */
.acf-icon-check::before {
    content: "\e808";
} /* '' */
.acf-icon-down-open-big::before {
    content: "\e809";
    font-size: 10px;
    font-weight: bold;
    margin: 0;
} /* '' */
.acf-icon-cart::before {
    content: "\e812";
} /* '' */
.acf-icon-close::before {
    content: "\e82b";
} /* '' */
.acf-icon-exclamation::before {
    content: "\e825";
} /* '' */
.acf-icon-menu::before {
    content: "\e833";
} /* '' */
.acf-icon-play::before {
    content: "\e842";
} /* '' */
.acf-icon-tooltip::before {
    content: "\e85d";
} /* '' */
.acf-icon-zoom-in::before {
    content: "\e864";
} /* '' */
.acf-icon-check-empty::before {
    content: "\f096";
} /* '' */
.acf-icon-phone-squared::before {
    content: "\f098";
} /* '' */
.acf-icon-pinterest-squared::before {
    content: "\f0d3";
} /* '' */
.acf-icon-google-squared::before {
    content: "\f1a0";
} /* '' */
.acf-icon-link-ext-alt::before {
    content: "\f14c";
} /* '' */
.acf-icon-mail-squared::before {
    content: "\f199";
} /* '' */
.acf-icon-twitter-squared::before {
    content: "\f304";
} /* '' */
.acf-icon-facebook-squared::before {
    content: "\f308";
} /* '' */
.acf-icon-youtube-squared::before {
    content: "\f166";
} /* '' */
.acf-icon-linkedin-squared::before {
    content: "\f30c";
} /* '' */
.acf-icon-circle-empty::before {
    content: "\f10c";
} /* '' */
.acf-icon-dot-circled::before {
    content: "\f192";
} /* '' */
.acf-icon-facebook::before {
    content: "\e80c";
} /* '' */
.acf-icon-twitter::before {
    content: "\f099";
} /* '' */
.acf-icon-instagram::before {
    content: "\e80e";
} /* '' */
.acf-icon-youtube::before {
    content: "\e80d";
} /* '' */
.acf-icon-pinterest::before {
    content: "\e80f";
} /* '' */
.acf-icon-newsletter::before {
    content: "\e81a";
    width: auto;
    font-size: 41px;
} /* '' */
.acf-icon-login::before {
    content: "\e83d";
    width: auto;
    color: var(--text-special);
    margin: 0;
} /* '' */
.acf-icon-search::before {
    content: "\e83b";
    width: auto;
    color: var(--text-special);
    margin: 0;
} /* '' */
.acf-icon-heart::before {
    content: "\e801";
    color: var(--text-special);
} /* '' */
.acf-icon-shopping-cart::before {
    content: "\e83c";
    width: auto;
    color: var(--text-special);
    margin: 0;
} /* '' */
.acf-icon-arrow::before {
    content: "\e814";
    color: var(--text-special);
} /* '' */
.acf-icon-plus::before {
    content: "\e810";
    color: var(--text-special);
} /* '' */
.acf-icon-stop::before {
    content: "\e83f";
    color: var(--text-special);
} /* '' */
.acf-icon-left-arrow::before {
    content: "\e817";
} /* '' */
