@import "../../../../../../client/default/scss/utilities/mixins";

.accordion-content-tab {
    &--expanded {
        .accordion-content-tab__markup {
            @include slide-down(true);
        }
    }

    &__title {
        margin-top: 30px;
        padding: 20px 0;
        border-bottom: 1px solid var(--border-primary);
        font: bold 34px var(--font-primary);
        color: var(--text-special-2);
        cursor: pointer;
    }

    &__markup {
        @include slide-down(false);
    }

    h3 {
        margin-top: 50px;
        font: bold 34px var(--font-primary);
        color: var(--text-special-2);
    }

    p {
        margin: 0;
        font: normal 15px/19px var(--font-primary);
        color: var(--text-primary);
        line-height: 2em;
    }

    ul {
        list-style-type: none;
    }

    li {
        &::before {
            content: "\e825";
            padding-right: 8px;
            font-family: "acf-font", Arial, sans-serif;
        }
    }
}
