@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.article {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &.margins-enabled {
        margin-top: 60px;

        @include media-breakpoint-up(xl) {
            margin-top: 65px;
        }
    }
}

.article__content {
    @include media-breakpoint-up(lg) {
        display: block;
        width: 50%;
        padding-right: 35px;

        .read-more & {
            width: 100%;
        }
    }

    @include media-breakpoint-up(xl) {
        display: block;
        width: 60%;
        padding-right: 70px;

        .read-more & {
            width: 100%;
        }
    }
}

.article__content-title {
    font: 28px var(--font-primary);
    color: var(--text-special-2);
    font-weight: bold;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
        font-size: 32px;
    }

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }
}

.article__content__text {
    margin-top: 25px;
    max-height: 145px;
    overflow: hidden;

    p {
        font: 14px var(--font-primary);
        margin-bottom: 0;

        &:not(:first-of-type) {
            br {
                margin-top: 45px;
            }
        }

        @include media-breakpoint-up(md) {
            font-size: 23px;
        }
    }

    a {
        text-decoration: underline;
        color: var(--text-special-2);
    }

    @include media-breakpoint-up(md) {
        max-height: 152px;
    }

    @include media-breakpoint-up(lg) {
        max-height: 156px;
    }

    @include media-breakpoint-up(xl) {
        max-height: 132px;
    }

    .read-more & {
        max-height: none;
    }
}

.article__image-container {
    width: 100%;

    @include media-breakpoint-up(lg) {
        max-height: 326px;
        overflow: hidden;
    }

    @include media-breakpoint-up(xl) {
        max-height: 313px;
    }

    .read-more & {
        max-height: none;
    }
}

.article__image-container__cut {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        width: 50%;
    }

    @include media-breakpoint-up(xl) {
        display: block;
        width: 40%;
    }

    .read-more & {
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.article__image-container__full-width {
    @include media-breakpoint-up(lg) {
        display: none;
    }

    .read-more & {
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

.article__buttons {
    margin-top: 25px;
    text-transform: uppercase;

    .btn {
        font-weight: bold;
    }

    .read-more & {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 40px;
    }
}

.article__image {
    width: 100%;
}
