@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.banner {
    position: relative;
}

.banner__content {
    position: absolute;
    font-family: var(--font-primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 35px 15px 15px 15px;
    z-index: 10;

    &::before {
        content: "";
        opacity: 0.5;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background-special);
        width: 100%;
        height: 100%;
        z-index: -1;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        padding: 68px 15px 15px 15px;
    }

    @include media-breakpoint-up(md) {
        padding: 210px 120px 32px 32px;
    }

    @include media-breakpoint-up(lg) {
        max-width: 50%;
        padding: 103px 0 0 14%;
    }

    @include media-breakpoint-up(xxl) {
        padding: 207px 0 0 14%;
    }

    .narrow-banner & {
        @include media-breakpoint-up(xxl) {
            padding: 103px 0 0 60px;
        }
    }
}

.banner__content-subtitle {
    font-family: var(--font-primary);
    font-size: 14px;

    @include media-breakpoint-up(md) {
        font-size: 23px;
        line-height: 25px;
    }

    @include media-breakpoint-up(lg) {
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 14px;
        line-height: 24px;
    }

    .alt-colors & {
        color: var(--text-secondary);
    }
}

.banner__content-title {
    font-family: var(--font-primary);
    width: 100%;
    font-weight: bold;
    line-height: 39px;
    font-size: 35px;
    margin-bottom: 6px;
    color: var(--text-secondary);

    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 47px;
    }

    @include media-breakpoint-up(lg) {
        color: var(--text-special-2);
        font-size: 24px;
        line-height: 26px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 40px;
        line-height: 54px;
    }

    .alt-colors & {
        color: var(--text-secondary);
    }
}

.banner__content-description {
    font-family: var(--font-primary);
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: var(--text-secondary);

    @include media-breakpoint-up(md) {
        margin-top: 23px;
        font-size: 23px;
        line-height: 25px;
    }

    @include media-breakpoint-up(lg) {
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 23px;
        font-size: 14px;
        line-height: 24px;
    }

    .alt-colors & {
        color: var(--text-secondary);
    }
}

.banner__buttons {
    display: flex;
    margin-top: 20px;
    width: 100%;

    .btn:first-of-type {
        margin-right: 20px;
    }

    // overriding a:not([href]) rule from node_modules/bootstrap/scss/_reboot.scss
    .btn-secondary {
        color: var(--text-secondary);

        &:focus {
            color: var(--text-primary);
        }
    }

    @include media-breakpoint-up(sm) {
        margin-top: 50px;
    }
}
