@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.content-404 {
    padding-top: 60px;

    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 140px;
        font-weight: bold;
        color: var(--text-special-2);

        @include media-breakpoint-up(md) {
            margin-bottom: 30px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 25px;
        }
    }

    &__sub-title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: var(--text-special-2);

        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
            font-size: 40px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
            font-size: 60px;
        }
    }

    &__description {
        margin-bottom: 50px;
        text-align: center;
        font-size: 14px;
        color: var(--text-primary);

        @include media-breakpoint-up(md) {
            margin-bottom: 75px;
            font-size: 23px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 970px;
            margin: 0 auto 85px;
            font-size: 34px;
        }
    }

    &__search {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid var(--border-special);

        @include media-breakpoint-up(md) {
            margin-bottom: 60px;
        }

        @include media-breakpoint-up(lg) {
            max-width: 730px;
            margin: 0 auto 70px;
        }
    }

    &__search-field {
        flex-grow: 1;
        min-height: 50px;
        padding-left: 14px;
        border: none;
        font-size: 18px;
        outline: none;

        &,
        &[placeholder] {
            color: var(--text-primary);
        }

        @include media-breakpoint-up(md) {
            font-size: 28px;
        }
    }

    &__search-submit {
        align-self: stretch;
        padding: 0 14px;
        border: none;
        background-color: transparent;
    }

    &__button {
        display: block;
        padding: 18px 26px;
        color: var(--text-secondary);
        background-color: var(--background-secondary);
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        @include media-breakpoint-up(lg) {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
