@import "../../../components/toastMessage";

.contact-us-form {
    &__margins-enabled {
        margin-top: 30px;
    }

    &__title {
        margin-bottom: 30px;
        color: var(--text-special-2);
    }

    &__signup-message {
        @include toast-message();
    }

    &__signup-alert {
        @include toast-alert();
    }

    &__submit-cta {
        display: inline-block;
        width: auto;
        padding: 20px 50px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: normal;
    }

    .invalid-feedback {
        display: block;

        &::after {
            content: "|";
            color: transparent;
        }
    }
}
