@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.image-button {
    position: relative;
    transition: transform 0.4s;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}

.image-button__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    &:hover {
        text-decoration: none;

        .image-button__content-btn {
            text-decoration: none;
            outline: none;
            color: var(--text-secondary);
            background-color: var(--background-secondary);
        }
    }
}

.image-button__content-btn {
    font: 14px var(--font-primary);
    font-weight: bold;
    transition: color 0.4, background-color 0.4;
    min-width: 80px;
    line-height: 30px;

    @include media-breakpoint-up(md) {
        min-width: 150px;
        line-height: 59px;
        font-size: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.image-button__img {
    width: 100%;
}
