@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.terms-conditions {
    h3 {
        margin-top: 50px;
        font: bold 34px var(--font-primary);
        color: var(--text-special-2);
        word-break: break-word;
    }

    p {
        margin: 0;
        font: normal 15px/19px var(--font-primary);
        color: var(--text-primary);
        line-height: 2em;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        line-height: 2em;

        &::before {
            content: "\e825";
            font-size: 8px;
            padding-right: 8px;
            font-family: "acf-font", Arial, sans-serif;
        }
    }

    &.margins-enabled {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 21px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 31px;
        }
    }
}
