@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.testimonials-banner {
    background-color: var(--background-secondary);
    overflow: hidden;
    padding: 48px 20px;

    @include media-breakpoint-up(sm) {
        padding: 48px 20px;
    }

    @include media-breakpoint-up(md) {
        padding: 48px 33px;
    }

    &.margins-enabled {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 21px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 31px;
        }
    }
}

.testimonials-banner__divider {
    margin-top: 40px;

    .acf-divider__core {
        fill: var(--background-primary);

        &::before {
            background-color: var(--background-secondary);
        }
    }
}

.testimonials-banner__content {
    margin: 0 auto;
    max-width: 770px;
}

.testimonials-banner__content-title {
    font: 33px var(--font-primary);
    color: var(--text-secondary);
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }
}

.testimonials-banner__content-subtitle {
    font: 14px var(--font-primary);
    color: var(--text-secondary);
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.testimonials-banner__content-description {
    font: 14px var(--font-primary);
    color: var(--text-secondary);
    margin-top: 40px;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.testimonials-banner__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-banner__image {
    margin-top: 25px;
    border-radius: 100px;
}

.testimonials-banner__content-person-name {
    font: 14px var(--font-primary);
    color: var(--text-secondary);
    text-align: center;
    margin: 25px 0 0 0;

    @include media-breakpoint-up(md) {
        font-size: 30px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.testimonials-banner__content-person-profesion {
    font: 14px var(--font-primary);
    color: var(--text-secondary);
    text-align: center;
    margin: 6px 0 0 0;
    max-width: 770px;

    @include media-breakpoint-up(md) {
        font-size: 30px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}
