@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-2-cta-tile__link {
    display: block;
    position: relative;
    z-index: 10;

    &:hover {
        text-decoration: none;
    }
}

.up-2-cta-tile {
    position: relative;
    transition: transform 0.4s;
    transform-origin: 50% 50%;
    cursor: pointer;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        transform: scale(1.03);
    }

    &.margins-enabled {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 21px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 31px;
        }
    }
}

.experience-assets-up2CtaTile {
    width: 100%;

    &:nth-of-type(2n) {
        margin-top: 12px;

        @include media-breakpoint-up(md) {
            margin-top: 20px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        .up-2-cta & {
            width: calc(50% - 10px);
        }
    }
}

.up-2-cta-tile__inner-content-wrapper {
    position: relative;
}

.up-2-cta__content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 30px 25% 0 20px;

    @include media-breakpoint-up(sm) {
        padding: 80px 25% 0 20px;
    }

    @include media-breakpoint-up(md) {
        padding: 30px 40% 0 33px;
    }

    @include media-breakpoint-up(lg) {
        padding: 55px 50% 0 4%;
    }

    @include media-breakpoint-up(xl) {
        padding: 80px 50% 0 4%;
    }

    @include media-breakpoint-up(xxl) {
        padding: 150px 50% 0 4%;
    }
}

.up-2-cta__content-subtitle {
    font: 16px var(--font-primary);
    margin: 0;
    color: var(--text-primary);

    .up-2-cta-tile--alt-colors & {
        color: var(--text-secondary);
    }

    @include media-breakpoint-up(lg) {
        font-size: 20px;

        .up-2-cta & {
            font-size: 14px;
        }
    }
}

.up-2-cta__content-title {
    font: 20px var(--font-primary);
    color: var(--text-special);
    font-weight: bold;
    margin-bottom: 0;

    .up-2-cta-tile--alt-colors & {
        color: var(--text-secondary);
    }

    @include media-breakpoint-up(sm) {
        font-size: 25px;
    }

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 40px;

        .up-2-cta & {
            font-size: 14px;
        }
    }

    @include media-breakpoint-up(xl) {
        font-size: 40px;

        .up-2-cta & {
            font-size: 20px;
        }
    }
}

.up-2-cta__content-description {
    font: 14px var(--font-primary);
    margin: 23px 0 0 0;
    color: var(--text-primary);
    max-height: 65px;
    overflow: hidden;

    .up-2-cta-tile--alt-colors & {
        color: var(--text-secondary);
    }

    @include media-breakpoint-up(md) {
        font-size: 23px;
        max-height: 80px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        max-height: 97px;

        .up-2-cta & {
            font-size: 13px;
        }
    }

    @include media-breakpoint-up(xl) {
        font-size: 22px;
        max-height: 100px;

        .up-2-cta & {
            font-size: 20px;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.up-2-cta__content-button {
    position: relative;
    font: 14px var(--font-primary);
    margin: 25px 0 0 0;
    z-index: 20;

    span {
        line-height: 49px;
    }

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.up-2-cta__content-button-text {
    color: var(--text-special);
    font-weight: bold;

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.up-2-cta__content-button-text-secondary {
    color: var(--text-special-2);

    @include media-breakpoint-up(lg) {
        font-size: 14px;
    }
}

.up-2-cta-tile__image {
    width: 100%;
}
