@import "~base/experience/components/commerceAssets/imageAndTextCommon";
@import "../../../skin/variables";

.experience-component {

    >div {
        margin-bottom: 20px;
        &.buttons-black{
            h1,h2,h3.h4,p{
                color: $black !important;
            }
            p a{
                   background: $black;
                   color: $white !important;
                   &:hover{
                    color: $black !important;
                    background-color: $white !important;
                }
            }
        }
        &.baner-text-inf-center .text-center {
            text-align: center !important;
        }
        &.baner-text-inf-right .text-center {
            text-align: right !important;
        }
        &.baner-text-center-center .text-center {
            text-align: center !important;
            padding-bottom: 10%;
        }
        &.baner-text-inf-left .text-center{
            text-align: left !important;

        }
    }

    .experience-component {
        div.col-12{
            padding: 0;
        }
        * {
            margin-bottom: 0;
        }
    }
}

@keyframes slideleft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideright {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
.carousel-inner{
    &.row{
        flex-wrap: inherit;
    }
}
.experience-component{
    .carousel-item {
        display: block;
        &.active {
            display: block;
        }
        &.carousel-item-left{
            transform: translateX(-100%);
            animation-duration: .7s;
            animation-name: slideleft;
        }
        &.carousel-item-right{
            transform: translateX(0%);
            animation-duration: .7s;
            animation-name: slideright;
        }
    }
}


.carousel .common-image-filter {
    max-height: 555px;
}

.common-image-filter {
    max-height: 419px;
    filter: brightness(100%);
}


.carousel .mainbanner-container .mainbanner-figure {
    .image-heading-container {
        top: auto;
        bottom: 84px;
        //  border: 2px solid red;
        padding: 0 70px;
    }


.text-center {
    padding: 0 20px;
    h2 {
        font-size: 58px;
        line-height: 58px;
    }

    p {
        font-size: 48px;
        margin: 0;
        font-family: $futura-book;
        margin-bottom: 17px;
        line-height: 48px;
    }

    .link-large {
        font-size: 20px;
        text-transform: uppercase;
    }

    .button-banner {
        font-weight: normal;
        border-color: $white;
        font-size: 18px;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;

        &:hover {
            color: $white;
            &:before {
                background-color: $gray21 ;
                border-radius: 20px;
                border: none;
                color: $white;
            }
        }
    }
}
}

.mainbanner-figure {
    .image-heading-container {
        top: auto;
        bottom: 31px;
        padding: 0 34px;
    }

    .text-center {
        padding: 0 20px;
        h2, p, h2:hover, p:hover, a:hover{
            color: $homepage-text-color;
            text-decoration: none;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 42px;
            font-weight: normal;
            line-height: 42px;
            margin-bottom: 10px;
        }

        p {
            font-size: 30px;
            font-weight: normal;
            line-height: 30px !important;
        }

        .button-banner {
            border: none;
            border-radius: 20px;
            font-family: $futura-medium;
            display: none;
            text-transform: uppercase;

            &:hover {
                color: $white;
                &:before {
                    background-color: $gray21 ;
                    color: $white;
                    border-radius: 20px;
                    border: none;
                }
            }
        }
        p, h2{
            a{
                font-size: 20px;
                line-height: 26px;
                font-family: $futura-medium;
                padding: 7px 50px;
                border-radius: 20px;
                background: $homepage-link-background;
                color: $homepage-link-color !important;
                text-transform: uppercase;
                &:nth-of-type(1){
                    display: none;
                }
                &:hover{
                    color: $homepage-link-hover-color !important;
                    background-color: $homepage-link-hover-background !important;
                }
            }
        }
    }
}

.small-height{
    .text-center{
        p{
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 992px) {
    #homepage {
        //.experience-component {
        //     >div {
        //         margin-bottom: 5px;
        //     }
        // }

        .carousel .common-image-filter {
            //min-height: 434px !important;
        }

        .common-image-filter {
            max-height: 266px;
        }

        .carousel {
            .mainbanner-container {
                .mainbanner-figure {
                    .image-heading-container {
                        bottom: 4.5vw;
                        padding: 0 30px;
                        .mainbanner-sub-text {
                            .text-sm-left {
                                h2 {
                                    font-size: 30px;
                                    line-height: 30px;
                                }
                            }
                        }
                    }

                    .text-center {
                        padding: 0 20px;
                        // border: 2px solid blue;
                        text-align: right;
                        h2 {
                            font-size: 30px;
                            text-shadow: 0 3px 6px $carousel-text-shadow;
                            line-height: 30px;
                        }

                        p {
                            font-size: 18px;
                            line-height: 18px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .mainbanner-figure .image-heading-container {
            bottom: 25px;

            .text-center {
                h2 {
                    font-size: 36px;
                    font-weight: normal;
                    line-height: 36px;
                }

                p {
                    font-size: 20px;
                    line-height: 20px;
                }
                h2, p{
                    a{
                        padding: 1px 25px;
                        width: 140px;
                        margin: 10px 0;
                        text-align: center;
                        margin-bottom: 10px;
                        line-height: 29px;
                        &:nth-of-type(1){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
