@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../skin/variables";

.newsletter-component-container {
    padding: 0;
    // margin: 100px 0;
    opacity: 1;

    >.container {
        padding-top: 0.825em;
        padding-bottom: 0.825em;

        .newsletter-inner {
            h4 {
                font-size: 42px;
                line-height: 32px;
                margin: 0;
                text-align: left;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
            }

            p {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }

        .subscribe-container {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            width: 100%;
        }

        .form-group {
            display: inline-block;
            align-items: center;
            display: flex;
            width: 100%;
            position: relative;
            padding-bottom: 20px;
            margin: 0;

            .invalid-feedback {
                display: block;
                position: absolute;
                width: 100%;
                bottom: 0;
                padding-left: 10px;
            }
        }

        .form-control {
            align-items: left;
            justify-content: left;
            font-size: 16px;
            letter-spacing: 0px;
            // color: #BFBFBF;
            opacity: 1;
            border-radius: 19px 0 0 19px;
            display: flex;
            flex-grow: 1;
            height: 40px;
            padding: 0 30px;
            outline: none;
            flex-grow: 1;

            @media #{$medium-and-down} {
                border-radius: 19px;
                width: 100%;
            }
        }

        .btn-primary {
            align-items: center;
            background: #000;
            border: none;
            border-radius: 0 19px 19px 0;
            color: #fff;
            cursor: pointer;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 0 20px;
            outline: none;

            @media #{$medium-and-down} {
                border-radius: 19px;
                margin-top: 20px;
                width: 100%;
            }
        }

        padding-bottom: 15px;
        position: relative;

        p {
            font-size: 20px;
            margin-bottom: 0;
            margin-top: 8px;
            padding-bottom: 0;
        }

        &::after {
            border-bottom: 3px solid #000;
            bottom: 0;
            content: "";
            display: block;
            left: 15px;
            position: absolute;
            width: 10%;
        }
    }
}

.form-control-label {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;

    &:before {
        display: none;
    }

    &:after {
        content: "*";
        color: $login-form-color;
    }
}

.form-group {
    input {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        // background-clip: padding-box;
        border: 1px solid $login-line2-background;
        border-radius: 25px;
    }
}

@media (max-width: 992px) {
    .experience-component {
        &>div.newsletter-component-container {
            margin-top: 0;

            >.container {
                .newsletter-inner {
                    h4 {
                        font-size: 24px;
                    }

                    p {
                        line-height: 22px;
                        position: relative;
                        padding-bottom: 14px;
                        margin-bottom: 37px;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 140px;
                            height: 3px;
                            background: $newsletter-component-line-background;
                        }
                    }
                }

                .form-group {
                    flex-wrap: wrap;
                }

                .form-control,
                .input-group-append {
                    flex: 0 0 100%;
                }

                .btn-primary {
                    height: 40px;
                }

                &::after {
                    display: none;
                }
            }
        }
    }
}


.modal-content {
    select {
        border-radius: 25px;
    }

    .text-terms {
        text-align: center;
    }

    .modal-body {
        .row .form-group {
            .privacy-policy {
                text-align: center;
            }

        }

        .row .col-sm-12 .form-group-terms {
            text-align: center;
            padding: 20px 0;
            // background: pink;
            label{
                padding: 0;
            }
        }
    }
}

.form-control-label {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;

    &:before {
        display: none;
    }

    &:after {
        content: "*";
        color: $login-form-color;
    }
}

.form-group {
    input {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        // background-clip: padding-box;
        border: 1px solid $login-line2-background;
        border-radius: 25px;
    }
}

//Modal
.newsletter-component-modal-container {
    .modal-header {
        border: none;
        text-align: center;

        .logo-home {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

        .close {
            padding: 1rem 1rem;
            margin: -1rem -1rem -1rem 0;
        }
    }

    .modal-body {
        h1 {
            font-size: 42px;
            color: $blue00;
            text-align: center;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        h3 label{
            font-size: 18px;
            margin-top: -34px;
        }

        label {
            font-size: 14px;
            padding-top: 34px;
            line-height: 16px;
            font-family: $futura-medium;
        }
        .form-group-terms{
            padding: 0 1rem;
            font-size: 14px;
            margin-top: -34px;
        }
        select#newsletter-preferences{
            // -webkit-appearance: none;
            background: url('http://whatsnew.googleapps.com/_/rsrc/1299892144226/choose-release-track/arrow_down_blue24.png') no-repeat;
            background-position: 128px 0px; /* width minus 48 */
        }
        // .row {
        //     padding-bottom: 20px;
        // }
    }

    .privacy-policy {
        font-size: 14px;
        margin-top: -1rem;
        a {
            font-size: 14px;
            text-decoration: underline;
        }
        label {
            padding-top: 0;
        }
    }

    .modal-footer {
        padding: 0 1rem 1rem 1rem;
        margin-top: -15px;
        border: none;

    }

    button.btn.btn-block.btn-primary {
        // margin-top: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .newsletter-component-modal-container {
        .modal-body {
            h1 {
                font-size: 23px;
            }

            p {
                font-size: 16px;
            }
        }
        .modal-footer {
            padding: 1rem 1rem;
        }
    }
}
