@import "~base/experience/components/commerceAssets/productTile";
@import "../../../skin/variables";

#homepage {
    .product-carousel {
        .carousel-inner.row {
            .product-tile-image-link {
                background: #f3f3f3;

            }
            .product-tile-component-image {
                mix-blend-mode: multiply;
            }
        }
        .pd-carousel-indicators{
            bottom: 0px;
        }
        a.carousel-control-prev{
            margin-top: -40px;
            left: 0;
        }
        a.carousel-control-next {
            margin-top: -40px;
            right: 0;
            
        }
    }

    .product-tile-image {
        height: 26.5vw;
        max-height: 340px;

        .product-tile-component-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .wishlistTile span.fa-stack {
            position: absolute;
            width: 261px;
            margin:0 10px;
            left: 0;
            margin: 0 auto;
            i{
                display: flex;
                justify-content: flex-end;
                padding: 0 10px;

            }
            @media (min-width: 900px) {
                width: 200px;
            }
        }
    }

    .product-tile-pd {
        text-align: center;

        .product-tile-body {
            max-width: 18.75vw;
            margin: 0 auto 20px;
            text-align: left;
            padding: 6px 7px 6px 11px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 110px;

            .product-price {
                order: 3;
                .strike-through {
                    font-size: 16px;
                    line-height: 14px;
                    color: $carousel-price-color;
                }

                .sales {
                    .value {
                        font-size: 16px;
                        line-height: 21px;
                    }
                }

                .sales.reduced-price {
                    color: $carousel-sales-color;
                    font-size: 16px;
                    line-height: 21px;
                    margin-left: 10px;
                }

                span.range{
                    font-size: 16px;
                    color: $carousel-price-color;
                }
            }

            .color-swatches {
                order: 2;
                padding: 0;
                bottom: 35px;

                .swatches-ul,
                .swatch-li {
                    line-height: .5;
                    margin: 0;
                    padding: 2px 4px;
                    margin-left: -1.5px;

                    .swatch-button-li {
                        width: 15px;
                        height: 15px;
                        border: none;
                        box-shadow: none !important;
                        
                        &.White, &.white{
                            border: 0.05px solid #00000029;
                        }

                    }
                    .swatch-li:nth-child(1) {
                        padding-left: 0;
                    }
                }
                .more-swatches{
                    font-size: 14px;
                    vertical-align: sub;
                }
            }
        }
    }

    .row {
        margin: 0;
    }

    .product-name-link {
        order: 1;
        padding: 2px 0;
        line-height: 17px;
        a {
            color: $carousel-link-color !important;
            font-size: 16px;
            line-height: 17px;
        }
    }

    .product-tile-figure {
        width: auto;
        max-width: 18.87vw;
        margin: 0 auto;

        @media (min-width: 900px) {
            width: 200px;
        }

        .product-tile-image-link {
            display: block;
            width: 100%;
            max-width: 18.87vw;
            margin: 0 auto;
            height: 100%;
            position: relative;

            &:after {
                content: "";
            }
        }
    }

    .product-tile-figure {
        &:hover {
            box-shadow: 0px 3px 3px $shadow29;

            .product-tile-image-link {
                &:after {
                    content: "Vista Rápida";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: block;
                    text-align: center;
                    background: $show-more-background;
                    color: $show-more-color;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 7px;
                }
            }

            .product-tile-body {
                box-shadow: 0px 3px 3px $shadow29;
            }
        }
    }
}

@media (max-width: 992px) {
    #homepage {
        .product-tile-figure {
            max-width: 261px;

            .product-tile-image-link {
                max-width: 261px;
            }
        }

        .product-tile-body {
            max-width: 261px;

            .color-swatches {
                bottom: 30px;

                .more-swatches-li-sm {
                    vertical-align: text-bottom;
                    font-size: 14px;
                    .more-swatches-sm{
                        font-size: 14px;
                        vertical-align: baseline;
                    }
                }
            }
        }

        .product-tile-pd {
            .product-tile-body {
                max-width: 261px;
                padding: 5px 7px 5px 11px;
            }
        }

        .product-tile-image {
            height: 87vw;
        }
    }
}

@media (min-width: 900px) {
    .product-carousel .carousel-inner.row {
        margin: 0 40px;
    }
    #homepage .experience-commerce_layouts-carousel {
        .product-carousel .carousel-inner.row {
            margin: 0 40px;
        }
    }
}
//  Mobile
@media screen and (max-width: 1024px) {
    #homepage {
        .product-carousel {
            .pd-carousel-indicators{
                bottom: 0px !important;
            }
            .carousel-inner.row {
                margin: 0 40px;
            }

            // a.carousel-control-prev {
            //     margin-top: -40px;
            // }

            // a.carousel-control-next {
            //     margin-top: -40px;
            // }
        }
    }

    .product-tile-figure {
        &:hover {
            .product-tile-image-link {
                display: none;
                &:after {
                    content: none !important;
                }
            }
        }
    }
}