@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.page-breadcrumbs {
  color: #000000; }
  .page-breadcrumbs a {
    padding-right: 0.5rem; }
  .page-breadcrumbs .fa {
    font-family: FontAwesome;
    padding-right: 0.5rem;
    content: "\F0DA";
    color: #000000; }

@media (max-width: 991.98px) {
  .page-breadcrumbs {
    margin-left: 0; } }

.page-breadcrumbs__link {
  font: 18px var(--font-primary); }
  .page-breadcrumbs__link.active {
    color: var(--text-special-2); }

.experience-assets-breadcrumb {
  display: inline; }

/*# sourceMappingURL=breadcrumbs.css.map*/