@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

@media screen and (max-width: 991px) {
  .main-menu .navbar.bg-inverse .navbar-nav .nav-link {
    font-size: 24px;
    color: #000000;
    text-align: left;
    padding: 10px 25px; }
  .menu-toggleable-left .close-menu {
    min-width: 50%;
    left: 0;
    background: #ffffff;
    border-bottom: none;
    margin: 120px 0 0 0;
    line-height: 30px;
    padding: 0 25px; }
    .menu-toggleable-left .close-menu .pull-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .menu-toggleable-left .close-menu button {
      padding: 0; }
      .menu-toggleable-left .close-menu button span {
        color: #909090;
        font-family: "Futura-book";
        font-size: 50px; }
  .menu-toggleable-left.in .nav-item + .nav-item {
    border-top: none; }
    .menu-toggleable-left.in .nav-item + .nav-item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .menu-toggleable-left.in .nav-item + .nav-item a i {
        padding-right: 5px; }
  .main-menu .navbar.bg-inverse .navbar-nav .nav-link:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: none !important; }
  .dropdown-item .dropdown:hover,
  .dropdown-item .dropdown:focus,
  .dropdown-item.show .dropdown {
    background: transparent !important; }
  .navbar .nav-item.dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-size: 24px;
    color: #000000;
    text-align: left;
    padding: 12px 25px; }
    .navbar .nav-item.dropdown a:hover {
      background: transparent; }
    .navbar .nav-item.dropdown a:focus {
      background: transparent; }
  .navbar .nav-item.dropdown i {
    font-size: 24px;
    color: #000000;
    padding-right: 5px; }
  .multilevel-dropdown .dropdown-item {
    padding: 0; }
  .multilevel-dropdown .dropdown-item + .dropdown-item {
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-menu {
    margin-top: 1em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.5em; }
    .footer-menu .options-menu {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 45%;
      padding: 1em 0; }
    .footer-menu .social-icons {
      width: 45%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 1em 0; }
      .footer-menu .social-icons a i {
        background: #000000;
        color: #ffffff;
        border-radius: 50%;
        font-size: 20px;
        padding: 5px;
        margin: 5px; }
    .footer-menu .account {
      width: 100%; }
      .footer-menu .account .myaccount {
        width: 80%;
        margin-top: 1em; }
      .footer-menu .account .create-account {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2em;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer-menu .account .create-account p {
          color: #707070;
          padding: 0; }
        .footer-menu .account .create-account a {
          color: #000000;
          margin-left: 5px; }
  .dropdown-item.top-category .nav-link {
    font-weight: bold;
    color: #0043BA !important;
    font-family: "Futura-medium"; }
  .dropdown-item.top-category .dropdown-link {
    font-weight: bold;
    color: #0043BA !important;
    font-family: "Futura-medium"; }
  .dropdown-item:hover {
    background: transparent; }
  .dropdown-item:focus {
    background: transparent; } }

@media (min-width: 769px) {
  .menu-toggleable-left .close-menu {
    display: initial; } }

/*# sourceMappingURL=menu.css.map*/