//fonts calls ///
@font-face {
    font-family: 'Futura-book';
    src: url("../../fonts/FuturaPT-Book.woff") format('truetype'), url('../../fonts/FuturaPT-Book.woff') format('woff');
}
@font-face {
    font-family: 'Futura-demi';
    src: url("../../fonts/FuturaPT-Demi.woff") format('truetype'), url('../../fonts/FuturaPT-Demi.woff') format('woff');
}
@font-face {
    font-family: 'Futura-medium';
    src: url("../../fonts/FuturaPT-Medium.woff") format('truetype'), url('../../fonts/FuturaPT-Medium.woff') format('woff');
}
///colors///
$black: #000000;
$blue00: #0043BA;
$grayA2: #A2A2A2;
$grayBF: #BFBFBF;
$grayDB: #DBDBDB;
$grayE1: #E1E1E1;
$grayE2: #E2E2E2;
$grayF5: #F5F5F5;
$gray21: #212121;
$gray69: #696969;
$gray6B: #6B6B6B;
$gray70: #707070;
$gray97: #979797;
$gray6C: #6C6C6C;
$gray90: #909090;
$grayE6: #E6E6E6;
$grayE8: #E8E8EA;
$grayBF: #BFBFBF;
$grayED: #EDEDED;
$green00: #00A30D;
$green12: #12D640;
$red: #FF0000;
$redSale: #C4143D;
$redAD: #AD1414;
$redB6: #B6254B;
$redFF: #FFF4F4;
$white: #ffffff;
$yellowCE: #FFCE00;

//shadows
$shadow29: rgba($black, 0.29);
$shadow40: rgba($black, 0.4);

///fonts///
$awesome-font: "FontAwesome";
$futura: "Futura";
$futura-book: "Futura-book";
$futura-demi: "Futura-demi";
$futura-medium: "Futura-medium";

//semantic colors
$account-add-button-background: $white;
$account-add-button-border: $gray21;
$account-add-button-color: $gray21;
$account-add-button-invalid-border: $grayBF;
$account-add-button-invalid-color: $grayBF;
$account-card-body-alert-color: $gray6C;
$account-card-body-background: $grayF5;
$account-card-body-border-color: $grayDB;
$account-card-body-email-color: $gray70;
$account-card-body-title-color: $black;
$account-card-body-title-discunt-color: $redAD;
$account-card-footer-background: $grayF5;
$account-card-footer-border-color: $grayDB;
$account-card-footer-button-background: $white;
$account-card-footer-button-border: $gray21;
$account-card-footer-button-color: $gray21;
$account-card-header-after-background: $white;
$account-card-header-background: $blue00;
$account-card-header-border: $white;
$account-card-header-color: $white;
$account-card-header2-after-background: $gray6B;
$account-card-header2-background: $grayE8;
$account-card-header2-border: $gray6B;
$account-change-password-message-color: $gray6C;
$account-card-header2-color: $gray6B;
$account-checkbox-border: $grayBF;
$account-checkbox-background: $white;
$account-checkbox-checked-background: $blue00;
$account-checkbox-checked-color: $white;
$account-order-details-color: $gray21;
$account-quanty-color: $grayBF;
$account-title-card-color: $white;
$account-title-color: $blue00;
$account-variant-value-color: $gray6B;
$account-wishlist-price-color: $black;
$account-wishlist-sale-color: $red;
$account-wishlist-sendcart-color: $gray6B;
$account-wishlist-button-background: $gray21;
$account-wishlist-button-color: $white;
$account-wishlist-stock-background: $yellowCE;
$arrow-carousel-background: rgba($white, .7);
$arrow-carousel-color: $black;
$banner-top-background: $gray21;
$banner-top-color: $white;
$body-background: $white;
$carousel-link-color: $black;
$carousel-price-color: $gray21;
$carousel-sales-color: $red;
$carousel-text-shadow: $shadow40;
$cart-progress-background: $grayE1;
$cart-progress-status-background: $blue00;
$cart-progress-text-color: $gray21;
$cart-progress-title-color: $black;
$cash-confirmation-card-background: $grayF5;
$cash-confirmation-complete-message-background: $grayF5;
$cash-confirmation-complete-message-color: $blue00;
$cash-confirmation-message-color: $gray6B;
$cash-confirmation-text-color: $gray6B;
$cash-confirmation-order-background: $white;
$cash-confirmation-order-border: $grayE1;
$cash-confirmation-order-color: $blue00;
$cash-payment-option-background: $white;
$cart-progress-title-color-free: $blue00;
$cash-payment-option-background: $white;
$checkout-card-header-background: $blue00;
$checkout-card-header-color: $white;
$checkout-btn-background: $gray21;
$checkout-btn-color: $white;
$checkout-card-content-background: $grayF5;
$checkout-card-space-background: $white;
$checkout-card-summary-header-background: $grayE8;
$checkout-card-summary-header-color: $gray6B;
$checkout-card-summary-header-link-color: $black;
$checkout-checkbox-item-border: $grayE1;
$checkout-checkbox-radio-background: $white;
$checkout-checkbox-radio-border: $grayBF;
$checkout-checkbox-radio-checked-background: $blue00;
$checkout-checkbox-radio-checked-border: $blue00;
$checkout-discount-title-color: $black;
$checkout-discount-value-color: $red;
$checkout-info-icon-border: $gray6B;
$checkout-info-icon-color: $gray6B;
$checkout-info-message-background: $gray6B;
$checkout-info-message-color: $white;
$checkout-input-invalid-background: $redFF;
$checkout-input-invalid-border: $redAD;
$checkout-order-attributes-discount-color: $red;
$checkout-order-attributes-value-color: $gray6B;
$checkout-order-edit-cart-color: $gray6B;
$checkout-order-total-products-color: $gray6B;
$checkout-order-stock-background: $yellowCE;
$checkout-order-summary-color: $gray6B;
$checkout-step-active-background: $blue00;
$checkout-step-active-number-background: $white;
$checkout-step-active-number-color: $blue00;
$checkout-step-active-text-color: $white;
$checkout-step-inactive-background: $white;
$checkout-step-inactive-number-background: $blue00;
$checkout-step-inactive-number-color: $white;
$checkout-step-inactive-text-color: $gray6B;
$checkout-step-shadow: rgba($black, 0.29);
$checkout-tab-payment-background: $grayF5;
$checkout-tab-payment-background-active: $grayE8;
$checkout-tab-payment-border: $grayE1;
$checkout-tab-payment-border-active: $blue00;
$checkout-tab-payment-color: $gray6B;
$color-facet-title-color: $gray70;
$color-facet-title-color-selected: $black;
$component-button-background: $white;
$component-button-color: $black;
$confirmation-card-body-background: $grayF5;
$confirmation-card-body-color: $black;
$confirmation-card-header-background: $grayE8;
$confirmation-card-header-color: $gray6B;
$confirmation-checkbox-item-border: $grayE1;
$confirmation-dates-color: $gray6B;
$confirmation-message-color: $gray6B;
$confirmation-message-border: $grayDB;
$confirmation-order-attributes-discount-color: $red;
$confirmation-order-attributes-value-color: $gray6B;
$confirmation-order-border: $grayDB;
$confirmation-order-color: $black;
$confirmation-order-discount-color: $red;
$confirmation-order-stock-background: $yellowCE;
$confirmation-order-total-background: $blue00;
$confirmation-order-total-color: $white;
$confirmation-order-total-products-color: $gray6B;
$confirmation-order-edit-cart-color: $gray6B;
$confirmation-print-color: $black;
$confirmation-title-color: $blue00;
$facet-color-color: $black;
$facets-border-color: $grayDB;
$footer-background: $black;
$footer-button-backgroud: $black;
$footer-button-border: $white;
$footer-button-color: $white;
$footer-color: $white;
$footer-copy-color: $grayA2;
$footer-logos-background: $grayF5;
$footer-logos-color: $gray21;
$footer-termns-color: $white;
$header-container-background: $white;
$header-input-background: $grayF5;
$header-input-border: $grayF5;
$header-search-background: $white;
$homepage-text-color: $white;
$homepage-link-background: $white;
$homepage-link-color: $black;
$homepage-link-hover-background: $black;
$homepage-link-hover-color: $white;
$input-background-color: $grayF5;
$input-text-color: $gray90;
$login-button-background: $gray21;
$login-button-color: $white;
$login-button-hover-border: $gray21;
$login-checkbox-border: $grayBF;
$login-checkbox-background: $white;
$login-checkbox-checked-background: $blue00;
$login-checkbox-checked-color: $white;
$login-color: $black;
$login-form-border: $black;
$login-form-color: $black;
$login-line-background: $black;
$login-line2-background: $grayE1;
$login-registration-border: $gray70;
$menu-header-categories-background: $white;
$menu-header-link1-color: $black;
$menu-header-link2-color: $gray69;
$menu-left-active-color: $blue00;
$menu-left-color: $black;
$menu-left-hover-color: $blue00;
$minicart-check-border: $green12;
$minicart-check-color: $green12;
$minicart-title-border: $grayDB;
$minicart-codepromo-border: $gray21;
$minicart-codepromo-background: $white;
$minicart-codepromo-color: $gray21;
$minicart-popover-background: $white;
$my-account-options-background: $white;
$my-account-options-border: $grayDB;
$my-account-options-color: $black;
$my-account-options-color-hover: $blue00;
$newsletter-component-line-background: $black;
$orders-select--arrow-color: $black;
$orders-table-body-border: $grayDB;
$orders-table-details-color: $blue00;
$orders-table-even-background: rgba($grayF5, 1);
$orders-table-odd-background: rgba($grayF5, 0.4);
$orders-table-header-background: $blue00;
$orders-table-header-color: $white;
$orders-title-color: $blue00;
$page-background: $white;
$product-no-selected-color-attribute-background: $grayF5;
$product-no-selected-line-color: $grayE1;
$product-no-selected-text-color: $grayF5;
$product-attribute-border: $grayDB;
$product-fav-button-background: $white;
$product-fav-button-border: $gray21;
$product-fav-button-color: $gray21;
$quick-view-attribute-border: $grayDB;
$quick-view-add-button: $black;
$quick-view-price-list-color: $gray21;
$quick-view-price-sales-color: $redB6;
$quick-view-promotions-color: $green00;
$quick-view-product-number-color: $gray97;
$quickview-quantity-arrow-background: $white;
$quick-view-select-color: $white;
$quick-view-reviews-value-border: $grayBF;
$quick-view-write-review-color: $gray6B;
$refinment-title-color: $gray21;
$remove-product-close-color: $black;
$remove-product-no-background: $white;
$remove-product-no-border: $gray21;
$remove-product-no-color: $gray21;
$remove-product-remove-background: $black;
$remove-product-remove-color: $white;
$remove-product-yes-background: $gray21;
$remove-product-yes-color: $white;
$return-confirmation-background: $white;
$return-confirmation-title-color: $blue00;
$return-confirmation-request-text-color: $gray21;
$return-confirmation-request-total-background: $grayF5;
$return-confirmation-request-total-color: $black;
$return-confirmation-request-grandTotal-background: $blue00;
$return-confirmation-request-grandTotal-color: $white;
$return-confirmation-steps-title-color: $white;
$return-confirmation-steps-body-color: $grayF5;
$return-confirmation-steps-link-color: $black;
$return-confirmation-steps-subtitle-color: $blue00;
$return-confirmation-steps-text-color: $gray70;
$return-details-attribute-color: $gray6B;
$returns-request-agree-link: $black;
$returns-request-cancel-btn-background: $white;
$returns-request-cancel-btn-border: $gray21;
$returns-request-cancel-btn-color: $gray21;
$returns-request-link-color: $black;
$returns-request-info-color: $gray6B;
$returns-request-product-background: $white;
$returns-request-product-border: $grayE1;
$returns-request-reason-default-background: $grayBF;
$returns-request-reason-option-background: $black;
$returns-request-tbody-background: $white;
$returns-request-title-color: $blue00;
$return-tracking-step-color: $blue00;
$search-filters-clear-all-text-color: $gray21;
$search-filters-text-color: $gray70;
$search-filters-background: $grayF5;
$search-no-results-title-color: $blue00;
$search-no-results-links-background: $gray21;
$search-no-results-links-color: $white;
$select-attribute-background: $grayF5;
$select-attribute-border: $grayE1;
$select-attribute-background-selected: $blue00;
$select-attribute-border-selected: $blue00;
$select-attribute-color: $gray6B;
$select-attribute-color-selected: $white;
$show-more-background: $black;
$show-more-color: $white;
$size-attribute-arrow-background: $white;
$size-attribute-arrow-color: $grayED;
$social-media-text-color: $black;
$suggestions-product-border: $grayDB;
$suggestions-product-shadow: rgba($black, 0.16);
$suggestions-products-title: $black;
$text-component-background: $grayE1;
$text-component-border: $grayBF;
$text-component-color: $gray6B;
$tracking-order-table-background: rgba($grayF5,.4);
$tracking-order-table-color: $gray21;
$tracking-order-title--guide-color: $gray21;
$tracking-order-table--header-color: $white;
$tracking-order-table--step-border-ext: $blue00;
$tracking-order-table--step-border-int: $grayF5;
$yotpo-dropdown-background: $white;
$yotpo-dropdown-border: $grayE1;
$yotpo-dropdown-color: $black;
$yotpo-general-rating-border: $grayBF;
$yotpo-general-rating-color: $black;
$yotpo-no-reviews-title-color: $gray70;
$yotpo-rate-review-border: $grayE2;
$yotpo-send-review-background: $black;
$yotpo-send-review-color: $white;
$yotpo-thankyou-content-color: $black;
$yotpo-thankyou-title-color: $blue00;
$yotpo-total-reviews-color: $gray70;
$yotpo-write-review-background: $gray21;
$yotpo-write-review-mobile-background: $white;
$yotpo-write-review-mobile-border: $gray21;
$yotpo-write-review-mobile-color: $gray21;
$yotpo-write-review-border: $grayE1;
$yotpo-write-review-color: $black;

$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

