@import "variables";
.banner-top{
    display: flex;
    align-items: center;
    background: $banner-top-background;
    color: $banner-top-color;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    padding: 0 55px;
    
    #menu-banner-carousel{
        height: 36px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .carousel-item.active{
            height: 36px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .carousel-inner{
            height: 36px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .carousel-caption{
            text-align: center;
            position: relative;
            padding: 0;
            top: 10px;
            left: 0;
            right: 0;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            h5{
                color: white !important;
                font-size: 14px;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        border: none;
        background: transparent;
        width: 30px;
    }
    a, .text-info{
        color: $banner-top-color;
    }
    .text-info{
        text-align: center;
        span{
            display: block;
            // margin-top: 10px;
            // padding-bottom: 10px;
            color: $banner-top-color;
            margin-left: 7em;
        }
    }
    .help-content, .stores-content{
        display: flex;
        align-items: center;
    }
    .help, .stores{
        display: flex;
        align-items: center;
        // margin-top: 10px;
        .row{
            margin: 0;
        }
        &:before{
            font-size: 24px;
            width: 24px;
            height: 24px;
            font-family: $awesome-font;
        }
        span{
            margin-left: 10px;
        }
    }

}

.header.container{
   // margin: 21px auto;
    margin: 3px auto;
    text-align: center;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    padding: 0 55px;
    background: $account-card-header-after-background;
    .row{
        margin: 0;
        flex: 0 0 100%;
    }
    .header-elements{
        display: flex;
        align-items: center;
        flex: 0 0 100%;
        flex-wrap: wrap;
        background: $account-card-header-after-background;
        .container{
            max-width: none;
            padding: 0;
            margin: 0;
            .col-12{
                padding: 0;
            }
        }
        .user-icon{
            width: 26px;
            height: 27px;
        }
        &.open-search{
            .main-menu{
                display: none;
            }
            .login-header{
                margin-left: auto;
            }
            .minicart{
                margin-left: 20px;
                max-width: 34.4px;
            }
            .search-bar{
                padding-left: 10.75%;
            }
            .search{
                width: 100%;
                .site-search{
                    form{
                        width: 100%;
                    }
                    .fa-search{
                        display: none;
                        pointer-events: none;
                    }
                    .icon-close{
                        border: none;
                        background: none;
                        right: 15px;
                        top: 21px;
                        &:before{
                            content: '\f00d';
                            font-family: $awesome-font;
                            font-size: 23px;
                        }
                    }
                }
                .suggestions-wrapper{
                    position: fixed;
                    width: 100%;
                    left: 0;
                }
                .suggestions{
                    border: none;
                    width: 100%;
                    padding: 40px 39px 38px 56px;
                    &__container{
                        display: flex;
                        flex: 0 0 100%;
                        flex-wrap: wrap;
                        margin: 0 auto;
                        max-width: 1310px;
                    }
                    &__match{
                        font-size: 16px;
                        line-height: 26px;
                        padding: 0;
                        text-align: left;
                        max-width: 20%;
                    }
                    &__products{
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                        max-height: 448px;
                        overflow-y: auto;
                        flex: 0 0 80%;
                        max-width: 80%;
                        &--title{
                            display: none;
                        }
                    }
                    &__product{
                        width: 213px;
                        margin: 0 14px 20px;
                        text-align: left;
                        box-shadow: 0px 3px 3px $suggestions-product-shadow;
                        min-height: 428px;
                        a{
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        &--image{
                            width: 100%;
                            height: 334px;
                            object-fit: cover;
                        }
                        &--name{
                            display: block;
                            margin: 5px 11px 5px 9px;
                            font-size: 15px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.navbar-header.brand{
justify-content: flex-start;
z-index: 4;
}
.navbar-header{
    position:relative;
    width: auto;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    .logo-home{
        display: inline-block;
        .img-desktop{
            width: 76px;
            height: 58px;
        }
    }
    &.brand__checkout{
        padding: 8px 0;
        .logo-home{
            img{
                width: 54px;
                height: 41px;
            }
        }
    }
    .minicart{
        margin: 0;
        align-items: center;
        display: flex;
        cursor: pointer;
    }
    .popover{
        border-radius: 0 0 20px 20px;
        background: $grayF5;
        border: none;
    }

    .minicart{
        height: 50%;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        a.link-mobile-cart{
            position: absolute;
            width: 30px;
            right: 0;
        }

        .minicart-quantity{
            position: absolute;
            background: $blue00;
            width: 11px;
            height: 11px;
            font-size: 9px;
            top: 23px;
            left: 22px;
            color: #0043BA;
        }
        img{
            width: 30px;
        }
        // margin-left: 10px;
    }
}

.main-menu{
    //margin-left: 30px;
    padding: 0;
    .dropdown-toggle{
        &:after{
            display: none;
        }
    }
    @media (min-width:992px){
        .navbar.bg-inverse {
            .navbar-nav{
                .nav-link{
                    font-size: 17px;
                    line-height: 24px;
                    color: $black;
                    padding: 18px 14px;
                }
                .dropdown-menu{
                    position: fixed;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;
                    box-shadow: none;
                    background: $menu-header-categories-background;
                    margin: 0;
                    padding: 20px 0 35px 180px;
                    max-width: 1366px;
                    z-index: 1;
                    &:before{
                        content: '';
                        background: $menu-header-categories-background;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 100vw;
                        height: 100%;
                        z-index: -2;
                        transform: translateX(-50%);

                    }
                    a{
                        font-size: 16px;
                        line-height: 21px;
                        color: $menu-header-link1-color;
                        margin-bottom: 20px;
                        padding: 0;
                    }
                    a:focus{
                        outline: none !important;
                        box-shadow: none !important;
                        border:none !important;
                    }
                }
                .dropdown-item{
                    display: inline-block;
                    width: auto;
                    vertical-align: top;
                    border: none;
                    padding-left: 0;
                    padding-right: 10px;
                    min-width: 130px;
                    &:hover{
                        background: $menu-header-categories-background;
                    }
                    .dropdown-menu{
                        position: relative;
                        width: auto;
                        top: 0 !important;
                        left: auto;
                        transform: none;
                        padding: 0;
                        min-width: 133px;
                        &::before{
                            content: none;
                        }
                        .dropdown-item{
                            display: block;
                            margin: 0;
                            a{
                                font-size: 14px;
                                line-height: 28px;
                                color: $menu-header-link2-color;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    li.nav-item{
        :active {
            color: $black;
            background: $white;
          }
    }
}

.dropdown-item .dropdown, .dropdown-link .dropdown-toggle{
    &:hover {
        color: $black;
        background: $white;
    }
    &:focus {
        color: $black;
        background: $white;
    }
}

.dropdown-item.active, .dropdown-item:active {
    color: $black;
    text-decoration: none;
    background-color: white; 
}

.pay-secure{
    display: flex;
    margin-left: auto;
    padding: 0;
    min-width: 104px;
    &__img, span{
        margin-left: auto;
    }
    &__img{
        width: 20px;
        margin-right: 4px;
    }
    span{
        font-size: 12px;
        line-height: 24px;
    }
}

.search-bar{
    //margin-left: 148px;
    display: flex;
    padding: 0;
    .search{
        display: flex;
        margin: 0;
        padding: 0 6.5px;
        .site-search{
            width: 100%;
            display: flex;
            align-items: center;
            height: 80px;
            margin: 0;
            form{
                margin-bottom: 0;
                .fa-search{
                    top:26px;
                }
            }
            input{
                border-radius: 20px;
                border: none;
                background-color: $input-background-color;
                height: auto;
                line-height: 23px;
                padding: 8.5px 37px 8.5px 20px;
                &::placeholder{
                    color: $input-text-color;
                    font-size: 16px;
                }
            }
            button{
               // top: 22px;
                font-size: 24px;
                color: $input-text-color;
            }
        }
    }
}
.user-name-checkout{
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    flex-direction: column;
    font-size: 10px;
    padding-right: 5px;
}
.login-header{
    padding: 0;
    display: flex;
    justify-content: right;
    margin-left: -20px;
    > div{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        .user{
            margin: 0;
            padding: 0;
            &.fav{
                margin-left: 30px;
            }
            .img-fav{
                width: 30px;
            }
            .user-icon{
                width: 25px;
            }
        }
        .user:focus{
            outline: none !important;
            box-shadow: none !important;
            border:none !important;
        }
         .user-name{
            display: flex;
            flex-direction: column;
            margin-right: 11px;
            .text-hello, .text-name-user{
                padding: 0;
                margin: 0;
                font-size: 12px;
                text-align: right;
            }
        }
    }
    a{
        text-decoration: none;
    }
    .fa{
        width: 22px;
        display: flex;
        font-size: 22px;
        /*&:before{
            content: "\f007";
        }*/
    }
    .user-message{
        display:none;
    }
    .my-account-items{
        border-radius: 0 0 20px 20px;
        background: $grayF5 !important;
        border: none !important; 
        a{
            color: $black;
            font-weight: normal !important;
        }
        a:first-child {
           border-bottom: 2px solid $grayBF;
        }
    }

}

//----- progress bar free shipping ---------//
.minicart-progress-bar{
    margin: 23px 0 19px;
}
.progress-shipping{
    display: block;

    &__title{
        display: flex;
        font-size: 12px;
        line-height: 17px;
        color: $cart-progress-title-color;
        justify-content: center;
        margin-bottom: 5px;
        span{
            padding: 0 0 0 35px;
            flex: 0 0 calc(100% - 50px);
        }
        &.free{
            color: $cart-progress-title-color-free;
            span{
                flex: 0 0 calc(100% - 30px);
                text-align: center;
                padding: 0;
            }
            &:after{
                content: "";
                background: url('../../images/progress-bar/free-ship.svg');
                background-size: 100%;
                width: 30px;
                height: 16px;
                margin: 0;
                filter: brightness(0.5);
                color: black;
            }
            &:before{
                display: none;
            }
        }
        &:before{
            content: "";
            background: url('../../images/progress-bar/not-free-ship.svg');
            background-size: 100%;
            margin-left: 28px;
            width: 20px;
            height: 16px;
            // filter: brightness(0.5);
        }
    }
    &__body{
        display: flex;
        flex-wrap: wrap;
        &.free{
            .progress-shipping__bar{
                flex: 0 0 100%;
            }
        }
    }
    &__bar{
        height: 9px;
        background-color: $cart-progress-background;
        flex: 0 0 96%;
        margin-bottom: 7px;
    }
    &__status{
        height: 100%;
        background-color: $cart-progress-status-background;
    }
    &__bar, &__status{
        display: block;
        width: 100%;
        border-radius: 5px;
    }
    &__min, &__max{
        color: $cart-progress-text-color;
        font-size: 11px;
        line-height: 14px;
    }
    &__min{
        padding-left: 16px;
    }
    &__max{
        margin-left: auto;
    }
    @media (max-width: 992px){
        &__title{
            padding-bottom: 5px;
        }
        &__body .progress-shipping-label{
            visibility: hidden;
        }
    }
}

@media (max-width: 992px){
    .banner-top{
        height: 42px;
        font-size: 14px;
        line-height: 16px;
        z-index: 2;
        padding: 10px 10px;
        .text-info span{
            margin-left: 0;
        }
        .help, .stores{
            display: none;
        }

        #menu-banner-carousel{
            width: 100%;
        }
    }
    .header.container{
        padding: 0;
        margin: 0;
        background: $header-container-background;
        .brand{
            img{
                width: 54px;
                height: 41px;
            }
        }
        .navbar-header{
            padding: 0 25px;
            background: $header-container-background;
        }
    }
    .header-elements{
        position: relative;
    }
    .brand{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    .mobile-elements{
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;

        .search-bar, .minicart{
            margin: 0;
        }

        .minicart{
            max-width: 24px;
            left: 0;

            .minicart-quantity{
                top: 21px;
                left: 19px;
            }
            img{
                position: absolute;
                left: 0;
            }
        }
        .search-bar{
            display: none;
        }
        .search-mobile{
            display: flex;
            margin-right: 22px;
            margin-left: auto;
            .only-button{
                align-self: center;
                font-size: 24px;
                width: 24px;
            }
            .site-search{
                display: none;
                .header-search{
                    display: none;
                }
            }
            .suggestions-wrapper{
                @media(min-width: 544px){
                    position: absolute;
                    left: -26px;
                    width: 100vw;
                    display: block;
                    height: calc(100vh - 96px);
                }
            }
            .suggestions{
                &.modal{
                    top: 103px !important;
                    border: none;
                    @media(min-width: 544px){
                        top: 0 !important;
                        width: 100%;
                    }
                }
                &__container{
                    padding: 0 26px;
                    width: 100%;
                    margin: 0;
                }
                &__match, &__products{
                    padding: 0;
                }
                &__match{
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: left;
                    &--title, &--words{
                        color: $suggestions-products-title;
                        a{
                            color: $suggestions-products-title;
                        }
                    }
                }
                &__products{
                    list-style: none;
                    margin: 0;
                    &--title{
                        display: block;
                        text-align: left;
                        color: $suggestions-products-title;
                        margin: 40px 0 10px;
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
                &__product{
                    border-top: 1px solid $suggestions-product-border;
                    padding-top: 10px;
                    display: flex;
                    a{
                        display: flex;
                    }
                    &--image{
                        width: 108px;
                    }
                    &--name{
                        width: calc(100% - 118px);
                        margin-left: 10px;
                        font-size: 16px;
                        text-align: left;
                    }
                }
            }
        }
        .login-header{
            justify-content: left;
            .navbar-toggler{
                padding: 0;
                border:none;
            }
            .icon-menu{
                width: 34px;
                font-size: 34px;
            }
        }
        &.hide-mobile{
            + div.brand{
                display: none;
            }
            .login-header{
                display: none;
            }
            .search-mobile{
                width: 100%;
                flex: 0 0 100vw;
                margin: -10px -25px 0;
                padding: 10px 25px 1px;
                background: $header-search-background;
                z-index: 2;
                .only-button{
                    display: none;
                }
                .site-search{
                    display: block;
                    width: calc(100% - 43px);
                    .reset-button{
                        display: block !important;
                        top: 10px;
                        right: -42px;
                        width: 18px;
                        height: 18px;
                        &:before{
                            content: '\f00d';
                            font-family: $awesome-font;
                            font-size: 18px;
                            line-height: 18px;
                        }
                    }
                    input{
                        font-size: 16px;
                        line-height: 24px;
                        padding: 8.5px 20px;
                        background-color: $header-input-background;
                        border-radius: 25px;
                        border-color: $header-input-border;
                    }
                }
            }
            .minicart{
                display: none;
            }
        }
    }
    .row{
        margin: 0;
    }
    .header{
        &.checkout{
            margin-bottom: 30px;
            padding: 0 25px;
            margin-top: 9px;
            .login-header.col-lg-1{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
    .header-elements{
        position: relative;
        .navbar-header{
            &.brand{
                &__checkout{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
        }
        .pay-secure{
            min-width: auto;
            padding: 9px 0;
            &__img, span{
                margin: 0;
            }
            &__img{
                margin-right: 6px;
            }
        }
        .pay-secure, .login-header{
            margin: 0;
            flex: 0 0 50%;
        }
    }
}


@media (min-width: 1367px){
    // .header.container{
    //     padding: 0 55px;
    // }
    .banner-top{
        padding: 0 calc(45px - (1366px - 100vw) / 2);
    }

}
.navbar {
    padding: 0;
    
}

@media (min-width: 544px) and (max-width: 991px){
    .minicart.col-lg-1.col-xs-2.d-block.d-sm-block.d-md-none{
         display: initial !important; 
         .hide-link-med{
            display: initial !important; 
         }
    }
}

