
@import "variables";
body{
    background: $body-background;
    *{
        font-family: $futura-book;
    }
    h1, h3, button{
        font-family: $futura-demi;
    }
    h2{
        font-family: $futura-medium;
    }
}

#maincontent{
    &.blur{
        filter: grayscale(30%) blur(5px);
    }
}

.container{
    max-width: 1366px;
    padding: 0 55px;
    // padding: 50px 55px 0 55px;

    .col-12{
        padding: 0;
    }
    .container{
        padding: 0;
    }
    .experience-component{
        .col-12{
            padding: 4px;
        }
    }
}
.row, .mx-n2{
    margin: 0 !important;
}

#footercontent{
    background: $footer-background;
    color: $footer-color;
    padding: 24px 0 30px;
    &.footer-checkout{
        padding-top: 0;
    }
    .container{
        padding: 0;
        max-width: none;
    }
    .content-asset{
        display: block;
    }
    a{
        color: $footer-color;
    }
    .logo-footer{
        display: block;
        width: 76px;
        margin: 0 auto;
    }
    .footer-container{
        padding: 0 55px;
        display: flex;
        margin-bottom: 40px;
        .footer-links{
            display: flex;
            padding: 0;
            flex-wrap: wrap;
        }
        .newsletter-footer{
            padding: 0;
            input{
                border-radius: 20px;
                padding: 10px 16px;
                margin-bottom: 16px;
                height: 40px;

                &::placeholder{
                    color: $input-text-color;
                    font-size: 16px;
                }
            }
            button{
                display: block;
                width: 100%;
                background: $footer-button-backgroud;
                border: 1px solid $footer-button-border;
                border-radius: 20px;
                padding: 11px;
                text-transform: uppercase;
                color: $footer-button-color;
                font-size: 14px;
                line-height: 16px;
                height: 40px;

            }
        }
        .footer-item{
            margin-left: 0;
            &:nth-of-type(n+2){
                margin-left: 100px;
            }
        }
        .content-asset, .newsletter-footer{
            h2{
                font-size: 18px;
                line-height: 80px;
            }
            a, span{
                font-size: 14px;
                line-height: 28px;
            }
            span{
                margin-bottom: 18px;
                display: block;
            }
        }
    }
    .hidden{
        display: none;
    }
    .logos{
        background: $footer-logos-background;
        padding: 24px 55px;
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        .payment-methods, .social-media, .secure-purchase{
            padding: 0;
            display: flex
        }
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        p{
            color: $footer-logos-color;
        }
        .payment-methods{
            &__item{
                margin: 0 8px;
            }
        }
        .social-media, .secure-purchase{
            &__item{
                margin: 0 20px;
            }
        }
        li{
            &:nth-child(1){
                margin-left: 0;
            }
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
    .privacity, .terms{
        font-size: 14px;
        line-height: 16px;
        color: $footer-termns-color;
        padding: 0 40px 18px;
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
    .privacity{
        text-align: right;
    }
    .terms{
        text-align: left;
    }
    .copyright-notice{
        display: flex;
        margin: 39px 0 auto;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: $footer-copy-color;
        flex-wrap: wrap;
        .content-asset{
            display: flex;
            flex: 0 0 100%;
        }
    }
}
@media (max-width: 992px){
    .container{
        padding: 0 25px;
        // padding: 115px 25px 0 25px;
    }
    #footercontent{
        .logo-footer{
            width: 54px;
            margin-bottom: 37px;
            img{
                width: 100%;
            }
        }
        .footer-container{
            padding: 0 25px;
            flex-flow: column-reverse;
            .newsletter-footer{
                h2{
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 10px;
                    font-family: $futura-demi;
                }
                span{
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 6px;
                }
            }
            .footer-item{
                width: 100%;
                margin: 0 0 50px;
                border: none;
                &:nth-of-type(1){
                    margin-top: 32px;
                }
                &:nth-of-type(n+2){
                    margin-left: 0;
                }
                &:nth-last-of-type(1){
                    margin-bottom: 33px;
                }
                .title{
                    color: $footer-color;
                    font-size: 20px;
                    font-family: $futura-medium;
                    &:after{
                        content: '\f067';
                        font-family: $awesome-font;
                        font-size: 20px;
                    }
                }
            }
        }
        .logos{
            padding: 10px 25px;
            flex-wrap: wrap;
            .payment-methods{
                &__item{
                    margin: 0;
                    text-align: center;
                }
                .content-asset{
                    flex: 0 0 100%;
                    margin-bottom: 50px;
                }
            }
            .social-media{
                .content-asset{
                    flex: 0 0 100%;
                    margin-bottom: 30px;
                }
                &__item{
                    margin: 0;
                    &:nth-of-type(1){
                        text-align: right;
                    }
                    &:nth-of-type(2){
                        text-align: center;
                    }
                }
            }
            .secure-purchase{
                .content-asset{
                    width: 100%;
                    margin-bottom: 20px;
                }
                &__item{
                    margin: 0;
                    &:nth-of-type(2){
                        text-align: center;
                    }
                    &:nth-of-type(3){
                        text-align: right;
                    }
                }
            }
            ul{
                flex: 0 0 100%;
                margin-bottom: 0;
            }
            li{
                flex: 1 0 20%;
            }
            p{
                text-align: center;
            }
        }
        .copyright-notice{
            .content-asset{
                flex-wrap: wrap;
                padding: 0 25px;
            }
        }
        .privacity, .terms{
            text-align: center;
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            padding: 0;
            margin-bottom: 30px;
        }
    }

}

@media screen and (max-width: 1024px) {
    #footercontent .row .logos{
        display: flex;
        flex-direction: column;
    }
    #footercontent .logos ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
        // Modal conset
        #consent-tracking {
            .modal-dialog {
                width: 340px !important;
                height: 277.94px !important;
                top: 50%;
                right: 0;
            }
        }
}
@media (min-width: 1367px){
    .container{
        padding: 0 55px;
    }
    #footercontent .footer-container{
        padding: 0 calc(45px - (1366px - 100vw) / 2);
    }
    #footercontent .logos{
        padding: 24px calc(45px - (1366px - 100vw) / 2);
    }
}

// modal consent
#consent-tracking {
    // background: lawngreen;

    .modal-dialog {
        position: absolute;
        bottom: 20px;
        left: 20;
        width: 515.86px;
        height: 225.94px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 992px){
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }
        .modal-content{
            background:$black;
            color: $white;
            .modal-header {
                display: none;
            }
            .modal-body{
                padding: 30px 48px;
                p{
                    font-size: 15px;
                    text-align: center;
                    margin: 0;
                }
            }
            .modal-footer{
                padding: 0;
                border: none;
                display: flex;
                justify-content: center;
                .button-wrapper button{
                    margin: 0 29.5px 32.5px;
                }
                button.affirm.btn.btn-primary{
                    width: 100px;
                    background:$white !important;
                    color:$black;
                    text-transform: uppercase;
                    &:before {
                        background: $gray6B;
                        color:$black;
                    }
                    &:hover{
                        &:before {
                            background: $gray6B;
                            color:$black;
                        }
                    }
                }
                button.decline.btn.btn-primary{
                    width: 100px;
                    text-transform: uppercase;
                    border: 1px solid $white;
                    background: $black !important;
                    color: $white;
                    &:before {
                        background: $gray6B;
                        color: $white;
                    }
                    &:hover{
                        &:before {
                            background: $gray6B;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}