// @import "variables";


// .refinement-bar{
//     padding: 0 25px;
// }
// .refinements{
//     font-size: 16px;
//     .card{
//         border: none;
//         .card-header{
//             padding: 0;
//         }
//         .card-body{
//             display: none;
//             padding: 0;
//             .values{
//                 display: flex;
//                 flex-wrap: wrap;
//             }
//             .color-attribute{
//                 display: flex;
//                 flex: 1 0 20%;
//                 text-align: center;
//                 &:nth-of-type(5n-5){
//                     padding-right: 0;
//                 }
//             }
//         }
//         .title{
//             span{
//                 font-family: $futura-medium;
//             }
//             &::after{
//                 font-family: $awesome-font;
//                 float: right;
//                 content: "\F078";
//             }
//         }
//         &.active{
//             .card-body{
//                 display: block;
//                 border: none;
//             }
//             .title{
//                 border-top: 1px solid $grayDB;
//                 span{
//                     font-family: $futura-medium;
//                 }
//                 &::after{
//                     content: "\F077";
//                     margin-top: -0.125em;
//                 }
//             }
//         }
//         @media (max-width: 768px){
//             &.block-title{
//                 .card-body{
//                     display: block;
//                 }
//                 .title{
//                     border: none;
//                     display: none;
//                     &::after{
//                         content: '';
//                     }
//                 }
//             }
//         }
//         #refinement-category{
//             .values{
//                 display: block;
//                 span{
//                     font-family: $futura-medium;
//                 }
//                 li{
//                     button{
//                         color: $blue00;
//                         .fa{
//                             display: none;
//                         }
//                     }
//                     .values{
//                         span{
//                             font-family: $futura-book;
//                         }
//                         .selected{
//                             font-family: $futura-medium;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .card-header{
//         background: none;
//         border: none;
//         h2{
//             font-family: $futura-book;
//         }
//     }
// }
// .filter-header{
//     .hidden-sm-down{
//         padding: 0 15px;
//         margin-bottom: 25px;
//         color: $refinment-title-color;
//         font-size: 16px;
//         line-height: 21px;
//         font-family: $futura-medium;
//     }
// }

// .facet-color{
//     &__button{
//         .swatch-circle{
//             border: none;
//             position: relative;
//             width: 32px;
//             height: 32px;
//             margin: 0 auto;
//             &::after{
//                 content: "";
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 background: url('../../images/medal.svg');
//             }
//             &.swatch-circle-white{
//                 &::after{
//                     background: url('../../images/medal2.svg');
//                 }
//             }
//         }
//     }
//     &__title{
//         color: $facet-color-color;
//         font-size: 12px;
//         line-height: 16px;
//         margin-bottom: 20px;
//     }
// }