//@import "~base/skin/skin";
@import "variables";
@import "base/skin/skin";
@import "header";
@import "homepage";
@import "../experience/pdCustomStyles";
@import "../components/breadcrumb";
@import "../components/menu.scss";

body,
.card,
.card-header,
.hero {
    font-family: $futura-book;
    &.no-scroll{
        overflow: hidden;
    }
}

.card-header {
    font-size: 12px;
    background-color: #0043ba;
    color: black;
}

.navbar,
.navbar .nav-item,
.navbar .nav-item a,
.navbar .nav-item.dropdown,
.navbar .nav-item.dropdown a,
.dropdown-menu,
.dropdown-menu a {
    color: var(--skin-menu-color-1);

    @media (min-width: 769px) {
        // stylelint-disable-line
        color: black;
    }
}

.main-menu {
    background-color: white;
}

.header-banner{
    display: none;
}
#maincontent {
    margin-top: 110px;
    @media screen and (max-width: 1024px) {
        margin-top: 100px;
    }
}

#maincontent{
    &.blur{
        filter: grayscale(30%) blur(5px);
    }
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: $grayBF !important;
    pointer-events: none;
}

.btn-primary:hover {
    background-color: $black;
    color: $white;

    @media screen and (max-width: 1024px) {
        #maincontent {
            margin-top: 115px;
        }

        @media screen and (max-width: 1024px) {
            #maincontent {
                margin-top: 115px;
            }
        }
    }
}

//btn primary
.btn-primary,
.btn-outline-primary {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #212121;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    background-color: $gray21 !important;
    color: $white;

    &:before {
        border-radius: 25px;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        color: $white;
        z-index: -1;
        border: none;
        background-color: $black;
    }

    &:hover {
        color: $white;

        &:before {
            background-color: $black;
            color: $white;
            border: none;
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: $grayBF !important;
    pointer-events: none;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

//btn secundary
.btn-secundary,
.btn-outline-dark {
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    position: relative;
    z-index: 2;
    background-color: $white !important;
    color: $black;
    border-color: $black;

    &:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        color: $black;
        z-index: -1;
        border: none;
        border-radius: 25px;
        background-color: $grayED;
    }

    &:hover {
        color: $black;

        &:before {
            background-color: $grayED;
            color: $black;
            border-color: $black;
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

input{
    color: $gray90;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border:1px solid #E1E1E1;
    }
}

select {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #E1E1E1 !important;
    }
}

.brand img {
    height: 50px;
    width: 70px;
}

body {
    background-color: #FFFFFF 0% 0% no-repeat padding-box;
}

//input type password
input[type="password"]{
    font-family: monospace;
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border:1px solid #E1E1E1 !important;
      }
}

// start styles for plp

.category-title {
    h1 {
        padding: 15px 0 .5em 0;
        margin: 0;

        span {
            color: #909090;
            font-size: .6em;
        }
    }
    @media(max-width: 992px){
        h1{
            font-size: 24px;
            line-height: 31px;
            span{
                font-size: 22px;
                line-height: 29px;
            }
        }
    }
}

h1.page-title::before {
    content: none;
}

.hero {
    max-height: 12em;
    background-size: contain;
    background-repeat: no-repeat;
    // height: 12em;
    // background-position: top;
    // background-size: cover;
}

.wishlistTile span.fa-stack {
    position: absolute;
    top: 1px;
    right: 1px; 
}
.wishlistTile .fa-heart {
    color: $blue00;
    .fa-heart:before {
        content: "\F004";
    } 
}


@media (min-width: 544px) {
    .slant-down::after {
        content: none !important;
    }
}

@media (min-width: 1200px) {
    h1.page-title::before {
        width: calc((100vw - 1140px) / 2);
        left: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1.page-title::before {
        width: calc((100vw - 940px) / 2);
        left: auto;
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    h1.page-title::before {
        width: calc((100vw - 720px) / 2);
        left: auto;
    }
}

@media (min-width: 1200px) {
    h1.page-title {
        left: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1.page-title {
        left: auto;
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    h1.page-title {
        left: auto;
    }
}

@media (max-width: 768.98px) {
    h1.page-title {
        left: auto;
    }

    .main-menu.menu-toggleable-left {
        z-index: 0;
    }

    .menu-toggleable-left li>.close-menu {
        margin: 120px 0 0 0;
    }

    .menu-toggleable-left .menu-group {
        // margin-top: -2em;
        width: 100%;
    }
}

// @media screen and (max-width: 991px) {

//     .menu-toggleable-left .close-menu {
//         margin-top: 5em;
//         z-index: 2;
//         padding: 0;

//         .pull-left {
//             margin-top: 2em;
//             float: left;
//             margin-left: 10px;
//         }

//     }

//     .menu-toggleable-left .menu-group {
//         margin-top: -6.9em;
//         width: 100%;
//     }

// }

// End styles for plp

.bg-light {
    background-color: $white !important;
}
// -------- remove product -------
#removeProductModal{
    .modal-body h2{
        color: $remove-product-remove-color;
        font-size: 18px;
        line-height: 23px;
    }
    .modal-dialog .modal-content{
        margin-top: 50%;
    }

    @media screen and (max-width: 992px) {
        .delete-product__footer{
            display: flex;
            justify-content: center;
        }
    }
}

.delete-product{
    .modal-dialog{
        max-width: 537px;
        border: none;
    }
    &__header{
        padding: 20px 20px 16px;
        position: relative;
        display: block;
        text-align: center;
        border: none;
    }
    &__logo{
        margin-top: 16px;
    }
    &__close{
        &.close{
            padding: 0;
            margin: 0;
            position: absolute;
            right: 23px;
            top: 23px;
            line-height: 11px;
            font-weight: normal;
            opacity: 1;
        }
        span{
            color: $remove-product-close-color;
            font-size: 36px;
            line-height: 18px;
        }
    }
    &__body{
        padding: 0 20px;
        span{
            display: block;
            text-align: center;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 32px;
        }
    }
    &__title{
        background: $remove-product-remove-background;
        color: $remove-product-remove-color;
        font-size: 18px;
        line-height: 23px;
        padding: 10px 11px 11px;
        text-align: center;
        font-family: $futura-demi;
        margin-bottom: 28px;
    }
    &__footer{
        border: none;
        padding: 0 20px;
        display: block;
        text-align: center;
        margin-bottom: 40px;
        button{
            font-size: 20px;
            line-height: 26px;
            font-family: $futura-medium;
            padding: 7px;
            text-transform: none;
            min-width: 162px;
        }
        > :not(:first-child){
            margin-left: 15px;
        }
        > :not(:last-child){
            margin-right: 15px;
        }
    }
    &__no{
        &.btn{
            border: 1px solid $remove-product-no-border !important;
            background: $remove-product-no-background !important;
            color: $remove-product-no-color !important;
            border-radius: 25px;
        }
    }
}
// Start Styles for minicart
.modal-backdrop{
    z-index: 1000;
}
.page {
    .my-account-items{
        display: none;
        width: auto;
        height: auto;
        position: absolute;
        text-align: left;
        padding: 16px;
        position: absolute;
        min-width: 160px;
        border: 1px solid $my-account-options-border;
        top: 45px;
        background: $my-account-options-background;
        z-index: 1;
        a{
            display: block;
            color: $my-account-options-color;
            // font-family: $futura-medium;
            font-size: 16px;
            line-height: 26px;
            &:hover{
               color: $my-account-options-color-hover;
            }
        }
        &.show{
            display: block;
        }
    }
    .popover {
        display: none;
        width: 487px;
        max-width: 487px;
        height: 100vh;
        right: -100%;
        left: auto;
        position: fixed;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background: $minicart-popover-background;
        transition: right 0.3s;
        border: none;
        @media(max-width: 480px) {
            max-width: 100vw;
        }
        .minicart-back{
            content: "";
            background: rgba(0,0,0,.41);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0;
            z-index: -1;
        }
        &:after{
            content: "";
            width: 487px;
            max-width: 487px;
            height: 100%;
            right: 0;
            top: 0;
            left: auto;
            background: $minicart-popover-background;
            z-index: -1;
            position: fixed;
        }

        &.show {
            display: block;
            right: 0;
            border-radius: 0;
            overflow: auto;
        }

        .container {
            max-width: none;
            padding: 0;
            margin: 0;
        }

        .container .cart {
            @media(max-width: 480px) {
                max-width: 95%;
                margin: auto;
            }
        }

        .progress {
            height: .6rem;

            .progress-bar {
                background-color: $blue00;
            }
        }

        // left: 0;
        .cart {
            background-color: white;
            z-index: 2;
            .header {
                display: flex;
                .minicart-title{
                    display: flex;
                    padding: 0;
                }
                h1 {
                    font-family: $futura-medium;
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 15px;
                }
                .img-cart{
                    margin-right: 17px;
                    width: 26px;
                    height: 26px;
                }
                .fa-check{
                    margin-right: 17px;
                    &:before{
                        font-size: 12px;
                        font-family: $awesome-font;
                        font-style: normal;
                        border: 2px solid $minicart-check-border;
                        color: $minicart-check-border;
                        border-radius: 12px;
                        padding: 4px;
                    }
                }
                border-bottom: 1px solid $minicart-title-border;
                .close-cart{
                    padding: 0;
                }
                .close-minicart {
                    background: transparent;
                    border: none;
                    padding: 0;
                    font-size: 12.5px;
                }
            }
            .card {
                border: none;
                border-bottom: 1px solid $minicart-title-border;
                border-radius: 0;
                margin-bottom: 45px;
                .card-body{
                    padding: 0;
                }
            }
            .item-image {
                margin: 0;
                padding: 0;
                text-align: center;
            }
            .product-summary{
                max-height: 562px;
                overflow: auto;
            }
            .product{
                &__image{
                    max-width: 56px;
                }
                &__name {
                    font-family: $futura-book;
                    font-size: 16px;
                    line-height: 20px;
                }
                &__attributes{
                    margin: 10px 0 !important;
                }
                &__attributes--name {
                    font-family: $futura-book;
                    font-size: 14px;
                    text-align: center;

                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;
                        select{
                            width: 50px;
                            height: auto;
                            padding: 0 5px;
                            font-size: 14px;
                        }
                    }

                    span {
                        color: $gray6B;
                    }
                }

                .line-item-promo {
                    margin-bottom: 10px !important;
                    max-width: 310px;
                    margin-top: -15px;
                    div{
                        background-color: #E1F2DC;
                        border: 1px solid #00A30D;
                        color: #225813;
                        font-size: 10px;
                        font-family: $futura-demi;
                        border-radius: 25px;
                        padding: 5px;
                        margin-top: 5px;
                        width: fit-content;
                        max-width: 90px;
                        white-space: normal;
                 }
                }

                &__totals {
                    font-size: 14px;
                    font-family: $futura-book;
                    // margin-bottom: 10px !important;
                    .line-item-unit-price {
                        .old {
                            text-decoration: line-through;
                        }
                        .discount {
                            color: $red;
                        }
                    }
                    .line-item-total-price {
                        text-align: right;
                        .price .strike-through{
                            margin-right: 0;
                            font-size: 14px;

                        }
                        .pricing {
                            font-family: $futura-medium;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
                .btn-delete{
                    text-align: right;
                }
                .remove-product{
                    font-size: 14px;
                    position: initial;
                    text-decoration: underline;
                    background: none;
                    padding: 0;
                    border: none;
                    margin-top: 10px;
                    p{
                        margin: 0;
                    }
                }
            }
            .form-group{
                margin-bottom: 15px;
            }
        }

    }

    .promo-code-container {
        padding: 0 14px;
    }

    .coupon {
        display: flex;
        align-items: flex-end;

        .label-coupon {
            padding: 0;
        }

        .coupon-code-field {
            border-radius: 25px;
        }
    }

    .promo-code-submit {
        margin: 9px auto 0;
        button{
            border-radius: 25px;
            border: 1px solid $minicart-codepromo-border;
            background: $minicart-codepromo-background;
            color: $minicart-codepromo-color;
            font-size: 20px;
            line-height: 26px;
            p {
                font-size: 1rem;
                line-height: 1.5;
            }
        }

        .btn p {
            margin: 0;
        }
    }

    .minicart-footer {
        font-family: $futura-book;
        font-size: 16px;
        border-top: none;

        p {
            margin: 0;
        }

        .promotion {
            padding: 0 14px !important;
            h1 {
                font-size: 1rem;
            }
        }

        .badge-success {
            background-color: #E1F2DC;
            border: 1px solid #00A30D;
            color: #225813;
            font-size: 12px;
            font-family: $futura-demi;
            border-radius: 25px;
            padding: 10px;
            margin-left: 10px;
            margin-bottom: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .badge-success-2 {
            background-color: #E1F2DC;
            border: 1px solid #00A30D;
            color: #225813;
            font-size: 12px !important;
            font-family: $futura-demi;
            border-radius: 25px !important;
            padding: 10px !important;
            margin-left: 10px;
            margin-bottom: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .badge-2 {
            display: inline-block;
            padding: 0.25em 0.4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.1875rem;
            -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }

        .discount {
            .total {
                color: $red;
            }
        }

        .total {
            border-top: 1px solid $grayBF;
            padding: 6px 0 15px !important;

            p {
                font-family: $futura-demi;
                font-size: 16px;
                font-weight: bold;
            }
        }
        .continue-buttons{
            padding: 0 14px;
        }
        .checkout-continue{
            margin-bottom: 20px;
            .btn{
                font-size: 1rem;
                line-height: 1.5;
            }
        }

        .checkout-btn {
            border: 1px solid #212121;
        }

        .promo-code-btn{
            border-radius: 25px;
            border: 1px solid $minicart-codepromo-border;
            background: $minicart-codepromo-background;
            color: $minicart-codepromo-color;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}


// End Styles for minicart


.category-slot {
    padding-top: 4em;
}

.product-detail, .product-quickview{
    .detail{
        max-width: 332px;
        padding: 0;
    }
    .attributes, &__attributes{
        .attribute{
            .size, .width, .color{
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 15px;
                font-family: $futura-demi;
            }
            .size-chart{
                font-size: 14px;
                line-height: 18px;
                text-decoration: underline;
                padding-right: 29px;
            }
        }
        .values {
            li {
                border: 1px solid $select-attribute-border;
                background: $select-attribute-background;
                padding: 0;
                height: 36px;
                min-width: 36px;
                width: auto;
                max-width: max-content;
                text-align: center;
                font-size: 14px;
                color: $select-attribute-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                line-height: 16px;
                button{
                    border: none;
                    background-color: transparent;
                    font-family: $futura-book;
                    position: relative;
                    height: 100%;
                    &:disabled{
                        &:after{
                            content: '';
                            width: 45px;
                            height: 1px;
                            position: absolute;
                            top: 17px;
                            left: 50%;
                            transform: translateX(-50%) rotate(-45deg);
                            background: $select-attribute-border;
                        }
                    }
                }
                &.selected {
                    background: $select-attribute-background-selected;
                    border-color: $select-attribute-border-selected;
                    button{
                        color:$select-attribute-color-selected;
                    }
                }
            }
            &.attr-list{
                + select{
                    pointer-events: none;
                    display: none;
                }
            }
            &.width-list{
                li{
                    font-size: 10px;
                }
            }
        }
        .prices-add-to-cart-actions{
            padding: 0;
            .col-sm-12{
                padding: 0;
                text-align: left;
                button{
                    width: 100%;
                    margin: 15px 0;
                    max-width: 302px;
                    border-radius: 25px;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 7px 15px;
                    &.add-to-fav{
                        background: $product-fav-button-background;
                        border: 1px solid $product-fav-button-border;
                        color: $product-fav-button-color;
                        padding: 6px 15px;
                    }
                }
            }
        }
        .social-container{
            .social-icons{
                font-size: 16px;
                line-height: 21px;
                p{
                    margin: 0;
                    margin-right: 20px;
                    color: $social-media-text-color;
                }
                li{
                    &:nth-of-type(2){
                        a{
                            margin: 0 20px;
                        }
                    }
                }
                a{
                    padding: 0;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .attributes{
        .values{
            display: grid;
            grid-template-columns: max-content max-content max-content max-content max-content;
            grid-gap: 10px 19px;
            padding: 0;
        }
    }
    &__attributes{
        .attr-content{
            max-width: 332px;
            overflow: hidden;
            position: relative;
        }
        .size-chart{
            display: none;
        }
        .width-list{
            margin: 0;
        }
        .values{
            display: flex;
            padding: 0;
            max-width: 100%;
            margin-left: 0;
            li{
                margin: 0 5px;
            }
        }
        .arrow-attr-right, .arrow-attr-left{
            position: absolute;
            width: 28px;
            height: 36px;
            cursor: pointer;
            top: 0;
            background: $size-attribute-arrow-background;
            z-index: 2;
            text-align: center;
            &:before{
                font-size: 21px;
                font-family: $awesome-font;
                color: $size-attribute-arrow-color;
                line-height: 36px;
            }
            &.disabled{
                pointer-events: none;
                display: none;
                &:before{
                    font-size: 0px;
                }
            }
        }
        .arrow-attr-left{
            left: 0;
            &:before{
                content: '\f053';
            }
        }
        .arrow-attr-right{
            right: 0;
            &:before{
                content: '\f054';
            }
        }
        .color-buttons{
            display: flex;
            max-width: 332px;
        }
    }
}



// Styles for QuickView
.quick-view-dialog {
    .modal-header {
        background-color: $white;
        border-bottom: none;
        border-top-left-radius: 0.1875 rem;
        border-top-right-radius: 0.1875 rem;
    }
}

.product-quickview {
    .product-name {
        font-family: $futura-book;
        font-size: 20px;
        text-align: left;
    }

    .prices {
        text-align: left;

        .ratings {
            float: none;
        }

        .product-price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: .5em;

            .text-price {
                margin-right: 20px;
            }

            .price {
                font-family: $futura-book;
                font-size: 18px;

                .strike-through {
                    color: $black;
                }

                .sales {
                    font-family: $futura-book;
                    font-size: 18px;
                    color: $redSale;
                }
            }
        }

        .product-number {
            font-size: 12px;
            font-family: $futura-book;
            color: #979797;
        }
    }


    .attributes {
        .color {
            .attribute {
                border-top: 1px solid $grayE1;
                border-bottom: 1px solid $grayE1;

                .color-attribute {
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    outline: none;

                    span {
                        border: none;
                        position: relative;
                        width: 32px;
                        height: 32px;
                        margin: 0 auto;
                        // background: url("../../images/medal.svg");
                        outline: none;
                    }

                    span::after {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 7px;
                        left: 0;
                        background: transparent;
                        outline: none;
                    }
                }
            }

            .values {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: .6em;
                padding: 0 1em;

                li {
                    border: 1px solid #E1E1E1;
                    background: #F5F5F5;
                    padding: 0;
                    height: 36px;
                    max-width: 36px;
                    text-align: center;
                    font-size: 14px;
                    color: #6B6B6B;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        border: none;
                        background-color: transparent;
                    }
                    &.selected {
                        background: $blue00;

                        span {
                            color: white;
                            font-family: "Futura PT"
                        }
                    }
                }
            }
        }

        .size {
            label {
                font-size: 16px;
                font-family: $futura-demi;
            }

            .values {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: .6em;
                padding: 0 1em;

                li {
                    border: 1px solid #E1E1E1;
                    background: #F5F5F5;
                    padding: 0;
                    height: 36px;
                    max-width: 36px;
                    text-align: center;
                    font-size: 14px;
                    color: #6B6B6B;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.selected {
                        background: $blue00;

                        span {
                            color: white;
                            font-family: "Futura PT"
                        }
                    }
                }
            }
        }

        .attribute {
            .non-input-label {
                font-size: 16px;
                font-family: $futura-demi;
            }
        }
    }

    .select-qty {
        label {
            margin: 0;
            font-size: 16px;
            font-family: $futura-demi;
        }

        .quantity-select {
            border-radius: 5px;
            font-size: 16px;
            font-family: $futura-demi;
        }

        .row {
            display: flex;
            align-items: center !important;
        }
    }
}

// End Styles for QuickView


.fa-star::before,.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    color: $blue00;
}
.fa-star-o::before{
    color: $grayBF;
    content: "\f005";
}

.data-checkout-stage option[value="new"] {
    display: block;
}

div#product-search-results{
    .breadcrumbs{
        margin-top: 20px;
        
        // padding-left: 0;
        @media (min-width: 992px) and (max-width: 1199.98px) {
            .breadcrumbs{
                // margin-left: -6px;   
            }
        }
        @media (max-width: 992px){
            &.col-md-12{
                padding: 0 37px;
            }
        }
    }
}

@media (max-width: 991.98px){
    .menu-toggleable-left.navbar-toggleable-md.in {
        overflow: auto !important;
        background-attachment: fixed;
    }
}