@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.image-component {
    margin: 0;
    width: 100%;
    position: relative;
}

.common-image-component {
    width: 100%;
    object-fit: cover;
    object-position: #{var(--focal-point-x)} #{var(--focal-point-y)};
}

.mainbanner-image {
    height: 43.75vw;
    @include media-breakpoint-down(xs) {
        height: 75vw;
    }
}

@for $i from 0 through 10 {
    $brightnessValue: #{$i * 10};
    .common-image-filter-#{$brightnessValue} {
        filter: brightness($brightnessValue + "%");
    }
}

.image-heading-container {
    position: absolute;
    width: auto;
    z-index: 1;
}

.image-heading-container.halign-center, .image-heading-container.halign-right {
    width: 100%;
}

.image-heading-container.valign-top {
    top: 2vw;
}

.image-heading-container.valign-middle {
    top: calc(50% - 1em);
}

.image-heading-container.valign-bottom {
    bottom: 2vw;
}

.image-heading-text {
    font-family: $image-text-font;
    color: $white-text;
}

.ITC-image-heading-text {
    color: $banner-heading-text-color;
}

.ITC-image-heading-text a {
    color: $banner-heading-text-color !important;
}

.ITC-image-heading-text a[href="#"]:hover {
    text-decoration: none;
}

.image-heading-container .mainbanner-sub-text p {
    font-size: $banner-sub-text-font-size;
    font-family: $banner-font;
    color: $banner-sub-text-color;
    text-decoration: underline;
}

.ITC-text-underneath span {
    color: $black;
    padding-top: 0.75em;
    text-align: center;
}

.drop-shadow-contrast {
    text-shadow: 1px 1px 4px #000;
}

.bg-primary{
    h1, h2, h3, h4 {
        background-color: #{var(--primary-color)};
    }
}

.bg-bgcolor {
    h1, h2, h3, h4 {
        background-color: #{var(--body-background-color)};
    }
}

.bg-interation {
    h1, h2, h3, h4 {
        background-color: #{var(--interaction-color)};
    }
}

.bg-menucolor {
    h1, h2, h3, h4 {
        background-color: #{var(--menu-background)};
    }
}

.fg-primary{
    color: #{var(--primary-color)};
}

.fg-bgcolor{
    color: #{var(--body-background-color)};
}

.fg-interation {
    color: #{var(--interaction-color)};
}

.fg-menucolor {
    color: #{var(--menu-background)};
}

.gradient-contrast::after { 
    content: ' ';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(180deg,transparent 70%,rgba(0,0,0,.6));
}

.ITC-image-heading-text span.text-left {
    h1, h2, h3, h4 {
        text-align: left;
        padding-left:2vw;
        padding-right:0.5vw;
    }
}

.ITC-image-heading-text .text-center {
    h1, h2, h3, h4 {
        text-align: center;

    }
}

.ITC-image-heading-text .text-right {
    h1, h2, h3, h4 {
        text-align: right;
        padding-right:2em;
    }
}