.pd-product-slider {
    .product-tile-pd,
    .swiper-slide {
        width: 182px;
    }

    .swiper-button-disabled {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 38px;
        height: 38px;
        margin-top: 0;
        top: calc(50% - 19px);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 19px;

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        background-image: url('../../images/icon-arrow-back.svg');
    }

    .swiper-button-next {
        background-image: url('../../images/icon-arrow-forward.svg');
    }
}
