.image-component {
  margin: 0;
  width: 100%;
  position: relative; }

.common-image-component {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: var(--focal-point-x) var(--focal-point-y);
     object-position: var(--focal-point-x) var(--focal-point-y); }

.mainbanner-image {
  height: 43.75vw; }
  @media (max-width: 543.98px) {
    .mainbanner-image {
      height: 75vw; } }

.common-image-filter-0 {
  -webkit-filter: brightness(0%);
          filter: brightness(0%); }

.common-image-filter-10 {
  -webkit-filter: brightness(10%);
          filter: brightness(10%); }

.common-image-filter-20 {
  -webkit-filter: brightness(20%);
          filter: brightness(20%); }

.common-image-filter-30 {
  -webkit-filter: brightness(30%);
          filter: brightness(30%); }

.common-image-filter-40 {
  -webkit-filter: brightness(40%);
          filter: brightness(40%); }

.common-image-filter-50 {
  -webkit-filter: brightness(50%);
          filter: brightness(50%); }

.common-image-filter-60 {
  -webkit-filter: brightness(60%);
          filter: brightness(60%); }

.common-image-filter-70 {
  -webkit-filter: brightness(70%);
          filter: brightness(70%); }

.common-image-filter-80 {
  -webkit-filter: brightness(80%);
          filter: brightness(80%); }

.common-image-filter-90 {
  -webkit-filter: brightness(90%);
          filter: brightness(90%); }

.common-image-filter-100 {
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.image-heading-container {
  position: absolute;
  width: auto;
  z-index: 1; }

.image-heading-container.halign-center, .image-heading-container.halign-right {
  width: 100%; }

.image-heading-container.valign-top {
  top: 2vw; }

.image-heading-container.valign-middle {
  top: calc(50% - 1em); }

.image-heading-container.valign-bottom {
  bottom: 2vw; }

.image-heading-text {
  font-family: var(--body-font);
  color: #fff; }

.ITC-image-heading-text {
  color: #fff; }

.ITC-image-heading-text a {
  color: #fff !important; }

.ITC-image-heading-text a[href="#"]:hover {
  text-decoration: none; }

.image-heading-container .mainbanner-sub-text p {
  font-size: 1.67rem;
  font-family: var(--body-font);
  color: #fff;
  text-decoration: underline; }

.ITC-text-underneath span {
  color: #000;
  padding-top: 0.75em;
  text-align: center; }

.drop-shadow-contrast {
  text-shadow: 1px 1px 4px #000; }

.bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4 {
  background-color: var(--primary-color); }

.bg-bgcolor h1, .bg-bgcolor h2, .bg-bgcolor h3, .bg-bgcolor h4 {
  background-color: var(--body-background-color); }

.bg-interation h1, .bg-interation h2, .bg-interation h3, .bg-interation h4 {
  background-color: var(--interaction-color); }

.bg-menucolor h1, .bg-menucolor h2, .bg-menucolor h3, .bg-menucolor h4 {
  background-color: var(--menu-background); }

.fg-primary {
  color: var(--primary-color); }

.fg-bgcolor {
  color: var(--body-background-color); }

.fg-interation {
  color: var(--interaction-color); }

.fg-menucolor {
  color: var(--menu-background); }

.gradient-contrast::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, transparent 70%, rgba(0, 0, 0, 0.6)); }

.ITC-image-heading-text span.text-left h1, .ITC-image-heading-text span.text-left h2, .ITC-image-heading-text span.text-left h3, .ITC-image-heading-text span.text-left h4 {
  text-align: left;
  padding-left: 2vw;
  padding-right: 0.5vw; }

.ITC-image-heading-text .text-center h1, .ITC-image-heading-text .text-center h2, .ITC-image-heading-text .text-center h3, .ITC-image-heading-text .text-center h4 {
  text-align: center; }

.ITC-image-heading-text .text-right h1, .ITC-image-heading-text .text-right h2, .ITC-image-heading-text .text-right h3, .ITC-image-heading-text .text-right h4 {
  text-align: right;
  padding-right: 2em; }

/*# sourceMappingURL=moreImageAndText.css.map*/