.pd-product-slider .product-tile-pd,
.pd-product-slider .swiper-slide {
  width: 182px; }

.pd-product-slider .swiper-button-disabled {
  display: none; }

.pd-product-slider .swiper-button-prev,
.pd-product-slider .swiper-button-next {
  width: 38px;
  height: 38px;
  margin-top: 0;
  top: calc(50% - 19px);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 19px; }
  .pd-product-slider .swiper-button-prev::after,
  .pd-product-slider .swiper-button-next::after {
    display: none; }

.pd-product-slider .swiper-button-prev {
  background-image: url("../../images/icon-arrow-back.svg"); }

.pd-product-slider .swiper-button-next {
  background-image: url("../../images/icon-arrow-forward.svg"); }

/*# sourceMappingURL=searchStrip.css.map*/