@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.form-group.required .form-control-label::before {
  content: "*";
  color: #FF0000; }

.login-page {
  margin-top: 1em; }
  .login-page .login-form-nav {
    margin-bottom: 1.25em; }
    .login-page .login-form-nav .tab-pane {
      margin-top: 1em; }
  .login-page .login {
    margin-bottom: 0.938em; }
    .login-page .login .error-message-form {
      padding: 0.625em;
      background-color: #FF0000;
      color: #fff;
      border-radius: 0.188em; }

.registration-page .privacy-policy {
  margin-top: 1rem; }

.login-banner {
  background-image: url("../images/account.jpg");
  background-position-y: 40%; }

.equal-height .card {
  width: 100%; }

.track-order-header {
  font-size: 1.75rem; }

.request-password-title {
  font-size: 1.5rem; }

.login-page {
  padding-top: 4em !important; }
  .login-page .tabs-mobile {
    display: none; }
  .login-page .login-form-nav {
    margin-bottom: 0; }
    .login-page .login-form-nav input {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid #E1E1E1;
      border-radius: 25px; }
    .login-page .login-form-nav .login-button {
      margin: 0 auto;
      padding: 7px 76.5px;
      display: block;
      width: auto;
      border-radius: 25px;
      max-width: 270px; }
      .login-page .login-form-nav .login-button:hover {
        background: #212121;
        color: #ffffff;
        border: 1px solid #212121; }
      .login-page .login-form-nav .login-button:focus, .login-page .login-form-nav .login-button:active {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: #212121;
        color: #ffffff; }
    .login-page .login-form-nav.track-order {
      border: 1px;
      margin-bottom: 80px;
      max-width: 100%; }
  .login-page .headerblue {
    color: #0043BA;
    width: 100%;
    text-align: center; }
  .login-page .forms-content {
    max-width: 950px;
    margin: 0 auto !important; }
  .login-page .login {
    margin-bottom: 25px; }
  .login-page .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.1875rem; }
  .login-page .nav-item h2 {
    font-size: 18px;
    line-height: 32px;
    margin: 0; }
  .login-page .nav-item .subtitles-login-new {
    width: 158px;
    height: 1px;
    margin: 4px auto 30px;
    background-color: #000000; }
  .login-page .form-control.is-invalid ~ .invalid-feedback {
    left: 0;
    margin: 0; }
  .login-page .form-group {
    margin-bottom: 25px;
    position: relative; }
    .login-page .form-group.register {
      margin-bottom: 18px; }
    .login-page .form-group .loginbtn {
      color: #000000;
      border: 1px solid #000000;
      width: auto;
      padding: 7px 0;
      border-radius: 25px;
      max-width: 270px;
      margin: 0 auto; }
      .login-page .form-group .loginbtn:hover:before {
        border-radius: 25px; }
    .login-page .form-group .checkbox {
      color: #ffffff;
      top: 623px;
      left: 983px;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 11px; }
    .login-page .form-group .form-control-label {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 14px; }
      .login-page .form-group .form-control-label:before {
        display: none; }
      .login-page .form-group .form-control-label:after {
        content: "*";
        color: #000000; }
    .login-page .form-group.custom-checkbox .custom-control-label:before {
      background: #ffffff;
      border: 1px solid #BFBFBF; }
    .login-page .form-group .custom-control-input:checked ~ .custom-control-label::before {
      background: #0043BA;
      border: none; }
    .login-page .form-group .custom-control-input:checked ~ .custom-control-label::after {
      content: '\F00C';
      font-family: "FontAwesome";
      background: none;
      font-size: 8px;
      color: #ffffff;
      margin: 2px 4px; }
  .login-page .row-login-by {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px; }
    .login-page .row-login-by .hr-login-by {
      color: #000000;
      background-color: #E1E1E1;
      width: 35%;
      height: 1px; }
  .login-page .card-body {
    max-width: 380px; }
  .login-page .card-body {
    padding: 0;
    margin: 0 auto;
    width: 100%; }
  .login-page .login-message {
    text-align: left;
    margin-bottom: 54px; }
  .login-page .custom-control-label.email-list {
    font-size: 14px;
    line-height: 18px; }
    .login-page .custom-control-label.email-list:after {
      left: -24px;
      top: 1px; }
  .login-page .privacy-policy {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    line-height: 16px; }
    .login-page .privacy-policy a {
      text-decoration: underline; }
  .login-page .registration {
    padding-bottom: 66px;
    border-bottom: 1px solid #707070;
    margin-bottom: 53px; }

.row-register-check {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row-register-check .hr-login-by {
    color: black;
    background-color: #000000;
    width: 35%;
    height: 2px; }

.reset-password .title h1.headerblue {
  font-size: 42px;
  color: #0043BA;
  padding-left: 25px; }

.reset-password .message {
  color: #6B6B6B;
  font-size: 16px;
  margin-bottom: 27px; }

.reset-password .form-group input {
  border-radius: 25px;
  border: 1px solid #E1E1E1;
  max-width: 415px; }

.reset-password .card-body {
  margin-bottom: 217px; }

.reset-password .buttons-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .reset-password .buttons-password .col {
    padding: 0; }
    .reset-password .buttons-password .col .btn-secundary, .reset-password .buttons-password .col .btn-primary {
      width: 184px;
      margin-top: 35px; }

.reset-password .buttons-forgetpassword .btn-primary {
  margin-top: 30px;
  width: 415px; }

@media (max-width: 992px) {
  .login-page {
    padding-top: 1em !important; }
    .login-page .login-form h2, .login-page .login-form hr, .login-page .register-form h2, .login-page .register-form hr {
      display: none; }
  .reset-password .title h1.headerblue {
    font-size: 28px;
    text-align: center;
    padding: 0; }
  .reset-password .buttons-password .col .btn-secundary, .reset-password .buttons-password .col .btn-primary {
    width: 100%; }
  .reset-password .buttons-forgetpassword .btn-primary {
    width: 100%; } }

/*# sourceMappingURL=login.css.map*/