.swatch-circle-beige {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #f5f5dc;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-beige.disabled {
    opacity: 0.2; }

.swatch-filter-beige {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #f5f5dc;
  border-radius: 0.69em;
  background-color: #f5f5dc;
  display: block;
  position: relative; }
  .swatch-filter-beige.disabled {
    opacity: 0.2; }

.swatch-circle-black {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #000;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-black.disabled {
    opacity: 0.2; }

.swatch-filter-black {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #000;
  border-radius: 0.69em;
  background-color: #000;
  display: block;
  position: relative; }
  .swatch-filter-black.disabled {
    opacity: 0.2; }

.swatch-circle-blue {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #0070d2;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-blue.disabled {
    opacity: 0.2; }

.swatch-filter-blue {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #0070d2;
  border-radius: 0.69em;
  background-color: #0070d2;
  display: block;
  position: relative; }
  .swatch-filter-blue.disabled {
    opacity: 0.2; }

.swatch-circle-brown {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #a52a2a;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-brown.disabled {
    opacity: 0.2; }

.swatch-filter-brown {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #a52a2a;
  border-radius: 0.69em;
  background-color: #a52a2a;
  display: block;
  position: relative; }
  .swatch-filter-brown.disabled {
    opacity: 0.2; }

.swatch-circle-green {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #008827;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-green.disabled {
    opacity: 0.2; }

.swatch-filter-green {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #008827;
  border-radius: 0.69em;
  background-color: #008827;
  display: block;
  position: relative; }
  .swatch-filter-green.disabled {
    opacity: 0.2; }

.swatch-circle-grey {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #8f979d;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-grey.disabled {
    opacity: 0.2; }

.swatch-filter-grey {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #8f979d;
  border-radius: 0.69em;
  background-color: #8f979d;
  display: block;
  position: relative; }
  .swatch-filter-grey.disabled {
    opacity: 0.2; }

.swatch-circle-navy {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #000080;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-navy.disabled {
    opacity: 0.2; }

.swatch-filter-navy {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #000080;
  border-radius: 0.69em;
  background-color: #000080;
  display: block;
  position: relative; }
  .swatch-filter-navy.disabled {
    opacity: 0.2; }

.swatch-circle-orange {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #ffa500;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-orange.disabled {
    opacity: 0.2; }

.swatch-filter-orange {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #ffa500;
  border-radius: 0.69em;
  background-color: #ffa500;
  display: block;
  position: relative; }
  .swatch-filter-orange.disabled {
    opacity: 0.2; }

.swatch-circle-pink {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #fe249a;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-pink.disabled {
    opacity: 0.2; }

.swatch-filter-pink {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #fe249a;
  border-radius: 0.69em;
  background-color: #fe249a;
  display: block;
  position: relative; }
  .swatch-filter-pink.disabled {
    opacity: 0.2; }

.swatch-circle-purple {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #800080;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-purple.disabled {
    opacity: 0.2; }

.swatch-filter-purple {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #800080;
  border-radius: 0.69em;
  background-color: #800080;
  display: block;
  position: relative; }
  .swatch-filter-purple.disabled {
    opacity: 0.2; }

.swatch-circle-red {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #f00;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-red.disabled {
    opacity: 0.2; }

.swatch-filter-red {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #f00;
  border-radius: 0.69em;
  background-color: #f00;
  display: block;
  position: relative; }
  .swatch-filter-red.disabled {
    opacity: 0.2; }

.swatch-circle-white {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-white.disabled {
    opacity: 0.2; }

.swatch-filter-white {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #fff;
  border-radius: 0.69em;
  background-color: #fff;
  display: block;
  position: relative; }
  .swatch-filter-white.disabled {
    opacity: 0.2; }

.swatch-circle-yellow {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 2.5em;
  height: 2.5em;
  background: #ff0;
  border-radius: 1.25em;
  display: block;
  position: relative; }
  .swatch-circle-yellow.disabled {
    opacity: 0.2; }

.swatch-filter-yellow {
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  width: 1.38em;
  height: 1.38em;
  background: #ff0;
  border-radius: 0.69em;
  background-color: #ff0;
  display: block;
  position: relative; }
  .swatch-filter-yellow.disabled {
    opacity: 0.2; }

.swatch-circle-miscellaneous {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #821e91), color-stop(25%, #821e91), color-stop(25%, #edd134), color-stop(50%, yellow), color-stop(50%, #edd134), color-stop(50%, #59ba00), color-stop(76%, #59ba00), color-stop(76%, #111), to(#111)), -webkit-gradient(linear, left bottom, left top, color-stop(0, #0e5cd1), color-stop(50%, #0e5cd1), color-stop(50%, #e20b0b), to(#e20b0b));
  background: linear-gradient(0deg, #821e91 0, #821e91 25%, #edd134 25%, yellow 50%, #edd134 50%, #59ba00 50%, #59ba00 76%, #111 76%, #111 100%), linear-gradient(0deg, #0e5cd1 0, #0e5cd1 50%, #e20b0b 50%, #e20b0b 100%);
  background-repeat: repeat-y, repeat;
  background-size: 50% 100%, 100% 100%;
  border: 0.063em solid rgba(0, 0, 0, 0.3);
  border-radius: 1.25em;
  display: block;
  height: 2.5em;
  position: relative;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 2.5em; }
  .swatch-circle-miscellaneous.disabled {
    opacity: 0.2; }
  .swatch-circle-miscellaneous.selected::after {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg); }

.category-tile {
  position: relative; }
  .category-tile h1,
  .category-tile h2 {
    font-size: 1.75rem;
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
    color: #fff; }
  .category-tile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.5) 100%); }

.refinement-bar {
  overflow: auto; }
  .refinement-bar ul {
    padding-left: 0; }
  @media (max-width: 768.98px) {
    .refinement-bar {
      background-color: #fff;
      -webkit-box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.5);
              box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.5);
      display: none;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1; } }
  @media (max-width: 543.98px) {
    .refinement-bar {
      position: fixed;
      height: 100%; } }
  @media (min-width: 769px) {
    .refinement-bar {
      display: block !important; } }

.filter-header {
  margin-left: -15px;
  margin-right: -15px; }

.header-bar {
  background-color: #eee;
  border-bottom: 0.063em solid #eee; }
  .header-bar button.close {
    font-size: 1rem;
    font-weight: normal;
    opacity: 1; }
  .header-bar .fa.fa-close::before {
    font-size: 1.25em; }
  @media (min-width: 544px) and (max-width: 768.98px) {
    .header-bar {
      padding: 0.938em 2.813em; } }
  @media (max-width: 543.98px) {
    .header-bar {
      padding: 0.938em; } }

.refinements .header,
.refinements .values {
  padding: 0.313em 0; }
  @media (min-width: 544px) and (max-width: 768.98px) {
    .refinements .header li,
    .refinements .values li {
      display: inline-block; } }

.refinements .header {
  font-size: 1.125em;
  color: #444; }

.refinements ul {
  overflow: auto; }
  .refinements ul li {
    padding-left: 1px; }
    .refinements ul li button {
      border: none;
      color: var(--skin-link-color-1);
      background-color: transparent; }

.refinements li {
  list-style-type: none;
  padding-left: 0; }
  .refinements li.color-attribute {
    display: inline-block;
    padding-left: 0; }
    .refinements li.color-attribute button {
      padding: 0; }
  .refinements li.disabled {
    opacity: 0.5; }

@media (max-width: 543.98px) {
  .refinements {
    padding: 0; } }

.refinements .card-header h2 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 0; }

.secondary-bar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1em;
  overflow: auto; }
  @media (max-width: 768.98px) {
    .secondary-bar button.reset {
      float: right; } }
  @media (min-width: 544px) and (max-width: 768.98px) {
    .secondary-bar {
      padding: 0.938em 2.813em; } }
  @media (max-width: 543.98px) {
    .secondary-bar {
      padding: 0.938em; } }

.refinement-header {
  overflow: auto; }

.disabled {
  pointer-events: none; }

.grid-header,
.content-grid-header {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media (max-width: 543.98px) {
    .grid-header .result-count,
    .content-grid-header .result-count {
      padding-bottom: 0.938em; }
    .grid-header .filter-results,
    .content-grid-header .filter-results {
      display: block;
      width: 100%; } }
  .grid-header select,
  .content-grid-header select {
    width: 100%; }

.result-count {
  font-size: 0.875rem; }

.refinement {
  margin-bottom: 1em; }
  @media (max-width: 768.98px) {
    .refinement.card {
      border-top: 0 none;
      border-left: 0 none;
      border-right: 0 none;
      border-radius: 0;
      margin-bottom: 0; }
    .refinement .card-header {
      border-bottom: 0 none;
      padding: 0.25rem 1rem; }
    .refinement .card-body {
      padding: 0 1rem; } }
  .refinement a {
    text-decoration: none; }
  .refinement.refinement-category li {
    margin-left: 0.938em;
    display: block; }
  .refinement.refinement-category > ul > li {
    margin-left: 0; }

.search-banner {
  background-image: url("../images/search.jpg");
  background-position-y: 40%; }

.search-keywords {
  font-weight: bold; }

.filter-bar ul {
  padding-left: 15px; }

.filter-bar li {
  list-style: none;
  float: left;
  margin-left: 0.3125em;
  margin-right: 0.3125em; }
  .filter-bar li:first-child {
    margin-left: 0; }
  .filter-bar li.filter-value {
    border: 1px solid #ccc;
    padding: 0.3125em;
    border-radius: 3px;
    position: relative; }
    .filter-bar li.filter-value button {
      color: black;
      border: none;
      padding: 0 2rem 0 0.5rem; }
      .filter-bar li.filter-value button::after {
        content: "\F00D";
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        position: absolute;
        right: 10px;
        top: 11px; }
  .filter-bar li.swatch-filter {
    font-size: 1.38em;
    position: relative;
    margin-top: 4px; }
    .filter-bar li.swatch-filter button {
      width: 100%;
      height: 100%;
      display: block;
      border: none; }
      .filter-bar li.swatch-filter button::before {
        content: "";
        background-color: white;
        width: 0.8em;
        height: 0.8em;
        border-radius: 0.4em;
        position: absolute;
        left: 0.5em;
        top: 0.5em; }
      .filter-bar li.swatch-filter button::after {
        content: "\F057";
        font: normal normal normal 14px/1 FontAwesome;
        display: inline;
        text-rendering: auto;
        position: absolute;
        left: 0.18em;
        top: 0.12em;
        font-size: 1.5em; }

@media (max-width: 543.98px) {
  .tab-content {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 543.98px) {
  .product-grid {
    padding-top: 0.938em; }
    .product-grid .col-6 {
      padding-left: 5px;
      padding-right: 5px; } }

.search-tips {
  text-align: left;
  margin-top: 1.875rem; }

.category-item {
  margin-bottom: 0.938rem; }

.show-more,
.show-more-content {
  padding: 0.938em;
  clear: both; }
  .show-more .btn.more,
  .show-more-content .btn.more {
    font-size: 20px;
    line-height: 26px;
    padding: 7px 25px;
    max-width: 310px; }

.swatch-mark.color-value[data-selected=true]::after {
  color: #fff;
  content: '\F00C';
  display: table-caption;
  font-family: 'FontAwesome';
  font-size: 1.625em;
  left: 0.295em;
  position: absolute; }

.swatch-mark.color-value.selected::after {
  border-radius: 50%;
  color: #fff;
  content: '\F00C';
  display: table-caption;
  font-family: 'FontAwesome';
  font-size: 20px;
  height: 0.75em;
  left: 0.31em;
  line-height: 20px;
  position: absolute;
  top: 0.30em;
  width: 0.8em; }

.search-nav {
  margin-bottom: 1em;
  border-bottom: 0.063em solid #ccc; }
  .search-nav .nav-tabs-wrapper {
    padding: 0; }
    @media (max-width: 543.98px) {
      .search-nav .nav-tabs-wrapper {
        width: 100%; } }
    .search-nav .nav-tabs-wrapper .nav-tabs {
      border-bottom: 0 none; }
  .search-nav .nav-link:focus {
    background-color: #f9f9f9; }

.product-options .quantity {
  position: absolute;
  bottom: 0;
  right: 0; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.no-results__title {
  display: block;
  text-align: center;
  color: #0043BA;
  font-family: "Futura-demi";
  font-size: 42px;
  line-height: 54px;
  margin-bottom: 36px; }

.no-results__text {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-family: "Futura-book";
  margin: 0; }
  .no-results__text--search {
    display: block; }

.no-results__list {
  padding: 0;
  display: block;
  max-width: 840px;
  margin: 56px auto 175px; }
  .no-results__list li {
    display: inline-block;
    width: 187px;
    margin: 0 10px;
    font-size: 20px;
    line-height: 26px;
    padding: 7px;
    text-align: center;
    border-radius: 25px;
    background: #212121; }
    .no-results__list li a {
      color: #ffffff;
      text-decoration: none;
      display: block; }

@media (max-width: 992px) {
  .no-results__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 51px; }
  .no-results__text {
    font-size: 18px;
    margin: 0 59px; }
    .no-results__text--search {
      display: inline-block; }
  .no-results__list {
    margin: 59px auto 156px;
    max-width: 320px; }
    .no-results__list li {
      padding: 2px;
      width: 140px;
      margin: 9px 18px; }
      .no-results__list li:nth-of-type(odd) {
        margin-left: 0; }
      .no-results__list li:nth-of-type(even) {
        margin-right: 0; } }

.grid-header {
  margin-top: 0; }
  .grid-header .filter-results {
    background-color: transparent;
    border: none; }
    .grid-header .filter-results::after {
      background-image: url("../../images/filter_icon.png");
      content: "";
      background-size: 100%;
      width: 37px;
      height: 37px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center; }
  @media (max-width: 992px) {
    .grid-header.category-title {
      padding: 0 25px; }
    .grid-header .filter-results {
      width: 35px; }
      .grid-header .filter-results:after {
        width: 24px;
        height: 24px; } }

@media (max-width: 992px) {
  .product-results {
    padding: 0 9px; } }

.refinements {
  font-size: 16px; }
  .refinements .values {
    padding: 0; }
  .refinements .card {
    border: none; }
    .refinements .card .card-header {
      padding: 0; }
      .refinements .card .card-header .title span {
        font-family: "Futura-demi"; }
    .refinements .card .card-body {
      display: none;
      padding: 0; }
      .refinements .card .card-body .values {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .refinements .card .card-body .values li button {
          color: black; }
          .refinements .card .card-body .values li button span {
            font-family: "Futura-book"; }
            .refinements .card .card-body .values li button span label {
              color: #E1E1E1;
              margin: 0; }
            .refinements .card .card-body .values li button span.selected {
              color: #0043BA;
              font-family: "Futura-demi"; }
      .refinements .card .card-body#refinement-color .values {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .refinements .card .card-body#refinement-color .values .color-attribute {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 20%;
                  flex: 0 0 20%;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          text-align: center; }
          .refinements .card .card-body#refinement-color .values .color-attribute .swatch-mark.color-value.selected::after {
            position: absolute;
            left: 2px;
            top: 0;
            font-size: 16px; }
          .refinements .card .card-body#refinement-color .values .color-attribute:nth-of-type(5n-5) {
            padding-right: 0; }
      .refinements .card .card-body#refinement-size {
        max-height: none; }
        .refinements .card .card-body#refinement-size .values {
          display: grid;
          grid-template-columns: 36px 36px 36px 36px 36px;
          grid-gap: 10px 20px;
          margin-top: 10px; }
          @media (max-width: 992px) {
            .refinements .card .card-body#refinement-size .values {
              grid-template-columns: 36px 36px 36px 36px 36px 36px; } }
          .refinements .card .card-body#refinement-size .values li {
            border: 1px solid #E1E1E1;
            background: #F5F5F5;
            padding: 0;
            height: 36px;
            max-width: 36px;
            text-align: center;
            font-size: 14px;
            color: #6B6B6B;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            line-height: 16px; }
            .refinements .card .card-body#refinement-size .values li.selected {
              background: #0043BA; }
              .refinements .card .card-body#refinement-size .values li.selected span {
                color: white;
                font-family: "Futura PT"; }
      .refinements .card .card-body#refinement-price .selected {
        color: #0043BA; }
    .refinements .card .title::after {
      font-family: "FontAwesome";
      float: right;
      content: "\F078"; }
    .refinements .card.active .card-body {
      overflow: auto;
      max-height: 20em;
      display: block;
      border: none; }
      .refinements .card.active .card-body::-webkit-scrollbar {
        width: 5px; }
      .refinements .card.active .card-body::-webkit-scrollbar-track {
        background: rgba(225, 225, 225, 0.4);
        border-radius: 10px; }
      .refinements .card.active .card-body::-webkit-scrollbar-thumb {
        background: #E1E1E1;
        border-radius: 10px; }
    .refinements .card.active .title {
      border-top: 1px solid #DBDBDB; }
      .refinements .card.active .title::after {
        content: "\F077";
        margin-top: -0.125em; }
    @media (max-width: 768px) {
      .refinements .card.block-title .card-body {
        display: block; }
      .refinements .card.block-title .title {
        border: none;
        display: none; }
        .refinements .card.block-title .title::after {
          content: ''; } }
  .refinements .card-header {
    background: none;
    border: none; }
    .refinements .card-header h2 {
      font-family: "Futura-book"; }

.filter-header .hidden-sm-down {
  padding: 0 15px;
  margin-bottom: 15px;
  color: #212121;
  font-size: 16px;
  line-height: 21px;
  font-family: "Futura-demi"; }

.facet-color__button .swatch-circle {
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto; }
  .facet-color__button .swatch-circle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .facet-color__button .swatch-circle.swatch-circle-white {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.05px solid #00000029; }

.facet-color__title {
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px; }

.filter-bar {
  float: left; }
  .filter-bar .filters-applied {
    padding-left: 0;
    margin-bottom: 0; }
    .filter-bar .filters-applied li.filter-value {
      background: #F5F5F5;
      border: none;
      padding: 0;
      border-radius: 10px;
      margin-top: 10px;
      margin: 10px 0 0 9px; }
      .filter-bar .filters-applied li.filter-value span {
        color: #707070;
        font-family: "Futura-book";
        font-size: 16px;
        line-height: 21px; }
      .filter-bar .filters-applied li.filter-value button {
        line-height: 1;
        position: relative; }
        .filter-bar .filters-applied li.filter-value button:after {
          content: ''; }
        .filter-bar .filters-applied li.filter-value button img {
          position: absolute;
          top: 6px;
          right: 8px;
          width: 8px;
          height: 8px;
          background-color: #707070;
          -webkit-mask: url("../../images/close.png") no-repeat center/contain;
                  mask: url("../../images/close.png") no-repeat center/contain;
          display: inline-block; }
      .filter-bar .filters-applied li.filter-value.remove-all {
        padding-top: 5px;
        background: none;
        margin: 6px 19px 0 0; }
        .filter-bar .filters-applied li.filter-value.remove-all span {
          text-decoration: underline;
          font-family: "Futura-book";
          font-size: 14px;
          color: #212121; }
        .filter-bar .filters-applied li.filter-value.remove-all:nth-of-type(n+2) {
          display: none;
          pointer-events: none; }
        .filter-bar .filters-applied li.filter-value.remove-all button {
          padding: 0; }
          .filter-bar .filters-applied li.filter-value.remove-all button:after {
            content: none; }

.filters {
  margin: 40px 0 !important; }
  .filters a {
    padding-top: 5px;
    text-decoration: underline;
    font-family: "Futura-book";
    font-size: 14px; }
  .filters .filter-selected {
    -ms-flex-item-align: end;
        align-self: end; }
    @media (max-width: 992px) {
      .filters .filter-selected {
        margin-bottom: 24px;
        padding: 0; } }
  .filters .col-md-6.col-sm-12.d-flex.align-items-center.pr-0.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .filters select {
    border-radius: 20px;
    position: relative;
    width: 196px; }
    .filters select .select-items {
      position: absolute;
      background-color: DodgerBlue;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99; }
  .filters .grid-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .filters .grid-select .grid {
      display: grid;
      grid-gap: 5px;
      cursor: pointer; }
      .filters .grid-select .grid span {
        display: block;
        -webkit-box-shadow: inset 0px 0px 0px 1px #A5A5A5;
                box-shadow: inset 0px 0px 0px 1px #A5A5A5;
        padding: 5.5px;
        border-radius: 2px; }
      .filters .grid-select .grid.selected span {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: black; }
      .filters .grid-select .grid[data-grid="grid-1"] {
        display: none;
        pointer-events: none; }
        .filters .grid-select .grid[data-grid="grid-1"] span {
          padding: 14px;
          border-radius: 4px; }
      .filters .grid-select .grid[data-grid="grid-2"] {
        grid-template-columns: auto auto;
        padding: 0 16px; }
      .filters .grid-select .grid[data-grid="grid-4"] {
        grid-template-columns: auto auto auto auto;
        pointer-events: all; }
    @media (max-width: 992px) {
      .filters .grid-select .grid[data-grid="grid-1"] {
        display: block;
        pointer-events: all; }
      .filters .grid-select .grid[data-grid="grid-2"] {
        padding: 0 13px 0 0; }
      .filters .grid-select .grid[data-grid="grid-4"] {
        display: none;
        pointer-events: none; } }

.product-grid {
  padding-bottom: 150px;
  padding-top: 0;
  display: grid; }
  .product-grid[data-grid="grid-4"] {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px 29px; }
  .product-grid[data-grid="grid-2"] {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 29px 64px; }
  .product-grid[data-grid="grid-1"] {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 42px 0; }
  @media (max-width: 992px) {
    .product-grid.row {
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      grid-gap: 36px 15px; }
      .product-grid.row[data-grid="grid-2"] {
        grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
        grid-gap: 36px 15px; }
      .product-grid.row[data-grid="grid-1"] {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 42px 0; } }
  .product-grid .product-tile {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .product-grid .product-tile:hover {
      -webkit-box-shadow: 0px 3px 3px #00000029;
              box-shadow: 0px 3px 3px #00000029; }
    .product-grid .product-tile .image-container {
      background: #f3f3f3; }
      .product-grid .product-tile .image-container a {
        mix-blend-mode: multiply;
        color: #ffffff; }
      .product-grid .product-tile .image-container .tile-image {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
        .product-grid .product-tile .image-container .tile-image.quick-view-image {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0; }
        .product-grid .product-tile .image-container .tile-image .wishlistTile {
          top: 0;
          right: 0; }
          .product-grid .product-tile .image-container .tile-image .wishlistTile i.fa-heart-o {
            color: #6B6B6B; }
      .product-grid .product-tile .image-container .quickview {
        opacity: 0;
        width: 100%;
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        text-align: center;
        padding: 0.3em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        mix-blend-mode: normal; }
      .product-grid .product-tile .image-container:hover .tile-image.quick-view-image {
        opacity: 1;
        background-color: red; }
      .product-grid .product-tile .image-container:hover .quickview {
        opacity: 1; }
    .product-grid .product-tile .tile-body {
      padding: 10px;
      min-height: 110px; }
      .product-grid .product-tile .tile-body .pdp-link a {
        font-size: 16px;
        font-family: "Futura-book";
        display: -webkit-box;
        -webkit-line-clamp: 2; }
      .product-grid .product-tile .tile-body .price {
        font-size: 16px;
        font-family: "Futura-book";
        color: #212121; }
        .product-grid .product-tile .tile-body .price .strike-through {
          color: #212121;
          margin-right: 0.4em; }
        .product-grid .product-tile .tile-body .price .sales {
          color: #C4143D; }
        .product-grid .product-tile .tile-body .price span.range {
          font-size: 16px;
          color: #212121; }
    .product-grid .product-tile .color-swatches {
      min-height: auto;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .product-grid .product-tile .color-swatches .swatches span {
        padding: 2px 4px; }
      .product-grid .product-tile .color-swatches .swatches span:nth-child(1) {
        padding-left: 0; }
      .product-grid .product-tile .color-swatches .swatch-circle {
        width: 15px;
        height: 15px;
        border: none; }
        .product-grid .product-tile .color-swatches .swatch-circle.White, .product-grid .product-tile .color-swatches .swatch-circle.white {
          border: 0.05px solid #00000029 !important; }
  .product-grid .grid-footer {
    position: absolute;
    bottom: calc(360px + 1vw);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 302px; }
    .product-grid .grid-footer .show-more {
      padding: 0; }
      .product-grid .grid-footer .show-more .btn {
        padding: 6px 0; }
    @media (min-width: 400px) {
      .product-grid .grid-footer {
        bottom: calc(300px + 1vw); } }
    @media (min-width: 700px) {
      .product-grid .grid-footer {
        bottom: calc(280px + 1vw); } }
    @media (min-width: 1032px) {
      .product-grid .grid-footer {
        bottom: calc(240px + 1vw); } }

.section-description {
  margin-bottom: 60px;
  margin-top: 20px; }
  .section-description .title {
    font-family: "Futura-demi";
    font-weight: 700;
    color: #6B6B6B; }
  .section-description hr {
    margin: 20px 0; }
  .section-description .description {
    font-family: "Futura-book";
    color: #6B6B6B; }

@media (max-width: 992px) {
  .container {
    padding: 0 0px !important; }
  .filters {
    margin: 20px 0 17px 0 !important; }
    .filters .col-md-6.col-sm-12.d-flex.align-items-center.pr-0.options {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0; }
    .filters select {
      width: calc(100% - 78px); } }

@media screen and (max-width: 991px) {
  .refinement-bar {
    position: fixed;
    height: 100%;
    margin-top: 6.4em; } }

/*# sourceMappingURL=search.css.map*/