@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.error-message {
  display: none; }

.strike-through {
  text-decoration: line-through;
  margin-right: 0;
  text-align: center; }

.price-prorated {
  color: #FF0000;
  text-align: center; }

.returns-request {
  max-width: 1366px;
  margin: 0 auto;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .returns-request__content {
    max-width: 740px;
    margin-left: 12.6%;
    margin-top: 30px; }
  .returns-request__title {
    color: #0043BA;
    margin-bottom: 25px; }
    .returns-request__title h1 {
      font-size: 42px;
      line-height: 54px;
      margin: 0; }
  .returns-request__min-ammount, .returns-request__shipping-number {
    font-size: 16px;
    line-height: 21px;
    color: #6B6B6B; }
  .returns-request__shipping-number {
    float: right; }
  .returns-request__card {
    margin: 20px 0 0; }
  .returns-request .card-header {
    padding: 11px 16px; }
    .returns-request .card-header h2 {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff; }
  .returns-request .card-body {
    background: #F5F5F5;
    margin-bottom: 25px;
    padding: 0; }
  .returns-request__card .card {
    border: none; }
  .returns-request__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #212121; }
    .returns-request__options span,
    .returns-request__options a {
      display: block; }
      .returns-request__options span.value,
      .returns-request__options a.value {
        font-family: "Futura-demi"; }
    .returns-request__options a {
      font-size: 20px;
      line-height: 26px;
      background: #ffffff;
      border: 1px solid #212121;
      color: #212121;
      border-radius: 25px;
      padding: 7px 0;
      margin: 30px 0; }
      .returns-request__options a:hover {
        text-decoration: none; }
      .returns-request__options a.invalid {
        pointer-events: none;
        color: #BFBFBF;
        border-color: #BFBFBF; }
  .returns-request__return, .returns-request__track, .returns-request__ship {
    max-width: 30%;
    padding: 0; }
  .returns-request__ship {
    margin: 0 5%; }
  .returns-request__shipping-info .shipping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .returns-request__shipping-info .shipping .col-7,
    .returns-request__shipping-info .shipping .col-5 {
      padding: 0; }
  .returns-request__shipping-info .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .returns-request__shipping-info .card-body .col-8,
    .returns-request__shipping-info .card-body .col-4 {
      padding: 0; }
  .returns-request__products-info .card-body {
    padding: 0;
    background: none; }
    .returns-request__products-info .card-body table {
      width: 100%;
      text-align: center;
      margin: 0; }
      .returns-request__products-info .card-body table th,
      .returns-request__products-info .card-body table td {
        padding: 10px 18px; }
        .returns-request__products-info .card-body table th:nth-of-type(1),
        .returns-request__products-info .card-body table td:nth-of-type(1) {
          text-align: left; }
      .returns-request__products-info .card-body table th:nth-last-of-type(1) {
        text-align: left; }
        .returns-request__products-info .card-body table th:nth-last-of-type(1) .subtotal {
          float: right; }
      .returns-request__products-info .card-body table thead tr, .returns-request__products-info .card-body table thead td, .returns-request__products-info .card-body table thead th {
        border: none; }
      .returns-request__products-info .card-body table tbody tr {
        border-bottom: 1px solid #E1E1E1; }
      .returns-request__products-info .card-body table td {
        padding: 20px 17px;
        font-size: 14px;
        line-height: 18px;
        vertical-align: top;
        background: #ffffff; }
        .returns-request__products-info .card-body table td:nth-of-type(1) {
          padding-left: 0; }
        .returns-request__products-info .card-body table td .form-group {
          text-align: left;
          padding: 0;
          margin: 0; }
        .returns-request__products-info .card-body table td .quantity {
          display: inline-block;
          width: 53px;
          font-size: 14px;
          line-height: 28px;
          padding: 0 10px;
          border-radius: 14px;
          height: 27px;
          font-family: "Futura-demi"; }
        .returns-request__products-info .card-body table td .arrow-select {
          position: absolute;
          width: 10px;
          height: 10px;
          display: block;
          border-left: 2px solid #000000;
          border-bottom: 2px solid #000000;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease; }
        .returns-request__products-info .card-body table td .quantity-arrow {
          left: 35px;
          bottom: 10px; }
        .returns-request__products-info .card-body table td .subtotal {
          float: right; }
        .returns-request__products-info .card-body table td .reason {
          margin: 15px 0 0;
          border-radius: 20px;
          font-size: 16px;
          line-height: 21px;
          padding: 0 0 0 24px; }
          .returns-request__products-info .card-body table td .reason option {
            color: #000000; }
        .returns-request__products-info .card-body table td .reason-arrow {
          bottom: 16px;
          right: 20px; }
        .returns-request__products-info .card-body table td .is-disabled {
          pointer-events: none;
          color: #BFBFBF; }
        .returns-request__products-info .card-body table td .disabled-arrow {
          border-left: 2px solid #BFBFBF;
          border-bottom: 2px solid #BFBFBF; }
    .returns-request__products-info .card-body .product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 300px; }
      .returns-request__products-info .card-body .product .return-button {
        display: block;
        margin-top: 25px; }
      .returns-request__products-info .card-body .product--image, .returns-request__products-info .card-body .product--text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .returns-request__products-info .card-body .product--image {
        margin: 0 10px; }
        .returns-request__products-info .card-body .product--image img {
          width: 76px; }
      .returns-request__products-info .card-body .product--title, .returns-request__products-info .card-body .product--variants {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
      .returns-request__products-info .card-body .product--variants {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .returns-request__products-info .card-body .product--variants span {
          -ms-flex-item-align: end;
              align-self: end; }
          .returns-request__products-info .card-body .product--variants span label {
            color: #6B6B6B; }
  .returns-request__total-purchase {
    border: none; }
    .returns-request__total-purchase .card-body {
      padding: 20px 16px 0;
      margin-bottom: 43px; }
      .returns-request__total-purchase .card-body .col-6 {
        padding: 0; }
        .returns-request__total-purchase .card-body .col-6 p {
          margin: 0;
          font-size: 16px;
          line-height: 20px; }
      .returns-request__total-purchase .card-body .order-discount {
        color: #000000; }
        .returns-request__total-purchase .card-body .order-discount .end-lines {
          color: #AD1414; }
  .returns-request__grand-total {
    margin-top: 20px;
    background: #0043BA;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding: 10px 16px;
    margin-left: -16px !important;
    width: calc(100% + 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .returns-request__grand-total span {
      font-family: "Futura-demi"; }
  .returns-request__footer {
    text-align: right;
    margin-bottom: 124px; }
    .returns-request__footer--agree {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 49px; }
      .returns-request__footer--agree a {
        color: #000000; }
    .returns-request__footer--buttons {
      display: block; }
      .returns-request__footer--buttons button, .returns-request__footer--buttons .btn-cancel-return {
        font-size: 20px;
        line-height: 26px;
        padding: 7px 15px;
        border-radius: 25px;
        width: 100%;
        margin-bottom: 30px; }
      .returns-request__footer--buttons .btn-cancel-return {
        font-family: "Futura-book";
        text-transform: capitalize;
        background: #ffffff;
        border: 1px solid #212121;
        color: #212121; }
    .returns-request__footer--cancel, .returns-request__footer--return {
      width: 276px;
      display: inline-block;
      text-align: center; }
    .returns-request__footer--cancel {
      margin-right: 48px; }
    .returns-request__footer--links a {
      width: 276px;
      display: inline-block;
      text-align: center; }
      .returns-request__footer--links a:nth-of-type(1) {
        margin-right: 48px; }
    .returns-request__footer--policy, .returns-request__footer--help {
      font-size: 14px;
      line-height: 20px;
      width: auto;
      margin: 0 auto;
      text-decoration: underline;
      color: #000000; }
  @media (max-width: 992px) {
    .returns-request.container {
      padding: 0; }
    .returns-request__content {
      margin: 0; }
    .returns-request__title {
      text-align: center;
      padding: 0 50px;
      margin-bottom: 14px; }
      .returns-request__title h1 {
        font-size: 28px;
        line-height: 32px; }
    .returns-request__min-ammount, .returns-request__shipping-number {
      display: block;
      text-align: center;
      float: none; }
    .returns-request__min-ammount {
      margin-bottom: 14px; }
    .returns-request__card {
      margin-top: 24px; }
    .returns-request__products-info .card-body table {
      table-layout: fixed; }
      .returns-request__products-info .card-body table thead th {
        clear: both; }
        .returns-request__products-info .card-body table thead th.col-lg-2, .returns-request__products-info .card-body table thead th.col-lg-4 {
          display: none; }
      .returns-request__products-info .card-body table tbody tr {
        background: #ffffff;
        margin: 0 25px;
        display: block; }
      .returns-request__products-info .card-body table td {
        display: block;
        border: none; }
        .returns-request__products-info .card-body table td:nth-of-type(1) {
          padding: 12px 0 0; }
        .returns-request__products-info .card-body table td:nth-of-type(2) {
          margin-left: 109px;
          padding: 0;
          width: calc(100% - 109px);
          text-align: right; }
        .returns-request__products-info .card-body table td:nth-of-type(2) {
          margin: 15px 0 15px 109px; }
          .returns-request__products-info .card-body table td:nth-of-type(2)::before {
            content: 'Precio';
            float: left; }
        .returns-request__products-info .card-body table td:nth-of-type(3) {
          padding: 0 0 20px;
          text-align: right; }
          .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) {
            text-align: right;
            margin-left: 109px;
            width: calc(100% - 109px); }
            .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1):before {
              content: 'Cantidad';
              float: left; }
            .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) select, .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) span {
              display: block; }
            .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) select {
              display: inline-block; }
            .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) span {
              width: 100%;
              margin: 15px 0; }
              .returns-request__products-info .card-body table td:nth-of-type(3) .form-group:nth-of-type(1) span:before {
                content: 'Subtotal';
                float: left; }
        .returns-request__products-info .card-body table td .reason {
          margin: 0 15px;
          width: calc(100% - 30px); }
    .returns-request__products-info .card-body .product {
      max-width: none; }
      .returns-request__products-info .card-body .product--variants span label {
        margin-bottom: 0; }
    .returns-request__total-purchase {
      margin: 0 25px; }
      .returns-request__total-purchase .card-body {
        margin: 0; }
    .returns-request__footer {
      margin-bottom: 84px; }
      .returns-request__footer--agree {
        padding: 0;
        text-align: center;
        margin: 46px 0; }
      .returns-request__footer--cancel, .returns-request__footer--return {
        width: auto;
        display: block;
        margin: 0 25px; }
      .returns-request__footer--links {
        margin: 0 25px;
        display: block; }
        .returns-request__footer--links a {
          width: 49%;
          display: inline-block;
          text-align: center; }
          .returns-request__footer--links a:nth-of-type(1) {
            margin: 0; } }

.return-instructions {
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff; }
  .return-instructions__content {
    margin-left: 12.6%;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    margin-top: 30px; }
  .return-instructions__title {
    margin-bottom: 25px; }
    .return-instructions__title h2 {
      font-size: 42px;
      line-height: 54px;
      font-family: "Futura-demi";
      margin: 0;
      color: #0043BA; }
  .return-instructions__request-number {
    font-size: 16px;
    line-height: 21px;
    display: block;
    text-align: right;
    color: #212121;
    margin-bottom: 20px; }
  .return-instructions__total-purchase {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 16px 0 16px;
    color: #000000;
    border: none; }
    .return-instructions__total-purchase.card {
      background-color: #F5F5F5;
      margin-bottom: 56px; }
    .return-instructions__total-purchase .col-6 {
      padding: 0; }
    .return-instructions__total-purchase span {
      display: block; }
  .return-instructions__grand-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    padding: 11px 16px 10px;
    width: calc(100% + 32px);
    margin-left: -16px;
    background: #0043BA;
    font-size: 20px !important;
    line-height: 24px;
    color: #ffffff; }
  .return-instructions__steps.card {
    margin-bottom: 30px; }
  .return-instructions__steps .card-header {
    padding: 11px 16px; }
    .return-instructions__steps .card-header h2 {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff; }
  .return-instructions__steps .card-body {
    background: #F5F5F5;
    padding: 21px 16px 40px; }
  .return-instructions__steps--subtitle {
    font-size: 18px;
    line-height: 24px;
    margin: 51px 0 22px;
    display: block;
    color: #0043BA;
    font-family: "Futura-demi"; }
    .return-instructions__steps--subtitle:nth-of-type(1) {
      margin-top: 0; }
  .return-instructions__steps--text {
    font-size: 18px;
    line-height: 24px;
    color: #707070; }
  .return-instructions__steps--print {
    display: block;
    margin-top: 26px; }
    .return-instructions__steps--print a {
      font-size: 12px;
      text-decoration: underline;
      color: #000000; }
  .return-instructions__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 114px; }
    .return-instructions__footer--help {
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
      text-decoration: underline;
      color: #000000; }
  .return-instructions__button {
    max-width: 276px;
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    padding: 7px;
    font-family: "Futura-demi"; }
  @media (max-width: 992px) {
    .return-instructions__content {
      margin-left: 0; }
    .return-instructions__title {
      margin-bottom: 12px; }
      .return-instructions__title h2 {
        font-size: 28px;
        line-height: 32px;
        text-align: center; }
    .return-instructions__request-number {
      text-align: left; }
    .return-instructions__total-purchase.card {
      margin-bottom: 52px; }
    .return-instructions__total-purchase--subtotal .col-6:nth-of-type(2), .return-instructions__total-purchase--cost .col-6:nth-of-type(2) {
      font-size: 14px; }
    .return-instructions__steps.card {
      margin-bottom: 41px; }
    .return-instructions__steps .card-body {
      padding: 21px 16px 27px 21px; }
    .return-instructions__steps--subtitle {
      margin: 31px 0 21px; }
    .return-instructions__steps--print {
      margin: 42px 0;
      font-size: 16px;
      line-height: 24px; }
    .return-instructions__footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      margin-bottom: 46px; }
      .return-instructions__footer .col-6 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        padding: 0;
        max-width: none; }
        .return-instructions__footer .col-6:nth-of-type(1) {
          text-align: center; }
    .return-instructions__button {
      max-width: none;
      margin-bottom: 31px; } }

/*# sourceMappingURL=return.css.map*/