.image-component {
  margin: 0;
  width: 100%;
  position: relative; }

.common-image-component {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: var(--focal-point-x) var(--focal-point-y);
     object-position: var(--focal-point-x) var(--focal-point-y); }

.mainbanner-image {
  height: 43.75vw; }
  @media (max-width: 543.98px) {
    .mainbanner-image {
      height: 75vw; } }

.common-image-filter {
  -webkit-filter: brightness(40%);
          filter: brightness(40%); }

.image-heading-container {
  position: absolute;
  top: 50%;
  width: 100%; }
  @media (min-width: 544px) {
    .image-heading-container {
      padding-left: 7%; } }

.image-heading-text {
  font-family: "Helvetica Neue";
  color: #fff; }

.ITC-image-heading-text {
  color: #fff; }

.image-heading-container .mainbanner-sub-text p {
  font-size: 1.67rem;
  font-family: "Helvetica Neue";
  color: #fff;
  text-decoration: underline; }

.ITC-text-underneath span {
  color: #000;
  padding-top: 0.75em;
  text-align: center; }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.experience-component > div {
  margin-bottom: 20px; }
  .experience-component > div.buttons-black h1, .experience-component > div.buttons-black h2, .experience-component > div.buttons-black h3.h4, .experience-component > div.buttons-black p {
    color: #000000 !important; }
  .experience-component > div.buttons-black p a {
    background: #000000;
    color: #ffffff !important; }
    .experience-component > div.buttons-black p a:hover {
      color: #000000 !important;
      background-color: #ffffff !important; }
  .experience-component > div.baner-text-inf-center .text-center {
    text-align: center !important; }
  .experience-component > div.baner-text-inf-right .text-center {
    text-align: right !important; }
  .experience-component > div.baner-text-center-center .text-center {
    text-align: center !important;
    padding-bottom: 10%; }
  .experience-component > div.baner-text-inf-left .text-center {
    text-align: left !important; }

.experience-component .experience-component div.col-12 {
  padding: 0; }

.experience-component .experience-component * {
  margin-bottom: 0; }

@-webkit-keyframes slideleft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slideleft {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes slideright {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes slideright {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

.carousel-inner.row {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit; }

.experience-component .carousel-item {
  display: block; }
  .experience-component .carousel-item.active {
    display: block; }
  .experience-component .carousel-item.carousel-item-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-name: slideleft;
            animation-name: slideleft; }
  .experience-component .carousel-item.carousel-item-right {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-name: slideright;
            animation-name: slideright; }

.carousel .common-image-filter {
  max-height: 555px; }

.common-image-filter {
  max-height: 419px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.carousel .mainbanner-container .mainbanner-figure .image-heading-container {
  top: auto;
  bottom: 84px;
  padding: 0 70px; }

.carousel .mainbanner-container .mainbanner-figure .text-center {
  padding: 0 20px; }
  .carousel .mainbanner-container .mainbanner-figure .text-center h2 {
    font-size: 58px;
    line-height: 58px; }
  .carousel .mainbanner-container .mainbanner-figure .text-center p {
    font-size: 48px;
    margin: 0;
    font-family: "Futura-book";
    margin-bottom: 17px;
    line-height: 48px; }
  .carousel .mainbanner-container .mainbanner-figure .text-center .link-large {
    font-size: 20px;
    text-transform: uppercase; }
  .carousel .mainbanner-container .mainbanner-figure .text-center .button-banner {
    font-weight: normal;
    border-color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase; }
    .carousel .mainbanner-container .mainbanner-figure .text-center .button-banner:hover {
      color: #ffffff; }
      .carousel .mainbanner-container .mainbanner-figure .text-center .button-banner:hover:before {
        background-color: #212121;
        border-radius: 20px;
        border: none;
        color: #ffffff; }

.mainbanner-figure .image-heading-container {
  top: auto;
  bottom: 31px;
  padding: 0 34px; }

.mainbanner-figure .text-center {
  padding: 0 20px; }
  .mainbanner-figure .text-center h2, .mainbanner-figure .text-center p, .mainbanner-figure .text-center h2:hover, .mainbanner-figure .text-center p:hover, .mainbanner-figure .text-center a:hover {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px; }
  .mainbanner-figure .text-center h2 {
    font-size: 42px;
    font-weight: normal;
    line-height: 42px;
    margin-bottom: 10px; }
  .mainbanner-figure .text-center p {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px !important; }
  .mainbanner-figure .text-center .button-banner {
    border: none;
    border-radius: 20px;
    font-family: "Futura-medium";
    display: none;
    text-transform: uppercase; }
    .mainbanner-figure .text-center .button-banner:hover {
      color: #ffffff; }
      .mainbanner-figure .text-center .button-banner:hover:before {
        background-color: #212121;
        color: #ffffff;
        border-radius: 20px;
        border: none; }
  .mainbanner-figure .text-center p a, .mainbanner-figure .text-center h2 a {
    font-size: 20px;
    line-height: 26px;
    font-family: "Futura-medium";
    padding: 7px 50px;
    border-radius: 20px;
    background: #ffffff;
    color: #000000 !important;
    text-transform: uppercase; }
    .mainbanner-figure .text-center p a:nth-of-type(1), .mainbanner-figure .text-center h2 a:nth-of-type(1) {
      display: none; }
    .mainbanner-figure .text-center p a:hover, .mainbanner-figure .text-center h2 a:hover {
      color: #ffffff !important;
      background-color: #000000 !important; }

.small-height .text-center p {
  margin-bottom: 25px; }

@media (max-width: 992px) {
  #homepage .common-image-filter {
    max-height: 266px; }
  #homepage .carousel .mainbanner-container .mainbanner-figure .image-heading-container {
    bottom: 4.5vw;
    padding: 0 30px; }
    #homepage .carousel .mainbanner-container .mainbanner-figure .image-heading-container .mainbanner-sub-text .text-sm-left h2 {
      font-size: 30px;
      line-height: 30px; }
  #homepage .carousel .mainbanner-container .mainbanner-figure .text-center {
    padding: 0 20px;
    text-align: right; }
    #homepage .carousel .mainbanner-container .mainbanner-figure .text-center h2 {
      font-size: 30px;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
      line-height: 30px; }
    #homepage .carousel .mainbanner-container .mainbanner-figure .text-center p {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 0; }
  #homepage .mainbanner-figure .image-heading-container {
    bottom: 25px; }
    #homepage .mainbanner-figure .image-heading-container .text-center h2 {
      font-size: 36px;
      font-weight: normal;
      line-height: 36px; }
    #homepage .mainbanner-figure .image-heading-container .text-center p {
      font-size: 20px;
      line-height: 20px; }
    #homepage .mainbanner-figure .image-heading-container .text-center h2 a, #homepage .mainbanner-figure .image-heading-container .text-center p a {
      padding: 1px 25px;
      width: 140px;
      margin: 10px 0;
      text-align: center;
      margin-bottom: 10px;
      line-height: 29px; }
      #homepage .mainbanner-figure .image-heading-container .text-center h2 a:nth-of-type(1), #homepage .mainbanner-figure .image-heading-container .text-center p a:nth-of-type(1) {
        display: none; } }

/*# sourceMappingURL=mainBanner.css.map*/