@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.newsletter-component-container {
  padding: 0;
  opacity: 1; }
  .newsletter-component-container > .container {
    padding-top: 0.825em;
    padding-bottom: 0.825em;
    padding-bottom: 15px;
    position: relative; }
    .newsletter-component-container > .container .newsletter-inner h4 {
      font-size: 42px;
      line-height: 32px;
      margin: 0;
      text-align: left;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1; }
    .newsletter-component-container > .container .newsletter-inner p {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px; }
    .newsletter-component-container > .container .subscribe-container {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      width: 100%; }
    .newsletter-component-container > .container .form-group {
      display: inline-block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      position: relative;
      padding-bottom: 20px;
      margin: 0; }
      .newsletter-component-container > .container .form-group .invalid-feedback {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-left: 10px; }
    .newsletter-component-container > .container .form-control {
      -webkit-box-align: left;
          -ms-flex-align: left;
              align-items: left;
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left;
      font-size: 16px;
      letter-spacing: 0px;
      opacity: 1;
      border-radius: 19px 0 0 19px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 40px;
      padding: 0 30px;
      outline: none;
      flex-grow: 1; }
      @media only screen and (max-width: 992px) {
        .newsletter-component-container > .container .form-control {
          border-radius: 19px;
          width: 100%; } }
    .newsletter-component-container > .container .btn-primary {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #000;
      border: none;
      border-radius: 0 19px 19px 0;
      color: #fff;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 20px;
      outline: none; }
      @media only screen and (max-width: 992px) {
        .newsletter-component-container > .container .btn-primary {
          border-radius: 19px;
          margin-top: 20px;
          width: 100%; } }
    .newsletter-component-container > .container p {
      font-size: 20px;
      margin-bottom: 0;
      margin-top: 8px;
      padding-bottom: 0; }
    .newsletter-component-container > .container::after {
      border-bottom: 3px solid #000;
      bottom: 0;
      content: "";
      display: block;
      left: 15px;
      position: absolute;
      width: 10%; }

.form-control-label {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 14px; }
  .form-control-label:before {
    display: none; }
  .form-control-label:after {
    content: "*";
    color: #000000; }

.form-group input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #E1E1E1;
  border-radius: 25px; }

@media (max-width: 992px) {
  .experience-component > div.newsletter-component-container {
    margin-top: 0; }
    .experience-component > div.newsletter-component-container > .container .newsletter-inner h4 {
      font-size: 24px; }
    .experience-component > div.newsletter-component-container > .container .newsletter-inner p {
      line-height: 22px;
      position: relative;
      padding-bottom: 14px;
      margin-bottom: 37px; }
      .experience-component > div.newsletter-component-container > .container .newsletter-inner p::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 140px;
        height: 3px;
        background: #000000; }
    .experience-component > div.newsletter-component-container > .container .form-group {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .experience-component > div.newsletter-component-container > .container .form-control,
    .experience-component > div.newsletter-component-container > .container .input-group-append {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
    .experience-component > div.newsletter-component-container > .container .btn-primary {
      height: 40px; }
    .experience-component > div.newsletter-component-container > .container::after {
      display: none; } }

.modal-content select {
  border-radius: 25px; }

.modal-content .text-terms {
  text-align: center; }

.modal-content .modal-body .row .form-group .privacy-policy {
  text-align: center; }

.modal-content .modal-body .row .col-sm-12 .form-group-terms {
  text-align: center;
  padding: 20px 0; }
  .modal-content .modal-body .row .col-sm-12 .form-group-terms label {
    padding: 0; }

.form-control-label {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 14px; }
  .form-control-label:before {
    display: none; }
  .form-control-label:after {
    content: "*";
    color: #000000; }

.form-group input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #E1E1E1;
  border-radius: 25px; }

.newsletter-component-modal-container .modal-header {
  border: none;
  text-align: center; }
  .newsletter-component-modal-container .modal-header .logo-home {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto; }
  .newsletter-component-modal-container .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0; }

.newsletter-component-modal-container .modal-body h1 {
  font-size: 42px;
  color: #0043BA;
  text-align: center; }

.newsletter-component-modal-container .modal-body p {
  font-size: 20px;
  text-align: center; }

.newsletter-component-modal-container .modal-body h3 label {
  font-size: 18px;
  margin-top: -34px; }

.newsletter-component-modal-container .modal-body label {
  font-size: 14px;
  padding-top: 34px;
  line-height: 16px;
  font-family: "Futura-medium"; }

.newsletter-component-modal-container .modal-body .form-group-terms {
  padding: 0 1rem;
  font-size: 14px;
  margin-top: -34px; }

.newsletter-component-modal-container .modal-body select#newsletter-preferences {
  background: url("http://whatsnew.googleapps.com/_/rsrc/1299892144226/choose-release-track/arrow_down_blue24.png") no-repeat;
  background-position: 128px 0px;
  /* width minus 48 */ }

.newsletter-component-modal-container .privacy-policy {
  font-size: 14px;
  margin-top: -1rem; }
  .newsletter-component-modal-container .privacy-policy a {
    font-size: 14px;
    text-decoration: underline; }
  .newsletter-component-modal-container .privacy-policy label {
    padding-top: 0; }

.newsletter-component-modal-container .modal-footer {
  padding: 0 1rem 1rem 1rem;
  margin-top: -15px;
  border: none; }

.newsletter-component-modal-container button.btn.btn-block.btn-primary {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 1024px) {
  .newsletter-component-modal-container .modal-body h1 {
    font-size: 23px; }
  .newsletter-component-modal-container .modal-body p {
    font-size: 16px; }
  .newsletter-component-modal-container .modal-footer {
    padding: 1rem 1rem; } }

/*# sourceMappingURL=newsletter.css.map*/