@charset "UTF-8";
.product-tile-pd {
  font-family: "Helvetica Neue"; }
  .product-tile-pd .product-tile-image {
    font-size: 1em; }
    .product-tile-pd .product-tile-image .quick-shop {
      background-color: #fff;
      color: #000;
      font-weight: 600;
      -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.4);
              box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.4);
      position: relative;
      border-radius: 0; }
    .product-tile-pd .product-tile-image .product-tile-component-figure {
      width: 100%; }
    .product-tile-pd .product-tile-image .product-tile-component-image {
      width: 100%; }
  .product-tile-pd .product-tile-image .quick-shop {
    display: none; }
  @media (min-width: 769px) {
    .product-tile-pd .product-tile-body {
      font-size: 1em;
      padding: 0.625em 1em; } }
  @media (max-width: 768.98px) {
    .product-tile-pd .product-tile-body {
      font-size: 0.75em;
      padding: 0.3125em 0.5em; } }
  .product-tile-pd .product-tile-body .product-name-link {
    color: #222; }
  .product-tile-pd .product-tile-body .product-price {
    font-weight: 700;
    color: #222; }
    .product-tile-pd .product-tile-body .product-price .strike-through {
      text-decoration: line-through;
      color: #999; }
    .product-tile-pd .product-tile-body .product-price .sales.reduced-price {
      color: #c00; }
  .product-tile-pd .product-tile-body .product-ratings .rating-number {
    font-size: 0.75em;
    font-weight: 400;
    color: #444; }
  @media (min-width: 769px) {
    .product-tile-pd .product-tile-body .color-swatches {
      padding-top: 0.3125em; } }
  @media (max-width: 768.98px) {
    .product-tile-pd .product-tile-body .color-swatches {
      padding-top: 0.1875em; } }
  .product-tile-pd .product-tile-body .color-swatches .product-tile-color-label {
    cursor: pointer;
    font-size: 1em; }
    @media (max-width: 991.98px) {
      .product-tile-pd .product-tile-body .color-swatches .product-tile-color-label {
        font-size: 0.9375em; } }
    @media (max-width: 768.98px) {
      .product-tile-pd .product-tile-body .color-swatches .product-tile-color-label {
        font-size: 0.8125em; } }
  .product-tile-pd .product-tile-body .color-swatches .swatches-ul {
    list-style: none;
    padding: 0; }
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li {
      background-repeat: no-repeat;
      background-position: 25%;
      margin-right: 0.75em;
      display: inline-block; }
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li .swatch-button-li {
        border-radius: 50%;
        width: 1.25em;
        height: 1.25em;
        border: 0.1875em solid white;
        padding: 0;
        -webkit-box-shadow: 0 0 0 0.125em #ccc;
                box-shadow: 0 0 0 0.125em #ccc;
        -webkit-box-sizing: content-box;
                box-sizing: content-box; }
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li:nth-child(1) .swatch-button-li {
      -webkit-box-shadow: 0 0 0 0.125em #999;
              box-shadow: 0 0 0 0.125em #999; }
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li,
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li-sm {
      display: inline-block; }
    @media (max-width: 768.98px) {
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li:nth-child(4),
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li:nth-child(5) {
        display: none; }
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li {
        display: none; }
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li-sm {
        display: inline; } }
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches,
    .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-sm {
      font-size: 1em;
      font-weight: 300;
      color: #444;
      vertical-align: bottom; }
    @media (min-width: 769px) {
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li {
        display: inline; }
      .product-tile-pd .product-tile-body .color-swatches .swatches-ul .more-swatches-li-sm {
        display: none; } }

@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

#homepage .product-carousel .carousel-inner.row .product-tile-image-link {
  background: #f3f3f3; }

#homepage .product-carousel .carousel-inner.row .product-tile-component-image {
  mix-blend-mode: multiply; }

#homepage .product-carousel .pd-carousel-indicators {
  bottom: 0px; }

#homepage .product-carousel a.carousel-control-prev {
  margin-top: -40px;
  left: 0; }

#homepage .product-carousel a.carousel-control-next {
  margin-top: -40px;
  right: 0; }

#homepage .product-tile-image {
  height: 26.5vw;
  max-height: 340px; }
  #homepage .product-tile-image .product-tile-component-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  #homepage .product-tile-image .wishlistTile span.fa-stack {
    position: absolute;
    width: 261px;
    margin: 0 10px;
    left: 0;
    margin: 0 auto; }
    #homepage .product-tile-image .wishlistTile span.fa-stack i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding: 0 10px; }
    @media (min-width: 900px) {
      #homepage .product-tile-image .wishlistTile span.fa-stack {
        width: 200px; } }

#homepage .product-tile-pd {
  text-align: center; }
  #homepage .product-tile-pd .product-tile-body {
    max-width: 18.75vw;
    margin: 0 auto 20px;
    text-align: left;
    padding: 6px 7px 6px 11px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 110px; }
    #homepage .product-tile-pd .product-tile-body .product-price {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
      #homepage .product-tile-pd .product-tile-body .product-price .strike-through {
        font-size: 16px;
        line-height: 14px;
        color: #212121; }
      #homepage .product-tile-pd .product-tile-body .product-price .sales .value {
        font-size: 16px;
        line-height: 21px; }
      #homepage .product-tile-pd .product-tile-body .product-price .sales.reduced-price {
        color: #FF0000;
        font-size: 16px;
        line-height: 21px;
        margin-left: 10px; }
      #homepage .product-tile-pd .product-tile-body .product-price span.range {
        font-size: 16px;
        color: #212121; }
    #homepage .product-tile-pd .product-tile-body .color-swatches {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 0;
      bottom: 35px; }
      #homepage .product-tile-pd .product-tile-body .color-swatches .swatches-ul,
      #homepage .product-tile-pd .product-tile-body .color-swatches .swatch-li {
        line-height: .5;
        margin: 0;
        padding: 2px 4px;
        margin-left: -1.5px; }
        #homepage .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-button-li,
        #homepage .product-tile-pd .product-tile-body .color-swatches .swatch-li .swatch-button-li {
          width: 15px;
          height: 15px;
          border: none;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important; }
          #homepage .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-button-li.White, #homepage .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-button-li.white,
          #homepage .product-tile-pd .product-tile-body .color-swatches .swatch-li .swatch-button-li.White,
          #homepage .product-tile-pd .product-tile-body .color-swatches .swatch-li .swatch-button-li.white {
            border: 0.05px solid #00000029; }
        #homepage .product-tile-pd .product-tile-body .color-swatches .swatches-ul .swatch-li:nth-child(1),
        #homepage .product-tile-pd .product-tile-body .color-swatches .swatch-li .swatch-li:nth-child(1) {
          padding-left: 0; }
      #homepage .product-tile-pd .product-tile-body .color-swatches .more-swatches {
        font-size: 14px;
        vertical-align: sub; }

#homepage .row {
  margin: 0; }

#homepage .product-name-link {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 2px 0;
  line-height: 17px; }
  #homepage .product-name-link a {
    color: #000000 !important;
    font-size: 16px;
    line-height: 17px; }

#homepage .product-tile-figure {
  width: auto;
  max-width: 18.87vw;
  margin: 0 auto; }
  @media (min-width: 900px) {
    #homepage .product-tile-figure {
      width: 200px; } }
  #homepage .product-tile-figure .product-tile-image-link {
    display: block;
    width: 100%;
    max-width: 18.87vw;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    #homepage .product-tile-figure .product-tile-image-link:after {
      content: ""; }

#homepage .product-tile-figure:hover {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29); }
  #homepage .product-tile-figure:hover .product-tile-image-link:after {
    content: "Vista R\E1pida";
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    padding: 7px; }
  #homepage .product-tile-figure:hover .product-tile-body {
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29); }

@media (max-width: 992px) {
  #homepage .product-tile-figure {
    max-width: 261px; }
    #homepage .product-tile-figure .product-tile-image-link {
      max-width: 261px; }
  #homepage .product-tile-body {
    max-width: 261px; }
    #homepage .product-tile-body .color-swatches {
      bottom: 30px; }
      #homepage .product-tile-body .color-swatches .more-swatches-li-sm {
        vertical-align: text-bottom;
        font-size: 14px; }
        #homepage .product-tile-body .color-swatches .more-swatches-li-sm .more-swatches-sm {
          font-size: 14px;
          vertical-align: baseline; }
  #homepage .product-tile-pd .product-tile-body {
    max-width: 261px;
    padding: 5px 7px 5px 11px; }
  #homepage .product-tile-image {
    height: 87vw; } }

@media (min-width: 900px) {
  .product-carousel .carousel-inner.row {
    margin: 0 40px; }
  #homepage .experience-commerce_layouts-carousel .product-carousel .carousel-inner.row {
    margin: 0 40px; } }

@media screen and (max-width: 1024px) {
  #homepage .product-carousel .pd-carousel-indicators {
    bottom: 0px !important; }
  #homepage .product-carousel .carousel-inner.row {
    margin: 0 40px; }
  .product-tile-figure:hover .product-tile-image-link {
    display: none; }
    .product-tile-figure:hover .product-tile-image-link:after {
      content: none !important; } }

/*# sourceMappingURL=productTile.css.map*/