/* Helper classes */
.hide {
  display: none; }

.mp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .mp-flex.checkout-hidden {
    display: none; }

.mp-font-bold {
  font-weight: 700; }

.mercadopago-tab {
  height: 100%; }

/* Styling for selection of Mercado Pago Card type */
.mercadopago_payment_methods {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.mp__payment-method {
  margin-bottom: 1.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 14.375rem; }

.mp__payment-type-title {
  margin-bottom: 0; }

.mp__payment-type {
  margin: 0 0 0.625rem; }

.mp__card-details {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .mp__card-details .mp__card-input {
    margin-left: 0; }
  .mp__card-details .mp__card-label {
    float: none;
    text-align: left;
    margin: 0 0.9375rem 0 0.3125rem;
    width: auto;
    cursor: pointer; }

.mp__card-label-name {
  font-weight: 400; }

.mp__saved-cards {
  max-width: 20.625rem;
  width: 100%;
  margin: 0 auto 1.25rem; }
  .mp__saved-cards .mp__saved-cards-label {
    width: 100%;
    text-align: left; }

.saved-credit-card-image .card-image {
  width: auto;
  max-width: 100%; }

/*# sourceMappingURL=mercadoPago.css.map*/