.form-group.required .form-control-label::before {
  content: "*";
  color: #c00; }

.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y: 40%; }

.card-footer > a {
  color: var(--skin-primary-color-1);
  text-decoration: underline; }

.card-header > a {
  color: var(--skin-primary-color-1);
  float: right;
  text-decoration: underline; }

.card-info-group p {
  margin-bottom: 0; }

.card-info-group div {
  margin-bottom: 1rem; }

.card-info-group div:last-child {
  margin-bottom: 0; }

.order-history-control h2,
.order-history h2 {
  font-weight: bold;
  margin-top: 0.5rem; }

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem; }

.dashboard-order-card-footer-columns:last-child {
  text-align: right; }

.dashboard-order-card-footer-value {
  font-weight: bold;
  font-size: 1rem; }

.card-header h2,
.card-header h3 {
  font-size: 1.5rem;
  margin-bottom: 0; }

.card-footer-border {
  border-top: 1px dashed #999; }

.card-make-default-link {
  margin-top: 1rem; }

.dashboard-cards-block-title {
  font-weight: bold; }

.dashboard-order-card-status {
  text-transform: capitalize; }

.dashboard-order-card-image {
  width: 7rem; }

.account-landing-ordercard {
  padding: 0;
  height: 1rem;
  margin-left: 1.25rem;
  border-bottom: 0 none;
  margin-top: 1rem; }
  .account-landing-ordercard h4 {
    font-size: 1.2rem; }

div.order-number {
  padding-top: 0.2rem; }

.dashboard-cards-block-title {
  margin-bottom: 1em; }

.wl-social-sharing {
  color: #444;
  font-size: 1.75em; }
  @media (max-width: 768.98px) {
    .wl-social-sharing {
      font-size: 1.25em; } }
  .wl-social-sharing .share-icons {
    text-decoration: none; }
    .wl-social-sharing .share-icons i {
      color: #444; }
  .wl-social-sharing .fa-link {
    cursor: pointer; }

.wl-social-sharing-text {
  font-size: 0.85em;
  font-weight: 200; }

.copy-link-message {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 15%;
  left: 50%; }

.account-wishlist-item {
  border-bottom: 1px dashed #ccc;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  margin-right: 0.15rem;
  margin-left: 0.15rem; }
  .account-wishlist-item .line-item-header {
    margin-bottom: 0.1rem; }
  .account-wishlist-item .account-wl-attributes {
    padding-left: 0; }
  .account-wishlist-item .account-wl-image {
    padding-right: 1rem; }

.account-wishlist-item:last-child {
  border: 0 none; }

.account-wishlist-item .remove-from-wishlist {
  color: #999;
  font-size: 1.65em;
  padding: 0;
  position: absolute;
  border: none;
  background-color: #fff;
  top: -0.625rem;
  right: 1.25rem; }

/*# sourceMappingURL=dashboard.css.map*/