p {
    margin-bottom: 4px;
}
textarea {resize: vertical;}
label {margin: 0px;}
ul {margin: 0px;}
.hidden {display:none;}
.expand, .minimize{
    cursor: pointer;
    width: 12pt;
    height: 12pt;
    color: black;
}
/* Loading Bar */
.bar {
    width: 100%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image:
        repeating-linear-gradient(
            -45deg,
            #2980b9,
            #2980b9 11px,
            #eee 10px,
            #eee 20px /* determines size */
        );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

.items {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-collapse: collapse;

  background-color: white;
}
.subItems {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}

.items td, .items th {
  padding: 2px;
}

.items th {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  text-align: left;
  color: white;
}
.items-grey th { background-color: #ececec; color: black; }
.items-blue th { background-color: #078dba; color: white; }
.items-exported th { background-color: #53bf02; color: white; }
.subItems td, .subItems th {
    padding: 3px;
}
.subItems tr {
    background-color: #f8f8f8;
}
.subItems tr:hover {
    background-color: #eaeaea;
}
.items-tr:hover {
    background-color: #eaeaea;
}
.subItems th {
  padding-left: 12px;
  text-align: left;
  background-color: #eaeaea;
  color: black;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#page-buttons {
    margin-bottom: 4px;
}
.buttons-block {
    background-color: #f5f5f5;
    border: 0;
}
.page-navigation, .page-numbers{
    margin-bottom: 6px;
}
.page-navigation button, .page-numbers button{background-color: white;}
.button.page-number {
    color: rgb(23, 162, 184);
    background-color: white;
}
.button.page-number-selected {
    color: white;
    background-color: rgb(23, 162, 184);
}
.exportFileBlock {
    background-color: white;
}
/*
 *
 * Tab styles
 *
 */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/*
 *
 * Scroll bar styles
 *
 */
.scrollbar {
    overflow: overlay;
    height:200px;
}
/*
 *
 * Select box
 *
 */
select { min-width: 50px; }
.custom-select {

    padding: 5px 0px 5px 0px;
    background: #fff no-repeat right 16px center;
    background-size: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.custom-select:hover {
    border: 1px solid #999;
}
.custom-select:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}
.settings-checkbox {
    margin-left: 20pt;
}
.download-icon {
    height: 16pt;
}