@import "components/settings/include";
@import "components/include";

// PAGINATION
.fastOMS-module__pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 29px;

    a {
        text-decoration: none;
    }

    td {
        padding: 0;
    }

    .button {
        border: 1px solid #d9d9d9;
        padding: 3px 8px;
        background: none;
        border-radius: 0;
    }

    button:hover {
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .middle-pag {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }
}
