.js_paypal_error {
	display: none;
}

.paypal-cart-buttons-container {
	display: block;
}
.paypal-cart-buttons-container a {
	display: inline-block;
	vertical-align: middle;
}

.paypal-checkout-button {
	min-height: 2.313em;
	padding-top: 0.5em;
}

.paypal-mini-logo {
	display: inline-block;
	width: 3.75em;
	height: 2.313em;
	background: url(../images/paypal_mini_logo.png) no-repeat;
	background-size: 100% 100%;
	border: 0.063em solid rgba(241, 241, 241, 1) | rgb(241, 241, 241);
	vertical-align: middle;
}

.paypal-email {
	line-height: 2.313em;
}
.paypal-email .paypal-mini-logo {
	margin-right: 0.625em;
}

.paypal-cart-ba-button {
	padding-bottom: 0.625em;
    text-align: right;
    margin-bottom: 0;
}