.page {
  background-color: #f9f9f9; }

.checkout-card-header {
  font-size: 1.25em;
  font-weight: 600; }

.grand-total-price {
  float: right;
  font-weight: 600; }

.grand-total-label {
  font-weight: 600; }

.grand-total {
  font-size: 1.125rem !important;
  font-weight: 600; }

.order-receipt-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.product-divider {
  margin-left: -0.625em;
  margin-right: -0.625em; }
  .product-divider hr {
    border-top: dashed 0.063em; }

.product-line-item + .product-line-item::before,
.multi-shipping + .product-line-item::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em; }
  @media (min-width: 992px) {
    .product-line-item + .product-line-item::before,
    .multi-shipping + .product-line-item::before {
      margin: 0.625em -1.225em; } }

.shipment-block + .shipment-block::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed #ccc;
  margin: 0.625em -0.625em; }
  @media (min-width: 992px) {
    .shipment-block + .shipment-block::before {
      margin: 0.625em -1.225em; } }

.shipping-method {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hero-confirmation {
  background-image: url("../../images/thankyou.jpg");
  background-position-y: -8.125em; }

.product-summary-block {
  margin: 1em 0; }
  .product-summary-block h3 {
    font-size: 1.25rem; }

.leading-lines {
  overflow: hidden;
  margin: 0; }
  .leading-lines label {
    background-color: white; }
  .leading-lines .start-lines {
    padding: 1px; }
    .leading-lines .start-lines span {
      position: relative;
      background-color: white;
      z-index: 2; }
    .leading-lines .start-lines::before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      z-index: 1;
      color: #adadad; }
  .leading-lines .end-lines {
    padding: 1px; }
    .leading-lines .end-lines span {
      position: relative;
      background-color: white;
      z-index: 2; }

.summary-details {
  font-size: 0.938em;
  margin-bottom: 1em; }

.summary-details .address-summary {
  margin-bottom: 0.5em; }

.summary-section-label {
  font-size: 1em;
  font-weight: 600; }
  @media (min-width: 992px) {
    .summary-section-label {
      font-weight: 500; } }

.add-payment {
  margin-top: 1rem; }

.selected-payment {
  background-color: #e9ecef; }

.saved-security-code {
  margin-top: 1rem; }

.saved-credit-card-type {
  font-weight: 600; }

.saved-payment-information {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.payment-information {
  margin-bottom: 1rem; }

.checkout-hidden {
  display: none; }

.card-image {
  margin-top: 0.5rem;
  width: 100%; }

.cancel-new-payment {
  margin-top: 1rem; }

.form-check.start-lines {
  padding-left: 1.5rem; }

.multi-ship .single-shipping .shipping-content {
  display: none; }

.multi-ship .shipping-summary .single-shipping {
  display: none; }

.gift-message-block {
  padding-bottom: 1em;
  padding-top: 1em; }

.single-shipping .summary-section-label {
  margin-bottom: 0; }

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
  margin-bottom: 0; }

.multi-ship .confirm-details .single-shipping {
  display: none; }

.multi-shipping {
  display: none; }

.contact-info-block {
  border-bottom: 0.063em dashed #ccc; }

.view-address-block h3,
.shipping-method-block h3 {
  font-size: 1.25rem; }

.form-group.required .form-control-label::before {
  content: "*";
  color: #c00; }

.card-number-wrapper {
  position: relative; }
  .card-number-wrapper::after {
    content: '';
    position: absolute;
    right: 3px;
    background-repeat: no-repeat;
    background-image: url("../../images/credit.png");
    background-size: contain;
    width: 48px;
    height: 30px;
    top: 5px; }
  .card-number-wrapper[data-type="visa"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -162px -110px; }
  .card-number-wrapper[data-type="mastercard"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -295px -110px; }
  .card-number-wrapper[data-type="amex"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -230px -15px; }
  .card-number-wrapper[data-type="discover"]::after {
    background-image: url("../../images/payment-types.png");
    background-size: auto;
    background-position: -95px -110px; }

.card.ghost {
  opacity: 0.5; }

.arrival-time {
  white-space: pre; }

.billing-address {
  display: block; }

.checkout-checkbox {
  font-size: 0.875em; }

.edit-button,
.btn-show-details,
.btn-add-new {
  color: var(--skin-primary-color-1);
  float: right;
  cursor: pointer; }
  .edit-button:hover,
  .btn-show-details:hover,
  .btn-add-new:hover {
    text-decoration: underline; }

.edit-button {
  border: none;
  padding: 0;
  background: none; }

.error-message {
  display: none; }

.next-step-button {
  position: fixed;
  bottom: 0;
  z-index: 3;
  padding-right: 0;
  padding-left: 0; }
  @media (max-width: 543.98px) {
    .next-step-button {
      background-color: rgba(255, 255, 255, 0.95);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
      .next-step-button div {
        padding: 1rem; } }
  @media (min-width: 544px) {
    .next-step-button {
      position: static;
      padding-right: 0.938em;
      padding-left: 0.938em; } }

.shipping-methods {
  font-size: 1.125em;
  font-weight: 600; }

.shipping-method-option {
  font-size: 0.938em; }

.shipping-method-pricing {
  font-weight: bolder; }

.multi-ship .multi-shipping {
  display: block; }

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
  display: block; }

.data-checkout-stage[data-checkout-stage] .card.payment-summary,
.data-checkout-stage[data-checkout-stage] .shipping-summary {
  display: none; }

.data-checkout-stage[data-checkout-stage] button.place-order {
  display: none; }

.data-checkout-stage[data-checkout-stage] button.submit-payment {
  display: none; }

.data-checkout-stage[data-checkout-stage] button.submit-shipping {
  display: none; }

.data-checkout-stage[data-checkout-stage] div.terms-and-conditions {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping].multi-ship .order-product-summary {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping] .card.payment-form {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping] button.submit-shipping {
  display: block; }

.data-checkout-stage[data-checkout-stage=shipping] .shipment-selector-block .btn-show-details,
.data-checkout-stage[data-checkout-stage=shipping] .shipment-selector-block .btn-add-new {
  border: none; }

.data-checkout-stage[data-checkout-stage=shipping] [data-address-mode=customer] .shipping-address-block {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping] [data-address-mode=shipment] .shipping-address-form {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping] [data-address-mode=edit] .shipping-address-block {
  display: none; }

.data-checkout-stage[data-checkout-stage=shipping] [data-address-mode=new] .btn-show-details,
.data-checkout-stage[data-checkout-stage=shipping] [data-address-mode=new] .btn-add-new {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] .shipping-section,
.data-checkout-stage[data-checkout-stage=payment] .card.ghost {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] .card.payment-form,
.data-checkout-stage[data-checkout-stage=payment] .shipping-summary {
  display: block; }

.data-checkout-stage[data-checkout-stage=payment] button.submit-payment {
  display: block; }

.data-checkout-stage[data-checkout-stage=payment] .address-selector-block .btn-show-details,
.data-checkout-stage[data-checkout-stage=payment] .address-selector-block .btn-add-new {
  border: none; }

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=customer] .billing-address {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=shipment] .billing-address {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=edit] .billing-address {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=new] .btn-show-details,
.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=new] .btn-add-new {
  display: none; }

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=details] .btn-show-details,
.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=details] .btn-add-new {
  display: none; }

.data-checkout-stage[data-checkout-stage=placeOrder] .shipping-section,
.data-checkout-stage[data-checkout-stage=placeOrder] .card.payment-form,
.data-checkout-stage[data-checkout-stage=placeOrder] .card.ghost {
  display: none; }

.data-checkout-stage[data-checkout-stage=placeOrder] .card.payment-summary,
.data-checkout-stage[data-checkout-stage=placeOrder] .shipping-summary {
  display: block; }

.data-checkout-stage[data-checkout-stage=placeOrder] button.place-order {
  display: block; }

.data-checkout-stage[data-checkout-stage=placeOrder] div.terms-and-conditions {
  display: block; }

.data-checkout-stage[data-checkout-stage=submitted] .shipping-form,
.data-checkout-stage[data-checkout-stage=submitted] .card.payment-form,
.data-checkout-stage[data-checkout-stage=submitted] .card.ghost {
  display: none; }

.data-checkout-stage[data-checkout-stage=submitted] .summary-section-label.shipping-addr-label {
  display: none; }

.data-checkout-stage[data-checkout-stage=submitted] .card.payment-summary,
.data-checkout-stage[data-checkout-stage=submitted] .shipping-summary {
  display: block; }

.data-checkout-stage[data-checkout-stage=submitted] button.place-order {
  display: none; }

.data-checkout-stage[data-checkout-stage=submitted] div.terms-and-conditions {
  display: none; }

.data-checkout-stage option[value=new] {
  display: none; }

.data-checkout-stage h5 > span {
  font-size: 0.8em; }

[data-customer-type=guest] .single-shipping .shipment-selector-block {
  display: none; }

.single-shipping .multi-ship-action-buttons {
  display: none; }

.single-shipping .view-address-block {
  display: none; }

.btn-show-details {
  padding-top: 0; }

.multi-ship-address-actions .btn-save-multi-ship {
  margin-left: 10px; }

/*# sourceMappingURL=checkout.css.map*/