@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";

.account-image {
    background-image: url(../../images/account.jpg);
    background-position-y: 40%;
}

.card-header,
.card-footer {
    > a {
        text-decoration: underline;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 24px;
    }
}

.card-footer {
    &.card-footer-border {
        border-color: var(--border-primary);
    }
}

.order-history-control,
.order-history {
    h4 {
        font-weight: bold;
        margin-top: 0.5rem;
    }
}

.dashboard-order-card-image {
    width: 7rem;
    padding-right: 1rem;
}

.dashboard-order-card-footer-columns:last-child {
    text-align: right;
}

.dashboard-order-card-footer-value {
    font-weight: bold;
    font-size: 1rem;
}

.card {
    &.account-wishlist-item {
        border: 0;
        border-bottom: 1px solid var(--border-primary);
        padding: 10px 10px 15px;
        border-radius: 0;
        margin: 0;

        .card-header {
            margin: 0;
            border: 0;
            padding: 0;
        }
    }
}

.acc-wishlist-item {
    display: grid;
    grid-template:
        "title title remove-cta"
        "image attributes remove-cta"
        / 1fr 3fr 3rem;

    &__header {
        grid-area: title;
        padding: 10px;
        background-color: var(--background-secondary);
        color: var(--text-secondary);
    }

    &__name {
        margin: 0;
    }

    &__image {
        grid-area: image;
        align-self: center;
        margin-right: 10px;
        max-width: 90px;
    }

    &__attributes {
        grid-area: attributes;
        align-self: center;
        margin-right: 10px;
    }

    &__attribute {
        margin: 0;
    }

    &__remove-cta {
        grid-area: remove-cta;
        align-self: stretch;
    }

    &.acc-wishlist-item {
        margin-bottom: 0;
    }

    + .acc-wishlist-item {
        border-top: 1px solid var(--border-primary);
    }
}
