@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account";

.summary-section-label {
    margin-bottom: 0;

    &.multi-shipping {
        margin-bottom: 1rem;
    }
}

.shipping-phone {
    margin: 1rem 0;
}

.order-summary-email,
.payment-info-label {
    display: inline-block;
    margin-top: 1rem;
}
