@import "~base/cart";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "./skin/variables";

//-------- container cart-empty --------
.container .container {
    padding: 0;
    margin-bottom: 6rem;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .page-title {
        text-align: center;
    }
    p {
        font-family: $futura;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 1.5em 0;
        width: 60%;
    }
    .links-categories {
        // width: 80%;
        display: flex;
        justify-content: center;
        margin: 1em 0 12em 0;
        .btn-primary {
            padding: 0 1.5em;
            margin: 0 1.5em;
        }
    }
}
//-------- container header --------
.cart-head {
    .page-title {
        background: none;
        color: $blue00;
        padding: 0;
        margin: 1em 0 1.3em 0;
    }
    .page-title::before {
        background: none;
    }
    // encabezado - tabla
    .header-table {
        display: flex;
        justify-content: flex-end;
        .title {
            font-size: 17px;
        }
        .title-options {
            display: flex;
            padding: 0;
          div{
              padding: 0;
              text-align: right;
          }

        }
        @media(max-width: 1024px) {
            padding: 0;
        }
    }
}
//-------- container body --------
.cart {
    margin-bottom: 2rem;

    .product-info {
        padding-top: 20px;
        .card-info-rev {
            margin-top: 14px !important;
            .info-left {
                text-align: left;
                .item-image {
                    padding: 0.5em;
                    img.product-image {
                        padding: 0;
                        width: auto;
                    }
                }
            }
            .info-right {
                text-align: left;
            }
            .card-data {
                .item-image {
                    padding: 0.5em;
                    img.product-image {
                        padding: 0;
                        width: auto;
                    }
                }
            }
        }
        .card-info-footer {
            .atributes-container {
                .detail-card {
                    display: flex;
                    justify-content: space-between;
                    div {
                        display: flex;
                    }
                    .line-item-attributes {
                        font-size: 17px;
                    }
                    .line-item-atr-container {
                        color: #6B6B6B;
                        .atribute-name {
                            color: #000000;
                        }
                    }

                    .line-item-atr-container:nth-child(1) {
                        width: 70%;
                    }

                    .line-item-atr-container:nth-child(2) {
                        width: 30%;
                    }
                    .secundary {
                        color: $gray6B;
                    }
                }
            }
        }

        .m-card-info-rev {
            margin-top: 15px !important;
            .item-image {
                img.product-image {
                    padding: 0;
                    width: auto;
                }
                .line-item-availability .line-item-attributes {
                    background: $yellowCE;
                    border-radius: 3px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 10px;
                    margin: 17px auto 0;
                    min-height: 18px;
                    padding-top: 2px;
                    max-width: 90px;
                }
            }
            .info-container {
                .line-item-header {
                    .line-item-name {
                        width: auto;
                        margin: 0;
                        white-space: normal;
                    }
                }
                .line-item-atr-container {
                    &:nth-child(2) {
                        text-align: center;
                    }
                    p {
                        font-size: 14px;
                        color: #6B6B6B;
                    }
                    .atribute-name {
                        color: #000000;
                    }
                }
                .line-item-price {
                    .unit-price {
                        .price {
                            .default-price__container {
                                display: flex;
                                flex-direction: column;
                                .sales {
                                    color: #FF0000;
                                }
                            }
                        }
                    }
                }
                .total-container {
                    display: flex;
                    flex-direction: column-reverse;
                    .pricing {
                        text-align: right;
                    }
                }

                .line-item-quantity {
                    display: flex;
                    justify-content: end;
                    padding: 0;
                    .line-item-pricing-info {
                        display: none;
                    }
                    .custom-select {
                        background: transparent;
                        min-width: 0;
                        width: 70px;
                        border-radius: 25px;
                    }
                    .arrow-select {
                        position: absolute;
                        right: 18px;
                        top: 6px;
                        width: 10px;
                        height: 10px;
                        display: block;
                        border-left: 2px solid $black;
                        border-bottom: 2px solid $black;
                        transform: rotate(-45deg);
                        transition: all 0.25s ease;
                    }
                }

                .action-buttons {
                    .product-edit a {
                        font-size: 14px;
                        text-decoration: underline;
                        margin-right: 3em;
                        color: #6B6B6B;
                    }
                    .remove-btn-lg {
                        font-size: 14px;
                        position: initial;
                        text-decoration: underline;
                        height: 16px;
                        background: transparent;
                        margin-top: -6px;
                        color: #6B6B6B;
                        p {
                            margin-top: -0.5em;
                        }
                    }
                }
            }
        }
    }
    //-------- card product --------
    .card {
        border: none;
        border-top: 1px solid $grayDB;
    }

    .item-attributes {
        // background: green;
        width: 100%;

        // name product
        .line-item-header {
            font-size: 18px;
            .line-item-name {
                font-size: 16px;
                white-space: initial;
                margin-bottom: 0;
            }
        }
        // stock
        .line-item-availability .line-item-attributes {
            background: $yellowCE;
            width: 40%;
            border-radius: 3px;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
        }

        //color - size
        .detail-card {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
            }
            .line-item-attributes {
                font-size: 17px;
            }
            .secundary {
                // margin-left: 5px;
                color: $gray6B;
            }
        }

        .line-item-atr-container {
            color: #6B6B6B;
            .atribute-name {
                color: #000000;
            }
        }

        .line-item-atr-container:nth-child(1) {
            width: 70%;
        }

        .line-item-atr-container:nth-child(2) {
            width: 30%;
        }

        .stock-container {
            margin: 5px 0;
            .line-item-availability {
                .line-item-attributes {
                    width: 65px;
                    height: 18px;
                    line-height: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    // quantity price,
    .card-footer {
        flex-direction: column;
        height: 100%;
        border-top: none;
        padding: 0;
        align-items: flex-end;
        .price {
            text-align: right;
        }
        .strike-through.list{
            color: $black;
            margin: 0;
        }
        .sales .value{
             color: $redSale;
        }
        .product-card-footer {
            height: 50%;
            // background: orangered;
            .content {
                width: 100%;
                display: flex;
                text-align: center;
                justify-content: space-between;
                .line-item-price {
                    font-size: 15px;
                    text-align: center;
                    padding: 0;
                    .price span{
                        display: flex;
                        flex-direction: column;
                    }
                    .promotion {
                        // position: absolute;
                        margin-top: 3px;
                    }
                }
                .line-item-total-price {
                    padding: 0;
                }
                .line-item-total-price .strike-through{
                    display: none;
                }
                .line-item-quantity {
                    margin-top: 5px;
                    display: flex;
                    justify-content: end;
                    padding: 0;
                    .quantity-form{
                        padding-left: 10px;
                    }
                    .line-item-pricing-info {
                        display: none;
                    }
                    .custom-select {
                        background: transparent;
                        min-width: 0;
                        width: 70px;
                        border-radius: 25px;
                    }
                    .arrow-select {
                        position: absolute;
                        right: 18px;
                        top: 6px;
                        width: 10px;
                        height: 10px;
                        display: block;
                        border-left: 2px solid $black;
                        border-bottom: 2px solid $black;
                        transform: rotate(-45deg); /* Giramos el cuadrado */
                        transition: all 0.25s ease;
                    }
                }
                .pricing {
                    font-size: 15px;
                    text-align: right;
                }
            }
            
            .line-item-promo div{
                    background-color: #E1F2DC;
                    border: 1px solid #00A30D;
                    color: #225813;
                    font-size: 10px;
                    font-family: $futura-demi;
                    border-radius: 25px;
                    padding: 5px;
                    width: -webkit-fit-content;
                    margin: 5px auto;
            }

            .promotion .badge-success{
                background-color: #E1F2DC;
                border: 1px solid #00A30D;
                color: #225813;
                font-size: 10px;
                font-family: $futura-demi;
                border-radius: 25px;
                padding: 5px;
                margin-top: 5px;
                max-width: 90px;
                white-space: normal;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1em;
            width: 50%;
            .btn-edit .product-edit a {
                font-size: 14px;
                text-decoration: underline;
                margin-right: 3em;
            }

            .btn-delete .remove-btn-lg {
                font-size: 14px;
                position: initial;
                text-decoration: underline;
                height: 16px;
                background: transparent;
                margin-top: -6px;
                p {
                    margin-top: -0.5em;
                }
            }
        }
        .control-buttons {
            text-align: end;
            margin-top: 8px !important;
            div {
                padding: 0;
            }
            .product-edit a {
                font-size: 14px;
                text-decoration: underline;
            }
        }
        .remove-btn-lg {
            font-size: 14px;
            position: initial;
            text-decoration: underline;
            height: 16px;
            background: transparent;
            margin-top: -6px;
            p {
                margin-top: -0.5em;
            }
        }
    }
}

//-------- container resumen --------
.totals {
    .coupon-price-adjustment{
        padding: 0;
        border: none;

        .coupon-code{
            background-color: #E1F2DC;
            border: 1px solid #00A30D;
            color: #225813;
            font-size: 12px;
            font-family: $futura-demi;
            border-radius: 25px;
            padding: 5px 10px;
            width: fit-content;
            display: flex;
            align-items: center;

            .remove-coupon{
                background: #00A30D;
                color: $white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                font-size: x-large;
                line-height: 0;
                margin-left: 5px;
            }

            .coupon-not-applied{
                padding-left: 3px; 
            }
        }
    }
    .title-resume {
        margin-top: 20px;
        font-size: 20px;
    }
    .cart-line {
        font-size: 20px;
    }

    .coupon {
        display: flex;
        align-items: flex-end;
        .label-coupon {
            padding: 0;
        }
        .coupon-code-field {
            border-radius: 25px;
        }
    }
    .promo-code-submit {
        margin-top: 10px;
        .btn p {
            margin: 0;
        }
    }
    .container-subtotal {
        p.text-container-total {
            font-size: 16px;
            margin: -2px;
            padding: 0;
            color: $black;
        }
        .div-text {
            padding: 0;
            p{
                margin: 0;
            }
        } 
    }
    .container-total{
        // margin-top: 0.5em;
        margin-bottom: 0.5em;

        p.text-container-total {
            font-size: 16px;
            margin: -2px;
            padding: 0;
            color: $black;
        }
        .div-text {
            padding: 0;
        }
        .total {
            background: $blue00;
            color: $white;
            height: 45px;
            font-size: 18px;
            margin-top: 10px !important;
            margin-bottom: 10px !important;

            .total-text {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                .label {
                    padding-left: 1em;
                }
            }

            .result {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .grand-total {
                    margin: 0 1em 0 0;
                }
            }
        }
    }
    // Payment-methods
    .logos {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        .payment-methods p {
            padding-left: 1em;
        }
        .payment-methods__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-between;
        }
        li {
            &:nth-child(1) {
                margin-left: -1.5em;
            }
        }
    }
}

// -------- buttons shop --------
@media (max-width: 543.98px) {
    .checkout-continue {
        position: initial;
        box-shadow: none;
        margin-top: 15px;
        .paypal-cart-buttons-container {
            margin-top: 15px;
        }
    }
    .checkout-continue div {
        padding: 0.1em;
    }
}

// -------- Mobile --------
@media screen and (max-width: 1024px) {
    .cart-empty {
        h3 {
            font-size: 20px;
            padding: 1em 0;
        }
        p{
            padding: 0;
        }
        .links-categories {
            flex-wrap: inherit;
            margin-bottom: 3em;
            .content-asset{
                width: 100%;
                justify-content: center;
                display: flex;
                .links-categories{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    justify-items: center;
                    align-items: center;
                }
                a{
                    width: 120px;
                    margin: 21px 0 0 0;
                    padding: 0;
                }
            }
            .btn-primary {
                 width: 100%;
                //  margin: 21px 5em;
                margin: 0;
                padding: 0;
            }
        }
    }
    .product-container {
        padding: 0;
    }
    
    .cart {
        margin-bottom: 2rem;
        .product-info {
            padding: 0;
            .card-info {
                padding: 0;
                //product container (img and attributes)
                .card-data {
                    .item-image {
                        padding: 0;
                        height: 6em;
                        margin-top: 10px;
                    }
                }
                .item-attributes {
                    width: 100%;
                    padding: 0;
                    // name product
                    .line-item-header {
                        .line-item-name {
                            margin-top: 10px;
                            font-size: 16px;
                            white-space: initial;
                            width: 100%;
                        }
                    }
                    .detail-card {
                        justify-content: space-between;
                        .line-item-attributes{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .product-card-footer {
            .price {
                word-break: break-all;
                margin-left: 1em;
                span{
                    text-align: left;
                }

            }
            .content .pricing {
                font-size: 14px !important;
                padding-right: 0 !important;
                font-family: 'Futura-demi';
            }
            .content .promotion{
                text-align: start !important;
            }
            .line-item-promo{
                width: 60%;
                padding: 0;
                div{
                    margin-left: 0 !important;
                }
            }
        }
        .card-footer .buttons {
            margin-top: 0;
        }
        .totals {
            padding: 0;
            .container-total {
                .total {
                    font-size: 16px;
                }
                .text-container-total {
                    font-size: 15px;
                    padding: 0;
                }
            }
        }
    }
    .delete-product{
        &__logo{
            width: 54px;
            margin-top: 0;
        }
        &__footer{
            button{
                min-width: 142px;
            }
            > :not(:first-child){
                margin-left: 8px;
            }
            > :not(:last-child){
                margin-right: 8px;
            }
        }
    }
}
