@import "variables";
@import "skin/variables";
@import "~base/login";

// ----- Vista desk login
.login-page{
    padding-top: 4em !important;
    .tabs-mobile{
        display: none;
    }
    .login-form-nav{
        margin-bottom: 0;
        input {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            background-clip: padding-box;
            border: 1px solid $login-line2-background;
            border-radius: 25px;
        }
        .login-button{
            margin: 0 auto;
            padding: 7px 76.5px;
            display: block;
            width: auto;
            border-radius: 25px;
            max-width: 270px;
            &:hover{
                background: $login-button-background;
                color: $login-button-color;
                border: 1px solid $login-button-hover-border;
            }
            &:focus, &:active{
                box-shadow: none;
                background: $login-button-background;
                color: $login-button-color;
            }
        }
        &.track-order{
            border: 1px;
            margin-bottom: 80px;
            max-width: 100%;
        }
    }

    .headerblue{
        color: #0043BA;
        width: 100%;
        text-align: center;
        // margin-top: 115px;
    }
    .forms-content{
        max-width: 950px;
        margin: 0 auto !important;
    }
    .login{
        margin-bottom: 25px;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
    }

    .nav-item {
        h2{
            font-size: 18px;
            line-height: 32px;
            margin: 0;
        }
        .subtitles-login-new{
            width: 158px;
            height: 1px;
            margin: 4px auto 30px;
            background-color: $login-line-background;
        }
    }
    .form-control.is-invalid ~ .invalid-feedback{
        left: 0;
        margin: 0;
    }
   .form-group {
       margin-bottom: 25px;
       position: relative;
       &.register{
           margin-bottom: 18px;
       }
       .loginbtn{
            color:$login-form-color;
            border:1px solid $login-form-border;
            width: auto;
            padding: 7px 0;
            border-radius: 25px;
            max-width: 270px;
            margin: 0 auto;
            &:hover{
                &:before {
                    border-radius: 25px;
                }
            }
        }
        .checkbox {
            color:$login-checkbox-checked-color;
            top: 623px;
            left: 983px;
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-right: 11px;
        }
        .form-control-label{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 14px;
            &:before{
                display: none;
            }
            &:after{
                content: "*";
                color: $login-form-color;
            }
        }
        &.custom-checkbox{
            .custom-control-label{
                &:before{
                    background: $login-checkbox-background;
                    border: 1px solid $login-checkbox-border;
                }
            }
        }
        .custom-control-input:checked{
            ~ .custom-control-label{
                &::before{
                    background: $login-checkbox-checked-background;
                    border: none;
                }
                &::after{
                    content: '\f00c';
                    font-family: $awesome-font;
                    background: none;
                    font-size: 8px;
                    color: $login-checkbox-checked-color;
                    margin: 2px 4px;
                }
            }
        }
   }

    .row-login-by{
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        .hr-login-by{
            color: $login-color;
            background-color: $login-line2-background;
            width: 35%;
            height: 1px;
        }
    }
    .card-body{
        max-width: 380px;
    }
    .card-body{
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
    .login-message{
        text-align: left;
        margin-bottom: 54px;
    }
    .custom-control-label{
        &.email-list{
            font-size: 14px;
            line-height: 18px;
            &:after{
                left: -24px;
                top: 1px;
            }
        }
    }
    .privacy-policy{
        text-align: center;
        margin-top: 25px;
        font-size: 14px;
        line-height: 16px;
        a{
            text-decoration: underline;
        }
    }
    .registration{
        padding-bottom: 66px;
        border-bottom: 1px solid $login-registration-border;
        margin-bottom: 53px;
    }
}

.row-register-check{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .hr-login-by{
        color: black;
        background-color: $black;
        width: 35%;
        height: 2px;
    }
}
.reset-password{
    .title h1.headerblue{
        font-size: 42px;
        color: $account-title-color;
        padding-left: 25px;
    }
    .message{
        color: $gray6B;
        font-size: 16px;
        margin-bottom: 27px;
    }
    .form-group input{
        border-radius: 25px;
        border: 1px solid #E1E1E1;
        max-width: 415px;
    }
    .card-body{
        margin-bottom: 217px;
    }
    .buttons-password{
        display: flex;
        flex-direction: column;

        .col{
            padding: 0;
            .btn-secundary, .btn-primary{
                width: 184px;
                margin-top: 35px;
            }
        }
        
    }
    .buttons-forgetpassword .btn-primary{
    margin-top: 30px;
    width: 415px;
    }
}

@media (max-width: 992px){
    .login-page{
        padding-top: 1em !important;
        .login-form, .register-form{
            h2, hr{
                display: none;
            }
        }
    }

    .reset-password{
        .title h1.headerblue{
            font-size: 28px;
            text-align: center;
            padding: 0;
        }

        .buttons-password .col{
                .btn-secundary, .btn-primary{
                   width: 100%;
                }
            }
            .buttons-forgetpassword .btn-primary{
                width: 100%;
            }
    }
}