@import "~base/search";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "./skin/variables";

.no-results{
    &__title{
        display: block;
        text-align: center;
        color: $search-no-results-title-color;
        font-family: $futura-demi;
        font-size: 42px;
        line-height: 54px;
        margin-bottom: 36px;
    }
    &__text{
        text-align: center;
        font-size: 20px;
        line-height: 22px;
        font-family: $futura-book;
        margin: 0;
        &--search{
            display: block;
        }
    }
    &__list{
        padding: 0;
        display: block;
        max-width: 840px;
        margin: 56px auto 175px;
        li{
            display: inline-block;
            width: 187px;
            margin: 0 10px;
            font-size: 20px;
            line-height: 26px;
            padding: 7px;
            text-align: center;
            border-radius: 25px;
            background: $search-no-results-links-background;
            a{
                color: $search-no-results-links-color;
                text-decoration: none;
                display: block;
            }
        }
    }
    @media (max-width: 992px) {
        &__title{
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 51px;
        }
        &__text{
            font-size: 18px;
            margin: 0 59px;
            &--search{
                display: inline-block;
            }
        }
        &__list{
            margin: 59px auto 156px;
            max-width: 320px;
            li{
                padding: 2px;
                width: 140px;
                margin: 9px 18px;
                &:nth-of-type(odd){
                    margin-left: 0;
                }
                &:nth-of-type(even){
                    margin-right: 0;
                }
            }
        }
    }
}
.grid-header {
    margin-top: 0;
    // padding-left: 0;
    .filter-results {
        background-color: transparent;
        border: none;

        &::after {
            background-image: url('../../images/filter_icon.png');
            content: "";
            background-size: 100%;
            width: 37px;
            height: 37px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    @media (max-width: 992px){
        &.category-title{
            padding: 0 25px;
        }
        .filter-results{
            width: 35px;
            &:after{
                width: 24px;
                height: 24px;
            }
        }
    }
}

.product-results{
    @media (max-width: 992px){
        padding: 0 9px;
    }
}

.refinement-bar {
    // padding: 0;
    // margin-top: 6.5em;
}

.refinements {
    font-size: 16px;

    .values {
        padding: 0;
    }

    .card {
        border: none;

        .card-header {
            padding: 0;

            .title {
                span {
                    font-family: $futura-demi;
                }
            }
        }

        .card-body {
            display: none;
            padding: 0;

            .values {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                li {
                    button {
                        color: black;

                        span {
                            font-family: $futura-book;

                            label {
                                color: #E1E1E1;
                                margin: 0;
                            }

                            &.selected {
                                color: #0043BA;
                                font-family: $futura-demi;
                            }
                        }
                    }
                }
            }

            &#refinement-color {
                .values {
                    flex-direction: row;

                    .color-attribute {
                        display: flex;
                        flex: 0 0 20%;
                        justify-content: center;
                        text-align: center;

                        .swatch-mark.color-value.selected::after{
                            position: absolute;
                            left: 2px;
                            top: 0;
                            font-size: 16px;
                        }
                        &:nth-of-type(5n-5) {
                            padding-right: 0;
                        }
                    }
                }
            }

            &#refinement-size {
                max-height: none;
                .values {
                    display: grid;
                    grid-template-columns: 36px 36px 36px 36px 36px;
                    grid-gap: 10px 20px;
                    margin-top: 10px;

                    @media (max-width: 992px) {
                        grid-template-columns: 36px 36px 36px 36px 36px 36px;
                    }
                    li {
                        border: 1px solid #E1E1E1;
                        background: #F5F5F5;
                        padding: 0;
                        height: 36px;
                        max-width: 36px;
                        text-align: center;
                        font-size: 14px;
                        color: #6B6B6B;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 16px;

                        &.selected {
                            background: $blue00;

                            span {
                                color: white;
                                font-family: "Futura PT"
                            }
                        }
                    }
                }
            }

            &#refinement-price {
                .selected {
                    color: $blue00;
                }
            }

        }



        .title {
            &::after {
                font-family: $awesome-font;
                float: right;
                content: "\F078";
            }
        }

        &.active {
            .card-body {
                overflow: auto;
                max-height: 20em;
                display: block;
                border: none;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: rgba($grayE1, 0.4);
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $grayE1;
                    border-radius: 10px;
                }
            }

            .title {
                border-top: 1px solid $grayDB;

                &::after {
                    content: "\F077";
                    margin-top: -0.125em;
                }
            }
        }

        @media (max-width: 768px) {
            &.block-title {
                .card-body {
                    display: block;
                }

                .title {
                    border: none;
                    display: none;

                    &::after {
                        content: '';
                    }
                }
            }
        }
    }

    .card-header {
        background: none;
        border: none;

        h2 {
            font-family: $futura-book;
        }
    }
}

.filter-header {
    .hidden-sm-down {
        padding: 0 15px;
        margin-bottom: 15px;
        color: $refinment-title-color;
        font-size: 16px;
        line-height: 21px;
        font-family: $futura-demi;
    }
}

.facet-color {
    &__button {
        .swatch-circle {
            border: none;
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0 auto;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // background: url('../../images/medal.svg');
            }

            &.swatch-circle-white {
                box-shadow: none;
                border: 0.05px solid #00000029;
                &::after {
                    // box-shadow: 0px 3px 3px #00000029;
                }
            }
        }
    }

    &__title {
        color: $facet-color-color;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
    }
}

.filter-bar{
    float: left;
    .filters-applied{
        padding-left: 0;
        margin-bottom: 0;
        li{
            &.filter-value{
                background: $search-filters-background;
                border: none;
                padding: 0;
                border-radius: 10px;
                margin-top: 10px;
                margin: 10px 0 0 9px;
                span{
                    color: $search-filters-text-color;
                    font-family: $futura-book;
                    font-size: 16px;
                    line-height: 21px;
                }
                button{
                    line-height: 1;
                    position: relative;
                    &:after{
                        content: '';
                    }
                    img{
                        position: absolute;
                        top: 6px;
                        right: 8px;
                        width: 8px;
                        height: 8px;
                        background-color: $search-filters-text-color;
                        mask: url('../../images/close.png') no-repeat center / contain;
                        display: inline-block;
                    }
                }
                &.remove-all{
                    padding-top: 5px;
                    background: none;
                    margin: 6px 19px 0 0;
                    span{
                        text-decoration: underline;
                        font-family: $futura-book;
                        font-size: 14px;
                        color: $search-filters-clear-all-text-color;
                    }
                    &:nth-of-type(n+2){
                        display: none;
                        pointer-events: none;
                    }
                    button{
                        padding: 0;
                        &:after{
                            content: none;
                        }
                    }
                }
            }
        }
    }
}

.filters {
    margin: 40px 0 !important;
    a {
        padding-top: 5px;
        text-decoration: underline;
        font-family: $futura-book;
        font-size: 14px;
    }
    .filter-selected{
        align-self: end;
        @media (max-width: 992px) {
            margin-bottom: 24px;
            padding: 0;
        }
    }

    .col-md-6.col-sm-12.d-flex.align-items-center.pr-0.options{
        display: flex;
        justify-content: flex-end;
    }
    select {
        border-radius: 20px;
        position: relative;
        width: 196px;

        .select-items {
            position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }
    }

    .grid-select {
        display: flex;
        align-items: center;
        justify-content: center;


        .grid {
            display: grid;
            grid-gap: 5px;
            cursor: pointer;

            span {
                display: block;
                box-shadow: inset 0px 0px 0px 1px #A5A5A5;
                padding: 5.5px;
                border-radius: 2px;
            }

            &.selected {
                span {
                    box-shadow: none;
                    background: black;
                }
            }
            &[data-grid="grid-1"]{
                display: none;
                pointer-events: none;
                span{
                    padding: 14px;
                    border-radius: 4px;
                }
            }
            &[data-grid="grid-2"]{
                grid-template-columns: auto auto;
                padding: 0 16px;
            }
            &[data-grid="grid-4"]{
                grid-template-columns: auto auto auto auto;
                pointer-events: all;
            }
        }
        @media (max-width: 992px) {
            .grid[data-grid="grid-1"]{
                display: block;
                pointer-events: all;
            }
            .grid[data-grid="grid-2"]{
                padding: 0 13px 0 0;
            }
            .grid[data-grid="grid-4"]{
                display: none;
                pointer-events: none;
            }
        }
    }

}



// Product Grid

.product-grid {
    padding-bottom: 150px;
    padding-top: 0;
    display: grid;
    &[data-grid="grid-4"]{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 28px 29px;
    }
    &[data-grid="grid-2"]{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 29px 64px;
    }
    &[data-grid="grid-1"]{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 42px 0;
    }
    &.row{
        // margin-bottom: 68px !important;
    }
    @media(max-width: 992px){
        &.row{
            grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
            grid-gap: 36px 15px;
            &[data-grid="grid-2"]{
                grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
                grid-gap: 36px 15px;
            }
            &[data-grid="grid-1"]{
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 42px 0;
            }
        }
    }
    .product-tile {
        // box-shadow: 0px 3px 3px #00000029;
        border: none;
        display: flex;
        flex-direction: column;
        &:hover {
            box-shadow: 0px 3px 3px #00000029;
        }
        .image-container {
            background: #f3f3f3;
            a{
                mix-blend-mode: multiply;
                color: $white;
            }
            .tile-image {
                order: 1;
                &.quick-view-image {
                    transition: 0.3s;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .wishlistTile {
                    top: 0;
                    right: 0;

                    i {
                        &.fa-heart-o {
                            color: $gray6B;
                        }
                    }
                }
            }

            .quickview {
                opacity: 0;
                width: 100%;
                bottom: 0;
                right: 0;
                background: black;
                color: white;
                text-align: center;
                padding: 0.3em;
                transition: 0.3s;
                mix-blend-mode: normal;
            }

            &:hover {
                .tile-image {
                    &.quick-view-image {
                        opacity: 1;
                        background-color: red;
                    }
                }

                .quickview {
                    opacity: 1;
                }


            }
        }

        .tile-body {
            padding: 10px;
            min-height: 110px;

            .pdp-link {
                a {
                    font-size: 16px;
                    font-family: $futura-book;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                }
            }

            .price {
                font-size: 16px;
                font-family: $futura-book;
                color: $gray21;

                .strike-through {
                    color: $gray21;
                    margin-right: 0.4em;
                }

                .sales {
                    color: $redSale
                }

                span.range{
                    font-size: 16px;
                    color: $carousel-price-color;
                }
            }
        }

        .color-swatches {
            min-height: auto;
            order: 2;
            .swatches span{
                padding: 2px 4px;
            }
            .swatches span:nth-child(1) {
                padding-left: 0;
            }
            .swatch-circle {
                width: 15px;
                height: 15px;
                border: none;

                &.White, &.white{
                    border: 0.05px solid #00000029 !important;
                }
            }
        }

    }
    .grid-footer{
        position: absolute;
        bottom: calc(360px + 1vw);
        left: 50%;
        transform: translateX(-50%);
        min-width: 302px;
        .show-more{
            padding: 0;
            .btn{
                padding: 6px 0;
            }
        }
        @media(min-width: 400px) {
            bottom: calc(300px + 1vw);
        }
        @media(min-width: 700px) {
            bottom: calc(280px + 1vw);
        }
        @media(min-width: 1032px) {
            bottom: calc(240px + 1vw);
        }
    }
}

.section-description {
    margin-bottom: 60px;
    margin-top: 20px;
    .title {
        font-family: "Futura-demi";
        font-weight: 700;
        color: #6B6B6B;
    }
    hr {
        margin: 20px 0;
    }
    .description {
        font-family: "Futura-book";
        color: #6B6B6B;
    }
}

//  Finish grid styles

// Global styles for mobile

@media (max-width: 992px) {
    .container {
        padding: 0 0px !important;
    }

    .filters {
        margin: 20px 0 17px 0 !important;
        .col-md-6.col-sm-12.d-flex.align-items-center.pr-0.options{
            justify-content: space-between;
            padding: 0;
        }
        select {
            width: calc(100% - 78px);
        }
    }
}

@media screen and (max-width: 991px){ 
.refinement-bar {
    position: fixed;
    height: 100%;
    margin-top: 6.4em;
}
}