@import "~base/storeLocator";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "./skin/variables";


.store-locator-container {
    // margin-top: -50px;
    margin-bottom: 150px;

    .search-form {
        border: none;
        margin-bottom: 20px;
    }

    .card.results-card {
        border: none;
    }

    .card-body {
        padding: 0;

        .title {
            color: $blue00;
            font-size: 42px;
            font-family: $futura-medium;
        }

        .form-group {
            padding: 0;

            .input-form-group {
                border-radius: 25px;
                border: 1px solid $gray90;
                width: 100%;
                height: 42px;
                padding: 0 45px;
                font-family: $futura-medium;
                font-size: 16px;
            }
        }

        .icon-search {
            position: absolute;
            font-size: 20px;
            top: 10px;
            left: 15px;
        }

        .button-icon-gps {
            position: absolute;
            right: 10px;
            top: 8px;
            border: none;
            background: transparent;

            .icon-gps {
                width: 30px;
            }
        }

    }

    .list-results {
        height: 921.5px;

        .striped {
            height: 921.5px;
            margin: 0;

            .card-body {
                background: $white;

                .store-details {
                    margin: 0;

                    .store-name {
                        color: $blue00;
                        font-size: 22px;
                        font-family: $futura-medium;
                        font-weight: normal;
                    }

                    .store-map {
                        color: $black;
                        font-size: 16px;
                        font-family: $futura-book;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .store-locator-container {
        padding-top: 20px !important;
        .card-body .title {
            font-size: 18px;
        }

        .col-lg-4.col-md-12.card-container-list {
            order: 2;
            height: 921px;
            overflow: scroll;
            margin-top: 10px;
        }

        .col-lg-8.col-md-12.card-map.true {
            order: 1;
            height: 259px;
            padding: 0 !important;

        }

        .list-results {
            height: auto;
        }
    }

    .map-canvas {
        display: inherit;
        height: 259px;
        width: 100vw;
        margin: 0 -25px;
    }
}

@media (min-width: 769px) {
    .store-locator-container .results {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 921.5px;
    }
}
