@charset "UTF-8";
@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.page {
  background: #ffffff;
  position: relative;
  overflow: hidden; }

div#checkout-main {
  margin-top: -160px;
  margin-bottom: 160px; }

@media screen and (max-width: 1024px) {
  div#checkout-main {
    margin-top: -105px; } }

.error-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.error-message {
  max-width: 690px;
  margin: 24px auto;
  background: #FFE3E3;
  border: none;
  color: #AD1414;
  max-height: 70px; }
  .error-message i.fa.fa-frown-o {
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 15px;
    color: #AD1414; }
  .error-message .error-message-text {
    padding: 17px 20px;
    width: 85%;
    margin: 0 auto;
    font-size: 12px;
    color: #AD1414; }
  .error-message .alert-close {
    border: none;
    width: 29px;
    height: 29px;
    background: #AD1414;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: 15px;
    top: 20%; }
    .error-message .alert-close span {
      font-size: 30px;
      line-height: 28px;
      color: #FFE3E3; }

@media (max-width: 992px) {
  .error-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .error-message {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    .error-message .alert-close, .error-message i.fa.fa-frown-o {
      top: 20%; } }

.checkout-progress-indicator {
  display: block;
  position: relative;
  width: 100%;
  max-width: 629px;
  top: -65px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .checkout-progress-indicator .checkout-progress-indicator-in-in {
    text-align: center; }
  .checkout-progress-indicator .step-item {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.29);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.29);
    border-radius: 30px;
    padding: 7px 9px;
    background: #ffffff; }
    .checkout-progress-indicator .step-item:nth-of-type(1) {
      padding-right: 98px; }
    .checkout-progress-indicator .step-item:nth-of-type(2) {
      padding-right: 88px;
      z-index: 1; }
    .checkout-progress-indicator .step-item:nth-of-type(3) {
      padding-right: 63px;
      z-index: 2; }
    .checkout-progress-indicator .step-item:nth-of-type(n+2) {
      margin-left: -35px; }
    .checkout-progress-indicator .step-item .step-item-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #6B6B6B;
      font-family: "Futura-demi"; }
    .checkout-progress-indicator .step-item .visually-hidden {
      font-size: 21px;
      line-height: 27px;
      background: #0043BA;
      color: #ffffff;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 14px;
      font-family: "Futura-demi"; }
    .checkout-progress-indicator .step-item.active {
      background-color: #0043BA;
      -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.29);
              box-shadow: 0 1px 8px rgba(0, 0, 0, 0.29); }
      .checkout-progress-indicator .step-item.active .visually-hidden {
        background: #ffffff;
        color: #0043BA; }
      .checkout-progress-indicator .step-item.active .step-item-label {
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
        margin: 0;
        font-family: "Futura-demi"; }

.checkout-login-page .placeOrderConfirmation, .checkout-page .placeOrderConfirmation {
  margin-bottom: 15px; }
  @media (max-width: 992px) {
    .checkout-login-page .placeOrderConfirmation, .checkout-page .placeOrderConfirmation {
      margin: 0; } }

.checkout-login-page .card.ghost, .checkout-page .card.ghost {
  display: none; }

.checkout-login-page__forms, .checkout-page__forms {
  margin: -100px auto 100px;
  max-width: 632px; }

.checkout-login-page__title h2, .checkout-page__title h2 {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0; }

.checkout-login-page__content, .checkout-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 28px 0px 0px;
  background: #F5F5F5; }
  .checkout-login-page__content form, .checkout-page__content form {
    display: block;
    width: 100%; }
  .checkout-login-page__content .btn, .checkout-page__content .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 270px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 20px;
    padding: 6px 12px;
    background-color: #212121;
    color: #ffffff; }
    .checkout-login-page__content .btn:hover, .checkout-page__content .btn:hover {
      text-decoration: none; }
  .checkout-login-page__content .btn.btn-secundary, .checkout-page__content .btn.btn-secundary {
    color: #000000; }
  .checkout-login-page__content .check-save-card, .checkout-page__content .check-save-card {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .checkout-login-page__content .form-group, .checkout-page__content .form-group {
    font-size: 16px;
    line-height: 21px; }
    .checkout-login-page__content .form-group input, .checkout-login-page__content .form-group select, .checkout-page__content .form-group input, .checkout-page__content .form-group select {
      border-radius: 30px; }
      .checkout-login-page__content .form-group input.is-invalid, .checkout-login-page__content .form-group select.is-invalid, .checkout-page__content .form-group input.is-invalid, .checkout-page__content .form-group select.is-invalid {
        background: #FFF4F4;
        border-color: #AD1414; }
    .checkout-login-page__content .form-group input::-webkit-input-placeholder, .checkout-page__content .form-group input::-webkit-input-placeholder {
      color: #BFBFBF;
      opacity: 1; }
    .checkout-login-page__content .form-group input::-moz-placeholder, .checkout-page__content .form-group input::-moz-placeholder {
      color: #BFBFBF;
      opacity: 1; }
    .checkout-login-page__content .form-group input:-ms-input-placeholder, .checkout-page__content .form-group input:-ms-input-placeholder {
      color: #BFBFBF;
      opacity: 1; }
    .checkout-login-page__content .form-group input::-ms-input-placeholder, .checkout-page__content .form-group input::-ms-input-placeholder {
      color: #BFBFBF;
      opacity: 1; }
    .checkout-login-page__content .form-group input::placeholder, .checkout-page__content .form-group input::placeholder {
      color: #BFBFBF;
      opacity: 1; }
    .checkout-login-page__content .form-group select, .checkout-page__content .form-group select {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
      border-radius: 30px;
      -webkit-appearance: none;
      padding-right: 30px;
      background-color: #fff;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #BFBFBF; }
    .checkout-login-page__content .form-group.required label, .checkout-page__content .form-group.required label {
      margin-bottom: 14px;
      width: 100%; }
      .checkout-login-page__content .form-group.required label:before, .checkout-page__content .form-group.required label:before {
        content: ''; }
      .checkout-login-page__content .form-group.required label:after, .checkout-page__content .form-group.required label:after {
        content: '*'; }
    .checkout-login-page__content .form-group.custom-checkbox .custom-control-label.save-card, .checkout-login-page__content .form-group .custom-checkbox .custom-control-label.save-card, .checkout-page__content .form-group.custom-checkbox .custom-control-label.save-card, .checkout-page__content .form-group .custom-checkbox .custom-control-label.save-card {
      font-size: 12px; }
    .checkout-login-page__content .form-group.custom-checkbox .custom-control-label:before, .checkout-login-page__content .form-group .custom-checkbox .custom-control-label:before, .checkout-page__content .form-group.custom-checkbox .custom-control-label:before, .checkout-page__content .form-group .custom-checkbox .custom-control-label:before {
      background: #ffffff;
      border: 1px solid #BFBFBF; }
    .checkout-login-page__content .form-group .custom-control-input:checked ~ .custom-control-label::before, .checkout-page__content .form-group .custom-control-input:checked ~ .custom-control-label::before {
      background: #0043BA;
      border: none; }
    .checkout-login-page__content .form-group .custom-control-input:checked ~ .custom-control-label::after, .checkout-page__content .form-group .custom-control-input:checked ~ .custom-control-label::after {
      position: absolute;
      content: '\F00C';
      font-family: "FontAwesome";
      background: none;
      font-size: 8px;
      color: #ffffff;
      top: 2px;
      left: -20px; }
  .checkout-login-page__content .payment-information, .checkout-page__content .payment-information {
    margin: 0; }
    .checkout-login-page__content .payment-information .nav-tabs, .checkout-page__content .payment-information .nav-tabs {
      border: none; }
    .checkout-login-page__content .payment-information .nav-item, .checkout-page__content .payment-information .nav-item {
      position: relative;
      border-top: 1px solid #E1E1E1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
      .checkout-login-page__content .payment-information .nav-item .nav-link, .checkout-page__content .payment-information .nav-item .nav-link {
        font-size: 12px;
        line-height: 16px;
        color: #6B6B6B;
        padding: 9px 54px 8px;
        font-family: "Futura-demi";
        background: #F5F5F5;
        text-align: left; }
        .checkout-login-page__content .payment-information .nav-item .nav-link:before, .checkout-page__content .payment-information .nav-item .nav-link:before {
          content: '';
          position: absolute;
          width: 19px;
          height: 19px;
          background: #ffffff;
          border: 1px solid #BFBFBF;
          border-radius: 19px;
          top: 14px;
          left: 24px; }
        .checkout-login-page__content .payment-information .nav-item .nav-link img, .checkout-page__content .payment-information .nav-item .nav-link img {
          margin: 0 5px;
          height: 29px; }
        .checkout-login-page__content .payment-information .nav-item .nav-link.cash-tab img:nth-of-type(1), .checkout-page__content .payment-information .nav-item .nav-link.cash-tab img:nth-of-type(1) {
          height: 17px; }
      .checkout-login-page__content .payment-information .nav-item .active, .checkout-login-page__content .payment-information .nav-item .active:focus, .checkout-login-page__content .payment-information .nav-item .active:hover, .checkout-login-page__content .payment-information .nav-item .nav-link:hover, .checkout-page__content .payment-information .nav-item .active, .checkout-page__content .payment-information .nav-item .active:focus, .checkout-page__content .payment-information .nav-item .active:hover, .checkout-page__content .payment-information .nav-item .nav-link:hover {
        border-left: 8px solid #0043BA;
        padding-left: 46px;
        background: #E8E8EA;
        border-bottom: none; }
        .checkout-login-page__content .payment-information .nav-item .active:before, .checkout-login-page__content .payment-information .nav-item .active:focus:before, .checkout-login-page__content .payment-information .nav-item .active:hover:before, .checkout-login-page__content .payment-information .nav-item .nav-link:hover:before, .checkout-page__content .payment-information .nav-item .active:before, .checkout-page__content .payment-information .nav-item .active:focus:before, .checkout-page__content .payment-information .nav-item .active:hover:before, .checkout-page__content .payment-information .nav-item .nav-link:hover:before {
          border-color: #0043BA;
          padding-left: 16px; }
        .checkout-login-page__content .payment-information .nav-item .active:after, .checkout-login-page__content .payment-information .nav-item .active:focus:after, .checkout-login-page__content .payment-information .nav-item .active:hover:after, .checkout-login-page__content .payment-information .nav-item .nav-link:hover:after, .checkout-page__content .payment-information .nav-item .active:after, .checkout-page__content .payment-information .nav-item .active:focus:after, .checkout-page__content .payment-information .nav-item .active:hover:after, .checkout-page__content .payment-information .nav-item .nav-link:hover:after {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          background: #0043BA;
          top: 18px;
          left: 28px;
          border-radius: 10px; }
    .checkout-login-page__content .payment-information .credit-card-selection-new, .checkout-page__content .payment-information .credit-card-selection-new {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      padding: 0 20px; }
      .checkout-login-page__content .payment-information .credit-card-selection-new .col-sm-6, .checkout-page__content .payment-information .credit-card-selection-new .col-sm-6 {
        padding: 0; }
      .checkout-login-page__content .payment-information .credit-card-selection-new .tab-pane, .checkout-page__content .payment-information .credit-card-selection-new .tab-pane {
        display: none; }
        .checkout-login-page__content .payment-information .credit-card-selection-new .tab-pane.active, .checkout-page__content .payment-information .credit-card-selection-new .tab-pane.active {
          display: block;
          padding-bottom: 20px;
          margin-top: 20px; }
    .checkout-login-page__content .payment-information .cash-form__option, .checkout-page__content .payment-information .cash-form__option {
      padding: 10px 17px;
      padding-left: 57px;
      background: #ffffff;
      border-radius: 21px;
      position: relative;
      max-width: 448px;
      margin: 20px auto; }
      .checkout-login-page__content .payment-information .cash-form__option .check, .checkout-page__content .payment-information .cash-form__option .check {
        position: absolute;
        width: 19px;
        height: 19px;
        background: #ffffff;
        border: 1px solid #BFBFBF;
        border-radius: 19px;
        top: 14px;
        left: 17px; }
      .checkout-login-page__content .payment-information .cash-form__option input, .checkout-page__content .payment-information .cash-form__option input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
        top: 0; }
        .checkout-login-page__content .payment-information .cash-form__option input:checked + .check:before, .checkout-page__content .payment-information .cash-form__option input:checked + .check:before {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          background: #0043BA;
          top: 3px;
          left: 3px;
          border-radius: 10px; }
      .checkout-login-page__content .payment-information .cash-form__option:hover input + .check:before, .checkout-page__content .payment-information .cash-form__option:hover input + .check:before {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background: #0043BA;
        top: 3px;
        left: 3px;
        border-radius: 10px; }
    .checkout-login-page__content .payment-information .cash-form__text, .checkout-page__content .payment-information .cash-form__text {
      padding: 0 4px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px; }
      .checkout-login-page__content .payment-information .cash-form__text .form-group, .checkout-login-page__content .payment-information .cash-form__text label, .checkout-page__content .payment-information .cash-form__text .form-group, .checkout-page__content .payment-information .cash-form__text label {
        margin: 0; }

.checkout-login-page__method, .checkout-page__method {
  width: calc(100% + 40px);
  margin-left: -20px; }

.checkout-login-page__checkbox .form-check:before, .checkout-page__checkbox .form-check:before {
  content: ''; }

.checkout-login-page__checkbox--item, .checkout-page__checkbox--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 16px 20px;
  border-bottom: 1px solid #E1E1E1;
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura-medium"; }
  .checkout-login-page__checkbox--item .end-lines .shipping-cost, .checkout-page__checkbox--item .end-lines .shipping-cost {
    background-color: transparent; }

.checkout-login-page__checkbox .custom-control-check, .checkout-page__checkbox .custom-control-check {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.checkout-login-page__checkbox.custom-checkbox .custom-control-label, .checkout-login-page__checkbox .custom-checkbox .custom-control-label, .checkout-page__checkbox.custom-checkbox .custom-control-label, .checkout-page__checkbox .custom-checkbox .custom-control-label {
  background-color: transparent; }
  .checkout-login-page__checkbox.custom-checkbox .custom-control-label:before, .checkout-login-page__checkbox .custom-checkbox .custom-control-label:before, .checkout-page__checkbox.custom-checkbox .custom-control-label:before, .checkout-page__checkbox .custom-checkbox .custom-control-label:before {
    background: #ffffff;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    width: 19px;
    height: 19px; }
  .checkout-login-page__checkbox.custom-checkbox .custom-control-label .display-name, .checkout-login-page__checkbox .custom-checkbox .custom-control-label .display-name, .checkout-page__checkbox.custom-checkbox .custom-control-label .display-name, .checkout-page__checkbox .custom-checkbox .custom-control-label .display-name {
    vertical-align: middle;
    font-family: "Futura-demi";
    background-color: transparent; }

.checkout-login-page__checkbox .custom-control-check:checked ~ .custom-control-label::before, .checkout-page__checkbox .custom-control-check:checked ~ .custom-control-label::before {
  border: 1px solid #0043BA; }

.checkout-login-page__checkbox .custom-control-check:checked ~ .custom-control-label::after, .checkout-page__checkbox .custom-control-check:checked ~ .custom-control-label::after {
  position: absolute;
  content: '';
  background: #0043BA;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  top: 8px;
  left: -20px; }

.checkout-login-page__purchase .card, .checkout-page__purchase .card {
  border: none; }

.checkout-login-page__purchase .card-header, .checkout-page__purchase .card-header {
  background-color: transparent;
  padding: 10px 16px; }

.checkout-login-page__purchase--title h2, .checkout-page__purchase--title h2 {
  font-size: 20px;
  line-height: 26px;
  font-family: "Futura-demi"; }

.checkout-login-page__purchase--content, .checkout-page__purchase--content {
  padding: 20px 16px 0; }
  .checkout-login-page__purchase--content .start-lines span, .checkout-login-page__purchase--content .end-lines span, .checkout-page__purchase--content .start-lines span, .checkout-page__purchase--content .end-lines span {
    background-color: transparent; }
  .checkout-login-page__purchase--content .start-lines, .checkout-page__purchase--content .start-lines {
    font-size: 16px;
    line-height: 20px; }
    .checkout-login-page__purchase--content .start-lines:before, .checkout-page__purchase--content .start-lines:before {
      content: ''; }
  .checkout-login-page__purchase--content p, .checkout-page__purchase--content p {
    margin: 0; }
  .checkout-login-page__purchase--content .end-lines, .checkout-page__purchase--content .end-lines {
    font-size: 14px;
    line-height: 20px; }
  .checkout-login-page__purchase--content .order-discount, .checkout-page__purchase--content .order-discount {
    color: #000000; }
    .checkout-login-page__purchase--content .order-discount .end-lines, .checkout-page__purchase--content .order-discount .end-lines {
      color: #FF0000; }
  .checkout-login-page__purchase--content .grand-total, .checkout-page__purchase--content .grand-total {
    padding: 10px 16px;
    width: calc(100% + 32px);
    margin: 20px 0 0 -16px !important;
    background: #0043BA; }
    .checkout-login-page__purchase--content .grand-total span, .checkout-page__purchase--content .grand-total span {
      font-size: 20px;
      line-height: 26px;
      color: #ffffff; }

.checkout-login-page__purchase .products, .checkout-page__purchase .products {
  padding-bottom: 13px;
  border-bottom: 1px solid #E1E1E1; }
  .checkout-login-page__purchase .products__title, .checkout-page__purchase .products__title {
    font-size: 20px;
    line-height: 26px;
    font-family: "Futura-demi";
    color: #6B6B6B;
    padding: 0 16px; }
  .checkout-login-page__purchase .products__edit, .checkout-page__purchase .products__edit {
    color: #6B6B6B;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px; }
    .checkout-login-page__purchase .products__edit a, .checkout-page__purchase .products__edit a {
      margin-left: auto;
      text-decoration: underline; }

.checkout-login-page__purchase .product, .checkout-page__purchase .product {
  border-bottom: 1px solid #E1E1E1;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .checkout-login-page__purchase .product *, .checkout-page__purchase .product * {
    font-size: 14px; }
  .checkout-login-page__purchase .product:before, .checkout-page__purchase .product:before {
    content: '';
    display: none; }
  .checkout-login-page__purchase .product .item-image, .checkout-page__purchase .product .item-image {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    text-align: center; }
  .checkout-login-page__purchase .product__image, .checkout-page__purchase .product__image {
    width: 56px;
    height: 56px;
    -o-object-fit: cover;
       object-fit: cover; }
  .checkout-login-page__purchase .product__message, .checkout-page__purchase .product__message {
    display: block;
    font-size: 8px;
    line-height: 10px;
    margin-top: 13px;
    background: #FFCE00;
    padding: 4px; }
  .checkout-login-page__purchase .product__name, .checkout-page__purchase .product__name {
    line-height: 17px; }
  .checkout-login-page__purchase .product__attributes, .checkout-page__purchase .product__attributes {
    padding: 10px 0;
    line-height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .checkout-login-page__purchase .product__attributes--name, .checkout-page__purchase .product__attributes--name {
      text-transform: capitalize; }
    .checkout-login-page__purchase .product__attributes--value, .checkout-page__purchase .product__attributes--value {
      color: #6B6B6B; }
    .checkout-login-page__purchase .product__attributes .col-4, .checkout-page__purchase .product__attributes .col-4 {
      padding: 0; }
      .checkout-login-page__purchase .product__attributes .col-4:nth-of-type(2), .checkout-page__purchase .product__attributes .col-4:nth-of-type(2) {
        text-align: center; }
      .checkout-login-page__purchase .product__attributes .col-4:nth-of-type(3), .checkout-page__purchase .product__attributes .col-4:nth-of-type(3) {
        text-align: right; }
  .checkout-login-page__purchase .product__totals, .checkout-page__purchase .product__totals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end; }
    .checkout-login-page__purchase .product__totals .col-4, .checkout-page__purchase .product__totals .col-4 {
      padding: 0; }
      .checkout-login-page__purchase .product__totals .col-4:nth-of-type(2), .checkout-page__purchase .product__totals .col-4:nth-of-type(2) {
        margin-left: auto;
        text-align: right; }
    .checkout-login-page__purchase .product__totals span, .checkout-page__purchase .product__totals span {
      display: block; }
    .checkout-login-page__purchase .product__totals .old, .checkout-page__purchase .product__totals .old {
      text-decoration: line-through; }
      .checkout-login-page__purchase .product__totals .old + .discount, .checkout-page__purchase .product__totals .old + .discount {
        color: #FF0000; }
  .checkout-login-page__purchase .product .pricing, .checkout-login-page__purchase .product .price, .checkout-page__purchase .product .pricing, .checkout-page__purchase .product .price {
    font-weight: normal; }

.checkout-login-page__purchase .btn-delete, .checkout-page__purchase .btn-delete {
  display: none;
  pointer-events: none; }

.checkout-login-page__shipping-summary, .checkout-login-page__payment-summary, .checkout-page__shipping-summary, .checkout-page__payment-summary {
  border: none; }
  .checkout-login-page__shipping-summary--title.card-header, .checkout-login-page__payment-summary--title.card-header, .checkout-page__shipping-summary--title.card-header, .checkout-page__payment-summary--title.card-header {
    background-color: #E8E8EA;
    color: #6B6B6B;
    border: none;
    padding: 11px 16px; }
    .checkout-login-page__shipping-summary--title.card-header h2, .checkout-login-page__payment-summary--title.card-header h2, .checkout-page__shipping-summary--title.card-header h2, .checkout-page__payment-summary--title.card-header h2 {
      font-size: 18px;
      line-height: 24px; }
    .checkout-login-page__shipping-summary--title.card-header span, .checkout-login-page__payment-summary--title.card-header span, .checkout-page__shipping-summary--title.card-header span, .checkout-page__payment-summary--title.card-header span {
      color: #000000;
      text-decoration: underline;
      font-size: 14px;
      line-height: 24px; }
  .checkout-login-page__shipping-summary--content, .checkout-login-page__payment-summary--content, .checkout-page__shipping-summary--content, .checkout-page__payment-summary--content {
    padding: 23px 20px;
    background: #F5F5F5; }
    .checkout-login-page__shipping-summary--content .single-shipping, .checkout-login-page__payment-summary--content .single-shipping, .checkout-page__shipping-summary--content .single-shipping, .checkout-page__payment-summary--content .single-shipping {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .checkout-login-page__shipping-summary--content .left-content, .checkout-login-page__shipping-summary--content .right-content, .checkout-login-page__payment-summary--content .left-content, .checkout-login-page__payment-summary--content .right-content, .checkout-page__shipping-summary--content .left-content, .checkout-page__shipping-summary--content .right-content, .checkout-page__payment-summary--content .left-content, .checkout-page__payment-summary--content .right-content {
      padding: 0; }
      .checkout-login-page__shipping-summary--content .left-content span, .checkout-login-page__shipping-summary--content .right-content span, .checkout-login-page__payment-summary--content .left-content span, .checkout-login-page__payment-summary--content .right-content span, .checkout-page__shipping-summary--content .left-content span, .checkout-page__shipping-summary--content .right-content span, .checkout-page__payment-summary--content .left-content span, .checkout-page__payment-summary--content .right-content span {
        display: block; }
    .checkout-login-page__shipping-summary--content .left-content, .checkout-login-page__payment-summary--content .left-content, .checkout-page__shipping-summary--content .left-content, .checkout-page__payment-summary--content .left-content {
      padding-right: 4.55%; }
    .checkout-login-page__shipping-summary--content .right-content, .checkout-login-page__payment-summary--content .right-content, .checkout-page__shipping-summary--content .right-content, .checkout-page__payment-summary--content .right-content {
      padding-left: 4.55%; }
    .checkout-login-page__shipping-summary--content .summary-details, .checkout-login-page__payment-summary--content .summary-details, .checkout-page__shipping-summary--content .summary-details, .checkout-page__payment-summary--content .summary-details {
      margin: 10px 0 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .checkout-login-page__shipping-summary--content .summary-details p, .checkout-login-page__payment-summary--content .summary-details p, .checkout-page__shipping-summary--content .summary-details p, .checkout-page__payment-summary--content .summary-details p {
        margin: 0; }

.checkout-login-page .terms-and-conditions .form-check, .checkout-page .terms-and-conditions .form-check {
  margin: 10px; }

.checkout-login-page__shipping-summary--content .summary-details, .checkout-page__shipping-summary--content .summary-details {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 40px);
  margin-left: -20px;
  max-width: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% + 40px);
          flex: 0 0 calc(100% + 40px); }
  .checkout-login-page__shipping-summary--content .summary-details .card-header, .checkout-page__shipping-summary--content .summary-details .card-header {
    padding: 11px 16px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Futura-demi"; }
  .checkout-login-page__shipping-summary--content .summary-details .card-body, .checkout-page__shipping-summary--content .summary-details .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 16px 10px; }
    .checkout-login-page__shipping-summary--content .summary-details .card-body .col-6, .checkout-page__shipping-summary--content .summary-details .card-body .col-6 {
      padding: 0; }
    .checkout-login-page__shipping-summary--content .summary-details .card-body .shipping-method-title, .checkout-page__shipping-summary--content .summary-details .card-body .shipping-method-title {
      font-family: "Futura-demi"; }
    .checkout-login-page__shipping-summary--content .summary-details .card-body .pricing, .checkout-page__shipping-summary--content .summary-details .card-body .pricing {
      text-align: right; }
  .checkout-login-page__shipping-summary--content .summary-details:before, .checkout-page__shipping-summary--content .summary-details:before {
    content: '';
    width: 100%;
    height: 25px;
    background-color: #ffffff; }

.checkout-login-page__payment-summary .summary-details, .checkout-page__payment-summary .summary-details {
  margin-top: 0; }

.checkout-login-page__payment-summary span, .checkout-page__payment-summary span {
  display: block; }

.checkout-login-page .shipping-section, .checkout-login-page .payment-section, .checkout-page .shipping-section, .checkout-page .payment-section {
  border: none; }

.checkout-login-page .shipping-section .shipping-address, .checkout-page .shipping-section .shipping-address {
  padding: 0 20px; }
  .checkout-login-page .shipping-section .shipping-address .select-address, .checkout-page .shipping-section .shipping-address .select-address {
    padding: 0 15px; }

.checkout-login-page .payment-section .billing-address-block, .checkout-login-page .payment-section .contact-info-block, .checkout-page .payment-section .billing-address-block, .checkout-page .payment-section .contact-info-block {
  padding: 0 20px;
  border: none; }

.checkout-login-page .payment-section .address-selector-buttons, .checkout-page .payment-section .address-selector-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .checkout-login-page .payment-section .address-selector-buttons .btn, .checkout-page .payment-section .address-selector-buttons .btn {
    border-radius: 25px;
    background: #212121;
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    padding: 7px 10px;
    margin: 10px auto;
    width: 100%; }

.checkout-login-page .payment-section .info-icon, .checkout-page .payment-section .info-icon {
  line-height: 14px;
  position: absolute;
  top: 45px;
  right: 25px; }
  .checkout-login-page .payment-section .info-icon .icon, .checkout-page .payment-section .info-icon .icon {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #6B6B6B;
    color: #6B6B6B;
    border-radius: 15px;
    font-size: 13px;
    font-family: "Futura-demi"; }

.checkout-login-page .next-step-button .btn, .checkout-page .next-step-button .btn {
  max-width: 270px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 7px 10px; }

.checkout-login-page .credit-card-form label[for="securityCode"] + .info-icon:hover:before, .checkout-login-page .credit-card-form label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-login-page .credit-card-form label[for="saved-payment-security-code"] + .info-icon:hover:before, .checkout-login-page .mercadopago-content label[for="securityCode"] + .info-icon:hover:before, .checkout-login-page .mercadopago-content label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-login-page .mercadopago-content label[for="saved-payment-security-code"] + .info-icon:hover:before, .checkout-login-page .security-code-input label[for="securityCode"] + .info-icon:hover:before, .checkout-login-page .security-code-input label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-login-page .security-code-input label[for="saved-payment-security-code"] + .info-icon:hover:before, .checkout-page .credit-card-form label[for="securityCode"] + .info-icon:hover:before, .checkout-page .credit-card-form label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-page .credit-card-form label[for="saved-payment-security-code"] + .info-icon:hover:before, .checkout-page .mercadopago-content label[for="securityCode"] + .info-icon:hover:before, .checkout-page .mercadopago-content label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-page .mercadopago-content label[for="saved-payment-security-code"] + .info-icon:hover:before, .checkout-page .security-code-input label[for="securityCode"] + .info-icon:hover:before, .checkout-page .security-code-input label[for="mercadoPagoSecurityCode"] + .info-icon:hover:before, .checkout-page .security-code-input label[for="saved-payment-security-code"] + .info-icon:hover:before {
  content: 'El CVV son los tres d\EDgitos que encontrar\E1s en el reverso de tu tarjeta o cuatro d\EDgitos al frente en tarjetas AMEX';
  position: absolute;
  background: #6B6B6B;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  padding: 6px 15px;
  width: 193px;
  right: -10px;
  top: -60px;
  font-family: "Futura-book"; }

.checkout-login-page .credit-card-form label[for="securityCode"] + .info-icon:hover:after, .checkout-login-page .credit-card-form label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-login-page .credit-card-form label[for="saved-payment-security-code"] + .info-icon:hover:after, .checkout-login-page .mercadopago-content label[for="securityCode"] + .info-icon:hover:after, .checkout-login-page .mercadopago-content label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-login-page .mercadopago-content label[for="saved-payment-security-code"] + .info-icon:hover:after, .checkout-login-page .security-code-input label[for="securityCode"] + .info-icon:hover:after, .checkout-login-page .security-code-input label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-login-page .security-code-input label[for="saved-payment-security-code"] + .info-icon:hover:after, .checkout-page .credit-card-form label[for="securityCode"] + .info-icon:hover:after, .checkout-page .credit-card-form label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-page .credit-card-form label[for="saved-payment-security-code"] + .info-icon:hover:after, .checkout-page .mercadopago-content label[for="securityCode"] + .info-icon:hover:after, .checkout-page .mercadopago-content label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-page .mercadopago-content label[for="saved-payment-security-code"] + .info-icon:hover:after, .checkout-page .security-code-input label[for="securityCode"] + .info-icon:hover:after, .checkout-page .security-code-input label[for="mercadoPagoSecurityCode"] + .info-icon:hover:after, .checkout-page .security-code-input label[for="saved-payment-security-code"] + .info-icon:hover:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #6B6B6B;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -25px;
  right: -10px; }

.checkout-login-page__content {
  padding: 28px 20px; }
  .checkout-login-page__content .fa {
    line-height: 24px;
    margin-right: 5px; }

.confirmation-page.container {
  margin-top: 117px;
  margin-bottom: 280px; }

.confirmation-page__title {
  font-size: 42px;
  line-height: 54px;
  color: #0043BA;
  font-family: "Futura-demi";
  text-align: center;
  margin-bottom: 12px;
  padding-top: 20px; }

.confirmation-page__message, .confirmation-page__dates {
  font-size: 18px;
  line-height: 24px;
  color: #6B6B6B;
  text-align: center; }

.confirmation-page__message {
  padding-bottom: 20px;
  border-bottom: 1px solid #DBDBDB; }

.confirmation-page__dates {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .confirmation-page__dates .col-6 {
    padding: 0; }
    .confirmation-page__dates .col-6 span {
      display: block; }
  .confirmation-page__dates--value {
    font-family: "Futura-demi"; }
  .confirmation-page__dates--print {
    text-align: center;
    margin: 21px auto; }
    .confirmation-page__dates--print a {
      text-decoration: underline;
      color: #000000;
      font-size: 12px;
      line-height: 16px; }
    .confirmation-page__dates--print .fa-print {
      font-size: 18px;
      color: #000000;
      margin-right: 10px; }
      .confirmation-page__dates--print .fa-print::before {
        font-family: "FontAwesome";
        font-style: initial; }
  .confirmation-page__dates .cash .card {
    border: none;
    margin-bottom: 22px; }
  .confirmation-page__dates .cash .card-body {
    padding: 20px;
    background: #F5F5F5; }
  .confirmation-page__dates .cash__first-section {
    margin-bottom: 10px; }
    .confirmation-page__dates .cash__first-section .col-md-7 {
      text-align: left;
      padding: 0; }
    .confirmation-page__dates .cash__first-section .col-md-5 {
      text-align: right;
      padding: 0; }
  .confirmation-page__dates .cash__message {
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto 20px;
    color: #6B6B6B;
    font-family: "Futura-demi"; }
  .confirmation-page__dates .cash__amount-value {
    font-size: 14px;
    line-height: 24px; }
    .confirmation-page__dates .cash__amount-value span {
      display: inline-block;
      margin: 0; }
      .confirmation-page__dates .cash__amount-value span:nth-of-type(1) {
        margin-right: 24px;
        color: #6B6B6B; }
  .confirmation-page__dates .cash__order-number span {
    font-size: 16px;
    line-height: 20px;
    color: #6B6B6B; }
  .confirmation-page__dates .cash__order-number h2 {
    background: #ffffff;
    font-size: 24px;
    line-height: 31px;
    font-family: "Futura-demi";
    padding: 13px;
    border: 1px solid #E1E1E1;
    border-radius: 29px;
    color: #0043BA;
    max-width: 416px;
    margin: 10px auto 30px; }
  .confirmation-page__dates .cash__order-number.cie {
    margin-top: 20px; }
  .confirmation-page__dates .cash__instructions, .confirmation-page__dates .cash__other-messages, .confirmation-page__dates .cash__complete-messages {
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
    text-align: left;
    padding: 0 16px 0 17px; }
  .confirmation-page__dates .cash__instructions {
    font-family: "Futura-demi"; }
    .confirmation-page__dates .cash__instructions span {
      display: block; }
    .confirmation-page__dates .cash__instructions .numbers {
      margin-bottom: 0;
      font-size: 14px; }
  .confirmation-page__dates .cash__other-messages span {
    font-family: "Futura-demi";
    display: block;
    margin: 15px 0 0; }
  .confirmation-page__dates .cash__complete-message {
    background: #F5F5F5;
    padding: 9.5px 17px;
    color: #0043BA;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: left; }
    .confirmation-page__dates .cash__complete-message .fa {
      font-size: 24px;
      margin-right: 17px;
      line-height: 19px;
      vertical-align: text-top; }
      .confirmation-page__dates .cash__complete-message .fa:before {
        content: '\F003';
        display: block;
        height: 19px; }
  .confirmation-page__dates--print.cash + .confirmation-page__dates--print {
    display: none; }

.confirmation-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 42px; }

.confirmation-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 632px;
  padding: 0; }
  .confirmation-page__content--shipping .card-header, .confirmation-page__content--payment .card-header {
    background-color: #E8E8EA;
    padding: 0;
    border: none;
    text-align: left; }
    .confirmation-page__content--shipping .card-header h2, .confirmation-page__content--payment .card-header h2 {
      font-size: 18px;
      line-height: 24px;
      color: #6B6B6B;
      margin: 0;
      padding: 11px 16px; }
    .confirmation-page__content--shipping .card-header.col-12, .confirmation-page__content--payment .card-header.col-12 {
      padding: 11px 16px; }
  .confirmation-page__content--shipping .card-body, .confirmation-page__content--payment .card-body {
    background-color: #F5F5F5;
    color: #000000;
    padding: 23px 20px; }
  .confirmation-page__content--shipping .single-shipping, .confirmation-page__content--payment .single-shipping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .confirmation-page__content--shipping .single-shipping .col-6, .confirmation-page__content--payment .single-shipping .col-6 {
      padding: 0; }
    .confirmation-page__content--shipping .single-shipping span, .confirmation-page__content--payment .single-shipping span {
      display: block; }
  .confirmation-page__content--shipping .credit-card-type span, .confirmation-page__content--payment .credit-card-type span {
    display: block; }
  .confirmation-page__content--shipping .summary-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% + 40px);
            flex: 0 0 calc(100% + 40px);
    max-width: none;
    font-size: 18px;
    line-height: 24px;
    font-family: "Futura-demi";
    margin-top: 23px;
    margin-left: -20px; }
    .confirmation-page__content--shipping .summary-details .card-header {
      font-size: 18px;
      line-height: 24px;
      font-family: "Futura-demi"; }
      .confirmation-page__content--shipping .summary-details .card-header .edit-button {
        display: none; }
    .confirmation-page__content--shipping .summary-details .card-body {
      padding: 23px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .confirmation-page__content--shipping .summary-details .card-body .col-6 .pricing {
        text-align: right;
        font-size: 16px;
        line-height: 24px;
        padding-right: 5px; }
  .confirmation-page__content--shipping .shipping-method span {
    font-family: "Futura-demi";
    font-size: 16px;
    line-height: 24px; }

.confirmation-page__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 416px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: auto; }
  .confirmation-page__order--title {
    display: block;
    color: #000000;
    font-family: "Futura-demi";
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    padding: 0 16px;
    border-bottom: 1px solid #DBDBDB;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-bottom: 9px;
    padding-top: 30px; }
  .confirmation-page__order .total-summary {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
    .confirmation-page__order .total-summary .card-body {
      padding: 0; }
      .confirmation-page__order .total-summary .card-body p {
        margin: 0; }
      .confirmation-page__order .total-summary .card-body span, .confirmation-page__order .total-summary .card-body .order-discount {
        color: #000000;
        font-size: 16px;
        line-height: 20px; }
      .confirmation-page__order .total-summary .card-body .order-discount-total {
        color: #FF0000; }
      .confirmation-page__order .total-summary .card-body .grand-total {
        width: 100%;
        margin-top: 20px !important;
        padding: 10px 15.5px;
        background: #0043BA; }
        .confirmation-page__order .total-summary .card-body .grand-total span {
          font-family: "Futura-demi";
          font-size: 20px;
          line-height: 26px;
          color: #ffffff; }
  .confirmation-page__order .order-product-summary {
    border: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 38px; }
    .confirmation-page__order .order-product-summary .products {
      border-bottom: 1px solid #E1E1E1;
      padding-bottom: 9px; }
      .confirmation-page__order .order-product-summary .products__title {
        font-size: 20px;
        line-height: 26px;
        font-family: "Futura-demi";
        color: #6B6B6B;
        padding: 0 16px; }
      .confirmation-page__order .order-product-summary .products__edit {
        color: #6B6B6B;
        font-size: 14px;
        line-height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 16px; }
        .confirmation-page__order .order-product-summary .products__edit a {
          margin-left: auto;
          text-decoration: underline; }
    .confirmation-page__order .order-product-summary .product {
      border-bottom: 1px solid #E1E1E1;
      padding: 20px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .confirmation-page__order .order-product-summary .product * {
        font-size: 14px; }
      .confirmation-page__order .order-product-summary .product:before {
        content: '';
        display: none; }
      .confirmation-page__order .order-product-summary .product .item-image {
        margin: 0;
        padding: 0;
        padding-left: 15px;
        text-align: center; }
      .confirmation-page__order .order-product-summary .product__image {
        width: 56px;
        height: 56px;
        -o-object-fit: cover;
           object-fit: cover; }
      .confirmation-page__order .order-product-summary .product__message {
        display: block;
        font-size: 8px;
        line-height: 10px;
        margin-top: 13px;
        background: #FFCE00;
        padding: 4px; }
      .confirmation-page__order .order-product-summary .product__name {
        line-height: 17px; }
      .confirmation-page__order .order-product-summary .product__attributes {
        padding: 10px 0;
        line-height: 23px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .confirmation-page__order .order-product-summary .product__attributes--name {
          text-transform: capitalize; }
        .confirmation-page__order .order-product-summary .product__attributes--value {
          color: #6B6B6B; }
        .confirmation-page__order .order-product-summary .product__attributes .col-4 {
          padding: 0; }
          .confirmation-page__order .order-product-summary .product__attributes .col-4:nth-of-type(2) {
            text-align: center; }
          .confirmation-page__order .order-product-summary .product__attributes .col-4:nth-of-type(3) {
            text-align: right; }
      .confirmation-page__order .order-product-summary .product__totals {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end; }
        .confirmation-page__order .order-product-summary .product__totals .col-4 {
          padding: 0; }
          .confirmation-page__order .order-product-summary .product__totals .col-4:nth-of-type(2) {
            margin-left: auto;
            text-align: right; }
        .confirmation-page__order .order-product-summary .product__totals span {
          display: block; }
        .confirmation-page__order .order-product-summary .product__totals .old {
          text-decoration: line-through; }
          .confirmation-page__order .order-product-summary .product__totals .old + .discount {
            color: #FF0000; }
      .confirmation-page__order .order-product-summary .product .pricing, .confirmation-page__order .order-product-summary .product .price {
        font-weight: normal; }
    .confirmation-page__order .order-product-summary .btn-delete {
      display: none;
      pointer-events: none; }

.confirmation-page__button {
  max-width: 270px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: 16px; }
  .confirmation-page__button a {
    border-radius: 25px;
    font-size: 20px;
    line-height: 26px;
    font-family: "Futura-demi";
    padding: 7px; }

@media (max-width: 992px) {
  .checkout-progress-indicator {
    top: 0px;
    max-width: 100%;
    left: 50%; }
    .checkout-progress-indicator .step-item {
      font-size: 11px;
      line-height: 16px;
      padding: 5px; }
      .checkout-progress-indicator .step-item:nth-of-type(1) {
        padding-right: 30px; }
      .checkout-progress-indicator .step-item:nth-of-type(2) {
        padding-right: 30px;
        margin-left: -25px; }
      .checkout-progress-indicator .step-item:nth-of-type(3) {
        padding-right: 12px;
        margin-left: -25px; }
      .checkout-progress-indicator .step-item .visually-hidden {
        font-size: 12px;
        line-height: 16px;
        width: 24px;
        height: 24px;
        margin-right: 5px; }
      .checkout-progress-indicator .step-item.active .step-item-label {
        font-size: 11px;
        line-height: 16px; }
  .checkout-page.container {
    padding: 0; }
  .checkout-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .checkout-page__container .col-lg-7, .checkout-page__container .col-lg-5 {
      padding: 0; }
  .checkout-page .payment-section .address-selector-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .checkout-page .payment-section .address-selector-buttons .col-6 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: none; }
      .checkout-page .payment-section .address-selector-buttons .col-6 .btn {
        float: none; }
  .checkout-page__purchase {
    margin-top: 24px; }
    .checkout-page__purchase--title {
      position: relative; }
      .checkout-page__purchase--title h2 {
        font-size: 26px;
        line-height: 34px;
        color: #6B6B6B; }
      .checkout-page__purchase--title:after {
        content: '\F106';
        color: #6B6B6B;
        font-family: "FontAwesome";
        font-size: 26px;
        position: absolute;
        right: 20px;
        top: 11px; }
    .checkout-page__purchase.hide-content .checkout-page__purchase--title {
      border: none; }
      .checkout-page__purchase.hide-content .checkout-page__purchase--title:after {
        content: '\F107';
        font-family: "FontAwesome";
        font-size: 26px; }
    .checkout-page__purchase.hide-content .checkout-page__purchase--content, .checkout-page__purchase.hide-content .order-product-summary {
      display: none; }
  .checkout-page .credit-card-form .number-name .col-6, .checkout-page .mercadopago-content .number-name .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: none; }
  .checkout-page .credit-card-form .dates, .checkout-page .mercadopago-content .dates {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .checkout-page .credit-card-form .check-save-card .form-group, .checkout-page .mercadopago-content .check-save-card .form-group {
    margin: 0; }
  .checkout-page .credit-card-form label[for="securityCode"] + .info-icon:hover:before, .checkout-page .mercadopago-content label[for="securityCode"] + .info-icon:hover:before {
    left: -160px; }
  .confirmation-page.container {
    padding: 0; }
  .confirmation-page__title {
    font-size: 32px;
    line-height: 26px; }
  .confirmation-page__content {
    padding: 0;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .confirmation-page__dates .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .confirmation-page__container {
    padding: 0; }
  .confirmation-page__button {
    margin: 30px auto 40px;
    margin-left: none; }
  .confirmation-page__order {
    max-width: none;
    margin-left: inherit;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
    .confirmation-page__order .order-product-summary .product .item__characteristic {
      max-width: calc(83.333% - 18px); } }

/*# sourceMappingURL=checkoutLogin.css.map*/