@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

.banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  height: 36px;
  padding: 0 55px; }
  .banner-top #menu-banner-carousel {
    height: 36px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .banner-top #menu-banner-carousel .carousel-item.active {
      height: 36px;
      padding: 0;
      margin-left: auto;
      margin-right: auto; }
    .banner-top #menu-banner-carousel .carousel-inner {
      height: 36px;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
    .banner-top #menu-banner-carousel .carousel-caption {
      text-align: center;
      position: relative;
      padding: 0;
      top: 10px;
      left: 0;
      right: 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .banner-top #menu-banner-carousel .carousel-caption h5 {
        color: white !important;
        font-size: 14px; }
  .banner-top .carousel-control-prev, .banner-top .carousel-control-next {
    border: none;
    background: transparent;
    width: 30px; }
  .banner-top a, .banner-top .text-info {
    color: #ffffff; }
  .banner-top .text-info {
    text-align: center; }
    .banner-top .text-info span {
      display: block;
      color: #ffffff;
      margin-left: 7em; }
  .banner-top .help-content, .banner-top .stores-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .banner-top .help, .banner-top .stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .banner-top .help .row, .banner-top .stores .row {
      margin: 0; }
    .banner-top .help:before, .banner-top .stores:before {
      font-size: 24px;
      width: 24px;
      height: 24px;
      font-family: "FontAwesome"; }
    .banner-top .help span, .banner-top .stores span {
      margin-left: 10px; }

.header.container {
  margin: 3px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 55px;
  background: #ffffff; }
  .header.container .row {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .header.container .header-elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #ffffff; }
    .header.container .header-elements .container {
      max-width: none;
      padding: 0;
      margin: 0; }
      .header.container .header-elements .container .col-12 {
        padding: 0; }
    .header.container .header-elements .user-icon {
      width: 26px;
      height: 27px; }
    .header.container .header-elements.open-search .main-menu {
      display: none; }
    .header.container .header-elements.open-search .login-header {
      margin-left: auto; }
    .header.container .header-elements.open-search .minicart {
      margin-left: 20px;
      max-width: 34.4px; }
    .header.container .header-elements.open-search .search-bar {
      padding-left: 10.75%; }
    .header.container .header-elements.open-search .search {
      width: 100%; }
      .header.container .header-elements.open-search .search .site-search form {
        width: 100%; }
      .header.container .header-elements.open-search .search .site-search .fa-search {
        display: none;
        pointer-events: none; }
      .header.container .header-elements.open-search .search .site-search .icon-close {
        border: none;
        background: none;
        right: 15px;
        top: 21px; }
        .header.container .header-elements.open-search .search .site-search .icon-close:before {
          content: '\F00D';
          font-family: "FontAwesome";
          font-size: 23px; }
      .header.container .header-elements.open-search .search .suggestions-wrapper {
        position: fixed;
        width: 100%;
        left: 0; }
      .header.container .header-elements.open-search .search .suggestions {
        border: none;
        width: 100%;
        padding: 40px 39px 38px 56px; }
        .header.container .header-elements.open-search .search .suggestions__container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin: 0 auto;
          max-width: 1310px; }
        .header.container .header-elements.open-search .search .suggestions__match {
          font-size: 16px;
          line-height: 26px;
          padding: 0;
          text-align: left;
          max-width: 20%; }
        .header.container .header-elements.open-search .search .suggestions__products {
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          margin: 0;
          max-height: 448px;
          overflow-y: auto;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 80%;
                  flex: 0 0 80%;
          max-width: 80%; }
          .header.container .header-elements.open-search .search .suggestions__products--title {
            display: none; }
        .header.container .header-elements.open-search .search .suggestions__product {
          width: 213px;
          margin: 0 14px 20px;
          text-align: left;
          -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
                  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
          min-height: 428px; }
          .header.container .header-elements.open-search .search .suggestions__product a:hover {
            text-decoration: none; }
          .header.container .header-elements.open-search .search .suggestions__product--image {
            width: 100%;
            height: 334px;
            -o-object-fit: cover;
               object-fit: cover; }
          .header.container .header-elements.open-search .search .suggestions__product--name {
            display: block;
            margin: 5px 11px 5px 9px;
            font-size: 15px;
            line-height: 16px; }

.navbar-header.brand {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 4; }

.navbar-header {
  position: relative;
  width: auto;
  left: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3; }
  .navbar-header .logo-home {
    display: inline-block; }
    .navbar-header .logo-home .img-desktop {
      width: 76px;
      height: 58px; }
  .navbar-header.brand__checkout {
    padding: 8px 0; }
    .navbar-header.brand__checkout .logo-home img {
      width: 54px;
      height: 41px; }
  .navbar-header .minicart {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
  .navbar-header .popover {
    border-radius: 0 0 20px 20px;
    background: #F5F5F5;
    border: none; }
  .navbar-header .minicart {
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto; }
    .navbar-header .minicart a.link-mobile-cart {
      position: absolute;
      width: 30px;
      right: 0; }
    .navbar-header .minicart .minicart-quantity {
      position: absolute;
      background: #0043BA;
      width: 11px;
      height: 11px;
      font-size: 9px;
      top: 23px;
      left: 22px;
      color: #0043BA; }
    .navbar-header .minicart img {
      width: 30px; }

.main-menu {
  padding: 0; }
  .main-menu .dropdown-toggle:after {
    display: none; }
  @media (min-width: 992px) {
    .main-menu .navbar.bg-inverse .navbar-nav .nav-link {
      font-size: 17px;
      line-height: 24px;
      color: #000000;
      padding: 18px 14px; }
    .main-menu .navbar.bg-inverse .navbar-nav .dropdown-menu {
      position: fixed;
      width: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #ffffff;
      margin: 0;
      padding: 20px 0 35px 180px;
      max-width: 1366px;
      z-index: 1; }
      .main-menu .navbar.bg-inverse .navbar-nav .dropdown-menu:before {
        content: '';
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        z-index: -2;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .main-menu .navbar.bg-inverse .navbar-nav .dropdown-menu a {
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 20px;
        padding: 0; }
      .main-menu .navbar.bg-inverse .navbar-nav .dropdown-menu a:focus {
        outline: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        border: none !important; }
    .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item {
      display: inline-block;
      width: auto;
      vertical-align: top;
      border: none;
      padding-left: 0;
      padding-right: 10px;
      min-width: 130px; }
      .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item:hover {
        background: #ffffff; }
      .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item .dropdown-menu {
        position: relative;
        width: auto;
        top: 0 !important;
        left: auto;
        -webkit-transform: none;
                transform: none;
        padding: 0;
        min-width: 133px; }
        .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item .dropdown-menu::before {
          content: none; }
        .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item .dropdown-menu .dropdown-item {
          display: block;
          margin: 0; }
          .main-menu .navbar.bg-inverse .navbar-nav .dropdown-item .dropdown-menu .dropdown-item a {
            font-size: 14px;
            line-height: 28px;
            color: #696969;
            margin-bottom: 5px; } }
  .main-menu li.nav-item :active {
    color: #000000;
    background: #ffffff; }

.dropdown-item .dropdown:hover, .dropdown-link .dropdown-toggle:hover {
  color: #000000;
  background: #ffffff; }

.dropdown-item .dropdown:focus, .dropdown-link .dropdown-toggle:focus {
  color: #000000;
  background: #ffffff; }

.dropdown-item.active, .dropdown-item:active {
  color: #000000;
  text-decoration: none;
  background-color: white; }

.pay-secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  min-width: 104px; }
  .pay-secure__img, .pay-secure span {
    margin-left: auto; }
  .pay-secure__img {
    width: 20px;
    margin-right: 4px; }
  .pay-secure span {
    font-size: 12px;
    line-height: 24px; }

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }
  .search-bar .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0 6.5px; }
    .search-bar .search .site-search {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 80px;
      margin: 0; }
      .search-bar .search .site-search form {
        margin-bottom: 0; }
        .search-bar .search .site-search form .fa-search {
          top: 26px; }
      .search-bar .search .site-search input {
        border-radius: 20px;
        border: none;
        background-color: #F5F5F5;
        height: auto;
        line-height: 23px;
        padding: 8.5px 37px 8.5px 20px; }
        .search-bar .search .site-search input::-webkit-input-placeholder {
          color: #909090;
          font-size: 16px; }
        .search-bar .search .site-search input::-moz-placeholder {
          color: #909090;
          font-size: 16px; }
        .search-bar .search .site-search input:-ms-input-placeholder {
          color: #909090;
          font-size: 16px; }
        .search-bar .search .site-search input::-ms-input-placeholder {
          color: #909090;
          font-size: 16px; }
        .search-bar .search .site-search input::placeholder {
          color: #909090;
          font-size: 16px; }
      .search-bar .search .site-search button {
        font-size: 24px;
        color: #909090; }

.user-name-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  padding-right: 5px; }

.login-header {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: -20px; }
  .login-header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .login-header > div .user {
      margin: 0;
      padding: 0; }
      .login-header > div .user.fav {
        margin-left: 30px; }
      .login-header > div .user .img-fav {
        width: 30px; }
      .login-header > div .user .user-icon {
        width: 25px; }
    .login-header > div .user:focus {
      outline: none !important;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      border: none !important; }
    .login-header > div .user-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 11px; }
      .login-header > div .user-name .text-hello, .login-header > div .user-name .text-name-user {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-align: right; }
  .login-header a {
    text-decoration: none; }
  .login-header .fa {
    width: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    /*&:before{
            content: "\f007";
        }*/ }
  .login-header .user-message {
    display: none; }
  .login-header .my-account-items {
    border-radius: 0 0 20px 20px;
    background: #F5F5F5 !important;
    border: none !important; }
    .login-header .my-account-items a {
      color: #000000;
      font-weight: normal !important; }
    .login-header .my-account-items a:first-child {
      border-bottom: 2px solid #BFBFBF; }

.minicart-progress-bar {
  margin: 23px 0 19px; }

.progress-shipping {
  display: block; }
  .progress-shipping__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px; }
    .progress-shipping__title span {
      padding: 0 0 0 35px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 50px);
              flex: 0 0 calc(100% - 50px); }
    .progress-shipping__title.free {
      color: #0043BA; }
      .progress-shipping__title.free span {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 30px);
                flex: 0 0 calc(100% - 30px);
        text-align: center;
        padding: 0; }
      .progress-shipping__title.free:after {
        content: "";
        background: url("../../images/progress-bar/free-ship.svg");
        background-size: 100%;
        width: 30px;
        height: 16px;
        margin: 0;
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
        color: black; }
      .progress-shipping__title.free:before {
        display: none; }
    .progress-shipping__title:before {
      content: "";
      background: url("../../images/progress-bar/not-free-ship.svg");
      background-size: 100%;
      margin-left: 28px;
      width: 20px;
      height: 16px; }
  .progress-shipping__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .progress-shipping__body.free .progress-shipping__bar {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }
  .progress-shipping__bar {
    height: 9px;
    background-color: #E1E1E1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96%;
            flex: 0 0 96%;
    margin-bottom: 7px; }
  .progress-shipping__status {
    height: 100%;
    background-color: #0043BA; }
  .progress-shipping__bar, .progress-shipping__status {
    display: block;
    width: 100%;
    border-radius: 5px; }
  .progress-shipping__min, .progress-shipping__max {
    color: #212121;
    font-size: 11px;
    line-height: 14px; }
  .progress-shipping__min {
    padding-left: 16px; }
  .progress-shipping__max {
    margin-left: auto; }
  @media (max-width: 992px) {
    .progress-shipping__title {
      padding-bottom: 5px; }
    .progress-shipping__body .progress-shipping-label {
      visibility: hidden; } }

@media (max-width: 992px) {
  .banner-top {
    height: 42px;
    font-size: 14px;
    line-height: 16px;
    z-index: 2;
    padding: 10px 10px; }
    .banner-top .text-info span {
      margin-left: 0; }
    .banner-top .help, .banner-top .stores {
      display: none; }
    .banner-top #menu-banner-carousel {
      width: 100%; }
  .header.container {
    padding: 0;
    margin: 0;
    background: #ffffff; }
    .header.container .brand img {
      width: 54px;
      height: 41px; }
    .header.container .navbar-header {
      padding: 0 25px;
      background: #ffffff; }
  .header-elements {
    position: relative; }
  .brand {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }
  .mobile-elements {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .mobile-elements .search-bar, .mobile-elements .minicart {
      margin: 0; }
    .mobile-elements .minicart {
      max-width: 24px;
      left: 0; }
      .mobile-elements .minicart .minicart-quantity {
        top: 21px;
        left: 19px; }
      .mobile-elements .minicart img {
        position: absolute;
        left: 0; }
    .mobile-elements .search-bar {
      display: none; }
    .mobile-elements .search-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 22px;
      margin-left: auto; }
      .mobile-elements .search-mobile .only-button {
        -ms-flex-item-align: center;
            align-self: center;
        font-size: 24px;
        width: 24px; }
      .mobile-elements .search-mobile .site-search {
        display: none; }
        .mobile-elements .search-mobile .site-search .header-search {
          display: none; } }
    @media (max-width: 992px) and (min-width: 544px) {
      .mobile-elements .search-mobile .suggestions-wrapper {
        position: absolute;
        left: -26px;
        width: 100vw;
        display: block;
        height: calc(100vh - 96px); } }

@media (max-width: 992px) {
      .mobile-elements .search-mobile .suggestions.modal {
        top: 103px !important;
        border: none; } }
      @media (max-width: 992px) and (min-width: 544px) {
        .mobile-elements .search-mobile .suggestions.modal {
          top: 0 !important;
          width: 100%; } }

@media (max-width: 992px) {
      .mobile-elements .search-mobile .suggestions__container {
        padding: 0 26px;
        width: 100%;
        margin: 0; }
      .mobile-elements .search-mobile .suggestions__match, .mobile-elements .search-mobile .suggestions__products {
        padding: 0; }
      .mobile-elements .search-mobile .suggestions__match {
        margin-top: 30px;
        font-size: 16px;
        line-height: 26px;
        text-align: left; }
        .mobile-elements .search-mobile .suggestions__match--title, .mobile-elements .search-mobile .suggestions__match--words {
          color: #000000; }
          .mobile-elements .search-mobile .suggestions__match--title a, .mobile-elements .search-mobile .suggestions__match--words a {
            color: #000000; }
      .mobile-elements .search-mobile .suggestions__products {
        list-style: none;
        margin: 0; }
        .mobile-elements .search-mobile .suggestions__products--title {
          display: block;
          text-align: left;
          color: #000000;
          margin: 40px 0 10px;
          font-size: 16px;
          line-height: 26px; }
      .mobile-elements .search-mobile .suggestions__product {
        border-top: 1px solid #DBDBDB;
        padding-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .mobile-elements .search-mobile .suggestions__product a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        .mobile-elements .search-mobile .suggestions__product--image {
          width: 108px; }
        .mobile-elements .search-mobile .suggestions__product--name {
          width: calc(100% - 118px);
          margin-left: 10px;
          font-size: 16px;
          text-align: left; }
    .mobile-elements .login-header {
      -webkit-box-pack: left;
          -ms-flex-pack: left;
              justify-content: left; }
      .mobile-elements .login-header .navbar-toggler {
        padding: 0;
        border: none; }
      .mobile-elements .login-header .icon-menu {
        width: 34px;
        font-size: 34px; }
    .mobile-elements.hide-mobile + div.brand {
      display: none; }
    .mobile-elements.hide-mobile .login-header {
      display: none; }
    .mobile-elements.hide-mobile .search-mobile {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100vw;
              flex: 0 0 100vw;
      margin: -10px -25px 0;
      padding: 10px 25px 1px;
      background: #ffffff;
      z-index: 2; }
      .mobile-elements.hide-mobile .search-mobile .only-button {
        display: none; }
      .mobile-elements.hide-mobile .search-mobile .site-search {
        display: block;
        width: calc(100% - 43px); }
        .mobile-elements.hide-mobile .search-mobile .site-search .reset-button {
          display: block !important;
          top: 10px;
          right: -42px;
          width: 18px;
          height: 18px; }
          .mobile-elements.hide-mobile .search-mobile .site-search .reset-button:before {
            content: '\F00D';
            font-family: "FontAwesome";
            font-size: 18px;
            line-height: 18px; }
        .mobile-elements.hide-mobile .search-mobile .site-search input {
          font-size: 16px;
          line-height: 24px;
          padding: 8.5px 20px;
          background-color: #F5F5F5;
          border-radius: 25px;
          border-color: #F5F5F5; }
    .mobile-elements.hide-mobile .minicart {
      display: none; }
  .row {
    margin: 0; }
  .header.checkout {
    margin-bottom: 30px;
    padding: 0 25px;
    margin-top: 9px; }
    .header.checkout .login-header.col-lg-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .header-elements {
    position: relative; }
    .header-elements .navbar-header.brand__checkout {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 2; }
    .header-elements .pay-secure {
      min-width: auto;
      padding: 9px 0; }
      .header-elements .pay-secure__img, .header-elements .pay-secure span {
        margin: 0; }
      .header-elements .pay-secure__img {
        margin-right: 6px; }
    .header-elements .pay-secure, .header-elements .login-header {
      margin: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }

@media (min-width: 1367px) {
  .banner-top {
    padding: 0 calc(45px - (1366px - 100vw) / 2); } }

.navbar {
  padding: 0; }

@media (min-width: 544px) and (max-width: 991px) {
  .minicart.col-lg-1.col-xs-2.d-block.d-sm-block.d-md-none {
    display: initial !important; }
    .minicart.col-lg-1.col-xs-2.d-block.d-sm-block.d-md-none .hide-link-med {
      display: initial !important; } }

/*# sourceMappingURL=header.css.map*/