@font-face {
  font-family: 'Futura-book';
  src: url("../../fonts/FuturaPT-Book.woff") format("truetype"), url("../../fonts/FuturaPT-Book.woff") format("woff"); }

@font-face {
  font-family: 'Futura-demi';
  src: url("../../fonts/FuturaPT-Demi.woff") format("truetype"), url("../../fonts/FuturaPT-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Futura-medium';
  src: url("../../fonts/FuturaPT-Medium.woff") format("truetype"), url("../../fonts/FuturaPT-Medium.woff") format("woff"); }

body {
  background: #ffffff; }
  body * {
    font-family: "Futura-book"; }
  body h1, body h3, body button {
    font-family: "Futura-demi"; }
  body h2 {
    font-family: "Futura-medium"; }

#maincontent.blur {
  -webkit-filter: grayscale(30%) blur(5px);
          filter: grayscale(30%) blur(5px); }

.container {
  max-width: 1366px;
  padding: 0 55px; }
  .container .col-12 {
    padding: 0; }
  .container .container {
    padding: 0; }
  .container .experience-component .col-12 {
    padding: 4px; }

.row, .mx-n2 {
  margin: 0 !important; }

#footercontent {
  background: #000000;
  color: #ffffff;
  padding: 24px 0 30px; }
  #footercontent.footer-checkout {
    padding-top: 0; }
  #footercontent .container {
    padding: 0;
    max-width: none; }
  #footercontent .content-asset {
    display: block; }
  #footercontent a {
    color: #ffffff; }
  #footercontent .logo-footer {
    display: block;
    width: 76px;
    margin: 0 auto; }
  #footercontent .footer-container {
    padding: 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
    #footercontent .footer-container .footer-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    #footercontent .footer-container .newsletter-footer {
      padding: 0; }
      #footercontent .footer-container .newsletter-footer input {
        border-radius: 20px;
        padding: 10px 16px;
        margin-bottom: 16px;
        height: 40px; }
        #footercontent .footer-container .newsletter-footer input::-webkit-input-placeholder {
          color: #909090;
          font-size: 16px; }
        #footercontent .footer-container .newsletter-footer input::-moz-placeholder {
          color: #909090;
          font-size: 16px; }
        #footercontent .footer-container .newsletter-footer input:-ms-input-placeholder {
          color: #909090;
          font-size: 16px; }
        #footercontent .footer-container .newsletter-footer input::-ms-input-placeholder {
          color: #909090;
          font-size: 16px; }
        #footercontent .footer-container .newsletter-footer input::placeholder {
          color: #909090;
          font-size: 16px; }
      #footercontent .footer-container .newsletter-footer button {
        display: block;
        width: 100%;
        background: #000000;
        border: 1px solid #ffffff;
        border-radius: 20px;
        padding: 11px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;
        line-height: 16px;
        height: 40px; }
    #footercontent .footer-container .footer-item {
      margin-left: 0; }
      #footercontent .footer-container .footer-item:nth-of-type(n+2) {
        margin-left: 100px; }
    #footercontent .footer-container .content-asset h2, #footercontent .footer-container .newsletter-footer h2 {
      font-size: 18px;
      line-height: 80px; }
    #footercontent .footer-container .content-asset a, #footercontent .footer-container .content-asset span, #footercontent .footer-container .newsletter-footer a, #footercontent .footer-container .newsletter-footer span {
      font-size: 14px;
      line-height: 28px; }
    #footercontent .footer-container .content-asset span, #footercontent .footer-container .newsletter-footer span {
      margin-bottom: 18px;
      display: block; }
  #footercontent .hidden {
    display: none; }
  #footercontent .logos {
    background: #F5F5F5;
    padding: 24px 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #footercontent .logos .payment-methods, #footercontent .logos .social-media, #footercontent .logos .secure-purchase {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    #footercontent .logos ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    #footercontent .logos p {
      color: #212121; }
    #footercontent .logos .payment-methods__item {
      margin: 0 8px; }
    #footercontent .logos .social-media__item, #footercontent .logos .secure-purchase__item {
      margin: 0 20px; }
    #footercontent .logos li:nth-child(1) {
      margin-left: 0; }
    #footercontent .logos li:nth-last-child(1) {
      margin-right: 0; }
  #footercontent .privacity, #footercontent .terms {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    padding: 0 40px 18px; }
    #footercontent .privacity a:hover, #footercontent .terms a:hover {
      text-decoration: none; }
  #footercontent .privacity {
    text-align: right; }
  #footercontent .terms {
    text-align: left; }
  #footercontent .copyright-notice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 39px 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #footercontent .copyright-notice .content-asset {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; }

@media (max-width: 992px) {
  .container {
    padding: 0 25px; }
  #footercontent .logo-footer {
    width: 54px;
    margin-bottom: 37px; }
    #footercontent .logo-footer img {
      width: 100%; }
  #footercontent .footer-container {
    padding: 0 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse; }
    #footercontent .footer-container .newsletter-footer h2 {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 10px;
      font-family: "Futura-demi"; }
    #footercontent .footer-container .newsletter-footer span {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 6px; }
    #footercontent .footer-container .footer-item {
      width: 100%;
      margin: 0 0 50px;
      border: none; }
      #footercontent .footer-container .footer-item:nth-of-type(1) {
        margin-top: 32px; }
      #footercontent .footer-container .footer-item:nth-of-type(n+2) {
        margin-left: 0; }
      #footercontent .footer-container .footer-item:nth-last-of-type(1) {
        margin-bottom: 33px; }
      #footercontent .footer-container .footer-item .title {
        color: #ffffff;
        font-size: 20px;
        font-family: "Futura-medium"; }
        #footercontent .footer-container .footer-item .title:after {
          content: '\F067';
          font-family: "FontAwesome";
          font-size: 20px; }
  #footercontent .logos {
    padding: 10px 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #footercontent .logos .payment-methods__item {
      margin: 0;
      text-align: center; }
    #footercontent .logos .payment-methods .content-asset {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-bottom: 50px; }
    #footercontent .logos .social-media .content-asset {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-bottom: 30px; }
    #footercontent .logos .social-media__item {
      margin: 0; }
      #footercontent .logos .social-media__item:nth-of-type(1) {
        text-align: right; }
      #footercontent .logos .social-media__item:nth-of-type(2) {
        text-align: center; }
    #footercontent .logos .secure-purchase .content-asset {
      width: 100%;
      margin-bottom: 20px; }
    #footercontent .logos .secure-purchase__item {
      margin: 0; }
      #footercontent .logos .secure-purchase__item:nth-of-type(2) {
        text-align: center; }
      #footercontent .logos .secure-purchase__item:nth-of-type(3) {
        text-align: right; }
    #footercontent .logos ul {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-bottom: 0; }
    #footercontent .logos li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 20%;
              flex: 1 0 20%; }
    #footercontent .logos p {
      text-align: center; }
  #footercontent .copyright-notice .content-asset {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 25px; }
  #footercontent .privacity, #footercontent .terms {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    margin-bottom: 30px; } }

@media screen and (max-width: 1024px) {
  #footercontent .row .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #footercontent .logos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #consent-tracking .modal-dialog {
    width: 340px !important;
    height: 277.94px !important;
    top: 50%;
    right: 0; } }

@media (min-width: 1367px) {
  .container {
    padding: 0 55px; }
  #footercontent .footer-container {
    padding: 0 calc(45px - (1366px - 100vw) / 2); }
  #footercontent .logos {
    padding: 24px calc(45px - (1366px - 100vw) / 2); } }

#consent-tracking .modal-dialog {
  position: absolute;
  bottom: 20px;
  left: 20;
  width: 515.86px;
  height: 225.94px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 992px) {
    #consent-tracking .modal-dialog {
      left: 0;
      margin-left: auto;
      margin-right: auto; } }
  #consent-tracking .modal-dialog .modal-content {
    background: #000000;
    color: #ffffff; }
    #consent-tracking .modal-dialog .modal-content .modal-header {
      display: none; }
    #consent-tracking .modal-dialog .modal-content .modal-body {
      padding: 30px 48px; }
      #consent-tracking .modal-dialog .modal-content .modal-body p {
        font-size: 15px;
        text-align: center;
        margin: 0; }
    #consent-tracking .modal-dialog .modal-content .modal-footer {
      padding: 0;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #consent-tracking .modal-dialog .modal-content .modal-footer .button-wrapper button {
        margin: 0 29.5px 32.5px; }
      #consent-tracking .modal-dialog .modal-content .modal-footer button.affirm.btn.btn-primary {
        width: 100px;
        background: #ffffff !important;
        color: #000000;
        text-transform: uppercase; }
        #consent-tracking .modal-dialog .modal-content .modal-footer button.affirm.btn.btn-primary:before {
          background: #6B6B6B;
          color: #000000; }
        #consent-tracking .modal-dialog .modal-content .modal-footer button.affirm.btn.btn-primary:hover:before {
          background: #6B6B6B;
          color: #000000; }
      #consent-tracking .modal-dialog .modal-content .modal-footer button.decline.btn.btn-primary {
        width: 100px;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        background: #000000 !important;
        color: #ffffff; }
        #consent-tracking .modal-dialog .modal-content .modal-footer button.decline.btn.btn-primary:before {
          background: #6B6B6B;
          color: #ffffff; }
        #consent-tracking .modal-dialog .modal-content .modal-footer button.decline.btn.btn-primary:hover:before {
          background: #6B6B6B;
          color: #ffffff; }

/*# sourceMappingURL=homepage.css.map*/