@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.banner-products-carousel {
    position: relative;

    &.margins-enabled {
        margin-top: 28px;

        @include media-breakpoint-up(md) {
            margin-top: 54px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 28px;
        }
    }

    .glide__arrows {
        display: none;
        outline: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .glide__arrow-left-wrapper {
        position: absolute;
        top: 35%;
        left: 0;
    }

    .glide__arrow-right-wrapper {
        position: absolute;
        top: 35%;
        right: 0;
    }

    .glide__bullets {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        @include media-breakpoint-up(sm) {
            margin-top: 30px;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .glide__bullet {
        width: 16px;
        height: 16px;
        background-color: var(--background-primary);
        opacity: 0.5;
        border-radius: 100%;
        outline: none;
        padding: 0;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }

    .glide__bullet--active {
        opacity: 0.9;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
        z-index: 0;
        background-color: var(--background-special);

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .product-tile {
        .link {
            color: var(--text-secondary);
        }

        .price {
            .value {
                color: var(--text-secondary);
            }
        }
    }

    .glide__slide {
        position: relative;
        .image-container {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                background-color: var(--background-special);
                z-index: 2;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        &.glide__slide--active {
            .image-container {
                &::before {
                    content: "";
                    display: none;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            .product-tile {
                &:hover {
                    .tile-image {
                        transform: none;
                    }
                }
            }
        }
    }
}

.banner-products-carousel__content {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 63px;
    z-index: 10;

    @include media-breakpoint-up(md) {
        padding-top: 175px;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 60px;
        padding-right: 15%;
        width: 50%;
    }

    .product-tile {
        .tile-body-footer {
            display: none;
        }
    }
}

.banner-products-carousel__img {
    width: 100%;
}

.banner-products-carousel__title {
    font: 26px var(--font-primary);
    font-weight: bold;
    line-height: 26px;
    color: var(--text-secondary);
    margin-left: 16px;

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }

    @include media-breakpoint-up(lg) {
        line-height: 30px;
        margin-left: 0;
        font-size: 20px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 40px;
    }
}

.banner-products-carousel__description {
    font: 14px var(--font-primary);
    line-height: 18px;
    color: var(--text-secondary);
    margin: 11px 0 0 16px;

    @include media-breakpoint-up(md) {
        font-size: 23px;
        margin-top: 19px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 20px;
        margin-top: 11px;
    }
}

.banner-products-carousel__carousel-wrapper {
    position: relative;
    margin-top: 30px;

    @include media-breakpoint-up(md) {
        margin-top: 36px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 18px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 55px;
    }

    @include media-breakpoint-up(xxl) {
        margin-top: 75px;
    }

    &.carousel-disabled {
        .glide__slide {
            width: 50%;
        }

        @include media-breakpoint-down(md) {
            .glide__slides {
                justify-content: center;
            }
        }

        .glide__arrows,
        .glide__bullets {
            display: none;
        }
    }
}
