@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.brand-features {
    &.margins-enabled {
        margin-top: 38px;

        @include media-breakpoint-up(md) {
            margin-top: 64px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 60px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 125px;
        }
    }

    .experience-region {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.experience-assets-brandFeature {
    width: 100%;

    &:not(:first-of-type) {
        margin-top: 45px;
    }

    @include media-breakpoint-up(lg) {
        width: calc(25% - 15px);

        &:not(:first-of-type) {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        width: calc(25% - 40px);
    }
}

.brand-feature {
    display: flex;
    width: 100%;
}

.brand-feature__image-container {
    margin-right: 23px;

    @include media-breakpoint-up(lg) {
        margin-right: 13px;
    }
}

.brand-feature__image {
    max-width: 40px;
}

.brand-feature__content-title {
    font: 18px var(--font-primary);
    color: var(--text-special);
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
        font-size: 23px;
        line-height: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 14px;
    }
}

.brand-feature__content-description {
    font: 14px var(--font-primary);
    line-height: 24px;
    margin: 15px 0 0 0;

    @include media-breakpoint-up(md) {
        font-size: 23px;
        line-height: 23px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 20px;
    }
}
