@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.google-map {
    height: 276px;

    @include media-breakpoint-up(md) {
        height: 566px;
    }

    @include media-breakpoint-up(lg) {
        height: 609px;
    }

    &--margins-enabled {
        margin-top: 30px;
    }
}
