@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.new-arrivals-products {
    &.margins-enabled {
        margin-top: 38px;

        @include media-breakpoint-up(md) {
            margin-top: 64px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 42px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 62px;
        }
    }
}

.new-arrivals-products__title {
    font: 35px var(--font-primary);
    font-weight: bold;
    line-height: 30px;
    color: var(--text-special-2);
    text-align: center;
    margin-bottom: 0;
}

.new-arrivals-products__description {
    font: 14px var(--font-primary);
    line-height: 24px;
    text-align: center;
    margin: 9px 0 0 0;
}

.new-arrivals-products__divider {
    margin-top: 50px;
}

.new-arrivals-products__tiles-wrapper {
    margin-top: 50px;

    .experience-region {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .experience-assets-productTile {
        width: calc(50% - 10px);
        margin-bottom: 50px;

        @include media-breakpoint-up(sm) {
            width: calc(50% - 10px);
        }

        @include media-breakpoint-up(lg) {
            width: calc(25% - 15px);
        }
    }
}
