@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.social-tiles {
    background-color: var(--background-special-2);
    padding: 45px 0 45px 0;

    &.margins-enabled {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 21px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 31px;
        }
    }
}

.social-tiles__title {
    font: 28px var(--font-primary);
    color: var(--text-special-2);
    font-weight: bold;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
        font-size: 32px;
    }

    @include media-breakpoint-up(md) {
        font-size: 40px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 30px;
    }
}

.social-tiles__items {
    .experience-region {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }
    }

    .experience-component {
        width: calc(50% - 8px);
        margin-top: 43px;

        @include media-breakpoint-up(md) {
            width: calc(50% - 17px);
            margin-top: 53px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            width: calc(25% - 6px);
        }
    }
}

.social-tile {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);

    img {
        width: 100%;
    }

    &:hover {
        .social-tile__links {
            opacity: 1;
            visibility: visible;
        }
    }
}

.social-tile__links {
    transition: opacity 0.4s, visibility 0.4s;
    visibility: hidden;
    position: absolute;
    display: flex;
    opacity: 0;
    height: 68px;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    top: 45%;
    background-color: var(--background-primary);
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.social-tile__link-wrapper {
    &:not(:last-of-type) {
        margin-right: 30px;
    }
}

.social-tile__link {
    cursor: pointer;

    &::before {
        transition: transform 0.5s;
        transform-origin: center center;
        font-size: 22px;
        color: var(--text-special-2);
    }

    &:hover {
        text-decoration: none;

        &::before {
            transform: scale(1.3);
        }
    }
}

.social-tile__image-container {
    position: relative;
    width: 100%;
    box-shadow: inset 5px 5px 0 var(--background-primary), inset -5px -5px 0 var(--background-primary);
    padding: 5px;
}

.social-tile__content {
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.social-tile__content-title {
    font: 15px var(--font-primary);
    font-weight: bold;
    margin-bottom: 0;
    color: var(--text-special);

    @include media-breakpoint-up(sm) {
        font-size: 23px;
    }

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
}

.social-tile__content-subtitle {
    font: 11px var(--font-primary);
    margin-bottom: 0;
    color: var(--text-primary);
    margin-top: 2px;

    @include media-breakpoint-up(sm) {
        font-size: 18px;
    }

    @include media-breakpoint-up(md) {
        font-size: 15px;
    }
}
