@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-1-item-carousel__carousel-wrapper {
    position: relative;

    .glide__arrows {
        position: absolute;
        top: 45%;
        display: none;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    .glide__bullets {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(sm) {
            bottom: 20px;
        }
    }

    .glide__bullet {
        width: 16px;
        height: 16px;
        background-color: var(--background-primary);
        opacity: 0.5;
        border-radius: 100%;
        outline: none;
        padding: 0;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }

    .glide__bullet--active {
        opacity: 0.9;
    }
}

.glide__arrow-left-wrapper {
    left: 0;
}

.glide__arrow-right-wrapper {
    right: 0;
}
