@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.experience-layouts-up3Products {
    max-width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.up-3-products {
    position: relative;

    .experience-region {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &.margins-enabled {
        margin-top: 41px;

        @include media-breakpoint-up(md) {
            margin-top: 21px;
        }
    }
}

.experience-assets-up3ProductsItem {
    max-width: 100%;
    margin-top: 17px;

    @include media-breakpoint-up(lg) {
        margin-top: 0;

        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }
}

.up-3-products-item__img {
    max-width: 100%;
    width: 100%;
}

.up-3-products-item {
    position: relative;
    transition: transform 0.4s;
    transform-origin: 50% 50%;

    &:hover {
        transform: scale(1.03);
    }
}

.up-3-products-item__content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 48px 0 0 10px;

    p {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        padding: 65px 0 0 27px;
    }

    @include media-breakpoint-up(md) {
        padding: 125px 0 0 27px;
        width: 45%;
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 0 0 10px;
    }

    @include media-breakpoint-up(xl) {
        padding: 50px 0 0 27px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 76px 0 0 31px;
    }
}

.up-3-products-item__title {
    font: 18px var(--font-primary);
    color: var(--text-special);
    font-weight: bold;
    line-height: 26px;

    @include media-breakpoint-up(md) {
        font-size: 35px;
        line-height: 38px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 12px;
        line-height: 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 16px;
        line-height: 24px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 20px;
        line-height: 24px;
    }
}

.up-3-products-item__price-container {
    display: flex;
    margin-top: 13px;
}

.up-3-products-item__subtitle {
    font: 14px var(--font-primary);
    line-height: 30px;
    color: var(--text-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        font-size: 23px;
        line-height: 42px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 10px;
        line-height: 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 11px;
        line-height: 32px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 14px;
        line-height: 24px;
    }
}

.up-3-products-item__price {
    font: 18px var(--font-primary);
    line-height: 30px;
    font-weight: bold;
    color: var(--text-special-2);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;

    @include media-breakpoint-up(md) {
        font-size: 35px;
        line-height: 38px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 14px;
        line-height: 14px;
        margin-left: 4px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 15px;
        line-height: 30px;
        margin-left: 10px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 20px;
        line-height: 30px;
        margin-left: 10px;
    }
}
