@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-4-img-vertical {
    .experience-region {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &.margins-enabled {
        margin-top: 15px;

        @include media-breakpoint-up(md) {
            margin-top: 32px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 21px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 31px;
        }
    }

    .experience-assets-imageButton {
        width: calc(50% - 6px);
        margin-bottom: 12px;

        @include media-breakpoint-up(md) {
            width: calc(50% - 9px);
            margin-bottom: 18px;
        }

        @include media-breakpoint-up(lg) {
            width: calc(50% - 15px);
            margin-bottom: 30px;
        }
    }

    margin-bottom: -12px;

    @include media-breakpoint-up(md) {
        margin-bottom: -18px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: -30px;
    }
}
