@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-4-items-carousel {
    &.margins-enabled {
        margin-top: 38px;

        @include media-breakpoint-up(md) {
            margin-top: 64px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 42px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 62px;
        }
    }
}

.up-4-items-carousel__carousel-wrapper {
    position: relative;

    .glide__arrows {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            top: 45%;
        }
    }

    .glide__arrow--left-wrapper {
        left: 0;
    }

    .glide__arrow--right-wrapper {
        right: 0;
    }
}
