@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-4-products-carousel {
    &.margins-enabled {
        margin-top: 38px;

        @include media-breakpoint-up(md) {
            margin-top: 64px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 42px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 62px;
        }
    }
}

.up-4-products-carousel__title {
    font: 35px var(--font-primary);
    font-weight: bold;
    line-height: 30px;
    color: var(--text-special-2);
    text-align: center;
    margin-bottom: 0;
}

.up-4-products-carousel__description {
    font: 14px var(--font-primary);
    line-height: 24px;
    text-align: center;
    margin: 9px 0 0 0;
}

.up-4-products-carousel__divider {
    margin-top: 43px;
}

.up-4-products-carousel__carousel-wrapper {
    position: relative;
    margin-top: 30px;
    display: none;

    .experience-region {
        display: flex;
    }

    .glide__arrows {
        position: absolute;
        top: 35%;
    }

    .glide__arrows-left {
        left: 0;
    }

    .glide__arrows-right {
        right: 0;
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.up-4-products-carousel__no-carousel {
    display: block;
    margin-top: 45px;

    .glide__slides {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .glide__slide {
        width: calc(50% - 9px);
        margin-bottom: 39px;

        &:nth-of-type(odd) {
            margin-right: 18px;
        }
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}
