@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.up-5-items-carousel {
    position: relative;

    &.margins-enabled {
        margin-top: 38px;

        @include media-breakpoint-up(md) {
            margin-top: 64px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 42px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 62px;
        }
    }

    &.layout-middle-aligned {
        @include media-breakpoint-up(lg) {
            overflow: visible;
        }
    }

    .glide__slides {
        align-items: center;
    }

    .glide__arrows {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            top: 30%;
        }
    }

    .glide__arrow--left-wrapper {
        left: -50px;

        @include media-breakpoint-up(lg) {
            left: 20px;
        }

        @include media-breakpoint-up(xl) {
            left: -80px;
        }
    }

    .glide__arrow--right-wrapper {
        right: -50px;

        @include media-breakpoint-up(lg) {
            right: 20px;
        }

        @include media-breakpoint-up(xl) {
            right: -80px;
        }
    }

    .glide__bullets {
        display: flex;
        justify-content: center;
        margin-top: 23px;

        @include media-breakpoint-up(md) {
            margin-top: 45px;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .glide__bullet {
        width: 14px;
        height: 14px;
        background-color: var(--background-secondary);
        opacity: 0.6;
        border-radius: 100%;
        outline: none;

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        @include media-breakpoint-up(md) {
            width: 20px;
            height: 20px;
        }
    }

    .glide__bullet--active {
        opacity: 0.9;
    }
}

.up-5-items-carousel-item__image {
    width: 100%;
}
